@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, button, input, optgroup, select, textarea, a{font-family: 'proxima_nova_alt', sans-serif!important;color: #222;font-weight: 400;}
ul{list-style-type: none;padding-left: 0;}
input, optgroup, select, textarea {border-radius: 4px!important;}
select{-webkit-appearance: none;}




/*GENERAL*/
    /*body{font-size: 14px;background-color: #f1f4f5;}*/
    /*body{font-size: 14px;background-color: #f5f7fa;}*/
    body{font-size: 14px;background-color: #f5f5f5;}
    



    .bold{font-weight: 500;}
    .black-bold{font-weight: 600;}
    .content {padding-top: 95px!important;}
    .hidden{visibility: hidden;}
    .placeholder{font-size: 11px; padding-top: 6px;}
    .border{border:1px solid red!important;}
    .fl{float: left;}
    .fr{float: right;}

    .txt-red{color: #ff5050!important;}

    .link-color{color: #0057ff!important;display: inline-block;}
    .link-rojo{color: #ff5050!important;}
    .link-icon{position: relative;}
    .link-icon i{position: absolute; left: 0; top: 3px;}

    .clearfix{clear: both;}
    
    small, .small{font-size: 70%;}

    .badge{padding: 4px 10px;font-size: 12px;font-weight: 400;}

    .margin-center{margin-right: auto; margin-left: auto;}
    
    .subrayado{cursor: pointer; padding-bottom: 0px; background-image: linear-gradient(to right, rgba(0,0,0,0.5) 10%, rgba(255, 255, 255, 0) 30%); background-position: bottom; background-size: 3px 1px; background-repeat: repeat-x;}

    .notificacion{background: #0057ff;color: #fff;border-radius: 50%;width: 20px;height: 20px;display: inline-block;text-align: center;padding-top: 0px;font-size: 12px;}
    .rate-100{font-size: 50%; padding-left: 3%; }

    .d-flex-column h4.title.state{display: inline-block; margin-right: 15px;}

    .extrabold{font-weight: 700!important;}
    .fw-regular{font-weight: 400!important;}


    .hidden-desktop{display: none!important;}

    .w-auto{width: auto!important;}





/*CAMPOS INVALIDOS*/
    .is-invalid::placeholder{color: rgba(255, 107, 104, 0.95);font-weight: 300;}

    .form-group.is-invalid,
    .is-invalid .select2-container--default .select2-selection--single:before
        {color: #ff6b68!important;}

    .form-group.is-invalid span, .invalid-text{color: #ff6b68!important;}
    .is-invalid .select2-container--default .select2-selection--single{border-bottom: 1px solid #ff6b68;}

    .combo-invalid{color: #dd0202!important; border:1px solid #ff6b68; border-radius:4px}
    .mensaje-error{color: #dd0202!important;}


.live{border: 1px solid #dd0202;border-radius: 3px;width: fit-content;width: -moz-fit-content;font-size: 12px;font-weight: 500;padding: 3px 6px 3px 7px;color: #dd0202;}
.live i{color: #dd0202;padding-right: 4px;}


    #backtotop {
    padding: 5px 3px;
    background: #fff;
    color: #444;
    position: fixed;
    bottom: 30px;
    right: 45%;
    z-index: 999;
    border: 1px solid #444;
    border-radius: 50px;
    padding: 15px 12px;
    cursor: pointer;
    transition: .5s;
    transform: translate(0px, 100px);
    opacity: 0;
}

#backtotop:hover {background: #444; color: #fff;}
#backtotop i{}

#backtotop.btn-bttop{opacity: 1; transform: translate(0px, 0px)!important;}



/* Empty & Sin datos en secciones*/
    .state0 .cero{}
    .state0 .cero .left{padding-right: 120px;}
    .state0 .cero .title{ font-size: 30px; font-weight: 600; margin-bottom: 30px; }
    .state0 .cero .bajada{ font-size: 18px;}
    .state0 .cero .controles{margin-top: 30px;}
    .state0 .cero .controles .form-group{margin-bottom: 10px;}

    .not-data{}
    .not-data .mensaje{padding-right: 80px;}
    .not-data .mensaje .titulo{font-size: 60px;font-weight: 600;line-height: 60px;margin-bottom: 30px;}
    .not-data .mensaje .bajada{ font-size: 22px; }
    .not-data .imagen{}
    .not-data .imagen img,
    .state0 .cero .imagen img {max-width: 400px;}

    .state0 .select2-container--default .select2-selection--single .select2-selection__rendered{padding: 15px 20px; font-size: 16px;}
    .state0 .select2-container--default .select2-selection--single:before{top: 10px; right: 30px;}
    




/*LINKS*/
    a:hover{color: #0057ff;}
    a.dotted{cursor: pointer; border-bottom: 1px dotted rgba(0,0,0,.2); padding-bottom: 1px;}
    a.color{color: #0057ff!important;}
    a.black:hover{color: #444;}
    .link-icon{color: #0057ff;padding-left: 25px;position: relative;}
    .link-icon i{position: absolute;left: 0;font-size: 16px;top: 0;}
    .link{color:#0057ff!important;/* text-transform: uppercase; */font-size: 14px;}
    .link-white, .link-white:hover{color: white;}
    


/*COLORES*/
    .bg-success{background: #04b8af!important;}
    .bg-grey-neutral{background: #fcd57e;}
    .bg-grey-negative{background: #f16b6c;}
    .bg-white{background-color: #fff;}
    .bg-gris-claro{background-color: #f9f9f9;}
    .bg-cyan{background-color: #0057ff!important;}
    .bg-primary{background-color: #0057ff!important;}

    .negative{color: #f14b6c;}
    .positive{color: #04b8af!important;}


/*PADDING / MARGIN*/
    .p-0{padding: 0;}
    .p-25{padding: 25px;}
    .pt-15{padding-top: 15px;}
    .pt-20{padding-top: 20px;}
    .pt-30{padding-top: 30px;}
    .pt-40{padding-top: 40px;}
    .pt-50{padding-top: 50px;}
    .pl-0{padding-left: 0px;}
    .mb-10{margin-bottom: 10px;}
    .mb-15{margin-bottom: 15px;}
    .mb-20{margin-bottom: 20px;}
    .mb-30{margin-bottom: 30px;}
    .mb-40{margin-bottom: 40px;}
    .mb-50{margin-bottom: 50px;}
    .mt-0{margin-top: 0;}
    .mt-10{margin-top: 10px;}
    .mt-15{margin-top: 15px;}
    .mt-20{margin-top: 20px!important;}
    .mt-30{margin-top: 30px!important;}
    .mt-40{margin-top: 40px!important;}
    .mt-50{margin-top: 50px;}
    .mt-60{margin-top: 60px;}
    .mr-15{margin-right: 15px;}

    

/*POPOVERS*/
    [data-toggle="popover"]:not(.progress-bar) {cursor: pointer;/* padding-bottom: 3px; *//* background-image: linear-gradient(to right, rgba(0,0,0,0.5) 10%, rgba(255, 255, 255, 0) 30%); */background-position: bottom;background-size: 3px 1px;background-repeat: repeat-x;padding-right: 6px;}
    .white[data-toggle="popover"] {background-image: linear-gradient(to right, rgba(255,255,255,.5) 10%, rgba(255, 255, 255, 0) 30%); }

    .popover{box-shadow: 0 2px 30px rgba(0,0,0,.1);border-radius: 4px;background-color: #535962; color: #fff;z-index: 99999999999999999999999;}
    .popover-header{font-size: 16px;font-weight: 500;border-radius: 10px 10px 0 0;background-color: #535962; color: #fff;margin-bottom: -10px;}
    .popover-header, .popover-body, .tooltip-inner{font-family: 'proxima_nova_alt';color: #fff; font-size: 15px;}
    .popover-body{}
    .popover-body{font-family: 'proxima_nova_alt';}

    .bs-popover-right .arrow::after, .bs-tooltip-right .arrow::before {border-right-color: #535962;}
    .bs-popover-left .arrow::after, .bs-tooltip-left .arrow::before {border-left-color: #535962;}
    .bs-popover-top .arrow::after, .bs-tooltip-top .arrow::before {border-top-color: #535962;}
    .bs-popover-bottom .arrow::after, .bs-tooltip-bottom .arrow::before {border-bottom-color: #535962;}

    .popover[x-placement="bottom"]{margin-top: 20px;}
    .popover[x-placement="top"]{margin-bottom: 20px;}
    .popover[x-placement="left"]{margin-right: 20px;}
    .popover[x-placement="right"]{margin-left: 20px;}

    /*Tooltips*/
    .tooltip {font-size: 12px;}

    .tooltip-warning{/* position: absolute; *//* right: 0; *//* top: 6px; */position: relative;width: fit-content;}
    .tooltip-warning .circle {border-radius: 50%; background-color: #ff910d; 
        width: 10px; height: 10px; position: absolute; opacity: 0;
        animation: scaleIn 1.5s infinite cubic-bezier(.36, .11, .89, .8);
        top: -2px; left: 0px; right: 0; margin-left: auto; margin-right: auto;
        animation-delay: -3s}

    @keyframes scaleIn {
      from {
        transform: scale(.1, .1);
        opacity: .4;
      }
      to {
        transform: scale(2, 2);
        opacity: 0;
      }
    }

    /* .tooltip-warning .punto{width: 6px; height: 6px; background: #ff910d; border-radius: 50%; position: absolute; top: 0px; left: 0; z-index: 9; right: 0; margin-left: auto; margin-right: auto; }
    .tooltip-warning .tip-wrp{position: absolute;right: -8px;top: 6px;width: 10px;} */

    .tooltip-icon{background: url(../img/tooltip-icon.svg) no-repeat right 50% !important;
        background-size: 13%!important;
        padding-right: 22px!important;
        display: inline-block;}
    
    .tooltip-icon.white{background-image: url(../img/tooltip-icon-white.svg)!important}
    .tooltip-icon span{border-bottom: 1px dotted;font-weight: 500;}


    /*PROGRESS BAR*/
    .progress{height: 3px;}
    .progress-bar{min-width: 5px;}


    
/*COLLAPSABLE - ACORDEON*/
    [data-toggle="collapse"]{cursor: pointer;}
    [data-toggle="collapse"] .d-flex .name::before {content: '\f054';transition: .3s;font-family: "Font Awesome 5 Pro";position: absolute;left: 30px;top: 45px;font-size: 14px;}
    [data-toggle="collapse"][aria-expanded="true"] .name::before {transform: rotate(90deg);}


/*CALENDAR*/
    .numInputWrapper span.arrowUp{top: 10px!important;}
    .numInputWrapper span.arrowDown {top: 68%; }
    .numInputWrapper span:hover{background-color: transparent;}
    .flatpickr-current-month{top: 0;}


/*BREADCRUMB*/
    .breadcrumb{padding: 0px 0 30px 0;border:none;margin-bottom: 0;margin-top: -8px;}
    .breadcrumb li{padding-right: 35px;position: relative;margin-right: 30px;}
    .breadcrumb li.placeholder{font-style: italic;font-size: 13px;}
    .breadcrumb li a{color: #0057ff;display: block;}
    .breadcrumb li:not(:last-child) a:after{content: '\f105';font-family: "Font Awesome 5 Pro";position: absolute;right: 0;top: 1px;color: #999;}

    .card .breadcrumb{display: block;font-size: 13px;}
    .card .breadcrumb ul li{float: left;color: #999;font-style: italic;padding-right: 20px;margin-right: 15px;}
    .card .breadcrumb ul li a{font-style: initial;}


/*Video Demo*/
/*Modales*/


/*.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.modal{z-index: 99999999999999999999;}*/



/*SECTION*/
    section header p{font-size: 16px;}
    section header {margin-bottom: 20px;height: initial!important;}
    section h4.title {margin-bottom: 2px;font-size: 22px;font-weight: 400;}
    section .subtitle {color: #828282; text-transform: uppercase; font-size: 12px; }

    section header .links {margin-left: 20px;float: left;margin-top: -1px;}
    section header .links a {color: #0057ff;font-weight: 500;padding-left: 20px;}
    section header .links a.hi-icon {padding-left: 0;}



/*INPUTS*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {-webkit-box-shadow: 0 0 0 30px white inset !important;}

    input.numInput.cur-year{background-color: transparent!important;padding-left: 10px!important;}

    input[type=password]{padding: 12px 0 4px 0!important;}
    input[type=text]{height: 40px;padding-left: 15px;padding-right: 15px;box-shadow: none;/* margin-top: 14px; */padding-bottom: 0px!important;}
    input[type="email"]{padding: 15px 0 0px !important;height: 40px;}


    .form-group__bar:before, .form-group__bar:after{background-color: #0057ff;}

    .input-foot{
    font-size: 12px;
    color: #999;
    padding-top: 5px;
    display: block;
}

    /*Invalid Fields*/
    input.is-invalid ~ label {color: #ff6b68;}
    input.is-invalid:focus ~ label {color: #ff6b68!important;}
    input.is-invalid:focus ~ label {color: #ff6b68!important;}

    .campo-icono input{background-color: transparent!important; padding: 17px 0px 0px 23px!important;}
    .campo-icono input ~ i{position: absolute;left: 0;top: 19px;font-size: 14px;z-index: 99;}

    .form-group-grey{background: #efefef; height: 50px;border-radius: 2px 2px 0 0;}
    .form-group-grey .form-group{margin-top: 10px; padding-top: 22px; padding-left: 9px;}

    .form-group--float .form-control:focus~label{color: var(--color-primario);}

    .form-control{padding-left: 8px;font-size: 14px;}
    .form-group--float .form-control ~ label{padding-left: 9px;}

    .input-group-prepend span.input-group-text{background: #efefef; border: none; font-size: 24px;padding: 7px 4px 7px 15px;}
    .input-group-prepend span.input-group-text i{width: 18px;font-size: 20px;}

    .ayuda-input{font-size: 12px; padding-top: 7px; display: block; color: #999;}

    /*input:not(.color) {background: #fff!important;font-size: 16px!important;}*/
    /*input.color::placeholder {color: #fff;opacity: .7}*/

    /*input.input-24{font-size: 24px!important;padding: 10px 0 0px 0!important;}*/
    /*input.input-24:focus ~ label,*/
    /*.form-control--active.input-24 ~ label{bottom: 32px!important;font-size: 13px!important;left: 0;}*/
    /*select.input-24 ~ .select2-container--default .select2-selection--single .select2-selection__rendered*/
    /*{font-size: 24px!important;line-height: 85%;}*/

    
    .select-text:valid ~ .select-label,
    .select2-container--open ~ .select-label,
    .select-text:disabled ~ .select-label
    {/* font-size: 12px!important; */}
    /*select.input-24 ~ .select-label {font-size: 24px;top: 14px;}*/


    /*input.input-28{font-size: 28px!important;padding: 4px 0 0px 0!important;}*/
    /*input.input-28:focus ~ label,*/
    /*.form-control--active.input-28 ~ label{bottom: 38px!important;font-size: 13px!important;left: 0;}*/

    .form-group--float .form-control ~ label{padding-left: 0;}
    .form-group--float{margin-top: 0;}

    .fecha label{margin-bottom: 0;font-size: 10px;color: #777; font-weight: 400; text-transform: uppercase;}

    /*.form-group--float .form-control.form-control--active ~ label, .form-group--float .form-control ~ label {top: -3px;left: 0;font-size: 10px!important;text-transform: uppercase;}*/

    .input-group-prepend span.input-group-text {
        background: transparent;
        border: none;
        font-size: 18px;
        padding: 8px 11px 31px 0;
        border-bottom: 1px solid #eceff1;
        height: 30px;
        }

    /*.modal-dialog */
    .form-group--float .form-control:focus ~ label,
    .form-group--float .form-control.form-control--active ~ label{top: -3px;/* left: 0; *//* font-size: 13px!important; */}

    input{padding: 14px 0 0 0!important;}
    input.date-picker::placeholder, input.time-picker::placeholder{font-size: 16px!important;font-weight: 300;}

    input.color{font-size: 18px;background-color: var(--color-primario)!important;color: #fff;padding: 15px!important;border-radius: 2px!important}
    input.color:focus{color: #fff;}

    .input-group input::placeholder {font-size: 15px!important;}

/*TEXTAREA*/
    textarea::placeholder, input::placeholder{color: #999!important;}
    textarea{line-height: 135%!important; padding: 5px 0 10px!important; background: transparent; }
    textarea:hover{border-bottom: 1px solid #ccc;}
    textarea ~ label {position: absolute; color: #999;font-size: 16px;top: 18px;transition: 0.3s ease all;z-index: -1;}

    textarea:valid ~ label{font-size: 13px;color: #444;top: -15px;}
    textarea:focus ~ label {color: var(--color-primario)!important;font-size: 13px;top: -15px;}

    textarea.border:not(.is-invalid) {border: 1px solid #eceff1!important;padding: 15px!important;line-height: 150%!important;}
    textarea.border ~ label{color: #444;top: -28px;z-index: 1;font-size: 14px;}
    textarea.border:focus ~ label{color: var(--color-primario)!important;}

    textarea.animation {height: 54px; -moz-transition: height .2s ease; -webkit-transition: height .3s ease; -o-transition: height .3s ease; transition: height .3s ease;}
    textarea.animation:focus{height: 120px;}




/*SELECT*/
    .label-select{margin-bottom: 0; font-size: 13px;color: #999;}

    .select-wrp{border-bottom: 1px solid #eceff1;}
    .form-group select{background: #fff;border: 0;color: #444;font-size: 16px;line-height: 1.5;width: 100%;height: 40px;margin-top: 21px;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 9px 25px 9px 20px!important;}
    .form-group select ~ label{z-index: initial;/* position: absolute; */left: 0;font-size: 10px;text-transform: uppercase;}
    

    .select2-dropdown .select2-results__option[aria-selected=true]{padding-right: 40px;}
    .select2-dropdown .select2-search--dropdown .select2-search__field{background-color: #fff!important;}

    /*Select con Multiple seleccion*/
        .select2-selection--multiple .select2-selection__rendered{background: #fff; min-height: 50px!important; border-radius: 2px 2px 0 0; padding: 5px 10px 10px!important;}
        .select2-selection--multiple .select2-selection__rendered input{padding-top: 5px!important;}
        .select2-container--default .select2-selection--multiple .select2-selection__choice {background-color: #9E9E9E; color: #fff;}
        .select2-container--default .select2-selection--multiple .select2-selection__choice span{color: #fff;}
        .select2-container--default .select2-selection--multiple{box-shadow: none;}
        .select2-container--default .select2-selection--multiple .select2-selection__choice{border-radius: 50px;}

        .select2-container .select2-search--inline{height: 32px;}

    .form-group.select-lg,
    .select2-container--default .select2-selection--single
    {/* height: 50px; *//* border-radius: 2px 2px 0 0; *//* padding: 24px 0 0 0!important; */}

    .dashboard .select2-container--default .select2-selection--single{height: 30px;}

    
    .form-control[readonly]{opacity: 1;}

    .select2-container--default .selection:before,
    .select2-container--default .selection:after
        {background-color:var(--color-primario)}

    .select2-container{background: #fff;border-radius: 5px;}

    
    .select-text {position: relative; width: 350px; padding: 10px 0; font-size: 18px; border-bottom: 1px solid rgba(0,0,0, 0.12); }
    .select-label {font-size: 18px; position: absolute; pointer-events: none; left: 0; top: 18px; transition: 0.2s ease all; }

    /* active state */
    .select-text:focus ~ .select-label, .select-text:valid ~ .select-label,
    .select2-container--open ~ .select-label {
        transition: 0.3s ease all;
        font-size: 10px;
        z-index: 9999;
        text-transform: uppercase;
        }

    .select-text:valid ~ .select-label{color: #999;}

    .select-text:focus ~ .select-label,
    .select2-container--open ~ .select-label {color: var(--color-primario)!important;z-index: 9999999999;}

    span.select2-container.select2-container--default.select2-container--open{z-index: 99999999999;}
    label.select{font-size: 13px;margin-bottom: 1px;color: #444;}

    span.select2-container.select2-container--default.select2-container--open.top {bottom: 40px;}
    
    .select:before{display: none;}
    /*.form-group--float .form-control ~ label{bottom: 23px;}*/



/*BOTONES*/
    .btn{position: relative;overflow: hidden;font-weight: 400;border-radius: 3px!important;font-size: 14px;box-shadow: none;text-decoration: none;}
    /*.btn:after {content: ''; position: absolute; width: 250px; height: 250px; border-radius: 50%; transform: translate(-50%, -50%) scale(0); transition: 150ms linear; top: 50%; left: 50%; }*/
    .btn:focus{box-shadow: none;}
    .btn:hover:after {transform: translate(-50%, -50%) scale(1.2);}

    .btn-primary{background: #0057ff;color: #fff!important;padding: 10px 25px;border-color: #0057ff!important}
    .btn-secondary{padding: 10px 25px 9px;}
    .btn-primary:hover{color: #fff!important;}
    .btn-primary:after{background: rgba(255,255,255,.12);}

    .btn-invert {color: #fff!important; border-color: #fff;}

    .btn-gris{background: #eaf0f6;color: #444!important;border-color: #ccd6e3;}

    .btn-outline-primary{background-color: transparent;color: var(--color-primario)!important;border: 1px solid var(--color-primario)!important;padding: 10px 25px; border-radius: 4px;}
    .btn-outline-primary:hover{background-color: transparent;color: var(--color-primario)!important;border: 1px solid var(--color-primario)!important;}
    .btn-outline-primary:after{background: var(--color-primario);color: #fff;z-index: -1;transition: 200ms linear;}


    .btn-group .btn.active{background-color: #0057ff!important;border: 1px solid #0057ff!important;}
    .btn-group .btn.active.disabled{background-color: #ccc;border: 1px solid #ccc!important;}
    .btn-group--colors > .btn.active:before{color: #fff!important;}

    .btn-plus{width: 60px; height: 60px;}
    .btn-lg{padding: 12px 25px 12px 25px;font-size: 14px;}
    .btn-lg.btn-icon{padding: 15px 25px 11px 14px;}
    .btn-lg.btn--icon-text > .zmdi{font-size: 22px;margin-top: 0;}

    .btn-icon {padding-left: 45px;}
    .btn-icon i{position: absolute;left: 20px;top: 12px;font-size: 16px;}

    .btn-circle {background: #f2f2f2; width: 40px; height: 40px; text-align: center; border-radius: 50%; padding-top: 11px; transition: .15s;}
    .btn-circle:hover {transform: scale(1.09);cursor: pointer;}
    .btn-circle i{font-size: 17px; }
    
    .btn-circle.delete i{color: #ff0045}
    .btn-circle.delete:hover{background-color: #ff0045;}
    .btn-circle.delete:hover i{color: #fff;}

    .delete-empleado{}
    .delete-empleado .btn-circle{float: left; margin-right: 15px;}

    .delete-empleado .texto {font-size: 11px; line-height: 130%; /*color: #888;*/ padding-top: 7px; }

    .btn-danger{background: #fc1f2f; border-color: #fc1f2f;}
    .card-link{font-size: 14px;font-weight: 500;color: #0057ff;}

    .btn[disabled], .btn[disabled]:hover{background-color: #ccc;border-color: #ccc!important;color: #666!important;opacity: 0.6!important;pointer-events: none;}


    /*.btn{border-color: #fd6c6c; color:#fd6c6c!important;}*/
    .btn.delete{border-color: #fd6c6c; color:#fd6c6c!important;}
    .btn.delete:hover{background: #fd6c6c; color:#fff!important;}

    .ellipsis{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}


/*TABLE / TABLAS*/
    tbody{font-size: 14px;}
    .table:not(.table-dark) thead th {padding-bottom: 20px;/*font-weight: 700*/font-size: 12px;text-transform: uppercase;}
    .table tbody tr {color: #444;}
    .table-hover tbody tr:hover{background-color: #fff;}
    
    .table-hover tbody tr .hover{opacity: 0;}
    .table-hover tbody tr:hover .hover{opacity: 1;}
    

    .table th{font-weight: 400;}
    .favorabilidad .table th, .table td {padding: 0; height: 40px; min-width: 70px; max-width: 130px;}
    .table td{vertical-align: middle!important;}
    .table td .btn{padding: 11px 18px 9px 18px;}
    .table a:not(.dropdown-item){color: var(--color-primario);}

    .table .value {text-align: center;}
    .table .value .progress{width: 35px;margin: 0 auto;}

     tbody tr th .nombre{font-weight: 400;color: #333;font-size: 15px;line-height: 16px;padding-top: 5px;}
    .table tbody tr th{padding-left: 0;vertical-align: middle;}
    .table tbody tr th .email{color: #8c8c8c;font-weight: 300;line-height: 20px;font-size: 13px;}
    .table:not(.table-dark) thead th{color: #444;height: 45px;/*padding: 0 20px*/;font-size: 10px;min-width: 90px;font-weight: 500;}
    .table thead tr th:first-child{padding-left: 0!important;}

    



    .table span.badge {margin-bottom: 4px; padding: 4px 8px; font-size: 10px; text-transform: uppercase;}

    /*.usuarios */table tr .actions{opacity: 0;}
    /*.usuarios */table tr:hover .actions{opacity: 1;}

    .table tr .bajada-nombre{font-size: 12px; color: #8c8c8c;}

    /*Tabla Column Fixed*/
    .table-responsive>.fixed-column {position: absolute; display: inline-block; width: auto; border-right: 1px solid #ddd; background-color: #fff;}

    /*Datatables*/
    .actions:not(.actions--inverse) .actions__item{color: #777;}
    .dataTables_length:after, .dataTables_filter:after {bottom: 3px; font-size: 22px;}
    .dataTables_length > label select, .dataTables_length > label input[type=search], .dataTables_filter > label select, .dataTables_filter > label input[type=search] {
        padding: 0 0 5px 36px!important;}
    .dataTables_wrapper .table > thead > tr > th.sorting_asc:after, .dataTables_wrapper .table > thead > tr > th.sorting_desc:after{content: '';}




/*FILTROS*/
    .label-close {background: #0057ff; font-size: 12px; padding: 2px 28px 2px 8px; display: inline-block;margin-bottom: 4px;margin-right: 4px;}
    .label-close .close {padding: 0; padding-right: 3px;}
    .label-close .close > span:not(.sr-only){background: none;font-size: 22px}
    .label-close .close:hover span{background-color: transparent!important;}


    .filtros h4{font-size: 12px!important;font-weight: 500!important;text-transform: uppercase;margin-bottom: 12px;color: #fff;padding-top: 6px;}
    .filtros h4 .bajada{display: block; text-transform: none; font-weight: 300; padding-top: 3px; color: #ccc;}
    .filtros h4 small{font-size: 70%; padding-left: 5px; color: #999; font-weight: 500;}
    .filtros .scrollbar-inner .modulo:not(:last-child){border-bottom: 1px solid #665; padding-bottom: 22px; margin-bottom: 22px;}
    .filtros .scrollbar-inner .modulo:last-child{min-height: 150px; margin-bottom: 70px;}
    
    .filtros .filtros-aplicados-wrapper{background-color: rgba(255,255,255,.06);margin: 0 -15px 0 -40px;padding: 25px 15px 1px 40px;}
    .filtros .filtros-aplicados-wrapper .top-bar{margin-bottom: 25px;height: 43px;}
    .filtros .filtros-aplicados-wrapper .top-bar .btn{padding: 12px 20px; font-size: 14px; margin-left: 5px; }
    .filtros .filtros-aplicados-wrapper .top-bar .btn-outline-white{color: #fff; border-color: #fff; }
    .filtros .filtros-aplicados-wrapper h4{padding:0;margin: 4px 0 0 0;text-transform: none;font-size: 16px!important;}
    .filtros .filtros-aplicados-wrapper .top-bar .clean-filter{
    padding: 4px 0 0 20px;
}
    .filtros .filtros-aplicados-wrapper .category-items-group .cateogry-item:last-child{padding-bottom: 20px;}
    .filtros .filtros-aplicados-wrapper .category-items-group .cateogry-item{padding-bottom: 10px; }
    .filtros .filtros-aplicados-wrapper .category-items-group .cateogry-item .name-category{padding: 0px 20px 0 0;}
    .filtros .filtros-aplicados-wrapper .category-items-group .cateogry-item .filtros-aplicados-items{}
    .filtros .filtros-aplicados-wrapper .category-items-group .cateogry-item .filtros-aplicados-items .alert{display: inline-block; }
    .filtros .filtros-aplicados-wrapper .category-items-group .cateogry-item .filtros-aplicados-items .alert .close i{top: 0px; }
    .filtros .filtros-aplicados-wrapper .category-items-group .cateogry-item .filtros-aplicados-items .alert.excluir{background-color: #f06b6c;color: #fff;padding-left: 25px;}
    .filtros .filtros-aplicados-wrapper .category-items-group .cateogry-item .filtros-aplicados-items .alert.excluir:before{
    font-family: "Font Awesome 5 Pro";
    content: '\f05e';
    left: 7px;
    position: absolute;
    opacity: .4;
    font-size: 12px;
    top: 2px;
    }

    


    .excluir{}
    .excluir .form-group{margin-bottom: 5px;padding-right: 48px;}
    .excluir [data-toggle="popover"]{padding-right: 0px;border-bottom: 1px dotted;}
    .excluir span{padding-right: 48px; }
    .excluir .toggle-switch{position: absolute;right: 0;top: 1px;}



    .filtros .modulo.jefe .form-group .close{
    color: #fff;
    position: absolute;
    right: 44px;
    top: 13px;
    font-size: 14px;
    background: rgba(255,255,255,.3);
    border-radius: 50px;
    width: 20px;
    height: 20px;
}






    .filtros .btn-group{display: block;}
    .filtros .btn-group .btn{margin-right: 2px; margin-bottom: 5px; border-radius: 2px; }

    .filtros .btn.active{color: #FFFFFF; background: #0057ff!important;}

    .filtros .btn{padding: 10px 14px; font-size: 13px;}
    .filtros .departamento a{font-size: 13px; padding-top: 12px;display: block!important;}

    .filtros .btn-guardar{font-size: 15px; width: 130px;}

    .modal .guardar-filtro{width: 450px; }
    .modal .guardar-filtro .btn-group{position: initial; display: initial; }
    .modal .guardar-filtro .btn-group .label-radio{display: inline-block; margin: 10px; }
    .modal .guardar-filtro .btn-group .filtros-guardados{/* display: inline-block; */margin-left: 45px;min-width: 230px;pointer-events: none;opacity: .5}
    .modal .guardar-filtro .btn-group .filtros-guardados .select2-selection--single{border: 1px solid #ccc;border-radius: 5px;padding: 6px 14px 5px;}
    .modal .guardar-filtro .btn-group .filtros-guardados .select2-container--default .select2-selection--single:before{top: 9px;right: 25px;}
    .modal .guardar-filtro .btn-group .separador{margin: 20px 0px 8px 48px;font-size: 15px;}
    .modal .guardar-filtro .btn-group .new-name{display: inline-block;width: 300px;margin-left: 10px;}
    
    .modal .guardar-filtro .new-name-btn ~ .new-name input{pointer-events: none;opacity: .5}
    .modal .guardar-filtro .new-name-btn.active ~ .new-name input{pointer-events: initial;opacity: 1;}

    .modal .guardar-filtro .filtros-guardados-btn{margin-top: 1px;}
    .modal .guardar-filtro .filtros-guardados-btn.active ~ .filtros-guardados{pointer-events: initial!important;opacity: 1}


    .modal .editar-filtros{width: 500px; }
    .modal .editar-filtros .filters-group{}
    .modal .editar-filtros .filters-group .filter-item{padding: 10px 0px 8px; }
    .modal .editar-filtros .filters-group .filter-item:not(:last-child){border-bottom: 1px solid #efefef;}
    .modal .editar-filtros .filters-group .filter-item .name{flex: 1; font-size: 15px; }
    .modal .editar-filtros .filters-group .filter-item a{font-size: 18px; width: 34px; text-align: center; }
    .modal .editar-filtros .filters-group .filter-item a i{}
    
    .modal .editar-filtros .filters-group .filter-item.rename{margin-bottom: 0;}
    .modal .editar-filtros .filters-group .filter-item.rename .form-group{flex: 1;padding-right: 22px;margin-bottom: 0;}
    .modal .editar-filtros .filters-group .filter-item.rename input{font-size: 15px; padding: 0!important; }
    .modal .editar-filtros .filters-group .filter-item.rename a{font-size: 12px; text-transform: uppercase; width: 80px; }
    .modal .editar-filtros .filters-group .filter-item.rename .btn{
    padding: 10px;
    margin-left: 10px;
}
    




    /*Checks*/
        .primary-checks .custom-control {padding-left: 25px;font-size: 13px;margin-bottom: 5px;}
        .primary-checks .custom-control label small{font-size: 100%; padding-left: 5px; color: #999;}

        .filtros .estudios .checks .custom-control {padding-left: 25px;}
        .filtros .estudios .checks .custom-control label small{font-size: 60%; padding-left: 10px; color: #999; text-transform: uppercase;}

        .custom-checkbox .custom-control-label::before {border-radius: 1px;}
        .custom-control-label:before {border: 1px solid #ccc;transition: background-color 100ms, border-color 100ms;width: 15px;height: 15px;top: 2px;}
        .custom-checkbox .custom-control-input:checked ~ .custom-control-label:before{font-family: "Font Awesome 5 Pro"; content: '\f00c';background-color: #0057ff;font-size: 14px;line-height: 14px;}
        .custom-control-input:checked ~ .custom-control-label:before {border-color: #0057ff;}
        custom-control-input:checked ~ .custom-control-label:before {border-color: #0057ff;}

    

/*TABS*/
    .nav-tabs li:first-child a{margin: auto 22px auto 0;}
    .nav-tabs .nav-link{font-size: 14px;font-weight: 400;}

    .nav-tabs .nav-link.active{background-color: transparent;font-weight: 700;}
    .nav-tabs .nav-link .number{background-color: transparent;font-size: 14px;}
    .nav-tabs .nav-link.active .number{font-weight: 700;}
    .nav-tabs .nav-item{margin-bottom: -5px;}
    /*.nav-tabs .nav-item span{margin-left: 8px;color: #aaa;}*/
    .nav-tabs{padding-bottom: 4px;border-bottom: none;}

    .nav-link span.badge{margin-right: 10px; background-color: #ccc;padding: 10px 1rem;}
    .nav-link {padding: 0px 0 12px;margin: auto 22px;}
    .navbar{z-index: 99;}
    .tab-pane > i{font-size: 52px;}

    .nav-tabs .nav-link:before{height: 3px;}


/*MASONRY*/
    .masonry .card{box-shadow: none; border: 0;}
    .masonry .card .title{text-transform: uppercase; font-weight: 500; margin-bottom: 5px; }
    .masonry .card ul li{padding: 2px 0; color: #888; font-size: 13px;}


/*EMPTY STATES*/
    .empty{text-align: center;padding-top: 50px;width: 600px;margin: 0 auto;}
    .empty .imagen {margin: 0 auto 25px;}
    .empty .imagen img{height: 200px;padding-right: 15px;}

    .empty .titulo{font-size: 18px; font-weight: 600; margin-bottom: 10px; }
    .empty .mensaje{font-size: 16px; line-height: 150%; }



/*CONFIG PROGRESS*/
    .config-progress{border-top: 1px solid #efefef; border-bottom: 1px solid #efefef; padding: 20px 0; }
    .config-progress h5{text-transform: uppercase; font-size: 12px; font-weight: 600; line-height: 140%; margin-bottom: 12px; }
    .config-progress ul{}
    .config-progress ul li{padding: 5px 0px;line-height: 140%;}
    .config-progress ul li.done{text-decoration: line-through; font-style: italic; color: #ccc;}
    .config-progress ul li.done a{}
    .config-progress ul li a{}


/*ASIDE CHAT*/
    .chat{padding: 30px 15px 30px 40px;z-index: 1002;}
    .chat.filtros{background: #2e353e;background-image: linear-gradient(215deg, #4d545b, #2e353e);color: #fff;}
    .chat.toggled{width: 600px;}
    .chat__header{padding: 0;margin-bottom: 25px;background: rgba(255,255,255,.03);margin: -30px -15px 0px -40px;}

    .chat__title{margin: 0;font-size: 22px;color: #fff;font-weight: 600;position: relative;padding: 25px 0 25px 84px;}
    .chat__title img{width: 34px; margin-right: 15px; position: absolute; top: 18px; left: 36px; }
    .chat__header .activos{font-size: 12px; font-weight: 400; opacity: .5; background: rgba(255,255,255,.3); width: 22px; height: 22px; display: inline-block; text-align: center; border-radius: 50px; margin: 0 15px 0 15px; padding-top: 3px;}
    .chat__header .clean{font-size: 14px;padding-top: 2px;display: block;}
    
    .chat__title small{font-size: 13px;color: #fff;}
    .chat__subtitle {font-size: 13px;color: #fff;line-height: 135%;}

    .filtros .chat__header .header-right{padding: 25px 15px 25px 25px;}
    .filtros .chat__header .header-right.new{background-color: #cf69ff;padding-right: 25px;position: relative;}
    .filtros .chat__header .header-right.new .new-label{
    background-color: #3483fa;
    padding: 1px 4px 0px;
    text-transform: uppercase;
    font-size: 9px;
    border-radius: 4px;
    position: absolute;
    left: -18px;
    top: 13px;
}
    .filtros .chat__header .header-right.new .new-label .span{}
    .filtros .chat__header .header-right.new .new-label .span_tooltip{}

    .filtros .chat__header .select-wrapper{}
    .filtros .chat__header .select-wrapper-icon{padding: 25px 30px 25px 0px; }
    .filtros .chat__header .select-wrapper .select2-container--default .select2-selection--single{background-color: #fff;padding: 5px 15px 3px;border-radius: 4px;width: 210px;}
    .filtros .chat__header .select-wrapper .select2-container--default .select2-selection--single:before{color: #252525;top: 7px;right: 25px;}
    .filtros .chat__header .filtros-edit{
    width: 30px;
    height: 30px;
    background: #0057ff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    margin-left: 15px;
}
    .filtros .chat__header .filtros-edit i{}




/*FORMS / FORMULARIO*/
    .form-group label{color: #777;font-weight: 400;}
    .form-group--float > label{font-size: 10px!important;padding-bottom:2px;text-transform: uppercase;}
    .form-control {padding-top: 8px;}

    .select2-container--open .select2-dropdown{max-width: 1000px;}
    .select2-container--default .select2-selection--multiple .select2-selection__rendered{max-width: 550px;}


/*CARDS*/
    .card{border-radius: 5px;}
    .card-body{padding: 30px;}
    .card-subtitle{font-size: 14px;line-height: 130%;}

    /*.dropdown-item.bajada i {font-size: 18px;position: absolute;left: 20px;}*/
    .menu-icon .dropdown-item {padding: 0px 30px 10px 70px;}



    /*.card:not(.engagement), .stats__item{background: #fff;box-shadow: 0 0 1px rgba(95,108,114,.08), 0 0px 6px rgba(95,108,114,.05)}*/
    .card:not(.engagement), .stats__item{background: #fff;box-shadow: 0 2px 6px rgba(95,108,114,.03), 0 0px 6px rgba(95,108,114,.05)}
    
    .d-flex-column{font-size: 16px;}
    .d-flex-column div:not(:first-child):not(.progress){margin-left: 15px;}
    .d-flex-column .links div:not(:first-child){margin-left: 30px;}
    .d-flex-column a{color:#0057ff;}

    h2.card-title{font-size: 26px; margin-bottom: 28px;}
    h2.card-title.icon{width: 80%;}
    h6.card-subtitle {font-size: 16px; line-height: 130%; margin-bottom: 25px!important;}
    div.card-subtitle.line {border-bottom: 1px solid #efefef; padding-bottom: 20px; margin-bottom: 50px!important;}

    .card-title{color: #444;font-size: 18px!important;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: 500;margin-bottom: 5px;line-height: 160%;}
    .card-subtitle {font-size: 14px;margin: 0;}
    .card-subtitle span.separador{margin: 0 10px;}
    .card-subtitle.big-text{font-size: 22px; line-height: 150%; color: #444; margin-top: 10px;}

    .title-invert .card-subtitle{margin-bottom: 6px; }
    .title-invert .card-title{margin-bottom: 20px; }

    .card-hover{transition: all 0.1s ease-in-out;}
    .card-hover:hover{cursor: pointer;box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.055);transform: scale(1.009, 1.009);z-index: 9;}
    /*.card-hover .actions{opacity: 0;}*/
    /*.card-hover:hover .actions{opacity: 1;}*/

    .card h5{font-size: 16px; margin: 3px 0 8px;}

    .card .actions .preview{font-size: 22px; line-height: 148%;}
    .card .actions .preview:hover, .card .actions .actions__item i:hover{color: #444;}

    .card .img-top-actions .actions{position: absolute; right: 0; top: 0;}
    .card .img-top-actions {position: relative;}
    .card .img-top-actions .dropdown.actions__item{text-align: right;}

    .card .foot{color: #9c9c9c; position: absolute; bottom: 30px; font-size: 13px; }

    .card .header-card {border-bottom: 1px solid #efefef; padding-bottom: 15px; margin: -5px 0 20px;}
    .card .header-card .title {font-weight: 500;font-size: 18px;line-height: 130%;}
    .card .header-card .title a{color: #0057ff;font-weight: 400;}
    .card .header-card .bajada {font-size: 13px;opacity: .7;line-height: 130%;padding-top: 3px;}
    .card .header-card .bajada a{padding-left: 20px;}



/*CARD HERO*/
    .card-hero {color: #444;}
    .card-hero h4.title {font-size: 16px; margin-bottom: 20px!important; color: #999;}
    .card-hero .value .rate-100{opacity: .5;}

    .card-hero .main-indicator{text-align: center;}
    .card-hero .main-indicator .tooltip-warning{margin: 0 auto;}
    .card-hero .main-indicator.black{background: #2e353e; background-image: linear-gradient(215deg, #4d545b, #2e353e); color: #fff;
        /*background: linear-gradient(135deg, rgb(45, 51, 87) 0%, rgb(10, 12, 20) 100%);}*/}
    .card-hero .main-indicator .index-number{font-size: 18px;}
    .card-hero .main-indicator .index-number i{font-size: 16px;}
    .card-hero .main-indicator .index-number .text{color: #fff; opacity: .5; font-size: 14px; }
    .card-hero .main-indicator{margin-top: 0px;}
    /*Provisorio*/.card-hero .main-indicator .label{font-size: 16px;line-height: 130%;text-transform: uppercase;}
    .card-hero .main-indicator .title{font-size: 16px;line-height: 130%;text-transform: initial;margin: 0 auto;color: #fff;}
    .card-hero .main-indicator .title .tooltip-icon span{border: 0;font-weight: 400;}
    .card-hero .main-indicator .value{font-size: 100px;line-height: 120%;padding: 12px 0 0 0px;position: relative;font-weight: 300;}

    .card-hero .select2-container--default .select2-selection--single .select2-selection__rendered{font-size: 15px;padding-top: 4px;}
    .card-hero .title{font-size: 15px;color: #444;font-weight: 500;width: fit-content;width: -moz-fit-content;position: relative;}
    .card-hero .card-body{padding: 40px!important;}
    .card-hero .left{padding-right: 30px;}

    .card-hero .subtitle {font-size: 14px;line-height: 130%;text-transform: uppercase;font-weight: 500;}
    .card-hero .medio .subtitle{padding-top: 30px;}
    .card-hero .medio .value{font-size: 32px;line-height: 100%;padding: 8px 0 0px;font-weight: 300;}
    .card-hero .medio .value small{padding-left: 4px; font-size: 60%;}
    .card-hero .medio .progress{margin: 3px 0 5px;width: 60px;}
    .card-hero .numero-participacion{font-size: 12px; color: #888;}
    .card-hero .medio .text-footer{font-size: 12px;line-height: 130%;}
    .card-hero .medio .favo{margin-top: 30px;}


    .card-hero .right .good {margin-bottom: 45px;}
    .card-hero .right .title i{padding-right: 20px;}

    .card-hero .hero-selector select{background-color: rgb(255, 255, 255); border: 0px; color: rgb(68, 68, 68); height: 18px; width: 150px; font-size: 14px; }

    .card-hero .right .text-y{-webkit-transform: rotate(-90deg); transform: rotate(-90deg); position: absolute; left: -15px; top: 50%; }

    .card-hero .right .text-y, .card-hero .right .text-x {color: #9c9c9c; text-transform: uppercase; font-size: 10px; }

    .hero-chart{margin: 10px 0 20px 32px;}
    .hero-chart .flot-chart{height: 120px;}

    .card-hero .right .combo {width: 140px;margin: -5px 0 15px auto;}

    .card-hero .vigencia .title{margin-bottom: 15px;}
    .card-hero .vigencia .vigencia-content{margin-left: 20px;}
    .card-hero .vigencia .vigencia-content .d-flex{margin-bottom: 10px;}
    .card-hero .vigencia .label{flex-basis: 60px; text-transform: uppercase; color: #989898; font-weight: 500; font-size: 12px;padding-top: 2px;}
    .card-hero .vigencia .hora{padding-left: 10px;}
    .card-hero .vigencia .link{padding-left: 15px;font-weight: 400;font-size: 13px;}



    .card-hero .audiencia .pills{margin-top: 8px;height: 24px;overflow: hidden;}
    .card-hero .audiencia a{color: #0057ff;margin-top: 3px;display: block;font-size: 13px;font-weight: 400;}
    .card-hero .audiencia .title a{display: inline-block; text-transform: initial; padding-left: 15px; }

    .card > .actions, .card-body > .actions {right: 20px; top: 24px; }
    .card .actions__item > i {font-size: 26px!important;}

    .card .actions.d-flex .btn{padding: 10px 18px 9px; margin-right: 15px;}
    .card .actions.d-flex .dropdown i{padding: 2px 0!important;}


    /*INDICADORES [EX-CARD-HERO]*/
    .indicadores{margin-bottom: 30px;}
    .indicadores .card-body{padding-bottom: 25px; }
    .indicadores .card{width: 100%;border-radius: 15px;}
    .indicadores .card:not(:last-child){margin-right: 20px;}
    .indicadores .informacion{color: #0057ff; position: absolute; right: 17px; top: 26px; font-size: 17px;}
    .indicadores .informacion i{}
    .indicadores .nombre{text-transform: uppercase; font-size: 12px; }
    .indicadores .valor{font-size: 54px;font-weight: 500;line-height: normal;margin-left: -2px;}
    .indicadores .valor small{font-size: 50%; padding-left: 8px; }
    .indicadores .bottom-value{font-size: 13px;margin-top: -4px;}
    .indicadores .bottom-value i{padding-right: 7px; }
    
    .indicadores .tot-company{color: #ce06ff;text-transform: uppercase;font-size: 9px;text-align: right;}
    .indicadores .tot-company label{margin-bottom: 3px;line-height: 115%;display: block;}
    .indicadores .tot-company .valor{font-size: 13px; font-weight: 400; border: 1px solid #ce06ff; display: inline-block; padding: 1px 5px; border-radius: 2px; }

    .indicadores .bottom-value span{color: #aaa; }
    .indicadores .progress{width: 100px;height: 8px;margin-top: 15px;border-radius: 20px;}
    .indicadores .bottom-label{font-size: 12px; }
    .indicadores .bottom-label a{color: #0057ff; }


    .indicadores .compromiso .bottom-value{background-size: 9px!important; padding-left: 15px;}
    .indicadores .compromiso .bottom-value.positivo{color: #46af71; background: url(../img/compare-positive.png) no-repeat 0px 9px;}
    .indicadores .compromiso .bottom-value.negativo{color: #f94141; background: url(../img/compare-negative.png) no-repeat 0px 9px;}

    .indicadores .enps .card-body{padding-bottom: 0;}
    .indicadores .enps .card-body .group-content{height: 100%;}
    .indicadores .enps .card-body .informacion{right: 17px;}
    .indicadores .enps .card-body .nombre{text-transform: initial;}
    .indicadores .enps .resultados{color: #fff;font-size: 15px;margin: 0 -30px;text-align: center;}
    .indicadores .enps .resultados i{font-size: 13px;padding-right: 5px;}
    .indicadores .enps .resultados small{padding-left: 2px; }
    .indicadores .enps .resultados div {padding: 10px 8px 8px;position: relative;flex: 1;}
    .indicadores .enps .resultados .promotores{background-color: #04b8af;border-radius: 0 0 0 15px;}
    .indicadores .enps .resultados .neutral{background-color: #fcd57e;}
    .indicadores .enps .resultados .detractores{background-color: #f16b6c;border-radius: 0 0 15px 0;}






    /*One*/
        .card-hero.one .main-indicator .progress{width: 170px; margin: 0 auto;}

    /*Three*/
        .card-hero.three .card.right, .card-hero.one .card.right{flex-basis: 45%;}

    /*Two*/
        .card-hero.two .main-indicator .value{font-size: 90px;}
        .card-hero.two .main-indicator .progress{width: 135px; margin: 0 auto;}



    .combo-white .select2-container--default .select2-selection--single{background: #fff;padding: 0!important;}
    .combo-white .select2-container--default .select2-selection--single::before{right: 14px;top: 0;margin-bottom: 15px;}





/*ROLLOVER*/
    .dashboard .stats__item.hover,
    .card.hover {transition: .2s;}

    .dashboard .card.hover:hover,
    .dashboard .stats__item.hover:hover,
    .card.hover:hover {cursor: pointer!important;background: var(--hover);}


    /*Iconos hover*/
        .hi-icon-wrap {text-align: center;}
        .hi-icon {display: inline-block; font-size: 0px; cursor: pointer; width: 40px; height: 40px; border-radius: 50%; text-align: center; position: relative; z-index: 1; color: #fff; margin-left: 5px; }
        .hi-icon:after {pointer-events: none; position: absolute; width: 100%;
            height: 100%; border-radius: 50%; content: ''; -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box; box-sizing: content-box; }

        .hi-icon i{font-size: 18px; color: #555; padding-top: 27%;}

        /* Effect 3 */
        .hi-icon-effect-3 .hi-icon:after {top: -2px; left: -2px; padding: 2px;
            z-index: -1; background: rgba(0,0,0,.05) ; -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
            -moz-transition: -moz-transform 0.2s, opacity 0.2s; transition: transform 0.2s, opacity 0.2s; }

        .hi-icon-effect-3 .hi-icon-btn:after {background-color: var(--color-primario);}

        /* Effect 3b */
        .hi-icon-effect-3b .hi-icon-btn:hover i{color: #fff; }
        .hi-icon-effect-3b .hi-icon:after {-webkit-transform: scale(.1); -moz-transform: scale(.1);
            -ms-transfrm: scale(.1); transform: scale(.1); opacity: 0; }

        .hi-icon-effect-3b .hi-icon:hover:after {-webkit-transform: scale(1); -moz-transform: scale(1);
            -ms-transform: scale(1); transform: scale(1); opacity: 1; }

        /**/



/*DIV FIXED*/
    /*#divfix {overflow: hidden;}*/
    .sticky {position: fixed; top: 0;}


/*DASHBOARD*/
    .dashboard .stats {padding-top: 0;}
    .stats__item{margin-bottom: 10px;border-radius: 5px; padding: 20px;}

    .dashboard section{margin-bottom: 50px;}
    h4.title a{color: var(--color-link-color);font-size: 14px!important;margin-left: 20px;text-transform: none;}

    .dashboard h4.card-title{font-size: 20px;}
    .dashboard .hover-details .row{flex-wrap: initial;}


    .dashboard .card-body {padding: 30px;}
    

    .dashboard h4.card-title{margin-bottom: 5px;}
    .dashboard .d-flex div.progress-bar{flex:initial;}
    


    /*Dimensiones*/
        

        /*.dimensiones .d-flex div{flex: 1;}*/
        .dimensiones .d-flex:not(.thead-card) {font-size: 15px;height: 40px;}
        .dimensiones .d-flex .icon {padding-top: 0!important;}
        .dimensiones .d-flex .icon img{width: 20px;}
        .dimensiones .d-flex .name{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 10px;flex-basis: 48%;}
        .dimensiones .d-flex .name .improve{display: block;}
        .dimensiones .d-flex .index-number{text-align: center;margin-right: 0!important;padding: 0 20px;width: 107px;}
        .dimensiones .d-flex .index-number i{font-size: 12px; padding-left: 3px; }
        .dimensiones .d-flex .actions{flex-basis: 20%;color: #9c9c9c;}



        .dimensiones .d-flex div:not(:last-child){margin-right: 20px;}
        .dimensiones .card{color: #444;margin-bottom: 10px;}
        .dimensiones .d-flex div{/* padding-top: 5px!important; */-ms-flex-item-align: center !important;-ms-grid-row-align: center !important;align-self: center !important;}
        .dimensiones .d-flex .icon{flex: .5;}
        .dimensiones .d-flex .value{font-size: 22px;padding-top: 28px!important;text-align: center;margin: -25px -30px;border-radius: 4px 0 0 4px;width: 90px;color: #fff!important;height: 90px;}
        .dimensiones .d-flex .impacto{color: #444;width: 58px;text-align: center;}
        .dimensiones .d-flex .actions{opacity: 1; font-size: 14px;}
        .dimensiones .card-body{padding: 25px 30px; }
        .dimension-title div{font-size: 14px; margin-bottom: 16px; color: #777; font-weight: 700; text-transform: uppercase; background-size: 20px!important; padding-left: 30px; line-height: 140%; padding-top: 3px;}

        .dimensiones .d-flex .value.positive{background-color: #04b8af;}
        .dimensiones .d-flex .value.neutral{background-color: #fcd57e;}
        .dimensiones .d-flex .value.negative{background-color: #f06b6c;}


        .dimension-title .good{background: url('../img/good.png') no-repeat 0px 0px;}
        .dimension-title .bad{background: url('../img/bad.png') no-repeat 0px 0px;}

        .dimension-title a{font-size: 16px;color: #2196F3;}

        .dashboard .quick-stats small{font-size: 16px; line-height: 20px;color: #666665;}
        .dashboard .quick-stats h2{font-size: 38px; line-height: 42px;padding-top: 6px;}
        .dashboard .quick-stats .quick-stats__item{position: relative; padding: 10px 20px 18px 20px;}
        .quick-stats__chart{position: absolute; right: 25px; bottom: 34px;}

        .dashboard .hover-details{background-color: #FFFFFF; color: initial; border-radius: 2px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); opacity: 0;visibility: hidden;transition: 0.4s;position: absolute; z-index: 99; top: 34%;right: -560px; font-size: 14px;padding: 20px 20px 10px 20px;}

        .dashboard .stats__item:hover .hover-details{opacity: 1;visibility: visible;}
        
        .dimensiones .thead-card{font-size: 10px;text-transform: uppercase;margin-bottom: 12px;padding: 0 30px 0 0;}
        .dimensiones .thead-card .favo{width: 80px;text-align: center;padding-left: 8px;}
        .dimensiones .thead-card .dimension{padding-left: 20px;}
        .dimensiones .thead-card .versus{
    margin-right: 0!important;
    /* width: 52px; */
    padding: 0 20px;
}
        .dimensiones .thead-card .impacto{
}
        

        /*Rollover*/
            .dashboard .hover-details.dimensiones h5{font-size: 18px;font-weight: 700;margin-bottom: 25px;}
            .dashboard .hover-details.dimensiones .d-flex {margin-bottom: 15px;margin-left: 25px;}
            .dashboard .hover-details.dimensiones .d-flex div{margin-right: 20px;-webkit-flex: 1;  /* Safari 6.1+ */ -ms-flex: 1;  /* IE 10 */ flex: 1;flex-grow: 0;}
            .dashboard .hover-details.dimensiones .d-flex div p{font-weight: 700;margin: 0}
            .dashboard .hover-details.dimensiones .d-flex div:nth-child(2) span{color: #9c9c9c;}

            .dashboard .hover-details.dimensiones .footer{text-align: left; padding: 10px 0 0; border-top: 1px solid #efefef;}
            .dashboard .hover-details.dimensiones .footer p{color: #333; font-size: 20px;margin-bottom: 0;}
            .dashboard .hover-details.dimensiones .footer span{color: #9c9c9c;}
            .dashboard .hover-details.dimensiones .footer .d-flex{margin: 0; max-width: initial;}
            .dashboard .hover-details.dimensiones .footer .d-flex span{padding: 7px 10px;}

            .dashboard .hover-details.dimensiones .left{border-right: 1px solid #efefef;padding-right: 45px;}

            .dashboard .hover-details .arrow-left {box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);}

            .dashboard .hover-details .arrow-left:after{content: "";
            position: absolute; width: 0;
            height: 0; border: 1em solid black; border-color: transparent transparent #fff #fff;
            transform-origin: 8px 2px; transform: rotate(45deg); box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.045);
            top: 20px;left: -3px;}


        .dimensiones .subtitles{font-size: 17px;text-transform: uppercase;margin-bottom: 20px;}
        .dimensiones .subtitles a{color: var(--color-link-color);text-transform: capitalize;font-weight: normal;float: right;font-size: 14px;position: relative;padding-left: 23px;}
        .dimensiones .subtitles a i{position: absolute;left: 0;top: 4px;}
        .dimensiones .good .card .index-number i{color: var(--verde)!important;}
        .dimensiones .no-good .card .index-number i{color: var(--rojo);}

        .dimensiones .card .icon{font-size: 25px; position: relative;}
        .dimensiones .card .icon i{position: absolute;}

        .dimensiones .good .card-body {border-left: 3px solid var(--verde)!important; border-radius: 2px; }
        .dimensiones .no-good .card-body {border-left: 3px solid var(--rojo)!important;border-radius: 2px;}

        .dimensiones .rate-100 {font-size: 70%; padding-left: 3px;}

    /*Departamentos*/
        .dashboard .stats__info{text-align: initial;padding: 0px 5px 5px;}
        .dashboard .stats__info .d-flex div{-webkit-flex: 1;  /* Safari 6.1+ */ -ms-flex: 1;  /* IE 10 */ flex: 1;}
        .dashboard .stats__info .value{flex-basis: 30px!important;font-size: 44px;line-height: 40px;font-weight: 300;margin-bottom: 6px;}
        .dashboard .stats__info .progress{width: 80px;margin-bottom: 10px;}
        /*.dashboard .stats__info h2{font-size: 36px;position: relative;}*/
        .dashboard .stats__info .name{font-size: 12px;margin-top: 5px;color: #444;margin-bottom: 10px;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-transform: uppercase;font-weight: 400;opacity: .9;}
        .dashboard .stats__info .name i{padding-right: 8px; font-size: 14px;}
        /*.dashboard .stats__info small{font-size: 13px;color: #999;margin-top: 0;}*/
        /*.dashboard .stats__info .index-number {margin-top: 10px; }*/
        .dashboard .stats__info .index-number .number{font-size: 20px;}
        .dashboard .stats__info .index-number .number i{width: 14px;}
        .dashboard .stats__info .index-number .text{font-size: 12px;padding: 3px 0 0 0px;line-height: 12px;color: #999;width: 55px;margin-left: 6px;}

        .departamentos .stats__item.mkt{background-color: var(--mkt);}
        .departamentos .stats__item.tech{background-color: var(--tech);}
        .departamentos .stats__item.design{background-color: var(--design);}
        .departamentos .stats__item.customer{background-color: var(--customer);}

        .dashboard .stats__item .rate-100{opacity: .7}


    /*Encuestas*/
        .dashboard section.encuestas {background: rgba(0,0,0,.03);margin: 0 -40px;padding: 35px 40px 40px 40px;}

        section.encuestas header{margin-bottom: 25px;}

        .encuestas .card .label{text-transform: uppercase;font-size: 10px;font-weight: 400;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
        .encuestas .card-demo > a{color: #444;}
        .encuestas .card .value{font-size: 38px;font-weight: 300;line-height: 115%;}
        .encuestas .card .progress{width: 60px;margin: 0 auto;margin-bottom: 10px;}
        .card .index-number{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
        .encuestas .card .index-number i{font-size: 10px;font-weight: 700;padding-right: 8px;}
        .card .index-number .text{color: #444; opacity: .5; font-size: 12px; }

        .encuestas .card{max-width: 48%;}
        .encuestas .card-title{margin-bottom: 2px;}
        .encuestas .card-subtitle{font-size: 14px;margin-top: 0;margin-bottom: 20px;}

        .encuestas .engagement{position: relative;}
        .encuestas .engagement .label{font-size: 14px;line-height: 130%;}
        .encuestas .engagement .value{position: relative; font-size: 42px; line-height: 42px; margin-top: 4px;}
        .encuestas .engagement .value span{top: 6%;padding-left: 4px;font-size: 10px;position: absolute;/* color: #fff; */opacity: .6;}
        .encuestas .engagement .index-number{font-size: 14px; position: absolute; left: 100px; bottom: 8px;}

        .encuestas .card-body .d-flex{margin-right: 0px;}


        .encuestas .engagement .label,
        .encuestas .respose .label{font-size: 12px!important;line-height: 130%;text-transform: uppercase;font-weight: 500;margin-right: 0!important;}

        .encuestas .respose .value{font-size: 24px!important; padding-top: 5px!important;}
        .encuestas .respose.right{padding-left: 20px;}
        .encuestas .respose .text-footer{font-size: 12px;color: #999;margin-top: 5px;/* color: #fff; */opacity: .7;line-height: 130%;}
        .encuestas .flot-chart{margin: 0 -30px 15px;height: 100px;}

        .encuestas .favorabilidad-encuesta {margin-top: 41px;}
        .encuestas .favorabilidad-encuesta div{margin-right: 0!important;}
        .encuestas .favorabilidad-encuesta span{margin-top: -18px; position: absolute; color: #fff; font-size: 14px;}


        .encuestas-usuario .table th, .encuestas-usuario .table td {padding: 18px 1.5rem 18px; vertical-align: middle;}
        .encuestas-usuario .table td button{font-size: 14px;}


        .encuestas .link-publico{font-size: 13px;color: #999;position: relative;padding-left: 30px;width: fit-content;margin: 30px auto 0;}
        .encuestas .link-publico span{position: absolute;top: -2px;left: 0;background-color: #0057ff;color: #fff;width: 22px;height: 22px;border-radius: 50px;text-align: center;padding-top: 4px;font-size: 11px;}
        .encuestas .link-publico span i{}

/*      



/*Modal Eliminar*/
.modal-dialog.eliminar{width: 580px!important;}

.modal-dialog.eliminar .modal-body{text-align: center; }
.modal-dialog.eliminar .modal-body img{height: 120px; margin: 20px 0; }
.modal-dialog.eliminar .modal-body .pregunta{font-size: 20px;margin-bottom: 10px;}
.modal-dialog.eliminar .modal-body .bajada{color: #555; font-weight: 300; margin: 0 auto 10px; max-width: 400px; line-height: 150%; }


.modal-dialog.eliminar.empleado{}

    


/*modal Departamentos*/

/*Masonry*/
    .deptos-checkbox .modal-dialog {max-width: 95%; width: 100%;}
    .deptos-checkbox .modal-dialog .modal-header{margin-bottom: 30px;border-bottom: 1px solid #efefef;padding-bottom: 20px;}

    .deptos-checkbox .deptos-wrap {overflow-y: auto;}
    .deptos-checkbox .deptos-wrap .item{float: left; width: 33%;}

    .deptos-checkbox .item {display: inline-block; margin: 0 0 22px; width: 100%;}
    .deptos-checkbox .item .principal .name label{font-weight: 700;}
    .deptos-checkbox .item .name:before{top: 1px;left: -22px;font-size: 12px;}
    .deptos-checkbox .item .custom-control{margin-left: 25px;padding: 0px 0 6px 25px;}
    .deptos-checkbox .item .btn-demo{cursor: pointer;}
    .deptos-checkbox .item .btn-demo .custom-control{margin-left: 25px;padding-left: 25px;}
    
    .deptos-checkbox .item .btn-demo .custom-control i{position: absolute; left: -24px; top: 2px; cursor: pointer;}
    .deptos-checkbox .item .collapse,
    .deptos-checkbox .item .collapsing{margin-left: 25px;background: url(../img/ic-sub.png) no-repeat 5px 6px;background-size: 10px;padding-left: 55px;}


    /*Agregados para DEV*/
    .deptos-checkbox .item .custom-control{padding: 0px 0 6px 29px; }
    .deptos-checkbox .item .custom-control i{left: -24px!important; }
    
    .deptos-checkbox .item .sub .custom-control.custom-checkbox{margin-left: 30px;}
    .deptos-checkbox .item .sub li {margin-left: 25px; background: url(../img/ic-sub.png) no-repeat 5px 1px; background-size: 10px; padding-left: 25px; }

    .txt-seleccionados{font-size: 16px;margin-bottom: 30px;}



/*modal Oficinas*/
    .deptos-checkbox{}
    .deptos-checkbox .deptos-wrap .btn-group{/* width: 33%; */margin-bottom: 5px;}

    .deptos-checkbox .item .collapse,
    .deptos-checkbox .item .collapsing{margin-left: 5px;background: url(../img/ic-sub.png) no-repeat 5px 6px;background-size: 10px;padding-left: 55px;}

    .deptos-checkbox .deptos-wrap .btn-group .btn{width: 27px;height: 27px;padding: 0;/* margin-right: 10px; */}
    .deptos-checkbox .deptos-wrap .btn-group .name{padding-top: 4px;padding-left: 10px;width: 125px;}
    .deptos-checkbox .deptos-wrap .name{}
    .deptos-checkbox .deptos-wrap .btn-group--colors > .btn.active:before, .btn-group--colors > .btn.focus:before{top: 0;}
    .deptos-checkbox .btn-group--colors > .btn:before{transition: initial;}

    .deptos-checkbox .item .name:before{top: 5px; left: -22px; font-size: 12px;}
    
    .deptos-checkbox .deptos-wrap li{float: left; width: 33%; margin-bottom: 8px; padding-left: 25px; }
    .deptos-checkbox .deptos-wrap li input{}
    .deptos-checkbox .deptos-wrap li label{}



/*modal Oficinas*/
    .oficinas-checkbox{}
    .oficinas-checkbox .oficinas-wrap .btn-group{width: 33%; margin-bottom: 5px;}

    .oficinas-checkbox .oficinas-wrap .btn-group .btn{width: 27px; height: 27px; padding: 0; margin-right: 10px; }
    .oficinas-checkbox .oficinas-wrap .btn-group .name{padding-top: 4px; }
    .oficinas-checkbox .oficinas-wrap .name{}
    .oficinas-checkbox .oficinas-wrap .btn-group--colors > .btn.active:before, .btn-group--colors > .btn.focus:before{top: 0;}
    .btn-group--colors > .btn:before{transition: initial;}

    .oficinas-checkbox{}
    .oficinas-checkbox .oficinas-wrap{margin-top: 25px; }
    .oficinas-checkbox .oficinas-wrap li{float: left; width: 33%; margin-bottom: 8px; padding-left: 25px; }
    .oficinas-checkbox .oficinas-wrap li input{}
    .oficinas-checkbox .oficinas-wrap li label{}



/* Listado Encuesta*/


/*Filtros*/
.filtros-wrapper .abrir, .filtros-wrapper .cerrar{display: none;}
.filtros-wrapper{display: inline-block;}

.badge.filtros{background-color:#5f5f5f; color: #fff!important;margin-bottom: 2px;}

.card div.botones {margin-top: 20px;}

.card .actions a{color: inherit;}

.card .countdown {font-size: 14px; text-transform: initial; margin-top: 30px;bottom: 30px; left: 27px; border-radius: 2px; }

.card .countdown i{font-size: 25px; margin-right: 12px;}
.card .countdown div{padding: 3px;}
.card .countdown span{font-weight: 700;}
#programadas .card div.botones{margin-top: 6px;}







/*ENCUESTAS*/

    #rootwizard .badge-pill {padding: 9px 12px; border-radius: 60px; margin: 0 7px 0 0;}
    #rootwizard .link-preview a{text-transform: uppercase;}
    #rootwizard .link-preview {padding-top: 25px;}
    #rootwizard .tab-pane {margin-top: -92px;}
    #rootwizard .header-special-tab > div{min-height: 100px;}
    .tab-content{padding: 0;}


    .encuestas-finalizadas .table .value{font-size: 18px;}
    .encuestas-finalizadas .table .value small{padding-left: 2px;}
    .encuestas-finalizadas .table .bajada-nombre{padding-top: 4px;}
    
    .encuestas-finalizadas .table .link-publico{position: relative; padding-left: 29px; }
    .encuestas-finalizadas .table .link-publico .icono{background: #0057ff; border-radius: 50px; width: 22px; height: 22px; position: absolute; left: 0; top: -2px; text-align: center; font-size: 11px; padding-top: 4px; }
    .encuestas-finalizadas .table .link-publico .icono i{color: #fff; }
    .encuestas-finalizadas .table .link-publico .nombre{}



/*DRAG & DROP*/
    #sortable .ui-state-default .actions{position: absolute; right: 25px; top: 34%; opacity: 0}
    #sortable .ui-state-default:hover .actions{opacity: 1;}

    #sortable .ui-state-default .edit-actions{position: absolute; right: 25px; bottom: 20px}
    #sortable .ui-state-default .edit-actions a{color: var(--color-primario);}
    #sortable .ui-state-default .edit-actions a:not(:first-child){padding-left: 20px;}


    #sortable a.delete i,
    #sortable a.edit i{font-size: 22px; color: #888;}
    #sortable a.delete:hover i,
    #sortable a.edit:hover i{color: #4788ff;}


    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight {background: rgba(0,0,0,.05)!important; color: #777620; height: 120px; }
    .ui-sortable-helper .select2-container--default .select2-selection--single .select2-selection__rendered {color: #333!important;}
    .ui-sortable-helper .form-group.white .select2-container--default .select2-selection--single .select2-selection__rendered {padding-left: 10px!important;}

 
/**/



.header-select-encuesta{padding-bottom: 25px;border-bottom: 1px solid #ddd;margin-bottom: 30px;margin-top: -10px;}
.header-select-encuesta .text-prev-combo{font-size: 18px;}
.header-select-encuesta .text-prev-combo .title{font-size: 10px;text-transform: uppercase;color: #666;}

.header-select-encuesta .combo-group{margin-left: 20px;min-width: 250px;}
.header-select-encuesta .combo-group .form-group{margin-bottom: 1px; }
.header-select-encuesta .combo-group .form-group .select2-container{border-radius: 12px;} 
.header-select-encuesta .combo-group .select2-container--default .select2-selection--single .select2-selection__rendered{padding: 18px 40px 14px 18px;font-size: 16px;border: 1px solid #ddd;border-radius: 8px;}
.header-select-encuesta .combo-group .select2-container--default .select2-selection--single:before{top: 12px;right: 26px;}
.header-select-encuesta .right{gap: 10px;}
.header-select-encuesta .right .link-actions.exportar{margin: 0;}

.planes .chart-group .chart-por-dimension .flot-chart{height: 160px;}

.planes .participacion-planes{}
.planes .participacion-planes .people-with-actions{}
.planes .participacion-planes .value{font-size: 80px;line-height: 100%;padding-top: 20px;}
.planes .participacion-planes .value small{font-size: 60%; margin-left: 9px; }
.planes .participacion-planes .progress{height: 6px; border-radius: 10px;background-color:#555555; max-width: 200px;}
.planes .participacion-planes .progress .progress-bar{background: #69cc12;}
.planes .participacion-planes .state-actions-label li.with-acciones::before{color:#69cc12;}
.planes .participacion-planes .state-actions-label li.without-acciones::before{color:#555555;}


.state-actions-label{gap: 20px; margin-top: 30px; margin-bottom: 0; }
.state-actions-label li{position: relative;padding-left: 20px;}
.state-actions-label li::before{content: "\2022"; font-size: 40px; line-height: 15px; position: absolute; top: 1px; left: 0;}
.state-actions-label li.en-progreso::before{color: #69cc12;}
.state-actions-label li.vencidas::before{color: #ff0000;}
.state-actions-label li.finalizadas::before{color: #595959;}




.flat-button{border: 1px solid #0057ff; border-radius: 50px; padding: 5px 12px; color: #0057ff;}



/*Media queries*/

    @media (max-width: 1199.99px) {


    }



/*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {
    

      }



@media only screen and (max-width: 767px) {

    /*General*/
    .hidden-desktop{display: initial!important;}
    .hidden-xs{display: none;}
    .text-center-xs{text-align: center;}
    .header {left: 0px!important;width: 100%!important;padding: 0 30px!important;box-shadow: 0 2px 6px rgb(95 108 114 / 8%)!important;}
    
    .display-xs-block{display: block!important;}
    
    
    /*Table*/
    .table-responsive>.fixed-column {display: none;}
    .table-hover tbody tr .hover{opacity: 1;}

    .chat.toggled{width: 90%;}

    
    .header::before, .header::after{display: none;}

    /*Dashboard*/
    .dashboard section{margin-bottom: 20px;}
    /*.dashboard .encuestas .card-body {padding: 25px 25px 10px;}*/

    /*Title Dashboard Fix*/
        .title-dashboard #divfix .nombre{font-size: 20px; margin-bottom: 10px; width: 100%;}
        
        .title-dashboard #divfix .details{font-size: 13px; display: none; }
        .title-dashboard #divfix .details ul{padding-bottom: 25px;}
        .title-dashboard #divfix .details ul li.estado i{top: 4px; }
        .title-dashboard #divfix .btn-primary{position: initial; padding: 10px 20px; margin-bottom: 6px; }

        .title-dashboard #divfix.sticky {margin-left: -30px;margin-right: -30px;padding-left: 20px!important;padding-top: 20px;padding-bottom: 20px;}
        .title-dashboard #divfix.sticky ~ i{left: 20px!important;}
        .title-dashboard #divfix.sticky .nombre{font-size: 16px; margin-bottom: 0; width: calc(100% - 148px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
        .title-dashboard #divfix.sticky .nombre .bold{font-weight: normal; }
        .title-dashboard #divfix.sticky a{padding: 12px 15px 11px!important;position: absolute;top: -4px!important;right: 20px;margin-bottom: 0;}
        

    .dimensiones .subtitles.negative{margin-top: 30px;}
    .dimensiones .d-flex .impacto{/* font-size: 12px; */}
    .dimensiones .d-flex .name{font-size: 15px;flex-basis: 30%;}
    .dimensiones .d-flex .value{font-size: 18px;line-height: 30px;height: 70px;width: 70px;padding-top: 21px!important;margin-left: -15px;}
    .dimensiones .card-body{padding: 15px;}
    .dimensiones .d-flex .index-number{}
    .dimensiones .d-flex div:not(:last-child) {margin-right: 10px;}
    .dimensiones .d-flex div{padding-top: 6px!important;}
    .dimensiones .thead-card{font-size: 8px;}
    .dimensiones .thead-card .favo,
    .dimensiones .thead-card .dimension,
    .dimensiones .thead-card .versus,
    .dimensiones .thead-card .impacto{padding-left: 0;}

    .dimensiones .good{margin-bottom: 40px;}
    .dimensiones .d-flex .name .improve{font-size: 12px;}

    .encuestas .card {margin-bottom: 20px;max-width: 100%;}
    .encuestas .card .label{font-size: 10px;height: 25px;}
    .encuestas .card .value {font-size: 38px;height: 45px;font-weight: 400;line-height: 32px;}
    .encuestas .card .progress {width: 65px;}
    .encuestas .card .index-number {font-size: 14px;}
    .encuestas .card .index-number i {padding-left: 0px; padding-right: 4px;}
    .encuestas .card .index-number .text{font-size: 10px;}


    .deptos-checkbox .masonry {column-count: 1;}
    .deptos-checkbox .modal-dialog {max-width: 95%;}

    .preguntas-comentarios header .filtros span {display: none;}
    /*.preguntas-comentarios .d-flex .name{font-size: 14px;padding-top: 3px;}*/



    /*Cards*/
    .card .foot{bottom: 15px;}
    .card .filtros-aplicados .title{display: block;margin-bottom: 5px;}
    .card-hero .subtitle{font-size: 12px;}

    .card-hero .medio .favo{margin-top: 0px;padding-left: 30px;}
    .card-hero .right .combo {width: 250px;margin: 15px 0 25px;}

    .card-hero.three .card.right, .card-hero.one .card.right {padding-top: 30px;}
    .card-hero .card > .actions, .card-body > .actions {right: 12px; top: 18px; }

    .card-hero .vigencia .vigencia-content {margin-left: 0;}

    .card-hero .main-indicator{text-align: left; }
    .card-hero .main-indicator .card-body{padding: 30px 30px 22px!important;}
    .card-hero .main-indicator .tooltip-warning{margin: 0; }
    .card-hero .main-indicator .value{font-size: 70px;line-height: 80%;font-weight: 500;padding-top: 15px;}
    .card-hero .main-indicator .index-number{position: absolute;right: 30px;bottom: 31px;text-align: right;}
    .card-hero .main-indicator .index-number span{display: block;font-size: 22px;}
    .card-hero .main-indicator .index-number span.text{font-size: 13px;}
    .encuestas .card-hover{padding-bottom:20px;}

    .edit-message {visibility: visible;bottom: 22px;}
    .edit-message .mobile{display: inline-block;}
    .edit-message .desktop{display: none;}

    /*CARD HERO*/
        .card-hero .card-body{padding: 25px;}
        /*.card-hero .card.right{padding-top: 40px;}*/

    /*One*/
        .card-hero.one .main-indicator .progress{width: 170px; margin: 0 auto;}

    /*Two*/
        .card-hero.two .main-indicator .label{font-size: 14px; }
        .card-hero.two .main-indicator .value{font-size: 55px; }
        .card-hero.two .main-indicator .progress{width: 90px; }



    .card-subtitle.big-text{font-size: 17px;}


    /*Listado Encuentas*/
    .btn-nueva-encuesta{position: inherit;}
    .tab-content {padding: 10px 0 0 0; }


    h2.card-title{font-size: 22px;}
    h2.card-subtitle{font-size: 16px;}


    #programadas .card .filtros-aplicados{padding-bottom: 40px;}


    /*Filtros aplicados*/
    .filtros-wrapper {-webkit-transition: max-height .5s; /* For Safari 3.1 to 6.0 */ transition: max-height .5s; overflow: hidden; position: relative; }

    .card .filtros-aplicados {margin-bottom: 10px;}

    .filtros-wrapper h2{font-size: 24px;line-height: 140%;}
    .filtros-wrapper .abrir, .filtros-wrapper .cerrar{position: absolute;top: -8px; right:0;display: inline-block; font-size: 28px; color: var(--color-primario);}
    .filtros-wrapper .cerrar{display: none;}

    .filtros-wrapper:focus {max-height:200px;}
    .filtros-wrapper:focus .abrir{display:none;}
    .filtros-wrapper:focus .cerrar{display:block!important;}


    .filtros-wrapper .cerrar a:focus{height: 100px;}
    .filtros-wrapper .abrir:hover{cursor: pointer;}

    

    