/*Componentes*/
    /*Toggle Switch*/
    .toggle-switch__checkbox:checked ~ .toggle-switch__helper:after{background-color: #0057ff;}
    .toggle-switch__helper{left: 0;}


    .toggle-switch__helper:before {top: 6px; opacity: .3; height: 8px;width: 30px;}
    .toggle-switch__helper:after{width: 18px; height: 18px; top: 1px}


 
    [data-toggle="buttons"]:not(.btn-group--colors) > .btn{background: #aaaaaa;}
    [data-toggle="buttons"]:not(.btn-group--colors) > .btn:not(.active){color: #fff!important;}
    .btn-group--colors > .btn.active:before,
    .btn-group--colors > .btn.focus:before {font-family: "Font Awesome 5 Pro";content: '\f00c';font-size: 12px;top: 0px;}


    /*Flechas DataTable*/
    .paginate_button.previous:before{content: '\f104';}
    .paginate_button.next:before{content: '\f105';}
    .paginate_button.previous:before,.paginate_button.next:before {
    font-family: "Font Awesome 5 Pro";
    font-size: 15px;
    line-height: 2.55rem;}

    
    .radio-label .name{padding: 5px 0 0 8px;}

    
/*DataTable*/
.dataTables_wrapper .table > thead > tr > th span, .dataTables_wrapper .table-data > thead > tr > th span{position: relative;font-weight: 400;}

.dataTables_wrapper .table > thead > tr > th.sorting_asc span:after, .dataTables_wrapper .table-data > thead > tr > th.sorting_asc span:after,
.dataTables_wrapper .table > thead > tr > th.sorting_desc span:after, .dataTables_wrapper .table-data > thead > tr > th.sorting_desc span:after {font-family: "Font Awesome 5 Pro";font-size: 10px;top: 13px;font-weight: 300;}

.dataTables_wrapper .table > thead > tr > th.sorting_asc span:after, .dataTables_wrapper .table-data > thead > tr > th.sorting_asc span:after {content: '\f0dd';}
.dataTables_wrapper .table > thead > tr > th.sorting_desc span:after, .dataTables_wrapper .table-data > thead > tr > th.sorting_desc span:after {content: '\f0de';}

.dataTables_wrapper .table > thead > tr > th.icon-number.sorting_asc span:after, .dataTables_wrapper .table-data > thead > tr > th.icon-number.sorting_asc span:after {content: '\f162';}
.dataTables_wrapper .table > thead > tr > th.icon-number.sorting_desc span:after, .dataTables_wrapper .table-data > thead > tr > th.icon-number.sorting_desc span:after {content: '\f887';}

.dataTables_wrapper .table > thead > tr > th span:after, .dataTables_wrapper .table-data > thead > tr > th span:after {position: absolute;right: -12px;top: -2px!important;}
.dataTables_wrapper .table > thead > tr > th span.icon-last:after, .dataTables_wrapper .table-data > thead > tr > th span.icon-last:after {left: -12px;}

.dataTables_wrapper .table > thead > tr > th.double span:after {top: 4px!important;}



.dataTables_wrapper .table > thead > tr > th.sorting_asc span,
.dataTables_wrapper .table > thead > tr > th.sorting_desc span,
.dataTables_wrapper .table-data > thead > tr > th.sorting_asc span,
.dataTables_wrapper .table-data > thead > tr > th.sorting_desc span
{font-weight: 600!important;}


/*Alerts*/
.alert{padding: 16px 20px 14px 50px;margin-bottom: 20px;}
.alert button{padding: 12px!important; }
.alert button i{top: 15px; position: absolute; right: 20px; }
.alert i:not(.fa-times){position: absolute;top: 18px;font-size: 16px;left: 23px;}


	/*Botones Swtich*/
	.btn-switch{gap: 10px!important;margin-bottom: 10px;}
	.btn-switch li{}
    .btn-switch li a{width: 40px;height: 40px;font-size: 18px!important;padding: 8px 0 0 0;text-align: center;background: #ccc;color: #444!important;border: none!important;border-radius: 50px!important;transition: inherit!important;}
    .btn-switch li:first-child a{margin-left: 0!important;}
    .btn-switch li a::before{height: 0!important;}
    .btn-switch li a.active{background: #0057ff!important;color: #fff!important;border-bottom: 0!important;}
    .btn-switch li a.bubble img{
    width: 18px;
    margin-top: -6px;
}
    .btn-switch li a.bubble.active{}



/*Alerts notificaciones*/
    .alert-message{background: #03A9F4;padding: 16px 60px 16px 20px;border-radius: 8px;color: white;margin-bottom: 10px;position: absolute;
    right: 20px;
    top: 100px;
    display: none;}
    .alert-message a{color: white; text-decoration-line: underline; font-weight: 500;}
    .alert-message button{color: white;position: absolute;right: 16px;width: 30px;height: 30px;top: 12px;padding-top: 2px;}
    .alert-message button:hover{
    color: white;
    background: rgba(0,0,0,.15);
    border-radius: 50px;
}

   
    .alert-message-demo{
    position: initial;
    right: initial;
    top: initial;
    display: block;

}


    
    .alert-message.active{
    	-webkit-animation: notify .8s ease;
  		animation: notify .8s ease;
  		animation-iteration-count: 1;
  		display: block;
    }

    .alert-message.close-alert{
    	-webkit-animation: close .8s ease;
  		animation: close .8s ease;
  		animation-iteration-count: 1;
    }

/*

   @-webkit-keyframes notify {
  0% {transform: scaleX(0);}
  100% {transform: scaleX(1);}
}*/

@keyframes notify {
  0% {transform: translateY(-90px); opacity: 0;}
  100% {transform: translateY(0px); opacity: 1;}
}

@keyframes close {
  0% {transform: translateY(0px); opacity: 1;}
  50% {transform: translateY(-45px); opacity: 0;}
  100% {transform: translateY(-90px) opacity: 0;;}
}






/*Modal*/

	.modal.show {background-color: rgba(0,0,0,.7);z-index: 9999;}
	/*.modal-wrapper{padding: 30px;border-radius: 15px;margin: auto;max-width: 800px;position: relative;box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);background: #fff;width: 90%;}*/
	.modal-content{box-shadow: none; background: transparent; }
	.modal-header{padding: 0;background: transparent;margin-bottom: 20px;padding-bottom: 20px;border-bottom: 1px solid #efefef;min-height: 41px;}
	/*.modal-header h5{font-size: 16px;font-weight: 700;line-height: 20px;text-transform: uppercase;}*/
	.modal-header img{width: 100%;display: block;margin-bottom: 20px;}
	.modal-header img ~ h5{margin-left: 30px;}
	
	.modal-header.color{background: #e8e8e8;padding: 30px;margin: -30px -30px 30px;border-radius: 4px;}

	.modal-header .buscador{position: relative;width: 400px!important;}
	.modal-header .buscador input{background: #ffffff;border-radius: 50px!important;padding: 0px 50px 0px 20px!important;width: 400px;border: 1px solid #fff;text-align: right;font-size: 30px;font-weight: 300;height: 32px;}
	.modal-header .buscador input::placeholder{font-size: 15px!important;position:absolute; right: 50px;top: 6px;}
	.modal-header .buscador::after{content: '\f002';font-family: "Font Awesome 5 Pro";position: absolute;right: 5px;top: 1px;font-size: 20px;}
	/*.modal-header .buscador input:focus{box-shadow: 0 0px 6px rgba(95,108,114,.09), 0 0px 6px rgba(95,108,114,.09);border: 1px solid #e8e8e8;}*/


	.modal-footer{background: transparent;padding: 20px 0 0;}
 	.modal-img{display: block!important;margin:-30px -30px 0 -30px;padding-bottom: 0!important;border-radius: 12px 12px;overflow: hidden;}

	.modal-body{padding: 0;}
	.modal-body .form-group{margin-bottom: 30px;}

	.modal-wrapper {
    padding: 30px 40px;
    border-radius: 4px;
    margin: 25px auto;
    max-width: 800px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    width: 90%;
    }
	.modal-wrapper .close{font-size: 30px;position: absolute;top: -5px;right: 0px;padding: 0;line-height: 30px;z-index: 999;}
	.modal-wrapper.warning .close{top: 22px; right: 30px; color: #fff;}
	.modal-wrapper .modal-body.name{margin-bottom: 20px;}
	.modal-wrapper .modal-body.name .form-group {margin-bottom: 0;}
	
	.modal-wrapper .modal-body .title{font-size: 18px; font-weight: 600;margin-bottom: 3px;}
	.modal-wrapper .modal-body p{font-size: 16px;}

	.crear-encuesta .modal-wrapper .modal-header:not(.modal-img){display: initial;position: relative;/* background: #ededed; *//* margin: -30px -30px 30px -30px; *//* padding: 25px 30px; */border-radius: 15px 15px 0 0;}
	/*.crear-encuesta .modal-wrapper .modal-header .title{font-weight: 600;}*/

	.big-close.close{opacity: 1;padding: 0;position: absolute;right: -21px;top: -30px;z-index: 99;background: #0057ff;width: 60px;height: 60px;text-align: center;padding-top: 14px;border-radius: 50px;color: #fff!important;padding-left: 7px;transition: .1s;}
    .big-close.close:hover{transform: scale(1.1);}
    .big-close.close i{font-size: 32px;position: relative;left: -3px;}


	.modal-wrapper .modal-header .left{font-size: 32px;flex-basis: 60px;line-height: 100%;padding-right: 12px;}	
	.modal-wrapper .modal-header .right{flex-basis: 100%;}
	.modal-wrapper .modal-header .title{font-size: 16px;margin-bottom: 0;padding-bottom: 0px;width: calc(100% - 50px);font-weight: 600;line-height: 100%;}
	.modal-wrapper .modal-header .title span{
    font-weight: 400;
    font-size: 14px;
    padding-left: 20px;
}
	
	.modal-wrapper .modal-header .title .bold{font-weight: 600;}
	
	
	.modal-wrapper .modal-footer .center{margin: 0 auto!important;}
	.modal-wrapper .modal-footer a:not(:first-child){margin-left:40px!important;}
	.modal-wrapper .modal-footer .btn-link{font-size: 14px;padding: 1px 35px 0 0;border: 0;cursor: pointer;color: #0057ff;text-transform: initial;font-weight: 400;}
	.modal-wrapper .modal-footer .btn-link:hover, .modal-wrapper .modal-footer .btn-link:focus{background-color: initial;}


	.lnk-btn{}
	.lnk-btn .btn-link{text-transform: none; font-weight: normal; padding-right: 30px;color: #0057ff;}
	.lnk-btn .btn-link:hover{background-color: initial;}
	.lnk-btn .btn{}


	.modal-wrapper.warning .modal-header {background-color: #ff5050!important;color: #fff;margin: -30px -40px 30px;padding: 20px 30px;border-radius: 4px 4px 0 0!important;}
	
	/*.warning .btn:not(.neutro){border-color: #ff5050; color: #ff5050!important;}*/
	/*.warning .btn:hover:not(.neutro){background-color: #ff5050;color: #fff!important;}*/

	.centrar.modal-footer{width: fit-content; margin: 0 auto;}
	

	/*Modal Elegir logo Dise*/
	.modal-wrapper.elegir-logo{width: 500px!important;}


	/*Modal Vigencia*/
    .modal-wrapper.vigencia-hasta{width: 500px!important;}
    .modal-wrapper.vigencia-hasta input{font-size: 16px!important; padding-bottom: 2px!important;}

    /*Modal Nuevo usuario*/
    .new-user .modal-body .form-group{margin-bottom: 40px;}


    /*Modal Onboarding*/
    .modal-dialog.demo-onboarding{width: 80%; max-width: 1200px}
    .modal-dialog.demo-onboarding iframe{height: calc(100vh - 90px);}



/*Combos HTML*/
	/*.form-group {margin-bottom: 0;}*/

	.form-group label{
    /* margin-bottom: 0; */
    /* top: -3px; */
    text-transform: uppercase;
    font-size: 10px!important;
    /* left: 0!important; */
    /* position: absolute; */
    }
	.toggle-switch ~ label{font-size: 14px;}
	.form-group select{}
	.form-group.select-lg, .select2-container--default .select2-selection--single {/* height: 42px; *//* padding: 0!important; */}

	
	.form-control.hover:not(.is-invalid) {border-bottom: 1px solid #fff;}
	.form-control.hover:hover:not(.is-invalid){border-bottom: 1px solid #d8d8d8;}


	.select2-container--default .select2-selection--single:before {/* border-style: none; *//* border-width: 0; *//* border-color: inherit; *//* right: 15px; *//* top: 13px; *//* width: 0; *//* height: 0; *//* border-top: 0; */border-left: 0;border-right: 0;content: '\f107';transition: .3s;font-family: "Font Awesome 5 Pro";font-size: 20px;top: 2px;right: 20px;}


	.select2-container--default .select2-selection--single .select2-selection__rendered {padding-right: 30px;}

	.select2-dropdown .select2-results__option {padding-right: 50px;}
	.select2-dropdown .select2-results__option[aria-selected=true]:before {right: 10px;}


	.select2-container--default .select2-results>.select2-results__options{max-height: 230px;}


	.border0 .select2-container--default .select2-selection--single{border-bottom: 0!important;}


	.select2-results__option[id*="link"],
	.select2-results__option.select2-results__option--highlighted[id*="link"]
	{color: #0057ff; border-bottom: 1px solid #efefef;background-color: #fff;}

	.select2-results__option[id*="hidden"]{display: none;}

	/*Placeholder*/
	.form-control::placeholder ,.select2-container--default .select2-selection--single .select2-selection__placeholder{color: #999;}


/*Scrollbar*/
	/* width */ ::-webkit-scrollbar {width: 5px; height: 5px; background-color: #e8e8e8; border-radius: 10px;}
	/* Track */ ::-webkit-scrollbar-track {border-radius: 10px;}
	/* Handle */ ::-webkit-scrollbar-thumb {background: #555; border-radius: 10px;}
	/* Handle on hover */ ::-webkit-scrollbar-thumb:hover {background: #000;}


/*Carrousel*/
	.carousel-indicators li{background-color: #444!important; opacity: .07;cursor: pointer;}
	.carousel-indicators li.active{opacity: .4;}
	.carousel .carousel-control-prev{left: -23px;}
	.carousel .carousel-control-next{right: -23px;}
	
	.carousel .flechas {visibility: hidden;transition: .2s; transform: scale(0);}
	.carousel:hover .flechas {visibility: visible;transform: scale(1);}
	
	.carousel .flechas span{height: 30px;width: 30px;background: #0057ff;border-radius: 50%;padding-top: 3px;font-size: 18px;}
	.carousel .flechas .left{padding-right: 1px;}
	.carousel .flechas .right{padding-left: 3px;}


/*Filtros*/
	.filtros{background: #2e353e!important; color: #fff;}
	.filtros .scrollbar-inner{padding-top: 20px;}
	.filtros .scrollbar-inner > .scroll-element.scroll-y{width: 8px}
	aside .cerrar{position: absolute;left: -20px;top: calc(50% - 20px);background: #0057ff;border-radius: 50px;width: 40px;height: 40px;padding-top: 4px;font-size: 19px;color: #fff;text-align: center;cursor: pointer;}
	aside .cerrar i{position: absolute; top: 6px; right: 13px; font-size: 27px;}
	/*.filtros .close{position: absolute; right: 20px; top: 15px;}*/
	/*.filtros .close i{color: #fff; font-size: 28px; -webkit-text-fill-color: white; -webkit-text-stroke-width: .7px; -webkit-text-stroke-color: #2E3543;}*/
	
	.filtros h5{color: #fff; font-size: 12px; font-weight: 600; text-transform: uppercase;}
	.filtros .item{margin-bottom: 60px;}

	.filtros .btn.active {color: #FFFFFF; background: #0057ff!important;border: none!important;}
	.filtros .btn-group {display: block;}
	.btn-group.btn-group-toggle .btn{text-transform: none!important;}
	.filtros .btn-group .btn:not(.agru) {padding: 5px 14px 4px;font-size: 13px;margin-bottom: 5px;border-radius: 3px!important;font-weight: 400;margin-right: 0px;}
	.filtros .btn-group .btn.redondo {border-radius: 50px!important;}

	.filtros .on-off .btn-group .btn.active {border: 0!important;}
	
	.filtros .on-off .btn-group .btn.excluir{padding-left: 28px;}
	.filtros .on-off .btn-group .btn.excluir:before{font-family: "Font Awesome 5 Pro";content: '\f05e';left: 8px;position: absolute;opacity: .4;font-size: 12px;top: 5px;}
	.filtros .on-off .btn-group .btn.active.excluir{background-color: #f06b6c!important;}


	.deptos-checkbox .toggle-switch__helper:before {opacity: .5}
    .deptos-checkbox .toggle-switch__helper:after{background-color: #ccc;}

	.deptos-checkbox .btn-group .btn.active.excluir{background-color: #ff6b68!important;border-color: #ff6b68!important;}
	.deptos-checkbox .btn-group .btn.excluir{border-color: #ff6b68!important;}

	.filtros a {color: #0057ff;}

	.filtros .preguntas .form-group{margin-bottom: 0;}
	.filtros .preguntas .select2-container--default .select2-selection--single{border: none;background: #fff;border-radius: 5px;padding-left: 15px!important;padding-top: 5px!important;}
	.filtros .preguntas .select2-container--default .select2-selection--single .select2-selection__placeholder{color: #ccc!important;}
	.filtros .preguntas .select2-container--default .select2-selection--single .select2-selection__rendered{font-size: 14px;padding: 8px 37px 7px 0;}
	.filtros .preguntas .select2-container--default .select2-selection--single:before{top: 7px;color: #444;right: 28px;}

	.filtros .preguntas .opciones-colapse .colapse-xs ~ .acordeon{margin-top: 10px;}



	.filtros .edad .noUi-horizontal .noUi-handle, 
	.filtros .edad .noUi-vertical .noUi-handle,
	.filtros .edad .noUi-connect {background-color: #0057ff;}

	.filtros .edad .noUi-horizontal .noUi-state-drag .noUi-handle.noUi-handle-upper{background-color: red;}
	.filtros .edad .noUi-target {margin: 25px 0 10px;}
	.filtros .edad .noUi-base {background-color: #555;}

	.filtros .edad .form-group {width: 16px; display: inline-block;}
	.filtros .edad .form-group ~ label{opacity: .6;}
	.filtros .edad input{background: transparent!important; color: #fff; border: 0; padding: 0!important; height: 22px;font-size: 14px!important;}
	.filtros .edad input{background: transparent!important; color: #fff; border: 0; padding: 0!important; height: 22px;font-size: 14px!important;}
	.filtros .edad input::placeholder{font-size: 11px!important;}
	.filtros .edad .hasta{text-align: right;}

	.filtros .fecha .campo-icono{margin-bottom: 12px;width: 140px; }
	.filtros .fecha .campo-icono input{background: transparent!important;border-bottom: 1px solid #555;color: #fff;padding: 12px 0 0 22px!important;width: 105px!important;flex: inherit;font-size: 15px;}
	/*.filtros .fecha .campo-icono i{font-size: 14px;}*/
	.filtros .fecha .campo-icono .clean {
    right: 10px;
    left: initial;
    top: 16px;
    cursor: pointer;
    color: #fff;
    font-size: 11px;
    text-align: center;
    position: absolute;
}
	.filtros .fecha .campo-icono .clean i{width: 18px;height: 18px;background: #0057ff;border-radius: 50px;padding-top: 3px;}

	.filtros .select2-container,
	.filtros .black .select2-selection--multiple .select2-selection__rendered{background: transparent!important;}

	.filtros .jefe input, 
	.filtros .jefe .select2-selection__rendered{border-bottom: none;background-color: rgba(255,255,255,0.1);color: #fff;padding: 15px 70px 15px 15px!important;margin: 0!important;border-radius: 3px!important;}
	.filtros .jefe .select2-container--default .select2-selection--single .select2-selection__rendered{font-size: 14px;font-weight: 400;}
	.filtros .jefe .select2-container--default .select2-selection--single .select2-selection__rendered.excluir{background-color: #ff6b68!important;}
	.filtros .jefe .form-group{margin: 0;}

	.select2-dropdown .select2-search--dropdown:before {font-family: "Font Awesome 5 Pro";content: '\f002';font-size: 16px;top: 10px;}
	.select2-dropdown .select2-search--dropdown .select2-search__field{padding: 0 0 0 50px!important;}



	.filtros .jefe input::placeholder{font-size: 14px!important;}
	.filtros .jefe .select2-container--default .select2-selection--single:before{right: 30px;top: 10px;}
	.filtros .jefe .select2-container--default .select2-selection--single{border-bottom: none;height: 46px;}


	.filtros .jefe .select2-selection--multiple .select2-selection__rendered{padding: 0!important;}
	.filtros .jefe .select2-container--default .select2-selection--multiple .select2-selection__choice{padding: 3px 12px 2px 25px;font-size: 13px;margin-top: 0;margin-bottom: 5px;position: relative;}
	.filtros .jefe .select2-container--default .select2-selection--multiple .select2-selection__choice span {font-size: 20px;font-weight: normal;position: absolute;top: -2px;left: 9px;}
	.filtros .jefe .select2-selection--multiple .select2-selection__rendered{min-height: 30px!important;border-bottom: 1px solid #555!important;}

	.filtros .jefe .check{margin-top: 16px;}
	.filtros .jefe .check .btn{width: 26px;height: 26px;padding: 0;margin-top: 2px;}
	.filtros .jefe .check .btn.active::before{top: 0;font-size: 12px;left: 1px;}
	.filtros .jefe .check .name{padding-left: 6px;}
	.filtros .jefe .check .name span::before{content: 'incluir';}
	.filtros .jefe .check .name span.excluir::before{content: 'excluir';color: #ff6b68; font-weight: 500;}


	/*Pregunta Opciones*/
	.opciones-colapse {min-height: 80px;color: #fff;display: -webkit-flex; /* Safari */display: grid;}
	.opciones-colapse .btn{margin: 19px 0 0 0;}
	.opciones-colapse .colapse-xs ~ .acordeon{padding: 0!important;max-height: 58px;overflow: hidden;margin: 0px 0 10px;transition: max-height 0.3s;}
	.opciones-colapse .colapse-xs.active ~ .acordeon{max-height: 500px; transition: max-height 0.3s;overflow: auto;}
	
	.opciones-colapse .colapse-xs{-webkit-order: 2;order: 2;background: no-repeat; border: 0; text-align: left; padding: 0;font-size: 13px;}
	.opciones-colapse .colapse-xs div{cursor: pointer;color: #0057ff;position: relative;width: fit-content;}
	.opciones-colapse .acordeon{-webkit-order: 1;order: 1;}
	
	.opciones-colapse .colapse-xs .menos{display: none;}
	.opciones-colapse .colapse-xs.active .menos{display: block;}

	.opciones-colapse .colapse-xs.active .mas{display: none;}
	
	.opciones-colapse .colapse-xs div:after{font-family: "Font Awesome 5 Pro";font-size: 16px;position: absolute;top: -2px;right: -15px;}
	.opciones-colapse .colapse-xs .mas:after{content: '\f107';}
	.opciones-colapse .colapse-xs .menos:after{content: '\f106';}
	
	

	/*Dropdown*/
	.dropdown-menu{box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);border-radius: 10px;}
	.dropdown-item{font-size: 14px; padding: 10px 30px;position: relative;color: #444!important;}
	.dropdown-item:focus, .dropdown-item:hover {color: #0057ff;background-color: rgba(97,125,138,.12);}
	
	.dropdown-item.icon i{font-size: 18px;position: absolute;top: 11px;left: 20px;}

	.dropdown-item.bajada{width: 310px;padding-top: 10px;}
	.dropdown-item.bajada span{display: block; font-size: 13px; color: #999999; line-height: 135%; white-space: normal;padding-top: 2px;}
	.dropdown-item.bajada:hover span{color: #999;}
	.dropdown-item i{top: 12px;font-size: 18px!important;position: absolute;left: 30px;padding: 0!important;}


	.btn[data-toggle="dropdown"] {padding-right: 42px;}
	.btn[data-toggle="dropdown"] .arrow{font-size: 150%; position: absolute; top: 10px; right: 20px; }
	
	table .dropdown .btn{padding: 4px 19px 4px 8px;font-size: 11px;}
	table .dropdown .btn-primary:hover::after{background: initial!important;}
	table .dropdown .btn-primary::after{content: '\f107';font-family: "Font Awesome 5 Pro";position: absolute;right: 7px;top: 2px;font-size: 15px;transform: initial;border-radius: 0;width: initial;height: initial;background: transparent;}

	
    /*Tablas*/

    .table-div .thead{font-size: 10px; text-transform: uppercase; color: #999; position: sticky;
    top: 80px;
    background: #fff;
    padding: 12px 0;
    z-index: 99;}

    
    .table-div .progress{width: 30px; margin: 0 auto;}

	.table-div .item > .d-flex div,
	.table-div .thead > div{-ms-flex-item-align: center!important; align-self: center!important; min-width: 100px; text-align: center;}

	.table-div .full-col{flex-grow: 1;text-align: left!important;}

	.table-div .thead .name,
	.table-div .item .first{width: 300px;text-align: left!important;}
	.table-div .item{padding: 10px 0;}
	.table-div .item:last-child{/* padding-bottom: 0; */}
	.table-div .item .first .btn-group{margin-top: 6px;min-width: initial;}


	.table-div .item:not(:last-of-type){border-bottom: 1px solid #efefef; }

	.table-div .item .name{margin-left: 15px;font-size: 15px;text-align: left!important;}
	.table-div .item .name .audiencia{display: block;font-size: 12px;color: #999;padding-top: 3px;}
	.table-div .item .percent{padding-left: 3px;}
	.table-div .item .empleados{display: block;}


	/*Table total*/
	    .table-div .total-table{font-weight: 600; }
	    .table-div .total-table div:not(.full-col):not(.btn-reporte),
	    .table-div .total-table .total-txt span{background: #d8e9ff;line-height: 30px;padding: 3px 0 0px;}
	    .table-div .total-table .total-txt{text-align: right!important;}
	    .table-div .total-table .total-txt span{display: inline-block;font-weight: normal;text-transform: uppercase;font-size: 10px;height: 35px;padding: 4px 20px;border-radius: 20px 0 0 20px;}


	    .table-div.totales{margin-bottom: 10px; }
	    .table-div.totales .thead{background: initial; padding: 0 30px!important; }
	    .table-div.totales .thead .full-col{}
	    .table-div.totales .item-group{padding: 0 30px; margin-top: 5px; border-radius: 4px; }
	    .table-div.totales .item-group .item{padding: 0;}
	    .table-div.totales .item-group .item .full-col{background-color: initial; text-align: right!important; }
	    .table-div.totales .item-group .item .full-col span{background-color: #d8e9ff; padding: 10px 20px 9px; border-radius: 4px 0 0 4px; }
	    .table-div.totales .item-group .item div{background-color: #d8e9ff; padding: 8px 0 7px; }
	    .table-div.totales .item-group .item div:last-child{background-color: transparent;}
	    .table-div.totales .item-group .item div:nth-last-child(2){border-radius: 0 4px 4px 0;}



	    .table-div div small{padding-left: 2px;}
	    
	    .table-div .btn-outline-primary,
	    .table-div .btn-primary{padding: 7px 20px!important;}


	/* Flechita en los acordeones */
		.table-div .acordeon .sub{position: relative;padding-left: 20px;}
		.table-div .acordeon .sub::before{
			content: '\f054';
			transition: .3s;
			font-family: "Font Awesome 5 Pro";
			position: absolute;
			left: 2px;
			top: 13px;
			font-size: 10px;
			}

		.table-div .acordeon .sub[aria-expanded="true"]::before { transform: rotate(90deg ); }
	/*  */


/*Componentes REACT*/
	/*FONT FAMILY*/
		.ant-select-tree li .ant-select-tree-node-content-wrapper,
		.MuiTypography-caption,
		.MuiTypography-body1,
		.MuiTypography-body2,
		.MuiTypography-subtitle1{font-family: 'proxima_nova_alt', sans-serif!important;color: #444;font-weight: 400;}


/*    .ant-select-selection{border: 0!important; border-radius: 2px!important; }
    .ant-select-selection__rendered{margin: 0!important;padding: 0;font-size: 16px;font-family: 'proxima_nova_alt', sans-serif!important;}
    .ant-select-selection--single{height: 29px!important;}
    .ant-calendar-picker input{font-size: 16px!important;-webkit-appearance: none;border: 0;border-bottom: 1px solid #eceff1;color: #495057;height: 28px;min-width: 200px;padding: 0 !important;resize: none;}
    .ant-select .placeholder {display: block; padding: 2px 10px; }
    
    .ant-select-selection--multiple > ul > li,
    .ant-select-selection--multiple .ant-select-selection__choice
         {margin-top: 4px!important;font-size: 13px;background: #0057ff!important;color: #fff!important;margin-left: 4px;height: 33px!important;margin-right: 0!important;}
    
    .ant-select-tree i{font-size: 20px!important;}
    .ant-select-tree li{margin: 0!important;}
    .ant-select-tree li .ant-select-tree-node-content-wrapper{padding: 8px 5px!important; }
    .ant-select-selection--multiple .ant-select-selection__choice__remove{color: #fff!important;top: 2px;right: 5px!important;}
*/


	/*CAMPO DEPARTAMENTO - Modal Nuevo Usuario*/
	    .ant-select{padding-top: 7px!important;border-bottom: 1px solid #efefef;}
	    .ant-select-selection__rendered{margin: 0!important;padding: 0;font-size: 15px;font-family: 'proxima_nova_alt', sans-serif!important;}
	    .ant-select-arrow{display: none!important;}
	    .ant-select-selection--single{border: none!important;}
	    .ant-select-selection__rendered{/* padding-top: 6px; */top: 5px;}
	    .ant-select-selection__rendered:before{content: '\f107';transition: .3s;font-family: "Font Awesome 5 Pro";font-size: 20px;position: absolute;right: 2px;top: 2px;}
	    .ant-select-search__field__placeholder, .ant-select-selection__placeholder{top: 16px!important;font-weight: 300;}
	   
	    .ant-select-open .ant-select-selection,
	    .ant-select-focused .ant-select-selection, .ant-select-selection:active, .ant-select-selection:focus{box-shadow: none!important;border: none;}

	    .ant-select-tree li .ant-select-tree-node-content-wrapper{font-family: 'proxima_nova_alt', sans-serif!important;color: #444;font-weight: 400;}

	    .ant-select-dropdown{width: 350px!important;padding: 15px 8px!important;}
	    
	/**/

	
.card-filtros-top .tabs{}

.card-filtros-top .tabs a{padding: 0 15px; }
.card-filtros-top .tabs a:first-child{margin-right: 15px; }
.card-filtros-top .tabs a.active{background: #0057ff; color: #fff; border-radius: 50px; padding-top: 3px; padding-bottom: 4px; }
.card-filtros-top .tabs .label{text-transform: uppercase; font-size: 11px; color: #999; padding-right: 20px; }
.card-filtros-top .tabs a{padding: 4px 10px 5!important;display:inline-block;text-align: center;margin-left: 8px;}
.card-filtros-top .tabs a.redondo{width: 30px;height: 30px;padding: 4px 0 0;}

.card-filtros-top .tabs.options{}
.card-filtros-top .tabs.options .label{padding: 8px 25px 0 0;}
.card-filtros-top .tabs.options .nav-link{margin-left: 0;}




/*Media queries*/
    
    @media (max-width: 1199.99px) {


    }



    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {

    }



    /*Mobile*/
    @media only screen and (max-width: 767px) {


    }
