/*COMPANY*/

.company .btn-nueva-encuesta {position: absolute; top: 96px; padding: 15px 25px 13px 50px; right: 30px;}


    .oficinas .img-modal-alerta{background: url(../img/company/icon-oficina-delete.png) no-repeat center 0;}
    .usuarios .img-modal-alerta{background: url(../img/company/icon-usuario-delete.png) no-repeat center 0;}
    .departamentos .img-modal-alerta{background: url(../img/company/icon-departamento-delete.png) no-repeat center 0;}


    .company .modal-dialog {width: 700px; max-width: 85%;}
    
    .company .subtitle-page{margin: 8px 0 40px;}


        /*Empleados*/
        .empleados .filtros-top{background: #fff;}



        /*Oficinas*/

        .oficinas .card img{width: 180px;margin: 10px auto 20px;display: block;max-width: 100%;}
        .oficinas .card h6{margin-bottom: 0!important;line-height: 130%; font-size: 14px;}
        .oficinas .card h4{font-size: 26px;}
        .oficinas .btn-nueva-encuesta i.fa-plus{font-size: 10px;left: 35px;top: 9px;}

        .company .card.acordeon .name{padding-left: 35px;}
        .company .card.acordeon ul:first-child{margin-left: 70px;}
        .company .card.acordeon .sub .name::before{content: '\f054';transition: .3s;font-family: "Font Awesome 5 Pro";position: absolute;left: 0;top: 2px;font-size: 14px;}
        .company .card.acordeon [aria-expanded="true"].sub .name::before{transform: rotate(90deg);}
        .company .card.acordeon .sub-name{font-size: 16px;}

        .card.acordeon .name{font-size: 16px;font-weight: 400;color: #444;position: relative;}
        .card.acordeon .name span{color: #aaa;display: inline-block;padding-left: 20px;font-size: 15px;}
        .card.acordeon ul{margin-left: 30px;font-size: 18px;}
        .card.acordeon ul li{padding: 12px 0; position: relative;}

        .card.acordeon ul li:last-child{padding-bottom: 10px;}
        .card.acordeon .sub-name{position: relative;padding: 20px 0;}
        .card.acordeon ul li .sub-name:first-child{padding: 7px 0;}
        .card.acordeon ul li:not(:last-child){border-bottom: 1px solid #eee;}

        .card.acordeon .actions{position: absolute; right: 0px; top: -4px;opacity: 0;}
        .card.acordeon .name:hover .actions{opacity: 1;}
        .card.acordeon li .sub-name:hover .actions{opacity: 1;top: 0px;}

        
        /*Usuarios*/
        .usuarios .company .modal-dialog {width: 800px;max-width: 85%;}


    /*Departamentos*/
        .departamentos .btn-nueva-encuesta i:first-child{transform: rotate(-150deg);top: 14px;left: 13px;}
        .departamentos .btn-nueva-encuesta i.fa-plus{font-size: 9px;left: 30px;top: 9px;}
        .departamentos .crear-departamento .form-group{width: 60%; margin-bottom: 0;}
        .departamentos .crear-departamento .edit-actions{padding-left:15px;}
        .departamentos .crear-departamento .edit-actions a{padding: 12px;display: inline-block;color: var(--color-primario);font-size: 14px;}





.btn-nueva-encuesta{position: absolute;right: 30px;top: 85px;}



/*Media queries*/
    
    @media (max-width: 1199.99px) {


    }



    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {

    }



    /*Mobile*/
    @media only screen and (max-width: 767px) {

        .company .modal-dialog{max-width: 90%; margin: 15px auto;}

    }