


.correlation-indicators {margin: 30px 0 30px;}
.correlation-indicators .d-flex{gap: 20px;}
.correlation-indicators .card{flex: 1;color: #252525;transition: .15s;cursor: pointer;}
.correlation-indicators .card:hover{transform: scale(1.025,1.025);box-shadow: 0 2px 6px rgba(95,108,114,.1), 0 0px 6px rgba(95,108,114,1);}
.correlation-indicators .card .card-body{padding: 20px 20px 15px; }
.correlation-indicators .card .labels-variables{position: relative;padding-left: 30px;}
.correlation-indicators .card .icon{position: absolute; left: 0; top: 0; font-size: 28px; }
.correlation-indicators .card .variable{text-transform: uppercase; font-weight: 500; font-size: 13px; }
.correlation-indicators .card .number{text-align: right;font-size: 40px;line-height: 100%;}



.correlation-tabs-items{margin-bottom: 30px;}
.correlation-tabs-items li{}
.correlation-tabs-items li a{width: auto!important; height: auto!important; font-weight: 400!important; text-transform: none!important; padding: 10px 20px 9px 50px!important; }

.correlation-tabs-items li a i{position: absolute; left: 20px; top: 14px; }


.heatmap-correlation-wrapper{}
.heatmap-correlation-wrapper .correlation-item{}
.heatmap-correlation-wrapper .correlation-item div{width: 140px;padding: 12px 15px;text-align: center;margin: 0 1px 1px 0;font-size: 18px;color: #252525;transition: .15s;min-width: 140px;}
.heatmap-correlation-wrapper .correlation-item div:hover{opacity: .7;cursor: pointer;}
.heatmap-correlation-wrapper .correlation-item .th-col{font-weight: 500;font-size: 14px;color: #252525;}
.heatmap-correlation-wrapper .correlation-item .th-row{background: #f2f2f2;font-weight: 500;font-size: 14px;color: #252525;}

.correlations .positivo5{background: #42d7aa;}
.correlations .positivo4{background: #57d9a6;}
.correlations .positivo3{background: #6edaa2;}
.correlations .positivo2{background: #80dc9f;}
.correlations .positivo1{background: #cccccc;}

.correlations .negativo1{background: #cccccc;}
.correlations .negativo2{background: #9fde99;}
.correlations .negativo3{background: #afdf96;}
.correlations .negativo4{background: #bfe094;}
.correlations .negativo5{background: #cfe190;}



.correlations .tab-pane.chart{}
.correlations .body-tabs{padding: 60px 40px;}
.correlations .tab-pane.chart .axis-group.axisY{width: 330px;padding-right: 50px;padding-top: 90px;}
.correlations .tab-pane.chart .axis-group label{font-size: 11px;}
.correlations .tab-pane.chart .axis-group .title{position: relative;padding-left: 22px;margin-bottom: 10px;font-weight: 500;}
.correlations .tab-pane.chart .axis-group .title img{position: absolute; width: 12px; top: 3px; left: 0; }
.correlations .tab-pane.chart .axis-group .correlaciones-variables-select{}




.correlations .tab-pane.chart .axis-group .select2-container--default .selection{max-width: 280px;}
.correlations .tab-pane.chart .axis-group .select2-container--default .select2-selection--single{border: none;padding: 8px 35px 7px 15px;border-radius: 6px;}
.correlations .tab-pane.chart .axis-group .correlaciones-variables-select + .select2-container--default .select2-selection--single{background: #c0e0f9}
.correlations .tab-pane.chart .axis-group .correlaciones-subvariables-select + .select2-container--default .select2-selection--single{border:1px solid #efefef; margin-left: 20px;}
.correlations .tab-pane.chart .axis-group .select2-container--default .select2-container--default .select2-selection--single:before{top: 10px;}
.correlations .tab-pane.chart .axis-group .select2-container--default .select2-selection--single:before{top: 10px;right: 25px;}
.correlations .tab-pane.chart .axis-group .sub-variables{margin-top: 25px;display: flex;flex-wrap: wrap;gap: 5px 40px;}
.correlations .tab-pane.chart .axis-group .sub-variables .btn-group{margin-bottom: 5px;flex: 0 1 180px;}
.correlations .tab-pane.chart .axis-group.axisY .sub-variables .btn-group{display: block;}
.correlations .tab-pane.chart .axis-group.axisX .variables-axisX{width: 350px;}
.correlations .tab-pane.chart .axis-group.axisX .sub-variables{width: 100%;margin-left: 40px;}
.correlations .tab-pane.chart .axis-group .sub-variables .btn-group .name{padding: 5px 0 0 4px;font-size: 14px;}

.correlations .tab-pane.chart .right-side{}
.correlations .tab-pane.chart .right-side .charts-group{}
.correlations .tab-pane.chart .right-side .charts-group .chart-item{width: 50%; }
.correlations .tab-pane.chart .right-side .charts-group .chart-item .title-chart{text-align: center; font-size: 28px; margin-bottom: 40px; }
.correlations .tab-pane.chart .right-side .charts-group .chart-item .title-chart .value{border-radius: 4px; padding: 4px 15px; }
.correlations .tab-pane.chart .right-side .charts-group .chart-item .canvasjs-chart-canvas{width: 400px!important; height: auto!important; }
.correlations .tab-pane.chart .right-side .charts-group .chart-item .chart{height: 340px;width: 100%;margin-bottom: 60px;}
.correlations .tab-pane.chart .right-side .charts-group .chart-item .canvasjs-chart-credit{display: none;}





