
/*General*/
.crear-encuesta .powered{width: 145px;margin: 20px auto 40px;z-index: -1;}
.crear-encuesta .card-body{padding:30px;}
.crear-encuesta .content{padding: 50px 40px 50px 40px!important;/* width: 90%; */margin: 0 auto;z-index: 0!important;position: relative;}
.crear-encuesta .header__logo img{max-height: 60px;}
.crear-encuesta header{background-color: #fff;padding: 0px 40px;margin-bottom:0;/* border-bottom: 1px solid #efefef; */}
.crear-encuesta header .top-bar{/* margin-bottom: 20px; */padding: 10px 0;}

.crear-encuesta header .logo,
.crear-encuesta header .close {flex-basis: 25%;}
.crear-encuesta header .close a{font-size: 30px;}
.crear-encuesta header .survey-name {flex-basis: 100%;}

.crear-encuesta header .close {text-align: right;padding-top: 10px;}
.crear-encuesta header .close .icono{font-size: 30px;padding-top: 3px;display: block;}
.crear-encuesta header .close .btn{font-size: 12px; padding: 12px 30px 10px; margin-right: 30px; background: #0057ff; color: #fff!important; border: none;}

.crear-encuesta header .survey-name .title{font-size: 24px;}
.crear-encuesta header .survey-name .form-group {margin-bottom: 0; width: 80%; margin: 0 auto;}
.crear-encuesta header .survey-name label{font-size: 11px; color: #999999; text-transform: uppercase;margin:0;}
.crear-encuesta header .survey-name .form-group .form-control{text-align: center; font-size: 22px!important; padding-top: 0!important;font-weight: 600;}

.crear-encuesta .menu-tab{position: -webkit-sticky;position: sticky;top: 0;background-color: #fff;padding: 20px 40px 0;margin-bottom: 0;border-bottom: 1px solid #efefef;}
.crear-encuesta .menu-tab.sticky{background-color: #0057ff;z-index: 1;}
.crear-encuesta .menu-tab.sticky a{color: #fff;}
.crear-encuesta .menu-tab.sticky .nav-tabs .nav-link:before{bottom: 1px;background-color: #fff;}
.crear-encuesta .menu-tab.sticky .btn{border: 1px solid #fff;}

.crear-encuesta .menu-tab .actions{}
.crear-encuesta .menu-tab .actions .btn-link:first-child{padding-right: 30px;}




.crear-encuesta .academy{margin: 0 auto;width: fit-content;width: -moz-fit-content;padding-bottom: 20px;}
.crear-encuesta .academy ul li a{font-size: 14px;}

.crear-encuesta .tab-content .tab-pane .card.card-hover:hover a i{color: #444;}
.crear-encuesta .tab-content .tab-pane .card .card-title{font-size: 18px!important; margin-bottom: 0; font-weight: 500;}
/*.crear-encuesta .tab-content .tab-pane .card .card-title{text-transform: uppercase; font-size: 15px!important; margin-bottom: 0;}*/

.crear-encuesta .card h3{font-size: 18px;margin-top: -40px;font-weight: 400;}

.crear-encuesta .form-group {margin-bottom: 0;}


.crear-encuesta .nav-link{padding-bottom: 24px;transition: none;}
.nav-tabs .nav-link:before{height: 4px;bottom: 1px;}

/*Tabs en comun*/
	.crear-encuesta .tab-content .tab-pane#plantillas,
	.crear-encuesta .tab-content .tab-pane#desdecero,
	.crear-encuesta .tab-content .tab-pane#importar {width: 800px; margin: 0 auto;}

	.crear-encuesta .tab-content .tab-pane#plantillas .card i,
	.crear-encuesta .tab-content .tab-pane#desdecero .card i,
	.crear-encuesta .tab-content .tab-pane#importar .card i {font-size: 40px; display: block; padding: 10px 0px 22px;-webkit-text-fill-color: black; -webkit-text-stroke-width: .7px; -webkit-text-stroke-color: white;}

	.crear-encuesta .tab-content .tab-pane#plantillas .dropdown i{-webkit-text-fill-color: initial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: initial;}
	.crear-encuesta .tab-content .tab-pane .bajada{font-size: 14px;color: #666;}
	/*.crear-encuesta .tab-content .tab-pane .bajada span:not(.bold){padding-left: 20px;}*/


/*Tab Desde Cero*/
	.crear-encuesta .tab-content .tab-pane#desdecero .card-demo{margin: 0 auto;}


/*Tab Importar*/
	.crear-encuesta .tab-content .tab-pane#importar a{color: #0057ff}
	.crear-encuesta .tab-content .tab-pane#importar .left{flex-basis: 80px;}
	.crear-encuesta .tab-content .tab-pane#importar .left i{padding: 0;}
	.crear-encuesta .tab-content .tab-pane#importar .right{flex-basis: 100%;}
	.crear-encuesta .tab-content .tab-pane#importar .right .upload{border: 1px dashed #ccc; padding: 50px 20px; text-align: center; margin-top: 20px; font-size: 14px; color: #888;}



	/*Crear encuesta Nuevo*/

	.crear-encuesta.cero{}
	.crear-encuesta.cero .content{padding-top: 0!important;padding-bottom: 0!important;max-width: 1440px;position: relative;}
	
	.crear-encuesta.cero .tabs-wrp{border-right: 1px solid #eee;}
	.crear-encuesta.cero .tabs{padding-right: 20px;position: sticky;top: -20px;width: 320px;}
	.crear-encuesta.cero .tabs .title{font-size: 16px;margin-bottom: 42px;padding-top: 50px;}
	.crear-encuesta.cero .tabs .title a{/* display: block; */}
	.crear-encuesta.cero .tabs .subtitle{padding-bottom: 9px;}
	.crear-encuesta.cero .tabs nav{}
	.crear-encuesta.cero .tabs nav .tab-container{}
	.crear-encuesta.cero .tabs nav ul{display: block; }
	.crear-encuesta.cero .tabs nav ul li{margin: 0; }
	.crear-encuesta.cero .tabs nav ul li a{text-transform: none;color: #444;margin: 0;border-bottom: 1px solid #efefef;padding: 13px 0 12px 20px;margin-left: -15px;}
	.crear-encuesta.cero .tabs nav ul li a::after{content: '\f105';font-family: "Font Awesome 5 Pro";position: absolute;right: 16px;top: 9px;font-size: 22px;}
	.crear-encuesta.cero .tabs nav ul li a.active{background: #154893;color: #fff;border-radius: 4px;font-weight: 400;}
	.crear-encuesta.cero .tabs nav ul li a.active::before{height: 0;display: none; }
	.crear-encuesta.cero .tabs nav ul li a .wrapper{}
	.crear-encuesta.cero .tabs nav ul li a .wrapper i{font-size: 20px;position: absolute;top: 15px;left: 18px;width: 25px;text-align: center;}
	.crear-encuesta.cero .tabs nav ul li a .wrapper div{padding-left: 37px;font-weight: 400;font-size: 15px;}


	.crear-encuesta.cero .plantillas{padding-left: 40px;width: 100%;}
	.crear-encuesta.cero .plantillas .tab-content{}
	.crear-encuesta.cero .plantillas .tab-pane{}
	
	.crear-encuesta.cero .plantillas .tab-pane.inicial{}
	/*.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow {padding-top: 50px;}
	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow img{width: 220px;}*/
	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow {padding-top: 46px;font-size: 16px;}
	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow img{}
	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow span{font-weight: 600; display: block; }
	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow .desdecero{}
	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow .desdecero img{height: 25px; }
	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow .desdecero div{padding-left: 67px;padding-top: 10px;line-height: 140%;}
	

	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow .lista-plantillas{padding-top: 130px;}
	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow .lista-plantillas img{transform: rotateX(180deg);height: 27px;margin-top: 20px;}
	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow .lista-plantillas div{
    width: 230px;
    line-height: 135%;
}
	.crear-encuesta.cero .plantillas .tab-pane.inicial .arrow .lista-plantillas div span{}




	.crear-encuesta.cero .plantillas .tab-pane.inicial .imagen {position: absolute; bottom: 30px; right: 60px; }
	.crear-encuesta.cero .plantillas .tab-pane.inicial .imagen img{height: 360px;}

	

	
	.crear-encuesta.cero .plantillas .tab-pane .call-action{position: sticky;top: -1px;background-color: #f5f5f5;padding-top: 25px;padding-bottom: 20px;border-bottom: 1px solid #efefef;margin-bottom: 20px;z-index: 9;}
	.crear-encuesta.cero .plantillas .tab-pane .call-action .referencia{font-size: 18px;padding-top: 5px;position: relative;}
	.crear-encuesta.cero .plantillas .tab-pane .call-action .referencia i{position: absolute;top: 15px;left: 0;font-size: 30px;-webkit-text-fill-color: black;-webkit-text-stroke-width: .4px;-webkit-text-stroke-color: white;}
	.crear-encuesta.cero .plantillas .tab-pane .call-action .referencia div{padding-left: 51px; font-weight: 600; }
	.crear-encuesta.cero .plantillas .tab-pane .call-action .referencia span{display: block;font-size: 13px;color: #999;font-weight: 400;}
	

	.crear-encuesta.cero .plantillas .tab-pane .call-action .btn{padding: 13px 25px 13px; font-size: 15px; }
	

	.crear-encuesta.cero .plantillas .tab-pane .preguntas{}
	.crear-encuesta.cero .plantillas .tab-pane .preguntas .item{padding-bottom: 20px;margin-bottom: 20px;position: relative;padding-left: 52px;counter-increment: list;}
	.crear-encuesta.cero .plantillas .tab-pane .preguntas .item:before{
    color: #fff;
    content: counter(list);
    left: 6px;
    position: absolute;
    font-size: 15px;
    top: 25%;
    text-align: center;
    background: #2e353e;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-top: 2px;
}
	.crear-encuesta.cero .plantillas .tab-pane .preguntas .item:not(:last-child){border-bottom: 1px solid #eee; }
	.crear-encuesta.cero .plantillas .tab-pane .preguntas .item .dimension{text-transform: uppercase; font-size: 10px; color: #999; }
	.crear-encuesta.cero .plantillas .tab-pane .preguntas .item .question{font-size: 16px;font-weight: 500;}
	.crear-encuesta.cero .plantillas .tab-pane .preguntas .item .tipo{}
	.crear-encuesta.cero .plantillas .tab-pane .preguntas .item .tipo span{font-style: italic; color: #999; }









/*Nueva Encuesta*/

	/*Tab PREGUNTAS*/
	
		/*Alert*/
		.crear-encuesta .preguntas .alert{margin-bottom: 40px;}
		.crear-encuesta .preguntas .alert .titulo{padding-right: 10px;}

		/**/
		.crear-encuesta .preguntas .card{padding: 25px 30px 20px 70px;margin-bottom: 40px;cursor: ns-resize;}
		.crear-encuesta .preguntas .row .counter .card-demo:last-child .card{margin-bottom: 0;}
		
		.crear-encuesta .preguntas .counter .card-demo{counter-increment: list; position: relative;}
		.crear-encuesta .preguntas .counter .card-demo::before {color: #fff; content: counter(list); left: -15px; position: absolute; font-size: 20px; top: -15px; text-align: center; width: 35px; background: #2e353e; border-radius: 50%; height: 35px; z-index: 99; padding-top: 1px; border: 1px solid #fff;}
		.crear-encuesta .preguntas .counter .card-demo.no-count{counter-increment: none;}
		.crear-encuesta .preguntas .counter .card-demo.no-count::before {display: none;}

		.crear-encuesta .preguntas .card .dragdrop{position: absolute;left: 0px;height: 100%;top: 0;width: 57px;text-align: center;transition: .3s;}
		.crear-encuesta .preguntas .card .dragdrop i{font-size: 18px;color: #999;position: absolute;top: 46%;left: 29px;transition: .3s;}

		.crear-encuesta .preguntas .nueva-pregunta .card .top .pregunta{flex-basis: 70%; padding-right: 40px; }
		.crear-encuesta .preguntas .nueva-pregunta .card .top .pregunta .input-group input{padding-top: 0!important;height: 37px;font-weight: 400;font-size: 18px!important;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
		.crear-encuesta .preguntas .nueva-pregunta .card .top .pregunta .input-group input::placeholder{font-size: 18px!important;font-weight: 300;}
		.crear-encuesta .preguntas .nueva-pregunta .card .top .pregunta .tag .link a{margin-left: 10px; border-bottom: 1px dotted;}
		.crear-encuesta .preguntas .nueva-pregunta .card .top .pregunta .tag .link a:hover{color: #0057ff;}

		.crear-encuesta .preguntas .nueva-pregunta .card .top .tipo{flex-basis: 30%;}
		.crear-encuesta .preguntas .nueva-pregunta .card .top .tipo label{/* padding-top: 10px; *//* z-index: 9999; */}

		.crear-encuesta .preguntas .nueva-pregunta .card .body{min-height: 40px;padding-top: 20px;}
		
		.crear-encuesta .preguntas .nueva-pregunta .card .body .textos .d-flex{margin-bottom: 8px;}
		.crear-encuesta .preguntas .nueva-pregunta .card .body .textos .select2-container--default .select2-selection--single{margin-top: 0;}

		.crear-encuesta .preguntas .nueva-pregunta .card .body .textos{}
		.crear-encuesta .preguntas .nueva-pregunta .card .body .textos .form-group{margin: 25px 0 10px; }
		.crear-encuesta .preguntas .nueva-pregunta .card .body .textos .form-group .select2-container{background: transparent;}
		.crear-encuesta .preguntas .nueva-pregunta .card .body .textos .form-group label{text-transform: inherit;font-size: 12px!important;right: 0;}
		.crear-encuesta .preguntas .nueva-pregunta .card .body .textos .negative-label{}
		.crear-encuesta .preguntas .nueva-pregunta .card .body .textos .positive-label{text-align: right; }


		.crear-encuesta .preguntas .nueva-pregunta .card .body .textos .select2-container--default .select2-selection--single{padding-top: 8px!important; height: 36px!important; }



		.crear-encuesta .preguntas .nueva-pregunta .card .body .label{flex-basis: 195px;text-transform: uppercase;font-size: 12px;padding-top: 8px;color: #999;}
		.crear-encuesta .preguntas .nueva-pregunta .card .body .form-group{flex-basis: 250px;}
		.crear-encuesta .preguntas .nueva-pregunta .card .body .form-group input{padding-top: 0!important;height: 22px;font-size: 14px!important;}


		



		.crear-encuesta .preguntas .nueva-pregunta .card .footer{padding: 15px 0 0 0;border-top: 1px solid #eceff1;margin-top: 40px;}
		.crear-encuesta .preguntas .nueva-pregunta .card .footer .form-group{margin-bottom: 0;padding-top: 3px; margin-right: 50px;}
		.crear-encuesta .preguntas .nueva-pregunta .card .footer .form-group .toggle-switch{top: 2px;}
		.crear-encuesta .preguntas .nueva-pregunta .card .footer .form-group label{margin-left: 10px;position: relative;font-size: 14px!important;text-transform: none;}
		
		.crear-encuesta .preguntas .nueva-pregunta .card .footer .form-group.oblig{flex-basis: 182px;text-align: left;}
		.crear-encuesta .preguntas .nueva-pregunta .card .footer .form-group.comentarios{flex-basis: 230px;}
		.crear-encuesta .preguntas .nueva-pregunta .card .footer .form-group.impacto-compromiso{margin-right: 0;}
		.crear-encuesta .preguntas .nueva-pregunta .card .footer .acciones{margin-left: auto;}
		.crear-encuesta .preguntas .nueva-pregunta .card .footer .acciones a{font-size: 20px;color: #0057ff; }
		.crear-encuesta .preguntas .nueva-pregunta .card .footer .acciones a.copy{margin-right: 20px; }



		/*Combos*/
			.tag .form-group{margin-bottom: 0;}
			.tag .select2-container--default .select2-selection--single{height: 20px;}
			.tag .select2-container--default .select2-selection--single:before{font-size: 18px;top: -4px;left: 38px;color: #0057ff;}
			.tag .select2-container--default .select2-selection--single .select2-selection__rendered{color: #0057ff;font-size: 14px;text-transform: none;padding-top: 0;padding-left: 0;}
			.tag .select2-container{background-color: transparent;}

			.crear-encuesta .preguntas .nueva-pregunta .card .top .tipo .select2-container--default .select2-selection--single{/* padding-top: 5px!important; *//* height: 62px; *//* margin-top: 0; */}
			.crear-encuesta .preguntas .nueva-pregunta .card .top .tipo .select2-container--default .select2-selection--single:before{/* top: 28px; *//* color: #444; */}

		/*Color DRAG & DROP*/
			.ui-state-highlight,
			.ui-widget-content .ui-state-highlight,
			.ui-widget-header .ui-state-highlight {border: 2px dotted #3dbad1; background: rgba(0,0,0,.01)!important; height: 150px;margin-bottom: 40px;}

			.card-demo.ui-sortable-helper{opacity: .8;transform: scale(.95,.95);}
 			.ui-sortable-helper .dragdrop i{color: #999!important;}
			.ui-sortable-helper .tag .select2-container--default .select2-selection--single .select2-selection__rendered{color: #0057ff!important;}
			.ui-sortable-helper span, .ui-sortable-helper i {color: #444!important;}
			/**/



		/*tipos de pregunta*/

			/*Puntuacion*/
			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion {width: fit-content;margin: 0 auto;min-width: 600px;}

			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion .example{margin: 5px auto 0;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example{max-width: inherit;}
			
			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion .detractores{background-color: #f16a69;border-color: #f16a69; color: #fff!important;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion .neutral{background-color: #facb15;border-color: #facb15; color: #fff!important;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion .promotores{background-color: #56bc82;border-color: #56bc82; color: #fff!important;}


			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion .example.tipo div{font-size: 22px;padding: 10px 8px;text-align: center;color: #444;width: 100%;border: 1px solid #dedede;background-color: #f7f9fa;font-weight: 300;padding: 14px 14px 12px;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion .select2-selection__rendered,
			.crear-encuesta .preguntas .nueva-pregunta .card .body.binaria .select2-selection__rendered{padding-top: 0;padding-right: 0;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion .select2-container--default .select2-selection--single,
			.crear-encuesta .preguntas .nueva-pregunta .card .body.binaria .select2-container--default .select2-selection--single {/* height: 50px; *//* padding: 22px 0 0 0; */}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion .select2-container--default .select2-selection--single:before,
			.crear-encuesta .preguntas .nueva-pregunta .card .body.binaria .select2-container--default .select2-selection--single:before{top: 4px;content: none;}

			/*Binaria*/
			.crear-encuesta .preguntas .nueva-pregunta .card .body.binaria{width: 600px; margin: 0 auto; }
			.crear-encuesta .preguntas .nueva-pregunta .card .body.binaria .label{}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.binaria .textos .form-group{}

			/*Multiple Choice*/
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice{padding-bottom: 0; }
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .item{position: relative;padding-left: 32px;margin-bottom: 8px;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .item .circle{position: absolute;left: 0;font-size: 16px;color: #ccc;top: 4px;}
			
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .item .form-group,
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .item .otro{width: calc(100% - 50px);max-width: 300px;display: inline-block;}

			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .item .form-group .input-group input{font-size: 15px!important;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .item .trash{margin-left: 10px;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .item .trash i{font-size: 20px; color: #999; }
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .item .otro {padding-top: 1px;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .item .otro small{padding-left: 10px; text-transform: uppercase; color: #999;}
			
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .acciones{margin: 20px 0 10px 32px;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .acciones .texto{padding: 0 8px;}
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .acciones a.dotted{font-style: italic; }
			.crear-encuesta .preguntas .nueva-pregunta .card .body.multiple-choice .acciones a.dotted:hover{color: inherit;}

			/*NPS*/
			.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div{color: #fff;border: 1px solid #dedede!important;}
			/*Texto libre*/
			.crear-encuesta .preguntas .nueva-pregunta .card .body.texto-libre .label{text-transform: inherit; font-size: 15px; border: 1px solid #efefef; padding: 15px 0 60px 20px; width: 80%; margin: 0 auto; background: #f8f8f8; }
			.crear-encuesta .preguntas .nueva-pregunta .card .body.texto-libre .label i{color: #444; width: 5px;}

		/*Title*/
			.crear-encuesta .preguntas .titulo-wrp {margin: 0 -20px;}
			.crear-encuesta .preguntas .titulo-wrp > .card{background-color: #2e353e;color: #fff;}

			.crear-encuesta .preguntas .titulo-wrp.start {margin-top: 70px; }
			.crear-encuesta .preguntas .titulo-wrp.start > .card{border-radius: 15px 15px 0 0;}
			.crear-encuesta .preguntas .titulo-wrp .titulo-group {}
			.crear-encuesta .preguntas .titulo-wrp .titulo-group .input-group{width: calc(100% - 40px);}
			.crear-encuesta .preguntas .titulo-wrp .titulo-group .input-group input{background: transparent!important;}
			.crear-encuesta .preguntas .titulo-wrp .titulo-group .input-group input:not(.is-invalid){border: 1px solid transparent;color: #fff}
			.crear-encuesta .preguntas .titulo-wrp .titulo-group .input-group input:hover:not(.is-invalid){border-bottom: 1px solid rgba(255,255,255,.2);}
			.crear-encuesta .preguntas .titulo-wrp .titulo-group .titulo .input-group input{font-size: 28px!important;padding: 0 0 6px!important;height: 40px!important;}
			.crear-encuesta .preguntas .titulo-wrp .titulo-group .titulo .input-group input::placeholder{font-size: 28px!important;}
			.crear-encuesta .preguntas .titulo-wrp .titulo-group .bajada {margin-bottom: 10px;}
			.crear-encuesta .preguntas .titulo-wrp .titulo-group .bajada .input-group{}
			.crear-encuesta .preguntas .titulo-wrp .titulo-group .bajada .input-group input{font-size: 14px!important; }
			
			
			.crear-encuesta .preguntas .titulo-wrp > .trash{color: #fff; font-size: 20px; position: absolute; right: 30px; z-index: 9; top: 24px; opacity: .6;}
			.crear-encuesta .preguntas .titulo-wrp > .trash:hover{opacity: 1;}
	

			.crear-encuesta .preguntas .titulo-wrp.end {position: relative;padding-top: 70px;margin-bottom: 70px;}
			.crear-encuesta .preguntas .titulo-wrp.end > .card{border-radius: 0 0 15px 15px;padding-top: 20px;}
			.crear-encuesta .preguntas .titulo-wrp.end .card .dragdrop i{top: 20px;}
			.crear-encuesta .preguntas .titulo-wrp.end .nueva-pregunta{position: absolute;font-size: 14px;top: 4px;left: 50%;margin-left: -78px;font-weight: 400;color: #7f7f7f;font-weight: 300;padding-right: 4px;}
			.crear-encuesta .preguntas .titulo-wrp.end .nueva-pregunta a{color: #0057ff;font-weight: 400;padding-left: 4px;}
			.crear-encuesta .preguntas .titulo-wrp.end.ui-sortable-helper .nueva-pregunta{display: none;}
			.crear-encuesta .preguntas .titulo-wrp.end .nombre{font-weight: 500;}


	/*Columna Right Botones y Tips*/
		.crear-encuesta .right {padding-left: 15px;}
		.crear-encuesta .right .botones{margin-top: 10px;}
		.crear-encuesta .right .botones.bajada{margin-bottom: 35px;}
		.crear-encuesta .right .botones.bajada a{margin-bottom: 0px;}
		.crear-encuesta .right a{color: #0057ff;margin-bottom: 25px;width: fit-content;width: -moz-fit-content;width: -moz-fit-content;font-size: 15px;font-weight: normal;}
        .crear-encuesta .right a:hover{color: #0057ff;}
		.crear-encuesta .right .botones.bajada .bajada{padding-left: 41px;font-size: 14px!important;}
		.crear-encuesta .right a i{font-size: 20px; padding-right: 20px; padding-top: 2px;}
		
		.crear-encuesta .right .tips{margin-top: 50px;position: relative;}
		.crear-encuesta .right .tips h4{font-size: 14px; text-transform: uppercase; font-weight: 700; padding-bottom: 10px; }
		.crear-encuesta .right .tips h4.icon{padding-left: 38px; }
		.crear-encuesta .right .tips h4.icon i{font-size: 20px; position: absolute; left: 0; top: -4px; }
		.crear-encuesta .right .tips ul li{margin-bottom: 25px; color: #7f7f7f; font-style: italic; }
		
			/*Fix*/
	      	.crear-encuesta .right .right-wrp {top: 0; transition: .3s; padding-left: 20px; position: -webkit-sticky; position: sticky; top: 100px; z-index: 99999;}
	      	/*.crear-encuesta .right .right-wrp.affix {position: sticky; top: 40px; right: 0; left: 0; z-index: 1030; color: #fff;}*/




	/*Tabs Audiencia*/

		.crear-encuesta {}
		.crear-encuesta .audiencia{}
		.crear-encuesta .audiencia .seleccionar{text-align: center; max-width: 1200px; margin: 0 auto;}
		.crear-encuesta .audiencia .seleccionar .btn{min-width: 200px;}
		.crear-encuesta .audiencia .title-page{text-align: center;font-size: 24px;margin-bottom: 50px;}
		
		.crear-encuesta .audiencia .card-deck{margin: 0 auto;}
		.crear-encuesta .audiencia .card-deck .enlace{}
		.crear-encuesta .audiencia .card-deck img{height: 160px;}
		.crear-encuesta .audiencia .card-deck .title{font-size: 16px; padding: 30px 0 15px; }
		.crear-encuesta .audiencia .card-deck .bajada{padding-bottom: 23px; }
		.crear-encuesta .audiencia .card-deck .btn{/*min-width: 250px;*/}
		
		.crear-encuesta .audiencia .card-deck .base{}
		.crear-encuesta .audiencia .card-deck .base .message{}
		.crear-encuesta .audiencia .card-deck .base .message i{}


		.crear-encuesta .audiencia .enlace-content{}
		.crear-encuesta .audiencia .modo-compartido{font-size: 25px;padding: 4px 0;}
		.crear-encuesta .audiencia .cambiar-modo{font-size: 15px;padding: 8px 0;display: inline-block;}
		.crear-encuesta .audiencia .enlace-content .important{background: #fffda4;padding: 10px 20px;margin: 10px auto 30px;width: 900px;}
		.crear-encuesta .audiencia .enlace-content .important .title{font-weight: 600; padding-bottom: 5px; }
		.crear-encuesta .audiencia .enlace-content .card{max-width: 900px;margin: 0 auto;}
		.crear-encuesta .audiencia .enlace-content .demografias{}
		.crear-encuesta .audiencia .enlace-content .demografias .pregunta{font-size: 16px;font-weight: 500;}
		.crear-encuesta .audiencia .enlace-content .demografias .bajada{color: initial;}
		
		.crear-encuesta .audiencia .enlace-content .demografias ul{margin-top: 30px;}
		.crear-encuesta .audiencia .enlace-content .demografias ul li{float: left;width: 50%;padding: 15px 0px 20px 25px;border-bottom: 1px solid #efefef;height: 70px;position: relative;}
		.crear-encuesta .audiencia .enlace-content .demografias ul li.selected:before{content: '\f00c';transition: .3s;font-family: "Font Awesome 5 Pro";position: absolute;left: 2px;color: #0057ff;}
		.crear-encuesta .audiencia .enlace-content .demografias ul li.selected .demografia-name{font-weight: 600;}
		.crear-encuesta .audiencia .enlace-content .demografias .demografia-name{display: inline-block; padding-right: 10px; }
		.crear-encuesta .audiencia .enlace-content .demografias li a{}
		.crear-encuesta .audiencia .enlace-content .demografias .cant-seleccionadas{font-size: 11px; color: #999999;}
		

		.crear-encuesta .audiencia .enlace-content .option-select{width: 500px; padding: 30px; }
		.crear-encuesta .audiencia .enlace-content .option-select .modal-header{border: 0;margin-bottom: 0;}
		.crear-encuesta .audiencia .enlace-content .option-select .modal-header .title{}
		.crear-encuesta .audiencia .enlace-content .option-select .modal-header .bajada{padding-top: 10px; }
		
		.crear-encuesta .audiencia .enlace-content .option-select .form-group{margin-bottom: 20px;}
		.crear-encuesta .audiencia .enlace-content .option-select .form-group input{border: 1px solid #efefef; padding: 12px 15px 10px!important; height: auto; font-size: 15px; }
		.crear-encuesta .audiencia .enlace-content .option-select .links-group{padding-bottom: 8px; }
		.crear-encuesta .audiencia .enlace-content .option-select .links-group a{}
		.crear-encuesta .audiencia .enlace-content .option-select .options-group{height: 240px;overflow: hidden;overflow-y: auto;padding-right: 16px;margin-right: -16px;}
		.crear-encuesta .audiencia .enlace-content .option-select .options-group .item{padding: 12px 0 6px; }
		.crear-encuesta .audiencia .enlace-content .option-select .options-group .item a{padding: 0 10px; font-size: 15px; }
		.crear-encuesta .audiencia .enlace-content .option-select .options-group .item:not(:last-child){border-bottom: 1px solid #efefef;}
		.crear-encuesta .audiencia .enlace-content .option-select .options-group .item .btn-group{align-items: center; flex: 1;}
		.crear-encuesta .audiencia .enlace-content .option-select .options-group .item .btn-group label{}
		.crear-encuesta .audiencia .enlace-content .option-select .options-group .item .btn-group label input{}
		.crear-encuesta .audiencia .enlace-content .option-select .options-group .item .btn-group .name{margin-bottom: 0; padding-left: 9px; }
		
		.crear-encuesta .audiencia .enlace-content .option-select .options-empty-label{text-align: center;padding-top: 60px;color: #999999;position: relative;width: 190px;margin: 10px auto 30px;}
		.crear-encuesta .audiencia .enlace-content .option-select .options-empty-label .arrow{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
		
		.crear-encuesta .audiencia .enlace-content .option-new{width: 500px;}
		

		

		.crear-encuesta .audiencia .card-deck,
		.crear-encuesta .configuracion .card-deck
		{margin-top: 30px;}
		
		.crear-encuesta .resumen .card{margin: 0px auto;max-width: 1000px;}


		/*Radio Buttons*/
		.crear-encuesta .options-wrp{}
		.crear-encuesta .options-wrp .item{margin-bottom: 60px;}
		.crear-encuesta .options-wrp .item .box-content{padding-left: 20px; }
		.crear-encuesta .options-wrp .item .box-content label{}
		.crear-encuesta .options-wrp .item .box-content label input{}
		.crear-encuesta .options-wrp .item .box-content .title{display: inline-block; font-size: 17px; position: relative; padding-top: 3px; }
		.crear-encuesta .options-wrp .item .box-content .title.icon{padding-left: 28px;}
		.crear-encuesta .options-wrp .item .title i{position: absolute; left: 0; top: 6px; }
		.crear-encuesta .options-wrp .item .title a{}
		.crear-encuesta .options-wrp .item .bajada{padding-top: 12px;line-height: 180%;}
		
		/*.crear-encuesta .options-wrp .item .bajada .add-email{display: block;padding-top: 6px;}*/
		.crear-encuesta .options-wrp .item .bajada a.icon{position: relative;padding-left: 24px;}
		.crear-encuesta .options-wrp .item .bajada a.icon i{position: absolute;top: 11px;font-size: 15px;left: 0;}
		
		
	/*	.crear-encuesta .options-wrp .base-empleados .btn ~ .box-content .card-deck,
		.crear-encuesta .options-wrp .item .btn ~ .box-content .bajada .add-email{opacity: .2; transition: .3s;}
		
		.crear-encuesta .options-wrp .item .btn ~ .box-content .bajada .add-email{cursor: not-allowed;}
		.crear-encuesta .options-wrp .item .btn.active ~ .box-content .bajada .add-email{cursor: pointer;}
		
		.crear-encuesta .options-wrp .base-empleados .btn.active ~ .box-content .card-deck,
		.crear-encuesta .options-wrp .item .btn.active ~ .box-content .bajada .add-email{opacity: 1;}
*/



		/*Card Filtros*/
		.crear-encuesta .audiencia .card-body {padding: 40px; }
		.crear-encuesta .resumen .card-body {padding: 55px 40px}

		.crear-encuesta .audiencia .card-audiencia .card-body{padding-right: 25px; }

		.crear-encuesta .audiencia .all-company{margin-bottom: 40px;}
		.crear-encuesta .audiencia .all-company .btn{margin-right: 12px!important; padding: 0;}
		
		.crear-encuesta .audiencia .departamentos .primary-checks{margin: 10px 0;}
		.crear-encuesta .audiencia .departamentos a{margin-top: 10px;display: block;}

		.crear-encuesta .audiencia .jefe .select2-search__field{padding: 0!important;}
		.crear-encuesta .audiencia .jefe .form-group{margin-bottom: 8px;}
		.crear-encuesta .audiencia .jefe .btn-group label{padding: 0; width: 20px; height: 20px; margin-bottom: 2px; margin-right: 6px;}
		.crear-encuesta .audiencia .jefe .btn-group label input{}
		.crear-encuesta .audiencia .jefe .btn-group .texto{opacity: .8; font-size: 12px}
		.crear-encuesta .audiencia .jefe .btn-group--colors > .btn.active:before{font-size: 12px; top: -4px;left: 4px;}
		


		/*Card Audiencia*/
		.crear-encuesta .audiencia .card-audiencia .user-counter{font-size: 16px;}
		.crear-encuesta .audiencia .card-audiencia .user-counter .ya-agregados{font-size: 11px; text-transform: uppercase; color: #999; font-style: italic; padding-left: 15px;}
		.crear-encuesta .audiencia .card-audiencia .user-counter .new-add{padding-top: 3px;}
		.crear-encuesta .audiencia .card-audiencia .user-counter .filter{}
		.crear-encuesta .audiencia .card-audiencia .user-counter .filter span{padding-right: 10px; font-size: 10px; text-transform: uppercase; font-style: italic; }
		.crear-encuesta .audiencia .card-audiencia .user-counter .filter .toggle-switch{padding-top: 6px; }
		
		.crear-encuesta .audiencia .card-audiencia .search-user{margin: 10px 0 30px;}
		.crear-encuesta .audiencia .card-audiencia input, .crear-encuesta .audiencia .card-audiencia input::placeholder{font-size: 15px!important;}

		.crear-encuesta .audiencia .tabla{}
		.crear-encuesta .audiencia .tabla .th{font-size: 10px; text-transform: uppercase; margin: 25px 0 10px; color: #999; margin-bottom: 15px;}
		.crear-encuesta .audiencia .tabla .th .left{padding-left: 48px;}
		.crear-encuesta .audiencia .tabla .th .right{padding-right: 62px; }
		.crear-encuesta .audiencia .tabla .item-wrp{overflow: auto; height: 450px;}
		.crear-encuesta .audiencia .tabla .item-wrp .item{position: relative;padding: 0 40px 10px 0;margin-bottom: 10px;cursor: pointer; margin-right: 15px; }
		.crear-encuesta .audiencia .tabla .item-wrp .item:not(:last-child){border-bottom: 1px solid #efefef;}
		.crear-encuesta .audiencia .tabla .item-wrp .item .check{float: left; margin-right: 15px;margin-top: 6px;}
		.crear-encuesta .audiencia .tabla .item-wrp .item .name{font-weight: 500;}
		.crear-encuesta .audiencia .tabla .item-wrp .item .name:before{content: '\f078';transition: .3s;font-family: "Font Awesome 5 Pro";position: absolute;right: 8px;top: 12px;font-size: 14px;left: initial;}
		.crear-encuesta .audiencia .tabla .item-wrp .item .btn-demo div[aria-expanded="true"] .name::before {transform: rotate(180deg); }
		

		.crear-encuesta .audiencia .tabla .item-wrp .item .oficina,
		.crear-encuesta .audiencia .tabla .item-wrp .item .puesto {color: #a5a5a5; font-size: 13px; }
		
		.crear-encuesta .audiencia .tabla .item-wrp .item .info-plus {margin: 15px 0 10px 48px; font-size: 10px;}
		.crear-encuesta .audiencia .tabla .item-wrp .item .info-plus .titulo{text-transform: uppercase;;display: block;margin-bottom: 0;color: #a5a5a5;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;flex-basis: 80px;padding-top: 2px;margin-right: 8px;}
		.crear-encuesta .audiencia .tabla .item-wrp .item .info-plus .titulo label{margin-bottom: 0;}
		.crear-encuesta .audiencia .tabla .item-wrp .item .info-plus .dato{font-weight: 400;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 13px;}
		
		.crear-encuesta .audiencia .tabla .item-wrp .item .info-plus .row .col-6:nth-child(2){text-align: right;}
		









	/*Tab configuracion*/
	.crear-encuesta .configuracion .card {max-width: 1000px;margin: 0 auto}
	.crear-encuesta .configuracion .card .card-body{padding: 40px;}
	.crear-encuesta .configuracion .card .modulo-name {flex-basis: 420px; padding-right: 60px;}
	
	.crear-encuesta .configuracion .card .modulos{margin-top: 0;}
	.crear-encuesta .configuracion .card .modulos .item:not(:last-child) {padding-bottom: 50px; margin-bottom: 50px; }
	.crear-encuesta .configuracion .card .modulos .item:last-child {padding-bottom: 0px!important;}
	
	.crear-encuesta .configuracion .card .modulo-contenido .subject{margin-bottom: 30px;}

	.crear-encuesta .configuracion .card .bloque {margin-bottom: 0px; }
	.crear-encuesta .configuracion .card .bloque.mb {margin-bottom: 40px; }
	
	.crear-encuesta .configuracion .card .mensajes .title{padding-bottom: 8px;}


	.crear-encuesta .configuracion .card .vigencia .bottom{color: #999; padding-top: 40px; font-size: 12px;}



	/*Tab Resumen*/
		.crear-encuesta .resumen {width: 800px;margin: 0 auto;}
		.crear-encuesta .resumen .bloque:not(:last-child){/* margin-bottom: 40px; */border-bottom: 1px solid #efefef;margin-bottom: 25px;padding-bottom: 25px;}
		.crear-encuesta .resumen .bloque .icon{font-size: 36px;text-align: center;/* background: #efefef; */width: 65px;height: 65px;border-radius: 50%;padding-top: 15px;font-size: 30px;margin-right: 10px;font-size: 25px;border: 1px solid #555;}
		.crear-encuesta .resumen .bloque .title-wrp{/* flex-basis: 100%; */margin-left: 25px;padding-right: 50px;}
		.crear-encuesta .resumen .bloque .title-wrp a{color: #0057ff}
		.crear-encuesta .resumen .bloque .title{font-size: 18px;font-weight: 400;}
		.crear-encuesta .resumen .bloque .bajada{}
		.crear-encuesta .resumen .bloque .bajada a{font-size: inherit;}
		.crear-encuesta .resumen .bloque .check{/* flex-basis: 50px; */font-size: 25px;text-align: center;}
		.crear-encuesta .resumen .bloque .check .fa-check{color: #46a822;}
		.crear-encuesta .resumen .bloque .check .fa-times{color: #ff5050;}
        

		.crear-encuesta .resumen .boton{text-align: center;margin-top: 10px;margin: 50px 0 0;}
		.crear-encuesta .resumen a.btn{padding: 20px 50px;font-size: 16px;min-width: 370px;}
		.crear-encuesta .resumen a.btn-outline-primary{margin-right: 30px;padding-left: 80px;}
		.crear-encuesta .resumen a.btn-outline-primary i{font-size: 20px; position: absolute; top: 19px; left: 48px; }


		.crear-encuesta .resumen .bloque .bajada .link-unico{}
		.crear-encuesta .resumen .bloque .bajada .link-unico .url{padding-right: 20px;}
		.crear-encuesta .resumen .bloque .bajada .link-unico .btn{background-color: #eaf0f6; border: 1px solid #cbd6e2; color: #506e91; margin-left: 8px; position: relative; padding: 6px 10px 5px 34px; }
		.crear-encuesta .resumen .bloque .bajada .link-unico .btn i{position: absolute; left: 13px; top: 7px; }
		.crear-encuesta .resumen .bloque .bajada .link-unico .copy{}
		.crear-encuesta .resumen .bloque .bajada .link-unico .copy:active{background-color: #dfe3e8;}
		.crear-encuesta .resumen .bloque .bajada .link-unico .qr{}

        .modal.generar-qr {}
        .modal.generar-qr .modal-dialog{max-width: 500px;}
        .modal.generar-qr .codigo {}
        .modal.generar-qr .download {height: 170px; display: block; margin: 10px auto 20px;}
        .modal.generar-qr .modal-body .title {font-size: 14px!important; padding: 30px 0 3px;}
        .modal.generar-qr .bajada {}


/*Modal Crear encuesta*/
	.crear-encuesta .modal-wrapper.nombre-encuesta {width: 600px;}
	.crear-encuesta .modal-wrapper.nombre-encuesta .modal-header .right{padding-left: 5px;}
	.crear-encuesta .modal-wrapper.nombre-encuesta input,
	.crear-encuesta .modal-wrapper.nombre-encuesta input::placeholder{font-size: 18px!important;font-weight: 400;padding: 0!important;height: 34px;}
	.crear-encuesta .modal-wrapper.nombre-encuesta input::placeholder{color: #ccc!important;font-weight: 300;font-size: 16px;}
	
	.crear-encuesta .modal-wrapper.nombre-encuesta .select2-container--default .select2-selection--single{padding-top: 5px!important;border: 0;width: fit-content;width: -moz-fit-content;position: relative;border-bottom: 1px solid #efefef;padding-right: 30px!important;height: 32px;}
	.crear-encuesta .modal-wrapper.nombre-encuesta .select2-container--default .select2-selection--single:before{right: 16px;top: 3px;}
	.crear-encuesta .modal-wrapper.nombre-encuesta .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__placeholder{background: none;padding-left: 0;font-size: 18px;color: #444;font-weight: 300;}
	.crear-encuesta .modal-wrapper.nombre-encuesta .select2-container--default .select2-selection--single .select2-selection__rendered{font-weight: 400;font-size: 14px;/* background: #0057ff; *//* color: white; */width: fit-content;width: -moz-fit-content;padding: 0;height: 27px;font-size: 18px;}
	.crear-encuesta .modal-wrapper.nombre-encuesta .modal-body .form-group {margin-bottom: 0;}
	.crear-encuesta .modal-wrapper.nombre-encuesta .modal-body .form-group.categoria{margin-top: 30px; width: 300px; }
	.crear-encuesta .modal-wrapper.nombre-encuesta .modal-body .form-group .label{
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}
	.crear-encuesta .modal-wrapper.nombre-encuesta .modal-header .left i{padding-top: 2px;-webkit-text-fill-color: black;-webkit-text-stroke-width: .4px;-webkit-text-stroke-color: white;}

/*Modal plantilla*/
	.crear-encuesta .plantilla .modal-content{height: 100%;}
	.crear-encuesta .modal-wrapper.plantilla .left {flex-basis: 56px;}
	/*.crear-encuesta .modal-wrapper.plantilla {height: 90%;}*/
	.crear-encuesta .modal-wrapper.plantilla .modal-header .left i{/* padding-top: 12px; */-webkit-text-fill-color: black;-webkit-text-stroke-width: .7px;-webkit-text-stroke-color: white;}

	/*.crear-encuesta .plantilla .modal-body .preguntas ul {padding: 0; }*/
	.crear-encuesta .plantilla .modal-body .wrapper-question-template{margin-top: 20px;}

	.crear-encuesta .plantilla .modal-body .preguntas .item:first-child {padding-top: 0;}
	.crear-encuesta .plantilla .modal-body .preguntas .item{counter-increment: list;margin-left: 57px;position: relative;padding: 20px 20px 20px 4px;}
	.crear-encuesta .plantilla .modal-body .preguntas .item:not(:last-child) {border-bottom: 1px solid #efefef;}
	.crear-encuesta .plantilla .modal-body .preguntas .item:last-child {padding-bottom: 0;}
	.crear-encuesta .plantilla .modal-body .preguntas .item::before {color: #fff;content: counter(list);left: -56px;position: absolute;font-size: 15px;top: 40%;text-align: center;background: #2e353e;border-radius: 50%;width: 25px;height: 25px;padding-top: 2px;}
	
	.crear-encuesta .plantilla .modal-body .preguntas .titulo-wrp{background: #2e353e;border-radius: 50px;color: #fff;padding: 7px 30px 8px;margin: 7px 0 6px 0;position: relative;}
	.crear-encuesta .plantilla .modal-body .preguntas .titulo-wrp::before{content: '';background-color: #fff;height: 18px;width: 730px;position: absolute;top: -28px;}
	.crear-encuesta .plantilla .modal-body .preguntas .titulo-wrp:not(:first-child){margin-top: 25px;}
	.crear-encuesta .plantilla .modal-body .preguntas .titulo-wrp .titulo{font-weight: 400;font-size: 18px;line-height: 140%;}
	.crear-encuesta .plantilla .modal-body .preguntas .titulo-wrp .bajada{font-size: 13px;opacity: .7;}


	.crear-encuesta .plantilla .modal-body .item .dimension {text-transform: uppercase; color: #888; font-size: 11px; margin: 0; padding: 0; display: block!important; }
	.crear-encuesta .plantilla .modal-body .item .question{font-size: 16px;font-weight: 400;}
	.crear-encuesta .plantilla .modal-body .item .tipo{margin-top: 8px; opacity: .8;}
	.crear-encuesta .example.tipo div{margin: 0;float: left;border: 1px solid;/* border-radius: 50%; */width: 30px;padding: 2px 0px;font-size: 17px;font-weight: 400;text-align: center;margin-bottom: 5px;}
	.crear-encuesta .example.tipo div:not(:first-child){
    margin-left: -1px;
}
	
	.crear-encuesta .modal-body .item .tipo:not(.numerica) div{font-size: 14px; text-align: center; width: auto; height: auto; border-radius: 50px; padding: 3px 13px;}
	.crear-encuesta .modal-body .item .tipo.texto span{font-size: 12px; text-transform: uppercase; color: #999; font-style: italic;}
	.crear-encuesta .modal-body .item .aclaracion{font-size: 12px;display: block;padding-top: 5px;font-style: italic;color: #999;}


/*Modal Cancelar*/
	.crear-encuesta .cancelar {width: 500px;}
	.crear-encuesta .modal-wrapper.cancelar .left {flex-basis: 50px;}
	.crear-encuesta .cancelar .modal-content{height: 100%;}


/*Modal Salir*/
	.crear-encuesta .modal .salir {width: 600px; }
	.crear-encuesta .modal .salir .modal-body{padding: 15px 0; font-size: 15px; }
	.crear-encuesta .modal .salir .modal-footer .link{padding-top: 2px;}


/*Modal NewTag*/
	.crear-encuesta .newtag {width: 500px;}
	.crear-encuesta .newtag input{padding-left: 20px!important;}
	.crear-encuesta .newtag .fa-hashtag{position: absolute;top: 15px;font-size: 18px;color: #ccc;z-index: 99;}

/*Modal Preview Email*/
	.crear-encuesta .email {width: 580px;}
	.crear-encuesta .email  table{padding: 0 30px;}
	.crear-encuesta .email  .modal-body{margin: 0;}

/*Modal Preview Preguntas*/
	.crear-encuesta .preview-preguntas .card-body{height: 400px;}
	.crear-encuesta .preview-preguntas .item{text-align: center;padding-bottom: 40px;width: 90%;margin: 0 auto 20px;}
	.crear-encuesta .preview-preguntas .item:not(:last-child){border-bottom: 1px solid #efefef;padding-bottom: 40px;}
	.crear-encuesta .preview-preguntas .item .numero{font-size: 30px;margin-bottom: 7px;}
	.crear-encuesta .preview-preguntas .item .pregunta{font-size: 18px;}
	.crear-encuesta .preview-preguntas .item .tipo{margin-top: 10px;}
	.crear-encuesta .preview-preguntas .item .tipo.numerica div{height: 40px; width: 40px; font-size: 20px; padding: 4px; }
	.crear-encuesta .preview-preguntas .item .tipo-wrp {font-size: 12px;width: fit-content;width: -moz-fit-content;width: -moz-fit-content;margin: 20px auto 0;}
	.crear-encuesta .preview-preguntas .item .tipo-wrp .label .left{padding-right: 20px;}
	.crear-encuesta .preview-preguntas .item .tipo-wrp .label .right{padding-left: 20px;}
	.crear-encuesta .preview-preguntas .item .tipo-wrp .texto{width: 300px; text-align: left; border-bottom: 1px solid #efefef; padding-bottom: 4px; }
	.crear-encuesta .preview-preguntas .item .tipo-wrp .texto span{text-transform: none; font-style: normal; font-size: 14px; }
	.crear-encuesta .preview-preguntas .item .settings{font-size: 12px; margin-top: 20px; text-transform: uppercase; color: #999;}
	.crear-encuesta .preview-preguntas .item .settings{font-size: 12px; margin-top: 20px; text-transform: uppercase; color: #999;}
	

	.crear-encuesta .resumen {width: 94%;}
	.crear-encuesta .resumen .left{padding: 75px 99px 0 0;}
	.crear-encuesta .resumen .left .title{font-size: 50px; font-weight: 700; }
	.crear-encuesta .resumen .left .bajada{padding: 17px 0 35px;font-size: 16px;}
	.crear-encuesta .resumen .left .btn{margin-right: 10px;padding: 12px 25px 12px;font-size: 14px;}

	

/*Agregar Audiencia*/
.crear-encuesta.add-audiencia header .title-wrp{}
.crear-encuesta.add-audiencia header .title{font-size: 22px; font-weight: 600; }
.crear-encuesta.add-audiencia header .title-wrp label{font-size: 14px; font-weight: normal; }
.crear-encuesta.add-audiencia header .title-wrp label span{font-style: italic; }


/*Encuesta de Prueba*/

.crear-encuesta aside.encuesta-prueba{padding: 60px;}
.crear-encuesta aside.encuesta-prueba .scrollbar-inner{padding: 0!important;}
.crear-encuesta aside.encuesta-prueba .cerrar{top: 50px;}
.crear-encuesta aside.encuesta-prueba .cerrar i{}
.crear-encuesta aside.encuesta-prueba .chat__title{color: #444;}

.crear-encuesta aside.encuesta-prueba .emails-area{}
.crear-encuesta aside.encuesta-prueba .emails-area .wrapper{border: 1px solid #efefef;min-height: 100px;margin: 25px 0;padding: 8px 9px 40px;position: relative;}
.crear-encuesta aside.encuesta-prueba .emails-area .wrapper .bs-example{max-height: 200px; overflow-y: auto;}
.crear-encuesta aside.encuesta-prueba .emails-area .wrapper .email-ic{position: absolute; bottom: 11px; left: 11px; font-size: 12px; color: #999; }
.crear-encuesta aside.encuesta-prueba .emails-area .wrapper textarea{width: 100%; min-height: 80px; border: 0; }
.crear-encuesta aside.encuesta-prueba .emails-area .wrapper .email-item{background: #eaf0f6;border: 1px solid #ccd6e3;font-size: 12px;padding: 5px 30px 4px 10px;border-radius: 3px;}
.crear-encuesta aside.encuesta-prueba .emails-area .wrapper .email-item i{}
.crear-encuesta aside.encuesta-prueba .emails-area .tip{font-size: 12px; margin-bottom: 20px; display: block; }

	

.bootstrap-tagsinput{padding: 0; border: none; box-shadow: none;border-radius: 0; width: 100%; }
.bootstrap-tagsinput .tag {background: #e1efff;color: #444!important;border: 1px solid #ccd6e3;padding: 0px 21px 0px 12px;border-radius: 3px;font-size: 13px;display: inline-block;margin-bottom: 3px;position: relative;}
.bootstrap-tagsinput input{margin-left: 24px!important;position: absolute;bottom: 5px;left: 7px;width: 100%;}
.bootstrap-tagsinput input::placeholder{font-size: 12px;}

.bootstrap-tagsinput .tag [data-role="remove"]:after{content: '\f00d';font-family: "Font Awesome 5 Pro";font-size: 12px;top: 1px;position: absolute;right: 8px;}




/*Done*/
.crear-encuesta .done{max-width: 780px;margin: 0 auto;}
.crear-encuesta .done h1{font-size: 40px;font-weight: 700;margin: 70px 0 20px;}
.crear-encuesta .done .bajada{max-width: 700px;margin: 30px auto;line-height: 170%;font-size: 18px;}
.crear-encuesta .done .link-box{margin-top: 30px; padding: 20px 30px; }
.crear-encuesta .done .link-box .enlace{font-size: 15px; }
.crear-encuesta .done .link-box a{position: relative; padding-left: 22px; }
.crear-encuesta .done .link-box a.qr{margin-left: 30px; }
.crear-encuesta .done .link-box a i{position: absolute; left: 0; top: 3px; }
.crear-encuesta .done .btn{margin: 40px 0;padding: 15px 40px;font-size: 15px;}





/*Media queries*/

	
    @media (max-width: 1199.99px) {

    }



    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {


    }




    /*Mobile*/
    @media only screen and (max-width: 767px) {

    	/* #plantillas */
		.crear-encuesta .tab-content .tab-pane#plantillas{width: initial;}
		.crear-encuesta .content{padding: 40px 0;}

		.crear-encuesta .academy{}

    }