/*Dashboard Intro*/
.sidebar.disabled .navigation > li > a{color: #ccc;}
.sidebar.disabled .navigation > li:hover > a{pointer-events: none; cursor: default;color: #444!important;}
.sidebar.disabled .navigation > li {width: fit-content;width: -moz-fit-content;}


.sidebar.disabled .header__logo{border: 1px dashed #ddd; width: 100%; padding: 14px; text-align: center; }
.sidebar.disabled .header__logo a{pointer-events: none;cursor: default;color: #ccc;font-weight: 400;}

.sidebar.disabled .scroll-wrapper > .scroll-content{overflow: initial!important;}


/*Onboarding*/
    

    /*.onboarding .example{margin-bottom: 40px; }*/



/*Media queries*/

    
    @media (max-width: 1199.99px) {

    }



    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {


    }




    /*Mobile*/
    @media only screen and (max-width: 767px) {
    .sidebar.disabled .navigation > li > a{}
    .sidebar.disabled .header__logo{}
    .sidebar.disabled .header__logo a{}

    .intro{}
    .intro .row{}
    .intro h1{font-size: 36px; padding-top: 32px; }
    .intro .bajada{font-size: 18px; }
    .intro .btn{}
    .intro .btn i{}
    .intro .imagen {height: 260px; text-align: center; padding-top: 30px; }
    .intro .first-bg{position: relative; height: 100%; width: initial; }


    }