/*ENCUESTA FRONT*/

/*Para que el scroll del arrow de bienvenida tenga animacion*/
/*html{scroll-behavior: smooth;}*/
/**/


.obligatoria{background: #617d8a; width: fit-content; margin: 25px auto 0; font-size: 16px; padding: 18px 24px; color: #fff; border-radius: 3px; text-align: center; position: relative; }
.obligatoria .triangulo {width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid #617d8a; position: absolute; top: -16px; left:-webkit-calc(50% - 20px); left:-moz-calc(50% - 20px); left:calc(50% - 20px); }



/*Info Personal*/
.survey-front-info .card-demo{margin: 30px auto 0 auto;}
.survey-front-info .card-demo h6{margin: 10px 0 5px 0;font-size: 20px;}
.survey-front-info .card-demo h2{width: initial;margin-bottom: 20px;font-size: 22px;}
.survey-front-info .card-demo h5{padding-top: 12px;font-size: 13px; color: #999;}
.survey-front-info .card-demo .fechas-publicacion{margin-bottom: 20px;}
.survey-front-info .card-demo .form-group{margin-bottom: 0px;}
.survey-front-info .card-demo button{width: 230px;}

.survey-front-info .custom-checkbox{width: 374px; margin: 30px auto 0; font-size: 15px;}

.survey-front-info input.date-picker::placeholder, input.time-picker::placeholder{font-size: 14px;}


/*header*/
.survey-front .confidencial-mobile{display: none;}
.survey-front .header__logo img{padding-bottom: 0;display: inline-block;vertical-align: middle;max-height: 40px;}
.survey-front .header__logo small{bottom: 3px;padding-left: 20px;display: none;}
.survey-front header{z-index: 9;box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.15);padding: 16px 25px;position: fixed;width: 100%;background: #fff;}
.survey-front header .header__logo{margin: 0!important;line-height: 40px;height: 40px;padding-left: 20px;}
.survey-front header span{margin-left: 15px;}

.section-front-question .btn.btn-primary{padding: 14px 40px 14px 40px;font-size: 16px;}

.survey-front header .incognito{text-align: center;color: #fff;}
.survey-front header .incognito .icon{padding: 0;margin: 0;display: inline-block;width: 33px;}
.survey-front header .incognito img{width: 25px; padding-top: 8px; border-bottom: 0; padding-right: 0;}
.survey-front header .incognito i{/* color: red; */font-size: 16px;position: absolute;left: -90px;right: 0;top: 5px;font-size: 13px;}
.survey-front header .incognito .texto{width: 500px; display: block; }
.survey-front header .incognito.alert{background: #0057ff; padding: 16px 20px; text-align: left; position: absolute; left: 0; right: 0; top: 67px; width: 100%; margin-right: auto; margin-left: auto; font-size: 15px; max-width: 690px; }
.survey-front header .incognito.alert .entendido{padding: 0!important;position: absolute;text-transform: uppercase;top: 17px;right: 15px;font-size: 14px;}
.survey-front header .incognito.alert .entendido span{background-color: transparent;width: auto;font-weight: 500;}
.survey-front header .incognito.alert .triangulo{width: 0; height: 0; border-right: 8px solid transparent; border-top: 8px solid transparent; border-left: 8px solid transparent; border-bottom: 8px solid #0057ff; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: -15px; }





.survey-front header .read-only .banner{background-color: #617d8a;text-align: center;border-radius: 4px;color: #fff;padding: 13px 28px 14px;position: absolute;top: 0px;}
.survey-front header .read-only .banner i{font-size: 17px; position: absolute; top: 14px; }
.survey-front header .read-only .banner .bold{font-weight: 700; padding: 0 7px 0 27px; margin: 0; }
.survey-front header .read-only .banner .triangulo{
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 15px solid #617d8a;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -15px;
    }







.survey-front .survey-progress {text-align: right;padding-top: 6px;}
.survey-front .survey-progress .bar{display: inline-block;width: 70px;margin-right: 135px;position: relative;}
.survey-front .survey-progress span {position: absolute;right: -45px;top: -9px;}

.survey-front .survey-progress .idioma{padding: -0;display: inline-block;padding-top: 3px;right: 20px;}
.survey-front .survey-progress .idioma a{padding: 0 25px 0 15px;}
.survey-front .survey-progress .idioma .dropdown-menu{left: initial!important;top: 14px!important;width: 170px;right: -65px;}
.survey-front .survey-progress .idioma .dropdown-toggle::after{right: 15px; }


.section-front-question:nth-child(odd){/* background-color: #f3f3f3; */}
.section-front-question{padding: 100px 25px 140px;/* background: url(../img/front-questions-arrow.png) no-repeat center 50px; */background-size: 40px;}

.section-front-question.first{padding-top: 140px;}

/*Preguntas*/
.padding-front-question-0{padding-bottom: 230px;}

.survey-front .welcome-message, .survey-front .thanks-message{text-align: center;background-color: #2e353e;padding: 102px 30px 0px;color: #fff;}
.survey-front .thanks-message {height: 100vh;}
.survey-front .thanks-message span{display: block; margin-top: 20px; font-size: 16px;}
.survey-front .thanks-message .wrapper{max-width: 800px;font-size: 26px;margin: 0 auto;}

.survey-front .welcome-message .mensaje{font-size: 26px;max-width: 1200px;margin: 0 auto 30px;line-height: 130%;color: #fff;}
.survey-front .welcome-message p{font-size: 22px;}
.survey-front .welcome-message img{max-width: 400px;margin-bottom: 30px;margin-top: 50px;width: 100%;}

.survey-front .welcome-message .auto-save{text-transform: uppercase;padding-top: 30px;font-size: 14px;opacity: .7;margin-bottom: 0;}

.survey-front .welcome-message .encuesta-preview{background: blueviolet;padding: 20px;margin: -68px -30px 60px;font-size: 16px;position: fixed;width: 100%;z-index: 999;}
.survey-front .welcome-message .encuesta-preview ~ div{margin-top: 40px;}




.survey-front .welcome-message .arrow-scroll a{/* color: #0057ff!important; *//* position: absolute; *//* padding: 9px 0 0 55px; *//* height: 60px; *//* bottom: 30px; *//* margin-left: auto; *//* margin-right: auto; *//* left: 0; *//* right: 0; *//* width: fit-content; *//* display: inline-table; *//* font-size: 15px; */}
.survey-front .welcome-message .arrow-scroll .flecha{}
.survey-front .welcome-message .arrow-scroll .btn-rechazar{height: 39px; margin-left: 25px; background: #ff5050; border: none; }
.survey-front .welcome-message .arrow-scroll {position: -webkit-sticky;position: sticky;bottom: 0;align-self: flex-end;height: 130px;color: #fff;background: url('../img/gradient-front.png') repeat-x bottom;padding-top: 40px;}
.survey-front .welcome-message .arrow-scroll img{width: 38px!important;/* position: absolute; *//* left: 0; *//* top: 0px; */margin-top: 2px;}

.survey-front .modal.rechazar .modal-dialog{max-width: 600px;width: 90%;}
.survey-front .modal.rechazar .modal-dialog .modal-footer {display: initial; text-align: center;}
.survey-front .modal.rechazar .modal-dialog .modal-footer a{display: block;}


@keyframes MoveUpDown {
  0%, 100% {bottom: 0; }
  50% {bottom: 10px; }

}


/**
 * Smooth scrolling inside an element
 */
.arrow-scroll a {
    scroll-behavior: smooth;
}





.survey-front .wrapper-front-question{text-align: center;max-width: 1000px;margin: 0 auto;}
.survey-front .demografias-front-wrapper{background: #f7f9fa;padding: 130px 25px 90px;}
.survey-front .demografias-front-wrapper .wrapper-front-question{}
.survey-front .demografias-front-wrapper .wrapper-front-question ul{margin-top: 70px;}
.survey-front .demografias-front-wrapper .wrapper-front-question li{width: 50%;float: left;text-align: left;margin-bottom: 50px;}
.survey-front .demografias-front-wrapper .wrapper-front-question li:nth-child(odd){padding-right: 40px;}
.survey-front .demografias-front-wrapper .wrapper-front-question li:nth-child(even){padding-left: 40px;}
.survey-front .demografias-front-wrapper .wrapper-front-question li .label{padding-bottom: 5px; font-weight: 600; }
.survey-front .demografias-front-wrapper .wrapper-front-question li .select2-container--default .select2-selection--single{border: 1px solid #dedede;font-size: 16px;padding: 10px 38px 8px 15px;border-radius: 6px;}
.survey-front .demografias-front-wrapper .wrapper-front-question li .select2-container--default .select2-selection--single:before{top: 14px; right: 30px; }
.survey-front .demografias-front-wrapper .wrapper-front-question li .select2-dropdown .select2-results__option{font-size: 18px;}





.survey-front .wrapper-front-question .question-number{font-size: 30px;margin-bottom: 50px;}
.survey-front .wrapper-front-question .pregunta{font-size: 28px; margin-top: 10px; line-height: 135%;color: #444;font-weight: 600;}
/*.survey-front .wrapper-front-question .puntaje{width: 410px; margin: 0 auto; position: relative;margin-top: 30px;}*/
.survey-front .wrapper-front-question .puntaje .left{position: absolute; left: 0;font-size: 14px;top: 0;}
.survey-front .wrapper-front-question .puntaje .right{position: absolute;right: 0; font-size: 14px; top: 0;}
.survey-front .wrapper-front-question .puntaje ul{padding-top: 40px;display: -webkit-flex; /* Safari */ display: flex;margin-bottom: 0;}
.survey-front .wrapper-front-question .puntaje ul li{-webkit-flex: 1;  /* Safari 6.1+ */-ms-flex: 1;  /* IE 10 */flex: 1;margin-right: 20px;width: 65px;text-align: center;font-size: 26px;padding-bottom: 24px;}




.survey-front .wrapper-front-question .puntaje ul li span{display: inline-block;height: 64px;width: 64px;border-radius: 60px;padding-top: 11px;transition: all 0.05s ease-in-out;border: 1px solid #2e353e;}
.survey-front .wrapper-front-question .puntaje ul li.active span{background-color: #2c353e;color: #fff;transition: .3s;}


.survey-front .wrapper-front-question .options-wrap {margin: 30px auto 40px;}
.survey-front .wrapper-front-question .references{font-size: 17px;padding-bottom: 10px;}
.survey-front .wrapper-front-question .options-wrap .references .left{}
.survey-front .wrapper-front-question .options-wrap .references .right{}

.survey-front .wrapper-front-question .options-wrap .options{}

.survey-front .wrapper-front-question .options-wrap .options div{border: 1px solid #dedede;width: 100%;padding: 30px;transition: .1s;background-color: #f7f9fa;font-size: 18px;}
.survey-front .wrapper-front-question .options-wrap:not(.full-labels) .options div{display: flex; align-items: center; justify-content: center;text-align: center;}
.survey-front .wrapper-front-question .options-wrap .options div:not(:first-child){margin-left: -1px; }
.survey-front .wrapper-front-question .options-wrap .options div:hover{cursor: pointer;background-color: #154893; color: #fff;border-color: #154893;}
.survey-front .wrapper-front-question .options-wrap .options div.active{background-color: #154893; color: #fff;border-color: #154893;}
.survey-front .wrapper-front-question .options-wrap.full-labels .options div{font-size: 16px;}
.survey-front .wrapper-front-question .options-wrap .options .number{font-size: 42px;font-weight: 300;}
.survey-front .wrapper-front-question .options-wrap .options .label{font-size: 14px;}
.survey-front .wrapper-front-question .options-wrap .options div span{display: block;font-size: 16px;font-weight: 400;}

.survey-front .wrapper-front-question .options-wrap.binaria{max-width: 700px;}
.survey-front .wrapper-front-question .references{margin-bottom: 20px;}
.survey-front .wrapper-front-question .options-wrap.many-options{max-width: 500px;}
.survey-front .wrapper-front-question .options-wrap.many-options .options div:not(:first-child){margin-left: 0px;margin-top: -1px; }


/*NPS Colors*/
.survey-front .wrapper-front-question .options-wrap.nps .options div.active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:hover{border: 1px solid #dedede;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(1),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(1).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(1):hover{background-color: #ab1e2b;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(2),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(2).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(2):hover{background-color: #b51d2d;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(3),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(3).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(3):hover{background-color: #c11e2e;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(4),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(4).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(4):hover{background-color: #cc1d2e;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(5),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(5).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(5):hover{background-color: #db1d30;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(6),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(6).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(6):hover{background-color: #e51f31;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(7),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(7).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(7):hover{background-color: #f51d33;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(8),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(8).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(8):hover{background-color: #e8ae2d;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(9),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(9).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(9):hover{background-color: #ffc63b;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(10),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(10).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(10):hover{background-color: #49ba86;}

.crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(11),
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(11).active,
.survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(11):hover{background-color: #3fa06f;}

.survey-front .wrapper-front-question .options-wrap.nps .references div:first-child{color: #ab1e2b;}
.survey-front .wrapper-front-question .options-wrap.nps .references div:last-child{color: #3fa06f;}


 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(1),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(1).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(1).selected:hover{border-color: #ab1e2b;}

 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(2),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(2).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(2).selected:hover{border-color: #b51d2d;}

 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(3),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(3).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(3).selected:hover{border-color: #c11e2e;}

 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(4),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(4).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(4).selected:hover{border-color: #cc1d2e;}

 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(5),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(5).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(5).selected:hover{border-color: #db1d30;}

 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(6),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(6).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(6).selected:hover{border-color: #e51f31;}

 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(7),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(7).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(7).selected:hover{border-color: #f51d33;}

 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(8),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(8).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(8).selected:hover{border-color: #e8ae2d;}

 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(9),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(9).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(9).selected:hover{border-color: #ffc63b;}

 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(10),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(10).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(10).selected:hover{border-color: #49ba86;}

 .crear-encuesta .preguntas .nueva-pregunta .card .body.puntuacion.nps .example.tipo div:nth-child(11),
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(11).selected.active,
 .survey-front .wrapper-front-question .options-wrap.nps .options div:nth-child(11).selected:hover{border-color: #3fa06f;}

/* END NPS Colors*/



 


.survey-front .wrapper-front-question input.form-control.form-control {background: transparent!important;border-bottom: 1px solid #ccc;font-size: 22px!important;padding-bottom: 10px!important;}


.survey-front .thanks-message {padding: 15% 25px 20%;}

.survey-front .thanks-message a{color: #fff;font-weight: 400;}
.survey-front .thanks-message .subrayado{background-image: linear-gradient(to right, rgba(255,255,255,0.5) 10%, rgba(255, 255, 255, 0) 30%);}
.survey-front .thanks-message .cerrar{margin: 20px auto 30px;}
/*.survey-front .thanks-message .btn.invert{font-size: 18px; border: 2px solid #fff; margin-top: 40px;box-shadow: none;}*/
/*.survey-front .thanks-message .btn.invert:hover{background-color: rgba(255,255,255,.2);}*/

.survey-front .answer-resume-survey {font-size: 18px;padding: 20% 25px;}
.survey-front .answer-resume-survey .preguntas-respondidas{font-size: 30px;margin-bottom: 20px;color: #444;font-weight: 600;}
.survey-front .answer-resume-survey .preguntas-respondidas .bajada{
    font-weight: 400;
    padding-top: 20px;
}

.survey-front .answer-resume-survey .continuar{margin-top: 50px;display: inline-block;padding: 15px 30px;font-size: 18px;}



.survey-front .answer-resume-survey textarea:visited{height: 120px;}




.survey-front .wrapper-front-question .skip{color: var(--color-primario);font-size: 16px;padding-top: 15px;display: inline-block;font-weight: 400;}
.survey-front .wrapper-front-question .botones{margin-bottom: 20px;}

.survey-front .wrapper-front-question .puntaje ul li:last-child{margin-right: 0;}

.survey-front .wrapper-front-question .puntaje ul li:not(.active) span:hover{cursor: pointer;border: 0;transform: scale(1.1);border: 1px solid #2e353e;}

/*.survey-front .wrapper-front-question.comentario .puntaje ul li.active{background: url('../img/pico-textarea.png')no-repeat center 74px;}*/
.survey-front .wrapper-front-question.comentario .puntaje ~ .front-question-comment{margin-top: 0!important; }
.survey-front .wrapper-front-question.comentario .front-question-comment{margin-top: 30px;}









.wrapper-front-question .front-question-comment{text-align: center;max-width: 1000px;margin: 30px auto 40px;}
.wrapper-front-question .front-question-comment .form-group{margin-bottom: 15px;}
/*.section-front-question:nth-child(odd) .front-question-comment textarea{background-color: #red!important;}*/
.section-front-question .front-question-comment textarea{border: none!important;margin-bottom: 50px;font-size: 16px;padding: 0!important;border-bottom: 1px solid #efefef!important;height: 90px;}
.section-front-question .front-question-comment textarea::placeholder{color: #fff;opacity: .6}
.wrapper-front-question .front-question-comment button{/* text-transform: uppercase; */}

.survey-front .wrapper-front-question .opciones ul{margin: 30px auto 30px auto;width: fit-content;}


.survey-front .wrapper-front-question .opciones ul li span{display: block;padding: 17px 30px 16px 64px;border-radius: 5px;width: fit-content;width: -moz-fit-content;margin-bottom: 10px;text-align: left;font-size: 18px;min-width: 300px;background: #e3e3e3;transition: .1s;}
.survey-front .wrapper-front-question .opciones.multiple{margin-bottom: 50px; }


.survey-front .wrapper-front-question .opciones.multiple ul li span{background: #e3e3e3 url(../img/ic-input-check.svg) no-repeat 28px center;background-size: 20px;}
.survey-front .wrapper-front-question .opciones ul li span:hover{cursor: pointer; color: #fff; background: #999; transform: scale(1.04, 1.04);}
.survey-front .wrapper-front-question .opciones.multiple ul li span:hover{background: #0057ff url(../img/ic-input-check-white.svg) no-repeat 28px center;background-size: 20px;}

.survey-front .wrapper-front-question .opciones ul li.active span,
.survey-front .wrapper-front-question .opciones ul li.active:hover span
     {background: #2c353e url('../img/ic-check-white.svg') no-repeat 28px center;color: #fff;background-size: 20px;}

.survey-front .wrapper-front-question .opciones .multiple-choice{font-size: 12px; text-transform: uppercase; margin-top: 30px; display: block; }

.survey-front .wrapper-front-question .opciones li.otro .form-group{margin-left: 70px;}
.survey-front .wrapper-front-question .opciones li.otro input{background: transparent!important;border-bottom: 1px solid #ccc;font-size: 22px!important;padding-bottom: 10px!important;}



/*Encuesta NPS*/
.survey-front .wrapper-front-question.nps{}
.survey-front .wrapper-front-question.nps .puntaje {width: 100%;padding-top: 50px;max-width: 775px;margin: 0 auto;}
.survey-front .wrapper-front-question.nps .puntaje ul{display: initial; }
.survey-front .wrapper-front-question.nps .puntaje li{display: inline-block;margin-right: 2px;padding-bottom: 14px;}

.survey-front .wrapper-front-question.nps .puntaje ul.selected li:not(.active) span:hover{border: 1px solid #2e353e!important;}


    /*Con el Active*/
    .survey-front .wrapper-front-question.nps .puntaje ul.selected .detractores span,
    .survey-front .wrapper-front-question.nps .puntaje ul.selected .neutral span,
    .survey-front .wrapper-front-question.nps .puntaje ul.selected .promotores span{border: 1px solid #2e353e;background-color: transparent;color: #444;}





    /*Select Especial*/
    .survey-front .wrapper-front-question .front-select{display: block;padding: 16px 60px 18px 30px;border-radius: 5px;text-align: left;font-size: 18px;width: 700px;transition: .1s;position: relative;cursor: pointer;margin: 20px auto 0;border: 1px solid #dedede;background-color: #f7f9fa;}
    .survey-front .wrapper-front-question .front-select::after{content: '\f107'; transition: .3s; font-family: "Font Awesome 5 Pro"; position: absolute; right: 30px; font-size: 28px; top: calc(50% - 20px); color: #777;}

    /*.survey-front .wrapper-front-question .front-select span{display: block;padding: 16px 30px 18px;border-radius: 86px;width: fit-content;width: -moz-fit-content;text-align: left;font-size: 18px;min-width: 300px;background: #e3e3e3;transition: .1s;position: relative;cursor: pointer;margin: 0 auto;}*/
    /*.survey-front .wrapper-front-question .front-select .selector{    display: block; padding: 16px 60px 18px 30px; border-radius: 86px; text-align: left; font-size: 18px; width: 700px; background: #e3e3e3; transition: .1s; position: relative; cursor: pointer; margin: 0 auto;}*/
    .survey-front .wrapper-front-question .front-select .selector span{background: #444; border-radius: 10px; display: inline-block; padding: 2px 10px; font-size: 15px; margin-bottom: 2px; color: #fff;}
    .survey-front .wrapper-front-question .front-select .selector span:not(:last-child){margin-right: 2px;}
    
    .survey-front .wrapper-front-question .front-select .selector::after{content: '\f107'; transition: .3s; font-family: "Font Awesome 5 Pro"; position: absolute; right: 30px; font-size: 28px; top: calc(50% - 20px); color: #777;}
    .survey-front .wrapper-front-question .front-select .options{text-align: left; background: #fff; position: absolute; top: auto; font-size: 18px; z-index: 99; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 700px;margin-top: 20px;border: 1px solid #eee;}
    .survey-front .wrapper-front-question .front-select .selector .options{margin-top: 0;}
    .survey-front .wrapper-front-question .front-select .options ul{margin: 0; overflow-y: scroll; height: 226px; }
    .survey-front .wrapper-front-question .front-select .options ul li{padding: 12px 50px 12px 30px;font-size: 18px;}
    
    .survey-front .wrapper-front-question .front-select .options ul li:hover{background-color: #154893;color: #fff;cursor: pointer;}
    .survey-front .wrapper-front-question .front-select .options ul li.selected{position: relative;}
    .survey-front .wrapper-front-question .front-select .options ul li.selected::after{content: '\f00c';font-family: "Font Awesome 5 Pro";position: absolute;right: 20px;font-size: 17px;top: 12px;color: #0057ff;}
    .survey-front .wrapper-front-question .front-select .options ul li.selected:hover:after{color: #fff;}
    .survey-front .wrapper-front-question .front-select .options ul li:not(:last-child){border-bottom: 1px solid #efefef; }


    /*Title*/
    .survey-front .title-wrapper .section-front-question{padding-top: 30px; }
    .survey-front .title-wrapper .title-content{background: #2c353e;color: #fff;text-align: center;padding: 40px 30px;}
    .survey-front .title-wrapper .title-content .title{font-size: 22px;font-weight: 700;line-height: 135%;}
    .survey-front .title-wrapper .title-content .descripcion{font-size: 16px;margin-top: 10px;opacity: .7;line-height: 138%;}

    .title-wrapper .section-front-question.first .wrapper-front-question {padding-top: 160px;}




    /*Reporte Usuario Encuesta*/
    .reporte-encuesta{background-color: #f9f9f9;padding-top: 30px;}    
    .reporte-encuesta .content{padding: 100px 20px 100px 20px!important;width: 80%;margin: 0 auto;}

    .reporte-encuesta .encabezado .title{font-size: 22px; font-weight: 500; }
    .reporte-encuesta .encabezado .subtitle{font-size: 18px;text-transform: initial;padding: 15px 0 40px 0;}

    .reporte-encuesta .modulos-principales {margin-bottom: 50px;}
    .reporte-encuesta .modulos-principales .card-body{height: 150px; display: table;}
    .reporte-encuesta .modulos-principales .card{background: #2e353e; background-image: linear-gradient(215deg, #4d545b, #2e353e); color: #fff;}
    .reporte-encuesta .modulos-principales .card .bold{color: #fff;}
    .reporte-encuesta .modulos-principales .card .value{float: left;font-size: 70px;display: table-cell;vertical-align: middle;margin-right: 40px;height: 100%;line-height: 60px;width: 150px;}

    .reporte-encuesta .modulos-principales .card .label{font-size: 20px;display: table-cell; vertical-align: middle;line-height: 130%;}
    .reporte-encuesta .modulos-principales .value .progress{width: 116px;}



    .reporte-encuesta .modulos-principales .only.favorabilidad {margin: 0 auto;}

    .reporte-encuesta .dimensiones .title{margin-bottom: 20px!important;}
    .reporte-encuesta .dimensiones .card{margin-bottom: 10px; }
    .reporte-encuesta .dimensiones .card-body{padding: 12px 25px 20px 25px!important; }
    .reporte-encuesta .dimensiones .card .value{font-size: 26px;line-height: 30px;text-align: left;flex: initial;width: 65px;}
    .reporte-encuesta .dimensiones .card .value span{margin-left: 5px;}
    .reporte-encuesta .dimensiones .card .progress{width: 48px;padding: 0!important;}
    .reporte-encuesta .dimensiones .card .progress div{margin: 0;flex: initial;}
    .reporte-encuesta .dimensiones .card .name{font-size: 16px;padding-top: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

    .reporte-encuesta .jpg img{width: 100%;margin-top: 40px;}
    .reporte-encuesta .boton{text-align: center;margin-top: 80px;}


    /*Animation shake*/
    @keyframes custom-shake{15%,3%,9%{transform:translate(-3px,0) rotate(-3deg)}12%,18%,6%{transform:translate(3px,0) rotate(3deg)}0%,100%,21%{transform:translate(0,0) rotate(0)}}
    .animation-shake{-webkit-animation:custom-shake 6s ease-in-out 3s 3;animation:custom-shake 6s ease-in-out 3s 3;-webkit-transform:translate(0,0) rotate(0);-webkit-transform-origin:bottom;transform:translate(0,0) rotate(0);transform-origin:bottom}



.survey-front header .read-only{background: coral;color: #252525;padding: 2px 15px 2px 35px;left: 0;right: 0;bottom: -33px;margin: 16px -25px -16px;text-align: center;}
.survey-front header .read-only i{
    padding-right: 8px;
}
.survey-front .no-confidencial{background-color: #0057ff; color: white;}
.survey-front .no-confidencial .header__logo{}
.survey-front .no-confidencial .header__logo a{background-color: white; padding: 10px; border-radius: 5px; }

.survey-front .no-confidencial .progress-bar{background-color: #28aa21!important;}
.survey-front .no-confidencial .idioma .dropdown-toggle::after{color: white;}
.survey-front .no-confidencial .incognito{font-size: 15px;line-height: 130%;position: relative;padding-top: 10px;}
.survey-front .no-confidencial .incognito span{margin: 0!important}





/*Media queries*/

    @media (max-width: 1199.99px) {

        /*Reporte encuesta*/
        .reporte-encuesta .content{width: 90%;}

    }


/*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {

        /*Reporte encuesta*/
        .reporte-encuesta .content{width: 94%; }
        .reporte-encuesta .modulos-principales .card .value{font-size: 55px; width: 128px; }
        .reporte-encuesta .modulos-principales .card .label{font-size: 17px;}


      }


/*Mobile*/
    @media only screen and (max-width: 767px) {
        html{scroll-behavior: auto;}



        /*Publicas*/
        .survey-front .publica .incognito{order: 3;padding: 10px 0 0 0;}



        /*front encuesta*/
    .header__logo img{max-width: 95px;}

    .survey-front .confidencial-mobile{display: block;position: absolute;text-transform: uppercase;font-size: 11px;color: #fff;left: 0;right:0;margin-left:auto;margin-right:auto;top: 96px;}
    .survey-front .welcome-message .no-confidencial{font-size: 15px!important; margin-top: -45px; padding: 16px!important; }


    
    .survey-front .welcome-message .arrow-scroll a{/* font-size: 16px; *//* padding-left: 46px; *//* padding-top: 26px; */}
.survey-front .welcome-message .arrow-scroll {}
.survey-front .welcome-message .arrow-scroll img{width: 42px!important;top: 22px;}

    
    .survey-front header .header__logo {padding-left: 10px;padding-right: 0;}
    
    .survey-front header .incognito{order: 3; }
    .survey-front header .incognito span{}
    .survey-front header .incognito img{position: absolute;left: 6px;top: 1px;width: 26px;}
    .survey-front header .incognito i{color: #fff;opacity: .7;font-size: 38px;}
    .survey-front header .incognito.alert .texto{width: auto; font-size: 16px; }
    .survey-front header .incognito.alert .icon{top: 19px; position: absolute; left: 20px; }
    .survey-front header .incognito.alert{padding-left: 63px; }
    .survey-front header .incognito.alert .entendido{position: relative; padding: 10px 0 10px!important; display: block; text-align: right; top: 8px; }
    .survey-front header .incognito.alert .entendido span{position: relative; padding: 0!important; margin: 0; }



.survey-front header .read-only{}
.survey-front header .read-only .banner{text-align: left;position: initial;margin: 10px -25px -16px -25px;border-radius: 0;padding-top: 16px;padding-left: 62px;}
.survey-front header .read-only .banner i{font-size: 22px; left: 21px; top: 27px; }
.survey-front header .read-only .banner span{}
.survey-front header .read-only .banner .triangulo{display: none; }
.survey-front header .read-only .banner .bold{padding-left: 0; }





    .survey-front .survey-progress {padding-right: 5px;order: 2;}
    .survey-front .survey-progress span{right: -40px;}
    .survey-front .survey-progress .bar{margin-right: 125px;}
    .survey-front .survey-progress .idioma{right: 10px; }
    .survey-front .survey-progress .idioma a{}
    .survey-front .survey-progress .idioma .dropdown-menu{}
    .survey-front .survey-progress .idioma .dropdown-toggle::after{}


    .survey-front .welcome-message {padding-top: 180px;}
    .survey-front .welcome-message div {width: initial; font-size: 22px!important;}
    .survey-front .thanks-message .wrapper{font-size: 22px;}
    .survey-front .thanks-message .cerrar{margin: 40px auto;}
    .survey-front .welcome-message img{margin-bottom: 40px;width: 200px;}
    .survey-front .welcome-message h1{font-size: 23px;width: initial;}
    .survey-front .welcome-message p{font-size: 12px!important;}


    .section-front-question {padding-top: 90px; }
    .survey-front .wrapper-front-question .question-number{font-size: 30px; margin-bottom: 20px; }

    .section-front-question .front-question-comment textarea{font-size: 16px!important;}
    .section-front-question .front-question-comment textarea::placeholder{font-size: 16px;}



    .survey-front .wrapper-front-question .pregunta{font-size: 22px;}
    .survey-front .wrapper-front-question{width: initial;}
    

    .survey-front .modal.rechazar .modal-dialog .modal-body .title{font-size: 22px; line-height: 140%; margin-bottom: 20px; }
    .survey-front .modal.rechazar .modal-dialog .modal-footer a{margin: 0 0 15px!important;font-size: 16px;}
    .survey-front .modal.rechazar .modal-dialog .modal-footer a.btn{padding: 15px; }
    .survey-front .welcome-message .arrow-scroll .flecha{padding-top: 6px;}
    .survey-front .welcome-message .arrow-scroll .flecha{padding-top: 6px;}
    .survey-front .welcome-message .arrow-scroll .btn{height: 50px;font-size: 16px;padding-top: 15px;}

    /*.survey-front .wrapper-front-question .puntaje ul li:not(:last-child){margin-right: 0px;}
    .survey-front .wrapper-front-question .puntaje {width: auto;}
    .survey-front .wrapper-front-question .puntaje ul li span{width: 28px; height: 28px; padding-top: 2px; font-size: 14px;}
*/
    

    .survey-front .wrapper-front-question .options-wrap {}
    .survey-front .wrapper-front-question .options-wrap .references{}
    .survey-front .wrapper-front-question .options-wrap .references .left{}
    .survey-front .wrapper-front-question .options-wrap .references .right{}
    .survey-front .wrapper-front-question .options-wrap .options{text-align: left; }
    .survey-front .wrapper-front-question .options-wrap .options div{margin-bottom: 0;padding: 20px 15px;font-size: 18px!important;}
    .survey-front .wrapper-front-question .options-wrap.full-labels .options div:not(:first-child),
    .survey-front .wrapper-front-question .options-wrap.multiple .options div:not(:first-child){margin-top: -1px; margin-left: 0; }
    .survey-front .wrapper-front-question .options-wrap .options div:hover{}
    .survey-front .wrapper-front-question .options-wrap .options .number{font-weight: 300;display: inline-block;text-align: center;font-size: 24px;}
    .survey-front .wrapper-front-question .options-wrap.full-labels .options .number{width: 28px;margin-right: 20px;padding-left: 10px;font-size: 20px;font-weight: 400;}
    .survey-front .wrapper-front-question .options-wrap .options .number span{}
    .survey-front .wrapper-front-question .options-wrap .options div span{display: initial;font-size: 19px;}
    
    .survey-front .wrapper-front-question .options-wrap.nps .options div{padding: 20px 0;}


    .survey-front .demografias-front-wrapper .wrapper-front-question li{width: 100%;padding: 0!important;}









    .survey-front .wrapper-front-question .puntaje ul li.active{}

    .wrapper-front-question .front-question-comment{width: 100%;}

    .survey-front .header__logo small{display: block; padding-left: 0;}

    .survey-front .wrapper-front-question .opciones ul li span{padding: 14px 30px 14px 50px;font-size: 15px;}

    .survey-front .wrapper-front-question .puntaje ul{padding-top: 30px; }
    .survey-front .wrapper-front-question .puntaje .left {font-size: 10px; text-transform: uppercase; text-align: left;}
    .survey-front .wrapper-front-question .puntaje .right {font-size: 10px; text-transform: uppercase; text-align: right;}
    .survey-front .obligatoria {font-size: 14px;}

    .survey-front .wrapper-front-question .opciones ul li.active span, .survey-front .wrapper-front-question .opciones ul li.active:hover span{background: #2c353e url(../img/ic-check-white.svg) no-repeat 18px center;background-size: 20px;}
    .survey-front .wrapper-front-question .opciones.multiple ul li:not(.active) span {background: #e3e3e3 url(../img/ic-input-check.svg) no-repeat 18px center; background-size: 20px; }
    .survey-front .wrapper-front-question .opciones ul li span:hover {background: #0057ff url(../img/ic-check-white.svg) no-repeat 17px center; background-size: 20px;}


    /*Encuesta NPS*/
    .survey-front .wrapper-front-question.nps .puntaje li{width: 26px;padding-bottom: 15px;}
    .survey-front .wrapper-front-question.nps .puntaje{width: 100%; padding-top: 15px;}
    .survey-front .wrapper-front-question .puntaje ul li{width: 40px;}
    .survey-front .wrapper-front-question .puntaje ul li span{height: 60px; width: 60px;}

    /*Gracias*/
        
        .survey-front .thanks-message {font-size: 18px; padding-top: 120px!important;}
        .survey-front .thanks-message span{font-size: 13px;}


        /*Select Especial*/
        .survey-front .wrapper-front-question .front-select{width: 100%;}
        .survey-front .wrapper-front-question .front-select .options{width: 100%;}


        /*Title*/
        .survey-front .title-wrapper .section-front-question{}
        .survey-front .title-wrapper .title-content{padding: 20px 30px; }
        .survey-front .title-wrapper .title-content .title{font-size: 20px; }
        .survey-front .title-wrapper .title-content .descripcion{font-size: 14px; }


    /*Reporte Usuario Encuesta*/

    .reporte-encuesta .content{padding-top: 70px!important; width: initial; padding-bottom: 40px!important; }

    .reporte-encuesta .encabezado .title{font-size: 18px;}
    .reporte-encuesta .encabezado .subtitle{font-size: 16px; padding-bottom: 30px;}

    .reporte-encuesta .modulos-principales{margin-bottom: 30px;}
    .reporte-encuesta .modulos-principales .card-body{padding: 20px 10px;height: 100px;}
    .reporte-encuesta .modulos-principales .card .value{font-size: 40px;width: 92px;margin-right: 30px;line-height: 49px;}

    .reporte-encuesta .modulos-principales .card .label{font-size: 14px;line-height: 140%;}
    .reporte-encuesta .modulos-principales .value{line-height: 44px;}
    .reporte-encuesta .modulos-principales .value .progress{width: 85px;margin-top: -6px;}

    .reporte-encuesta .dimensiones .title{text-align: center;}

    .reporte-encuesta .boton{margin-top: 40px;}


    }





