/*  Filtros encuenstas*/
        
.encuestas-filter .navegacion{}
.encuestas-filter .navegacion .tabs-reporte{margin: 0 0 20px;}
 



.filtros-out-encuestas {gap: 40px;background: #dddddd;border-radius: 5px;padding: 25px 30px 15px;margin-bottom: 25px;}
.filtros-out-encuestas .por-nombre{flex: 1;}
.filtros-out-encuestas .por-nombre .input-group{padding-top: 18px; }
.filtros-out-encuestas .por-nombre input{background: #fff;border-bottom: 0;padding: 20px!important;}

.filtros-out-encuestas .por-estado{}
.filtros-out-encuestas .titulo{font-size: 14px;color: #252536;margin-bottom: 10px;}
.filtros-out-encuestas .por-estado .botones-wrapper{padding-top: 5px;gap: 4px 30px;display: grid;grid-template-columns: repeat(auto-fit, minmax(130px, 2fr));width: 300px;}
.filtros-out-encuestas .por-estado .btn-group{text-align: center;}
.filtros-out-encuestas .por-estado .btn-group:not(:first-child){}
.filtros-out-encuestas .por-estado .btn-group .btn{margin-right: 10px;border: 1px solid #999;}
.filtros-out-encuestas .por-estado .btn-group .name{display: block;font-size: 13px;padding-top: 5px;}
.filtros-out-encuestas .por-estado .referencia-txt{}
.filtros-out-encuestas .por-estado .referencia-txt div{}

.filtros-out-encuestas .por-modulo{width: 200px; }
.filtros-out-encuestas .por-modulo .categoria{padding-top: 18px;}
.filtros-out-encuestas .por-modulo .select2-container--default .select2-selection--single .select2-selection__rendered{padding: 13px 15px 11px;height: 40px;}
.filtros-out-encuestas .por-modulo .select2-container{border-radius: 4px;}
.filtros-out-encuestas .por-modulo .select2-container--default .select2-selection--single:before{top: 7px; right: 25px; }

.filtros-out-encuestas .btn-buscar{padding-top: 51px;padding-left: 20px;}
.filtros-out-encuestas .btn-buscar button{padding: 11px 40px 10px;}


.encuestas-filter .table-div .col{flex: 0 1 100px;text-align: center;min-width: 72px!important;padding: 0;margin: 0 12px;min-width: initial;}

.encuestas-filter .table-div .full-col a{color: var(--color-primario);font-size: 15px;}
.encuestas-filter .table-div .bajada-nombre{font-size: 13px; color: #8c8c8c;}

.paginador{text-align:center;margin-top: 40px;}
.paginador .label{padding-bottom: 10px}
.paginador ul{margin: 0 auto;gap: 8px;}
.paginador ul li{}
.paginador ul li a{color: #0057ff;font-size: 16px;width: 35px;height: 35px;border-radius: 50px;display: inline-block;padding-top: 6px;}
.paginador ul li.active{}
.paginador ul li.active a{background: #081d34; color: white; pointer-events: none; 
    cursor: default;}
.paginador ul li.arrow a{}



@media only screen and (max-width: 767px) {

    .encuestas-filter .filtros-encuestas .por-nombre .input-group,
    .encuestas-filter .filtros-encuestas .por-modulo .categoria{padding-top: 0;}
    .encuestas-filter .filtros-encuestas .btn-buscar{padding: 30px 0 0;}
    .encuestas-filter .filtros-encuestas .btn-buscar .btn{width: 100%; }
    .encuestas-filter .filtros-encuestas{padding: 30px; }



    }