
.survey-front .wrapper-front-question.nps .puntaje li.cero span,
.survey-front .wrapper-front-question.nps .puntaje li.uno span,
.survey-front .wrapper-front-question.nps .puntaje li.dos span,
.survey-front .wrapper-front-question.nps .puntaje li.tres span,
.survey-front .wrapper-front-question.nps .puntaje li.cuatro span,
.survey-front .wrapper-front-question.nps .puntaje li.cinco span,
.survey-front .wrapper-front-question.nps .puntaje li.seis span,
.survey-front .wrapper-front-question.nps .puntaje li.siete span,
.survey-front .wrapper-front-question.nps .puntaje li.ocho span,
.survey-front .wrapper-front-question.nps .puntaje li.nueve span,
.survey-front .wrapper-front-question.nps .puntaje li.diez span{transition: .1s;}


.survey-front .wrapper-front-question.nps .puntaje li.cero span:hover,
.survey-front .wrapper-front-question.nps .puntaje li.uno span:hover,
.survey-front .wrapper-front-question.nps .puntaje li.dos span:hover,
.survey-front .wrapper-front-question.nps .puntaje li.tres span:hover,
.survey-front .wrapper-front-question.nps .puntaje li.cuatro span:hover,
.survey-front .wrapper-front-question.nps .puntaje li.cinco span:hover,
.survey-front .wrapper-front-question.nps .puntaje li.seis span:hover,
.survey-front .wrapper-front-question.nps .puntaje li.siete span:hover,
.survey-front .wrapper-front-question.nps .puntaje li.ocho span:hover,
.survey-front .wrapper-front-question.nps .puntaje li.nueve span:hover,
.survey-front .wrapper-front-question.nps .puntaje li.diez span:hover
{transform: scale(1.1);}



.survey-front .wrapper-front-question.nps .puntaje li.cero span:hover,
.survey-front .wrapper-front-question.nps .puntaje .cero.active span{cursor:pointer; background-color: #f16b6c;border-color: #f16b6c; color: #fff;}

.survey-front .wrapper-front-question.nps .puntaje li.uno span:hover,
.survey-front .wrapper-front-question.nps .puntaje .uno.active span{cursor:pointer; background-color: #f47d62;border-color: #f47d62; color: #fff;}

.survey-front .wrapper-front-question.nps .puntaje li.dos span:hover,
.survey-front .wrapper-front-question.nps .puntaje .dos.active span{cursor:pointer; background-color: #f78f58;border-color: #f78f58!important; color: #fff;}

.survey-front .wrapper-front-question.nps .puntaje li.tres span:hover,
.survey-front .wrapper-front-question.nps .puntaje .tres.active span{cursor:pointer; background-color: #f9a24f;border-color: #f9a24f; color: #fff;}

.survey-front .wrapper-front-question.nps .puntaje li.cuatro span:hover,
.survey-front .wrapper-front-question.nps .puntaje .cuatro.active span{cursor:pointer; background-color: #fcb445;border-color: #fcb445; color: #fff;}

.survey-front .wrapper-front-question.nps .puntaje li.cinco span:hover,
.survey-front .wrapper-front-question.nps .puntaje .cinco.active span{cursor:pointer; background-color: #ffc63b;border-color: #ffc63b; color: #fff;}

.survey-front .wrapper-front-question.nps .puntaje li.seis span:hover,
.survey-front .wrapper-front-question.nps .puntaje .seis.active span{cursor:pointer; background-color: #dbc44a;border-color: #dbc44a; color: #fff;}

.survey-front .wrapper-front-question.nps .puntaje li.siete span:hover,
.survey-front .wrapper-front-question.nps .puntaje .siete.active span{cursor:pointer; background-color: #b6c159;border-color: #b6c159; color: #fff;}

.survey-front .wrapper-front-question.nps .puntaje li.ocho span:hover,
.survey-front .wrapper-front-question.nps .puntaje .ocho.active span{cursor:pointer; background-color: #92bf68;border-color: #92bf68; color: #fff;}

.survey-front .wrapper-front-question.nps .puntaje li.nueve span:hover,
.survey-front .wrapper-front-question.nps .puntaje .nueve.active span{cursor:pointer; background-color: #6dbc77;border-color: #6dbc77; color: #fff;}

.survey-front .wrapper-front-question.nps .puntaje li.diez span:hover,
.survey-front .wrapper-front-question.nps .puntaje .diez.active span{cursor:pointer; background-color: #49ba86;border-color: #49ba86; color: #fff;}



@media only screen and (max-width: 767px){

.survey-front .wrapper-front-question.nps .puntaje li{width: 22px;}
.survey-front .wrapper-front-question.nps .puntaje ul li span{
    width: 27px;
    height: 27px;
    font-size: 17px;
    padding-top: 1px;
    }

}
