
.errores .logo{margin: 10px 20px 0;}
.errores .logo img{height: 66px;}

.errores .content {padding: 0!important;max-width: 1020px;margin: 40px auto 0;}

.errores .left img{width: 430px; }

.errores .right{padding-left: 100px; }
.errores .subtitle{font-size: 24px; text-transform: none; padding-bottom: 5px;}
.errores .title{font-size: 60px; font-weight: 900; line-height: 110%; }

/*powered*/
.powered{position: relative;font-size: 13px;color: #555!important;text-align: center;padding-right: 35px;width: fit-content;margin: 0 auto;margin-top: 75px;}
.powered i{padding-right: 4px;padding-left: 2px;}
.powered a{position: absolute; top: 1px; right: 3px;}
.powered a img{height: 18px; }




 /*Mobile*/
 @media only screen and (max-width: 767px) {

.errores{padding: 30px; }
.errores .logo{margin: 0; }
.errores .logo img{}

.errores .content {margin-top: 0;padding-top: 40px!important;}
.errores .left{text-align: center; }
.errores .left img{width: 100%;}

.errores .right{padding: 0;text-align: center;margin-top: 30px;}
.errores .subtitle{font-size: 20px; }
.errores .title{font-size: 38px; }

/*powered*/
.powered{margin-top: 50px; }
.powered i{}
.powered a{}
.powered a img{}


    }