

/*Plantillas*/
.evaluaciones .tab-content .tab-pane#plantillas{width: initial;padding-bottom: 30px;}

.evaluaciones .plantillas .descripcion{padding-top: 12px;font-size: 15px;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}

.evaluaciones .plantillas .actions{padding-left: 40px;text-align: right;}

.evaluaciones .card{margin-bottom: 15px;}

.evaluaciones .main-title{font-size: 20px; margin-bottom: 25px;font-weight: 400;}


/*Competencias*/
.evaluaciones .tab-content .tab-pane#competencias{}
.evaluaciones .tab-content .tab-pane#competencias .card{}
.evaluaciones .tab-content .tab-pane#competencias .actions{position: absolute; right: 10px; top: 20px;}

.evaluaciones .tab-content .tab-pane#competencias .card .card-title {margin-bottom: 10px;}

.evaluaciones .tab-content .tab-pane#competencias .card .descripcion{display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}

.evaluaciones .tab-pane#competencias .right .tips{margin-top: 0;}



/*Modal Plantilla*/
.evaluaciones .modal input.nombre, 
.evaluaciones .modal input.nombre::placeholder{font-size: 16px!important;}

.evaluaciones .modal textarea{font-size: 16px;height: 130px;}