
.heatmap header .title{font-size: 24px;font-weight: 500;margin: 0;line-height: 116%;}
.heatmap header .special-combo{margin-left: 6px;}


.heatmap header{/* margin-right: 30px; */}
.heatmap header .total {padding-top: 5px;width: inherit;}
.heatmap header .total .numero{font-size: 22px;text-align: center;padding-left: 7px;padding-top: 1px;}
.heatmap header .total .numero small{font-size: 66%; font-weight: 500; padding-left: 0; }
.heatmap header .total .label{font-size: 18px;padding-top: 5px;}


.heatmap .total-fullscreen .total {padding-top: 2px; }
.heatmap .total-fullscreen .total .numero{font-size: 20px;}
.heatmap .total-fullscreen .total .label{font-size: 16px;}



.heatmap header .versus{width: 350px;}
.heatmap header .versus.opacity{opacity: .3;}
.heatmap header .versus .label{padding-bottom: 3px;}

.heatmap .card-body{padding: 40px;}


.heatmap .actions.close{position: absolute;top: 30px;right: 30px;}
.heatmap .actions.close a{}
.heatmap .actions.close a:not(:first-child){padding-left: 20px;}

.heatmap .actions.close .cerrar{display: none;}
.heatmap .actions.close .fullscreen-btn {position: relative;background: #efefef;height: 40px;width: 40px;color: #444;border-radius: 50%;text-align: center;padding-top: 11px;font-size: 18px!important;display: block;transition: .15s;}
.heatmap .actions.close .fullscreen-btn:hover {transform: scale(1.15);background-color: #0057ff;color: #fff;}
.heatmap .actions.close .fullscreen-btn i{}
.heatmap .fullscreen .actions.close {position: initial; }
.heatmap .fullscreen .actions.close .cerrar{display: block;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: white;}
.heatmap .fullscreen .actions.close .fullscreen-btn{display: none;}
.heatmap .fullscreen .actions.close a{font-size: 40px; color: #444!important; position: absolute; right: 35px; top: 30px; }


.heatmap .top-card{min-height: 140px;}

.heatmap .card-title{padding-right: 100px; line-height: 130%; }
.heatmap .card-title span{font-size: 10px; color: #999; text-transform: uppercase; display: block; font-weight: normal; }

.heatmap .views{width: 405px;}
.heatmap .views .form-group{padding-right: 80px;margin: 0;margin-bottom: 14px;}
.heatmap .views .form-group .select2-selection__placeholder{font-size: 14px; color: #999;}
.heatmap .views .form-group .select2-container--default .select2-selection--single,
.heatmap .versus .form-group .select2-container--default .select2-selection--single{border: 1px solid #efefef;border-radius: 3px;}
.heatmap .views .form-group .select2-container--default .select2-selection--single .select2-selection__rendered,
.heatmap .versus .form-group .select2-container--default .select2-selection--single .select2-selection__rendered{padding: 12px 36px 0px 15px;font-size: 14px;font-weight: 400;height: 40px;}
.heatmap .views .form-group .select2-container--default .select2-selection--single:before,
.heatmap .versus .form-group .select2-container--default .select2-selection--single:before{top: 7px; right: 26px; }
.heatmap .views .comparar{font-size: 12px;}







/*Modal*/
  .vistas-heatmap{}
  .vistas-heatmap .modal-wrapper{max-width: 1300px;width: 92%;vertical-align: top;}

  .vistas-heatmap .tab-container{}
  .vistas-heatmap .tab-container .wrapper-tab{width: 22%;border-right: 1px solid #efefef;padding-right: 30px;}
  .vistas-heatmap .tab-container .wrapper-tab .nav{display: block;}
  .vistas-heatmap .tab-container .wrapper-tab .btn{width: 100%; }
  .vistas-heatmap .tab-container .wrapper-tab .subtitle{font-size: 9px; text-transform: uppercase; color: #999; padding-top: 30px; }
  .vistas-heatmap .tab-container .wrapper-tab ul{padding-top: 10px; }
  .vistas-heatmap .tab-container .wrapper-tab ul li{display: block;padding: 5px 0;}
  .vistas-heatmap .tab-container .wrapper-tab ul li::after{}
  .vistas-heatmap .tab-container .wrapper-tab ul li a{text-transform: none;font-size: 15px;margin: 0;padding: 5px 0;position: relative;color: #444;}
  .vistas-heatmap .tab-container .wrapper-tab ul li a::after{content: '\f054';font-family: "Font Awesome 5 Pro";position: absolute;right: 0;font-size: 12px;top: 8px;}
  .vistas-heatmap .tab-container .wrapper-tab ul li a::before{display: none;}
  .vistas-heatmap .tab-container .wrapper-tab ul li a.active{}
  

  .vistas-heatmap .tab-container .tab-content{padding-left: 30px;width: 78%;padding-top: 0;}
  .vistas-heatmap .tab-container .tab-content .tab-pane{}
  
  .vistas-heatmap .tab-container .tab-content .tab-pane.inicial{}
  .vistas-heatmap .tab-container .tab-content .tab-pane.inicial .wrapper{text-align: center; padding-bottom: 30px; }
  .vistas-heatmap .tab-container .tab-content .tab-pane.inicial .wrapper img{height: 250px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane.inicial .wrapper .texto{font-size: 17px; font-weight: 400; padding: 40px 0 4px; }
  .vistas-heatmap .tab-container .tab-content .tab-pane.inicial .wrapper .bajada{color: #999;}
  
  
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data{background: #f5f5f5; padding: 25px!important; margin-bottom: 25px; }
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .nombre{min-width: 240px;margin-right: 50px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .label{font-size: 12px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .nombre input{font-size: 16px;padding: 2px 0 0 0!important;height: 34px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .nombre input::placeholder{font-weight: 300;}
  
  
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions{display: inline-block;margin: 0 10px;padding-top: 7px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions .dropdown > i{font-size: 24px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions .clonar{}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions .clonar i{}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions .eliminar{color: #ff6b68!important;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions .eliminar i{}
  
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia{width: 190px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .form-group{margin-bottom: 0;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia .selected{font-size: 16px; display: block; padding-top: 6px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia .select2-container{background-color: transparent;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia .select2-container--default .select2-selection--single{height: 34px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left: 0!important;font-weight: 400;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia .select2-container--default .select2-selection--single:before{top: 5px;}

  .vistas-heatmap .tab-container .tab-content .tab-pane .contenido{padding: 0px 25px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .contenido .contenido-top{margin-bottom: 25px; }
  .vistas-heatmap .tab-container .tab-content .tab-pane .contenido .contenido-top .title{font-size: 16px; font-weight: 500; margin: 0; }
  .vistas-heatmap .tab-container .tab-content .tab-pane .contenido .contenido-top .seleccionados{color: #999; }
  
  .buscador.rounded{margin-bottom: 0!important;/* min-width: 300px; */position: relative;height: 40px;margin-top: 2px;text-align: right;}
  .buscador.rounded input{font-size: 16px;border: 1px solid #efefef;border-radius: 50px!important;padding: 2px 20px 0px 45px!important;transition: .3s;width: 300px;}
  .buscador.rounded input:focus{border-color: #bbb;width: 400px;}
  .buscador.rounded::before {content: '\f002';font-family: "Font Awesome 5 Pro";position: absolute;top: 10px;left: 20px;font-size: 15px;}


  .vistas-heatmap .tab-container .tab-content .tab-pane.tags .contenido .btn-group,
  .vistas-heatmap .tab-container .tab-content .tab-pane.puestos .contenido .btn-group{margin-bottom: 8px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .contenido .btn-group span{padding-top: 3px; font-size: 16px; padding-left: 10px; }
  
  
  .vistas-heatmap .tab-container .tab-content .tab-pane.jefes .contenido .thead{margin-bottom: 0!important;}
  
  .vistas-heatmap .tab-container .tab-content .tab-pane.jefes .contenido .thead > div:not(.name),
  .vistas-heatmap .tab-container .tab-content .tab-pane.jefes .contenido .item .d-flex ~ div:not(.first){min-width: 170px!important;text-align: left;}
  
  .vistas-heatmap .tab-container .tab-content .tab-pane.jefes .contenido .thead {border-bottom: 1px solid #ddd; padding-bottom: 10px; }
  .vistas-heatmap .tab-container .tab-content .tab-pane.jefes .contenido .thead .name .btn-group{margin-right: 13px;}
  



.heatmap .demografias {margin-top: 20px;}
.heatmap .top-card .label{font-size: 12px; margin-bottom: 5px; }
.items-group.btn-group-toggle.btn-group{width: 100%;}
.items-group.btn-group-toggle.btn-group label{border: none!important; border-radius: 0!important; }
.items-group.btn-group-toggle.btn-group label:first-child{border-radius: 3px 0 0 3px!important;}
.items-group.btn-group-toggle.btn-group label:last-child{border-radius: 0 3px 3px 0!important;}
.items-group.btn-group-toggle.btn-group .btn{padding: 12px 30px;font-size: 14px;}
.items-group.btn-group-toggle.btn-group .btn.active{background-color: #0057ff;}

.heatmap .path{font-size: 14px;}
.heatmap .path {margin-bottom: 30px;}
.heatmap .path li{color: #999;}
.heatmap .path li .here{font-weight: 600; color: #444;}
.heatmap .path li a{color: #0057ff!important;padding-right: 12px;}
.heatmap .path li a::after{content: '/';padding-left: 10px;}

/*.heatmap .top-card .demografias .referencia{font-size: 12px; color: #999; font-style: italic; padding-top: 14px;}*/


.heatmap .top-card .versus{}
.heatmap .top-card .versus .label{}

.heatmap .top-card .versus .label span{font-weight: 500;}
.heatmap .top-card .versus .form-group{width: 230px;}


 


.heatmap .column-left{width: 450px;position: absolute;height: 50px;background: #fff;}
.heatmap .column-left .item-group{width: 100%;flex: 1;}
.heatmap .column-left .name{font-weight: 600;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height: 130%;width: calc(100% - 70px);}
.heatmap .column-left .name .enps{padding-left: 17px;}

.heatmap .btn-demo .column-left .name{padding-left: 16px;}
.heatmap .btn-demo .column-left .name::before{top: 16px;left: 0px;font-size: 8px; content: '\f054'; transition: .3s; font-family: "Font Awesome 5 Pro"; position: absolute;}



.heatmap .subdimension .btn-demo .column-left .name,
.heatmap .subdimension .column-left{padding-left: 20px;}

.heatmap .subdimension .btn-demo .column-left .name::before,
.heatmap .subdimension .collapsing .comments a i,
.heatmap .subdimension .collapse .comments a i{left: 20px;}



.heatmap .collapse-wrapper.enps .name,
.heatmap .collapse-wrapper.compromiso .name {padding-left: 15px;}

.heatmap .enps .column-left {}
.heatmap .enps .column-left .name::before{content: initial;}
.heatmap .enps .numero div:hover::after
.heatmap .enps .column-right {}
.heatmap .enps .column-right .numero {}
.heatmap .enps .column-right .numero div{background: #ccc;}
.heatmap .compromiso .column-right .numero div{}



.heatmap .column-right{padding-left: 450px;border-bottom: 2px solid #fff;}





.heatmap .variables{/* background: #efefef; */ }
.heatmap .variables .column-right .name{width: 50px;height: 260px;position: relative;/* border-right: 1px solid #efefef; */background: #fff;/* border-top: 1px solid #efefef; */}
.heatmap .variables .column-right .name:first-child{/* border-left: none; */}
.heatmap .variables .column-right .name:last-child{border-right: 2px solid #efefef;}
.heatmap .variables .column-right .name .texto{-webkit-transform: rotate(90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: translate(-54px, 75px) rotate(-90deg);width: 155px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 120%;white-space: initial;}
.heatmap .variables .column-right .name .texto a{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 120%;}

.heatmap .variables .column-right .name .texto .up-level{display: none;position: absolute;left: 22px;top: 34px;}
.heatmap .variables .column-right.group-area .name:not(:first-child) .texto{background: url(../img/ic-sub.png) no-repeat 4px 50%;background-size: 8px;padding-left: 26px;}
.heatmap .variables .column-right.group-area .name:first-child .texto{padding-left: 43px;position: relative;font-size: 15px;text-transform: uppercase;padding-top: 34px;}
.heatmap .variables .column-right.group-area .name:first-child .texto .up-level{display: block;}
.heatmap .variables .column-right.group-area .name:first-child{font-weight: 700;}
.heatmap .variables .column-right.group-area .name:nth-child(2){/* border-left: 1px solid #fff; */}
.heatmap .variables .column-left{height: 260px;background: #fff;z-index: 9;/* border-right: 1px solid #999; *//* border-top: 1px solid #efefef; */}
.heatmap .variables .labels {text-transform: uppercase;font-size: 9px;color: #999;position: absolute;bottom: 0;width: 100%;}
.heatmap .variables .labels .btn-expandir{text-transform: initial;padding-left: 11px;font-size: 10px;position: relative;margin-left: 18px;}
.heatmap .variables .labels .btn-expandir i{position: absolute; top: 1px; left: 0; }

.heatmap .variables .labels .etiquetas-rows{padding-top: 18px;}
.heatmap .variables .labels .etiquetas-column{color: #000;}
.heatmap .variables .labels .etiquetas-column .participantes{
    border: 0;
    height: 32px;
    padding: 6px 0 0 0;
    border: 1px solid #2e353e;
    font-size: 13px;
    border-right: 0;
    background: #dce9ff;
    border-radius: 5px 0 0 5px;
    right: 0;
}

.heatmap .variables .labels .etiquetas-column .participantes i{border-bottom: 1px dotted #999; }

.heatmap .variables .labels .totales{padding: 0;height: 50px;display: block;width: 80px;/* border: 1px solid #2e353e; */padding: 18px 0;text-align: center;margin-right: -1px;margin-bottom: -1px;}


 
.heatmap .variables .labels .totales:hover > .total{color: red;}


.heatmap .variables .participantes{
    bottom: 50px;
    position: absolute;
    width: 50px;
    text-align: center;
    font-weight: 400;
    padding-top: 6px;
    /* border-right: 1px solid #2e353e; */
    padding-bottom: 4px;
    font-size: 13px;
    /* background: #ffeebd; */
    border-top: 1px solid #2e353e;
    border-bottom: 1px solid #2e353e;
    height: 32px;
}
.heatmap .variables .total{position: absolute;height: 50px;bottom: 0px;padding-top: 14px;font-weight: 500;font-size: 16px;}

.heatmap .fullscreen{
    left: 0;
    right: 0;
    top: 12px;
    z-index: 999999999;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 10px rgb(95 108 114 / 20%), 0 0px 6px rgb(95 108 114 / 20%);
    position: absolute;
    }


.heatmap .total-fullscreen{display:none!important;padding: 40px 40px 50px;}
.heatmap .fullscreen .total-fullscreen{display: block!important;height: initial;border-bottom: 1px solid #efefef;padding: 30px 40px 23px;margin-right: 0;}



.fsm {
  margin: 10vh 5vw;
  background-color: blue;
  height: 100px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f5f5f5;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
}
.fsm .fa {transition: 1s; color: #f5f5f5; font-size: 2.5vw; }
.fsm .fa:before {color: #f5f5f5; }
.fsm .modal-content {height: 0; width: 0; margin: 0; }


/*.fsm h1.modal-content {
  opacity: 0;
  transition: 1s;
}*/
.fsm.apple {background: linear-gradient(135deg, #83458e 0%, #608dc9 100%); }

/*.fsm.pied {background: linear-gradient(135deg, #6ecdc7 0%, #c7e4ec 100%); }
.fsm.codepen {background: linear-gradient(135deg, #778899 0%, #DCDCDC 100%); }
.fsm.google {background: linear-gradient(135deg, #4285f4 0%, #ea4335 100%); }*/
.fsm.growing h1.modal-content {height: auto; margin: 0; opacity: 0; transition-delay: 0.5s; }
.fsm.full-screen {height: 100vh; z-index: 100; margin: 0; border-radius: 0; }
.fsm.full-screen .fa {font-size: 10vw; }
.fsm.full-screen .modal-content {height: auto; width: auto; margin: inital; }
.fsm.full-screen h1.modal-content {transition-delay: 0.5s; opacity: 1; }
.fsm.shrinking h1.modal-content {transition-delay: 0s; transition: 0.5s; opacity: 0; display: block; }
/*.fsm-container {display: flex; justify-content: space-between; width: 100%; box-sizing: border-box; }*/









/*Modal*/

.deptos-checkbox.comparar.guardar .modal-dialog{width: 550px;}
.deptos-checkbox.comparar.guardar .modal-dialog .label{padding: 6px 0 0;font-size: 13px;}
.deptos-checkbox.comparar.guardar .modal-dialog .box-content{padding-left: 20px;}

.deptos-checkbox.comparar.guardar .modal-dialog .new-view{
    padding: 10px 0 0;
}
.deptos-checkbox.comparar.guardar .modal-dialog .new-view .box-content {margin-bottom: 20px;}
.deptos-checkbox.comparar.guardar .modal-dialog .new-view .box-content input{width: 400px;font-size: 16px;}
   
.deptos-checkbox.comparar.guardar .modal-dialog .views-list {}
.deptos-checkbox.comparar.guardar .modal-dialog .views-list .box-content .label{padding-bottom: 6px;}
.deptos-checkbox.comparar.guardar .modal-dialog .views-list .box-content .form-group{padding-right: 0;margin: 0;}




.heatmap .variables .switches{padding-top: 63px;}
.heatmap .variables .switches .label{width: calc(100% - 83px);padding-right: 30px;}
.heatmap .variables .switches .form-group{margin: 0;padding-top: 11px;padding-right: 15px;}
.heatmap .variables .switches .form-group .toggle-switch{}
.heatmap .variables .switches .form-group .toggle-switch input{}
.heatmap .variables .switches .form-group .toggle-switch i{}

.heatmap .numero div{width: 50px;height: 50px;padding-top: 15px;border-right: 2px solid #fff;font-weight: 500;}
.heatmap .numero div:last-child{border-right: 2px solid #efefef;}
.heatmap .numero{text-align: center;}
.heatmap .numero small,
.heatmap .total small{font-size: 80%;padding-left: 1px;}

.heatmap .wrapper{overflow: auto;}
.heatmap .wrapper .collapse-wrapper{/* border-bottom: 1px solid #efefef; */width: fit-content;}
.heatmap .wrapper .collapse-wrapper:last-child{margin-bottom: 30px;}



.heatmap .wrapper .collapse-wrapper .numero div:last-child{border-right: 0;}
.heatmap .wrapper .collapse-wrapper:nth-of-type(2) .numero div:first-child{border-radius: 10px 0 0 0;}
.heatmap .wrapper .collapse-wrapper:nth-of-type(2) .numero div:last-child{border-radius: 0 10px 0 0;}
.heatmap .wrapper .collapse-wrapper:nth-last-of-type(2) .numero div:first-child{border-bottom-left-radius: 10px;}
.heatmap .wrapper .collapse-wrapper:nth-last-of-type(2) .numero div:last-child{border-radius: 0 0 10px 0;}


.heatmap .wrapper .adicionales {margin-top: 20px;}
.heatmap .wrapper .adicionales .collapse-wrapper .numero div:first-child{border-top-left-radius: 10px;border-bottom-left-radius: 10px;}
.heatmap .wrapper .adicionales .collapse-wrapper .numero div:last-child{border-top-right-radius: 10px;border-bottom-right-radius: 10px;}




.heatmap .wrapper .collapse-wrapper .btn-demo > .d-flex{/* background: #efefef; */ }

.heatmap .total{text-align: center;width: 49px;}
.heatmap .column-left .total{/* padding-right: 10px; *//* margin-left: auto; */height: 50px;padding-top: 14px;width: 50px;margin-left: auto;font-weight: 500;font-size: 16px;}


.heatmap .collapse{margin-bottom: 15px; }

.heatmap .heatmap-vermas{padding: 70px 8px 0; border-bottom: 1px solid #fff; margin-bottom: 1px; }
.heatmap .heatmap-vermas a{font-size: 17px;color: #fff;background: #0057ff!important;display: block;border-radius: 50px;cursor: pointer;width: 40px;height: 40px;text-align: center;padding-top: 8px;padding-right: 0;}
.heatmap .heatmap-vermas a:hover{transform: scale(1.07);}
.heatmap .heatmap-vermas a i{}

.heatmap .wrapper.comments .collapsing{position: inherit;}



.heatmap .collapsed .name{font-weight: 400!important;}
.heatmap .collapse .pregunta,
.heatmap .collapsing .pregunta{line-height: 140%;color: #777;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;padding-left: 15px;}

.heatmap .collapse .comments,
.heatmap .collapsing .comments{min-width: 38px;padding: 1px 15px 0 0;}

.heatmap .collapse .comments a,
.heatmap .collapsing .comments a{font-size: 12px;padding-left: 18px;display: block;position: relative;}

.heatmap .collapse .comments a i,
.heatmap .collapsing .comments a i{padding-right: 8px;position: absolute;top: 3px;left: 0;}

.heatmap .condicional{margin: 0; padding: 12px 0 0 10px!important; }
.heatmap .condicional .condiciones{left: 52px; top: -11px; }
.heatmap .condicional + .pregunta{padding-left: 10px}

.heatmap .referencias{margin: 0px 0 8px 0;}
.heatmap .referencias ul{}
.heatmap .referencias ul li{float: left; margin-right: 30px; }
.heatmap .referencias ul li .color {width: 20px;height: 12px;border-radius: 2px;margin: 5px 7px 0 0;}
.heatmap .referencias ul li .label {font-size: 12px;padding-top: 2px;}



.referencias-group{padding-left: 15px; padding-top: 3px;}
.referencias-group .pill-referencia{}

.pill-referencia span,
span.sintax-referencias
{border: 1px solid #ccc;padding: 3px 8px 2px 22px;text-transform: uppercase;font-size: 10px;border-radius: 4px;position: relative;}



.pill-referencia.preg-condicional span,
span.sintax-referencias.preg-condicional
{background-color: #DDFFFD;border-color: #8ddbd7;color: #04B8AF}

.pill-referencia span i{position: absolute; top: 4px; left: 7px;}
.pill-referencia.preg-condicional span i{font-size: 8px;top: 5px;}

span.sintax-referencias i{}
span.sintax-referencias.preg-condicional i{
    font-size: 8px;
}
span.sintax-referencias.compromiso i{}





.column-left span.sintax-referencias{
  visibility: hidden;
  opacity: 0;
  padding: 0;
  width: 18px;
  text-align: center;
  height: 18px;
  margin-left: 2px;
  transition: visibility 0s, opacity 0.5s linear;}

.column-left.collapsed span.sintax-referencias{
  visibility: visible;
  opacity: 1;
  }
.column-left.collapsed span.sintax-referencias:first-child{margin-left: 15px;}

.pill-referencia.compromiso span,
.column-left.collapsed span.sintax-referencias.compromiso
{background-color: #E1F6FF;border-color: #7ec6ff;color: #2196F3;}



.pill-referencia{margin-top: -2px;padding: 0 5px 0 0!important;position: relative;}
.pill-referencia .tooltip-custom{visibility: hidden;opacity: 0;background-color: #515963;padding: 25px 30px!important;color: #FFF;border-radius: 4px;position: absolute;z-index: 99;width: 370px;transition: visibility 0s, opacity .3s;}
.pill-referencia .tooltip-custom.bottom::before{content:'';width: 0;height: 0;border-top: 12px solid transparent;border-right: 15px solid #515963;border-bottom: 12px solid transparent;position: absolute;left: 30px;transform: rotate(90deg);top: -18px;}

.pill-referencia .tooltip-custom.bottom{left: 0;top: 39px;}
.pill-referencia .tooltip-custom.bottom{top: 38px;right: -8px;}
.pill-referencia .tooltip-custom.bottom::before{content:'';width: 0;height: 0;border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 15px solid #515963;position: absolute;top: -26px;right: 20px;transform: rotate(0deg);}

.pill-referencia:hover > .tooltip-custom{visibility: visible; opacity: 1;}
.pill-referencia:hover{cursor: pointer;}
.pill-referencia .titulo{font-size: 15px; font-weight: 600; margin-bottom: 20px;}
.pill-referencia ul{font-size: 14px!important;list-style-type: disc;margin-left: 10px!important;list-style-position: inside;margin: 0;}
.pill-referencia ul span{padding-left: 8px!important;}
.pill-referencia ul li{border-bottom: 0!important;padding-bottom: 20px;}
.pill-referencia ul li:last-child{padding-bottom: 0;}
    



/*Tooltips*/
.heatmap .variables .column-left .tip-wrp{top: 3px; right: 7px; }




.heatmap.new .wrapper{overflow: initial;}
.heatmap.new .column-left{width: 350px;position: absolute;height: 50px;background: #fff;position: sticky;left: 320px;}
.heatmap.new .variables{background: #efefef;position: sticky;top: 80px;z-index: 99;background: #fff;}
.heatmap.new .column-right{padding-left: 0;}

.heatmap.new .variables .switches{width: 350px;}
.heatmap.new .variables .column-left{height: 210px!important;}




.heatmap.new .fullscreen .wrapper{}
.heatmap.new .fullscreen .column-left{left: 0; }
.heatmap.new .fullscreen .variables{top: 0; }
.heatmap.new .fullscreen .column-right{}

.heatmap.new .fullscreen .variables .switches{}
.heatmap.new .fullscreen .variables .column-left{}




/*Compare encuesta anterior*/
.heatmap .compare{}
.heatmap .compare .numero div{/* border-left: 2px solid #777; *//* border-bottom: 2px solid #777; */padding: 0;}
.heatmap .compare .favorabilidad{}

.heatmap .compare .enps .column-right .numero div{background: #ffffff;}
.heatmap .compromiso .column-right .numero div{}



.heatmap .compare .variables .column-right .name .texto{}
.heatmap .compare .variables .column-right.group-area .name:not(:first-child) .texto{
    /* padding-left: 47px; */
    /* padding-top: 40px; */
    /* background: url(../img/ic-sub.png) no-repeat 24px 82%; */
    /* background-size: 8px; */
}

.heatmap .wrapper.compare .collapse-wrapper:nth-of-type(2) .numero div:first-child{border-radius: 10px 0 0 0;}

.heatmap .compare .variables .column-right .name,
.heatmap .compare .numero div,
.heatmap .compare .total{/* width: 80px; */padding-top: 0;}

.heatmap .compare .variables .participantes{display: none;}
.heatmap .compare .variables .column-right .name{height: 220px;}

.heatmap .compare .column-left{/* z-index: 9; */}
.heatmap .compare .column-right{border-bottom: 0;}

.heatmap .compare .total .valor-comparativo{height: 50px;border-width: 1px 1px 0 0;border-style: solid;border-color: #87CEFA;background: #E1F6FF;}
.heatmap .compare .column-left .total .valor-comparativo{border-width: 1px 0px 0px 1px;/* width: 80px; */}
.heatmap .compare .column-right .total .valor-comparativo{border-width: 1px 0px 0px 1px;}


.heatmap .wrapper.compare .collapse-wrapper:nth-of-type(2) .column-left .valor-comparativo,
.heatmap .wrapper.compare .adicionales .collapse-wrapper:first-child .column-left .valor-comparativo{border-top-left-radius:10px!important; }

.heatmap .wrapper.compare .collapse-wrapper:nth-last-child(2) .column-left .valor-comparativo,
.heatmap .wrapper.compare .adicionales .collapse-wrapper:last-child .column-left .valor-comparativo{border-bottom-left-radius:10px!important;border-bottom: 1px solid #87CEFA;}

.heatmap .wrapper.compare .adicionales .collapse-wrapper{margin-top: 4px;}


.heatmap .wrapper.compare .collapse-wrapper:nth-last-child(2) .column-right .valor-comparativo{border-bottom: 1px solid #cecece;}

.heatmap .wrapper.compare .variables .column-right div .name:nth-of-type(1) .valor-comparativo{border-top-left-radius: 10px !important;}
.heatmap .wrapper.compare .variables .column-right div .name:nth-last-child(2) .valor-comparativo{border-top-right-radius: 10px !important;}
.heatmap .wrapper.compare .collapse-wrapper:nth-last-child(2) .column-right .valor-comparativo:last-child{border-bottom-right-radius: 10px !important;}




.heatmap .compare .valor-comparativo{border-radius: 0!important;padding: 8px 5px!important;height: 50px;border-style: solid;border-color: #cecece;border-width: 1px 0px 0px 1px;}
.heatmap .compare .valor-comparativo:hover{background-color: rgba(0, 0, 0, 0.07);}
.heatmap .compare .valor-comparativo .vs-group{height: auto;margin-bottom: 5px;width: 100%;border: 0;}
.heatmap .compare .valor-comparativo .vs-group span:first-child{display: none;}
.heatmap .compare .valor-comparativo .vs{height: 14px;padding: 0px 4px;border-radius: 4px;font-size: 10px;}
.heatmap .compare .diferencia{font-size: 16px;height: auto;line-height: 100%;width: 100%;display: flex;justify-content: center;align-items: center;}
.heatmap .compare .diferencia i{font-size: 14px; padding-right: 7px; }
.heatmap .compare .diferencia small{font-weight: 500; }


.heatmap .compare .adicionales .collapse-wrapper .column-right .numero .valor-comparativo{border-top: 1px solid #cecece!important; }
.heatmap .compare .adicionales .collapse-wrapper .column-right .numero .valor-comparativo:last-child{border-radius: 0 10px 10px 0!important; }


.heatmap .compare .numero .valor-comparativo:first-child{border-left: 1px solid #87CEFA;}
.heatmap .compare .collapse-wrapper:nth-child(2) .column-right .numero .valor-comparativo{border-top: 1px solid #87CEFA;}
.heatmap .compare .collapse-wrapper:last-child .column-left .total .valor-comparativo{border-bottom: 1px solid #87CEFA; }
.heatmap .compare .collapse-wrapper:last-child .column-right .numero .valor-comparativo{border-bottom: 1px solid #cecece; }
.heatmap .compare .collapse-wrapper .column-right .numero .valor-comparativo:last-child;{border-right: 1px solid #cecece; }

.heatmap .compare .collapse-wrapper .column-right .numero .valor-comparativo:last-child{border-right: 1px solid #cecece;}
.heatmap .compare .column-right .d-flex .name:nth-last-child(2) .total .valor-comparativo{border-right: 1px solid #87CEFA; }

.heatmap .compare .diferencia.positiva,
.heatmap .compare .column-right .total.diferencia.positiva{color: #04b8af;}


.heatmap .compare .diferencia.negativa{color: #f16b6c;}

/*.heatmap .compare .diferencia::before{font-family: "Font Awesome 5 Pro";font-size: 12px;padding-right: 5px;}
.heatmap .compare .diferencia.positiva::before{content: '\f176';}
.heatmap .compare .diferencia.negativa::before{content: '\f175';}*/









.heatmap header .compare{}
.heatmap header .compare .numero{}
.heatmap header .compare .positiva{color: #46af71;
    background: url(../img/compare-positive.png) no-repeat 12px 22px;
    background-size: 8px;
    padding-left: 14px;}

.heatmap header .compare .negativa{
    color: #f94141;
    background: url(../img/compare-negative.png) no-repeat 13px 22px;
    background-size: 8px;
    padding-left: 14px;}




.heatmap .compare .favorabilidad .no-result{background: #efefef; border-right: 1px solid #efefef;}
.heatmap .compare .name .no-result{background: #efefef;}

.heatmap .favo-total.compare .negativa,
.heatmap .compare .total.negativa,
.heatmap .compare .favorabilidad .negativa{color: #f94141; background: url(../img/compare-negative.png) no-repeat 13px 22px; background-size: 8px;}


.heatmap header .favo-total.compare{margin-right: 18px;}
.heatmap .favo-total.compare .numero{background-size: 15px;padding: 8px 0 0 34px;background-position-y: 21px;}

.heatmap .compare .total{font-weight: 600;}
.heatmap .compare .variables .column-left{height: 220px;}


/*

.heatmap .compare .switches .pp{font-size: 12px;position: relative;padding-top: 42px;}
.heatmap .compare .switches .pp i{padding-right: 8px;font-size: 16px;display: block;}
.heatmap .compare .switches .pp .texto{padding: 8px 0 3px; }
.heatmap .compare .switches .pp .texto .extrabold{display: block;}
.heatmap .compare .switches .pp .label{font-size: 9px; text-transform: uppercase; color: #999; }
.heatmap .compare .switches .pp .example{color: #46af71; background: url('../img/compare-positive.png') no-repeat 0px 8px; background-size: 8px; padding-left: 12px; font-size: 14px; }
.heatmap .compare .switches .pp .example span{color: #444; font-size: 11px; padding: 0px 7px; }
.heatmap .compare .switches .pp .example a{font-size: 11px;}


*/



