
.heatmap header .title{font-size: 24px;font-weight: 600;margin: 0;line-height: 116%;}
.heatmap header .heatmap-category{margin-left: 6px;}


.heatmap header{margin-right: 30px;}
.heatmap header .total {padding-top: 5px;width: inherit;}
.heatmap header .total .numero{font-size: 22px;text-align: center;padding-left: 7px;padding-top: 1px;}
.heatmap header .total .numero small{font-size: 66%; font-weight: 500; padding-left: 0; }
.heatmap header .total .label{font-size: 18px;padding-top: 5px;}


.heatmap .total-fullscreen .total {padding-top: 2px; }
.heatmap .total-fullscreen .total .numero{font-size: 20px;}
.heatmap .total-fullscreen .total .label{font-size: 16px;}



.heatmap header .versus{width: 350px;}
.heatmap header .versus.opacity{opacity: .3;}
.heatmap header .versus .label{padding-bottom: 3px;}

.heatmap .card-body{padding: 40px;position: initial;}


.heatmap .actions.close{margin-top: 40px;margin-right: 10px;}
.heatmap .actions.close a{}
.heatmap .actions.close a:not(:first-child){padding-left: 20px;}

.heatmap .actions.close .cerrar{display: none;}
.heatmap .actions.close .fullscreen-btn {position: relative;background: #efefef;height: 40px;width: 40px;color: #444;border-radius: 50%;text-align: center;padding-top: 11px;font-size: 18px!important;display: block;transition: .15s;}
.heatmap .actions.close .fullscreen-btn:hover {transform: scale(1.15);background-color: #0057ff;color: #fff;}
.heatmap .actions.close .fullscreen-btn i{}
.heatmap .fullscreen .actions.close {position: initial; }
.heatmap .fullscreen .actions.close .cerrar{display: block;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: white;}
.heatmap .fullscreen .actions.close .fullscreen-btn{display: none;}
.heatmap .fullscreen .actions.close a{font-size: 40px;color: #444!important;position: fixed;right: 35px;top: 30px;z-index: 999999;}


.heatmap .top-card{min-height: 140px;}

.heatmap .card-title{padding-right: 100px; line-height: 130%; }
.heatmap .card-title span{font-size: 10px; color: #999; text-transform: uppercase; display: block; font-weight: normal; }

.heatmap .views{width: 405px;}
.heatmap .views .form-group{padding-right: 80px;margin: 0;margin-bottom: 14px;}
.heatmap .views .form-group .select2-selection__placeholder{font-size: 14px; color: #999;}
.heatmap .views .form-group .select2-container--default .select2-selection--single,
.heatmap .versus .form-group .select2-container--default .select2-selection--single{border: 1px solid #efefef;border-radius: 3px;}
.heatmap .views .form-group .select2-container--default .select2-selection--single .select2-selection__rendered,
.heatmap .versus .form-group .select2-container--default .select2-selection--single .select2-selection__rendered{padding: 12px 36px 0px 15px;font-size: 14px;font-weight: 400;}
.heatmap .views .form-group .select2-container--default .select2-selection--single:before,
.heatmap .versus .form-group .select2-container--default .select2-selection--single:before{top: 7px; right: 26px; }
.heatmap .views .comparar{font-size: 12px;}


.heatmap .top-card .demografia{}
.heatmap .top-card .demografias .btn:not(.active):hover{background-color: #7b8187!important;}
.heatmap .top-card .demografias .estandar{display: inline-block; padding-right: 40px; }
.heatmap .top-card .demografias .dropdown-demo{display: inline-block;min-width: 170px;}
.heatmap .top-card .demografias .dropdown-demo .label {position: relative; }
.heatmap .top-card .demografias .dropdown-demo .label .actions{position: absolute;right: 0;color: #0057ff;font-size: 13px;top: 0px;}
.heatmap .top-card .demografias .dropdown-demo .label .actions a{color: #0057ff;}






/*Modal*/
  .vistas-heatmap{}
  .vistas-heatmap .modal-wrapper{max-width: 1300px;width: 92%;vertical-align: top;}

  .vistas-heatmap .tab-container{}
  .vistas-heatmap .tab-container .wrapper-tab{width: 22%;border-right: 1px solid #efefef;padding-right: 30px;}
  .vistas-heatmap .tab-container .wrapper-tab .nav{display: block;}
  .vistas-heatmap .tab-container .wrapper-tab .btn{width: 100%; }
  .vistas-heatmap .tab-container .wrapper-tab .subtitle{font-size: 9px; text-transform: uppercase; color: #999; padding-top: 30px; }
  .vistas-heatmap .tab-container .wrapper-tab ul{padding-top: 10px; }
  .vistas-heatmap .tab-container .wrapper-tab ul li{display: block;padding: 5px 0;}
  .vistas-heatmap .tab-container .wrapper-tab ul li::after{}
  .vistas-heatmap .tab-container .wrapper-tab ul li a{text-transform: none;font-size: 15px;margin: 0;padding: 5px 0;position: relative;color: #444;}
  .vistas-heatmap .tab-container .wrapper-tab ul li a::after{content: '\f054';font-family: "Font Awesome 5 Pro";position: absolute;right: 0;font-size: 12px;top: 8px;}
  .vistas-heatmap .tab-container .wrapper-tab ul li a::before{display: none;}
  .vistas-heatmap .tab-container .wrapper-tab ul li a.active{}
  

  .vistas-heatmap .tab-container .tab-content{padding-left: 30px;width: 78%;padding-top: 0;}
  .vistas-heatmap .tab-container .tab-content .tab-pane{}
  
  .vistas-heatmap .tab-container .tab-content .tab-pane.inicial{}
  .vistas-heatmap .tab-container .tab-content .tab-pane.inicial .wrapper{text-align: center; padding-bottom: 30px; }
  .vistas-heatmap .tab-container .tab-content .tab-pane.inicial .wrapper img{height: 250px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane.inicial .wrapper .texto{font-size: 17px; font-weight: 400; padding: 40px 0 4px; }
  .vistas-heatmap .tab-container .tab-content .tab-pane.inicial .wrapper .bajada{color: #999;}
  
  
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data{background: #f5f5f5; padding: 25px!important; margin-bottom: 25px; }
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .nombre{min-width: 240px;margin-right: 50px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .label{font-size: 12px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .nombre input{font-size: 16px;padding: 2px 0 0 0!important;height: 34px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .nombre input::placeholder{font-weight: 300;}
  
  
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions{display: inline-block;margin: 0 10px;padding-top: 7px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions .dropdown > i{font-size: 24px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions .clonar{}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions .clonar i{}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions .eliminar{color: #ff6b68!important;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .actions .eliminar i{}
  
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia{width: 190px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .form-group{margin-bottom: 0;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia .selected{font-size: 16px; display: block; padding-top: 6px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia .select2-container{background-color: transparent;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia .select2-container--default .select2-selection--single{height: 34px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left: 0!important;font-weight: 400;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .top-data .demografia .select2-container--default .select2-selection--single:before{top: 5px;}

  .vistas-heatmap .tab-container .tab-content .tab-pane .contenido{padding: 0px 25px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .contenido .contenido-top{margin-bottom: 25px; }
  .vistas-heatmap .tab-container .tab-content .tab-pane .contenido .contenido-top .title{font-size: 16px; font-weight: 500; margin: 0; }
  .vistas-heatmap .tab-container .tab-content .tab-pane .contenido .contenido-top .seleccionados{color: #999; }
  
  .buscador.rounded{margin-bottom: 0!important;/* min-width: 300px; */position: relative;height: 40px;margin-top: 2px;text-align: right;}
  .buscador.rounded input{font-size: 16px;border: 1px solid #efefef;border-radius: 50px!important;padding: 2px 20px 0px 45px!important;transition: .3s;width: 300px;}
  .buscador.rounded input:focus{border-color: #bbb;width: 400px;}
  .buscador.rounded::before {content: '\f002';font-family: "Font Awesome 5 Pro";position: absolute;top: 10px;left: 20px;font-size: 15px;}


  .vistas-heatmap .tab-container .tab-content .tab-pane.tags .contenido .btn-group,
  .vistas-heatmap .tab-container .tab-content .tab-pane.puestos .contenido .btn-group{margin-bottom: 8px;}
  .vistas-heatmap .tab-container .tab-content .tab-pane .contenido .btn-group span{padding-top: 3px; font-size: 16px; padding-left: 10px; }
  
  
  .vistas-heatmap .tab-container .tab-content .tab-pane.jefes .contenido .thead{margin-bottom: 0!important;}
  
  .vistas-heatmap .tab-container .tab-content .tab-pane.jefes .contenido .thead > div:not(.name),
  .vistas-heatmap .tab-container .tab-content .tab-pane.jefes .contenido .item .d-flex ~ div:not(.first){min-width: 170px!important;text-align: left;}
  
  .vistas-heatmap .tab-container .tab-content .tab-pane.jefes .contenido .thead {border-bottom: 1px solid #ddd; padding-bottom: 10px; }
  .vistas-heatmap .tab-container .tab-content .tab-pane.jefes .contenido .thead .name .btn-group{margin-right: 13px;}
  







.heatmap .top-card .demografias .dropdown-demo .btn{background: #696e75; padding-left: 20px; }
.heatmap .top-card .demografias .dropdown-demo .btn.selected{border-radius: 3px 0 0 3px!important;width: 100%;text-align: left;}
.heatmap .top-card .demografias .dropdown-demo .btn.dropdown-toggle{border-radius: 0 3px 3px 0!important;padding-right: 20px;width: 48px;position: relative;border-left: 1px solid rgba(255,255,255,.15);}
.heatmap .top-card .demografias .dropdown-demo .btn.dropdown-toggle::after{display: none;}
.heatmap .top-card .demografias .dropdown-demo .btn.dropdown-toggle i{border-radius: 0 3px 3px 0!important;font-size: 17px;position: absolute;top: 12px;left: 19px;}
.heatmap .top-card .demografias .dropdown-demo ul{width: 240px;background: #7b8187!important;z-index: 99999999;}
.heatmap .top-card .demografias .dropdown-demo ul li a{font-size: 14px; padding: 8px 30px; color: #fff;display: block;}
.heatmap .top-card .demografias .dropdown-demo ul li a:hover{background-color: #0057ff;}

.heatmap .top-card .label{font-size: 12px; margin-bottom: 5px; }
.heatmap .top-card .demografias .btn-group{width: 100%;}
.heatmap .top-card .demografias .btn-group label{border: none!important; border-radius: 0!important; }
.heatmap .top-card .demografias .btn-group label:first-child{border-radius: 3px 0 0 3px!important;}
.heatmap .top-card .demografias .btn-group label:last-child{border-radius: 0 3px 3px 0!important;}
.heatmap .top-card .demografias .btn{padding: 12px 30px;font-size: 14px;}
.heatmap .top-card .demografias .btn input{}
.heatmap .top-card .demografias .btn.active{background-color: #0057ff;}

.heatmap .top-card .demografias .path{font-size: 12px;}
.heatmap .top-card .demografias .path {margin: 20px 0 0 0;}
.heatmap .top-card .demografias .path li{color: #999;}
.heatmap .top-card .demografias .path li .here{font-weight: 600; color: #444;}
.heatmap .top-card .demografias .path li a{color: #0057ff!important;padding-right: 12px;}
.heatmap .top-card .demografias .path li a::after{content: '/';padding-left: 10px;}

/*.heatmap .top-card .demografias .referencia{font-size: 12px; color: #999; font-style: italic; padding-top: 14px;}*/


.heatmap .top-card .versus{}
.heatmap .top-card .versus .label{}

.heatmap .top-card .versus .label span{font-weight: 500;}
.heatmap .top-card .versus .form-group{width: 230px;}





.heatmap .column-left{width: 450px;position: absolute;height: 50px;background: #fff;}
.heatmap .column-left .name{font-weight: 600;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height: 130%;width: calc(100% - 70px);}
.heatmap .column-left .name .enps{padding-left: 17px;}

.heatmap .btn-demo .column-left .name{padding-left: 16px;}
.heatmap .btn-demo .column-left .name::before{top: 15px;left: 0px;font-size: 8px; content: '\f054'; transition: .3s; font-family: "Font Awesome 5 Pro"; position: absolute;}



.heatmap .subdimension .btn-demo .column-left .name,
.heatmap .subdimension .column-left{padding-left: 20px;}

.heatmap .subdimension .btn-demo .column-left .name::before,
.heatmap .subdimension .collapsing .comments a i,
.heatmap .subdimension .collapse .comments a i{left: 20px;}



.heatmap .collapse-wrapper.enps {background: #efefef;margin-top: 7px;}
.heatmap .enps .column-left {background: #efefef;border-right: 2px solid #efff;}
.heatmap .enps .column-left .name::before{content: initial;}
.heatmap .enps .numero div:hover::after
.heatmap .enps .column-right {}
.heatmap .enps .column-right .numero {}
.heatmap .enps .column-right .numero div{border-right: 2px solid #fff; }



.heatmap .column-right{padding-left: 450px;border-bottom: 1px solid #efefef;}





.heatmap .variables{/* background: #efefef; */ }
.heatmap .variables .column-right .name{width: 50px;height: 260px;position: relative;border-right: 1px solid #efefef;background: #fff;border-top: 1px solid #efefef;}
.heatmap .variables .column-right .name:first-child{/* border-left: none; */}
.heatmap .variables .column-right .name:last-child{border-right: 2px solid #efefef;}
.heatmap .variables .column-right .name .texto{-webkit-transform: rotate(90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: translate(-54px, 75px) rotate(-90deg);width: 155px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 120%;}
.heatmap .variables .column-right .name .texto a{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 120%;}

.heatmap .variables .column-right .name .texto .up-level{display: none;position: absolute;left: 4px;top: 0px;}
.heatmap .variables .column-right.group-area .name:not(:first-child) .texto{background: url(../img/ic-sub.png) no-repeat 2px 38%;background-size: 8px;padding-left: 26px;}
.heatmap .variables .column-right.group-area .name:first-child .texto{padding-left: 28px;position: relative;font-size: 15px;font-weight: 700;text-transform: uppercase;}
.heatmap .variables .column-right.group-area .name:first-child .texto .up-level{display: block;}
.heatmap .variables .column-right.group-area .name:first-child{font-weight: 500;}
.heatmap .variables .column-right.group-area .name:nth-child(2){/* border-left: 1px solid #fff; */}
.heatmap .variables .column-left{height: 260px;background: #fff;z-index: 9;border-right: 1px solid #999;}
.heatmap .variables .labels {text-transform: uppercase;font-size: 9px;color: #999;position: absolute;bottom: 0;width: 100%;}
.heatmap .variables .labels .btn-expandir{text-transform: initial;padding-left: 11px;font-size: 10px;position: relative;margin-left: 18px;}
.heatmap .variables .labels .btn-expandir i{position: absolute; top: 1px; left: 0; }

.heatmap .variables .labels .etiquetas-rows{padding-top: 18px;}
.heatmap .variables .labels .etiquetas-column{color: #000;}
.heatmap .variables .labels .etiquetas-column .participantes{
    border: 0;
    height: 32px;
    padding: 6px 0 0 0;
    border: 1px solid #2e353e;
    font-size: 13px;
    border-right: 1px solid #ccc;
}

.heatmap .variables .labels .etiquetas-column .participantes i{border-bottom: 1px dotted #999; }

.heatmap .variables .labels .totales{padding: 0;height: 51px;display: block;width: 50px;/* border: 1px solid #2e353e; */padding: 18px 0;text-align: center;margin-right: -1px;margin-bottom: -1px;}


 
.heatmap .variables .labels .totales:hover > .total{color: red;}


.heatmap .variables .participantes{
    bottom: 50px;
    position: absolute;
    width: 50px;
    text-align: center;
    font-weight: 400;
    padding-top: 6px;
    border-right: 1px solid #ccc;
    padding-bottom: 4px;
    font-size: 13px;
    background: #ffeebd;
    border-top: 1px solid #2e353e;
    border-bottom: 1px solid #2e353e;
    height: 32px;
}
.heatmap .variables .total{position: absolute;height: 50px;bottom: 0px;padding-top: 14px;font-weight: 600;font-size: 16px;}

.heatmap .fullscreen{
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999999;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    }


.heatmap .total-fullscreen{display:none!important;padding: 40px 40px 50px;}
.heatmap .fullscreen .total-fullscreen{display: block!important;height: 100px;border-bottom: 1px solid #efefef;padding: 20px 40px 20px;margin-right: 0;position: fixed;top: 0;background: #fff;z-index: 999;width: 100%;}

.heatmap .fullscreen .wrapper {
    overflow: initial;
}

.heatmap .fullscreen .variables{
    position: sticky;
    top: 100px;
    z-index: 999999;
}

.heatmap .fullscreen .card-body{margin-top:100px;}


.fsm {
  margin: 10vh 5vw;
  background-color: blue;
  height: 100px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f5f5f5;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
}
.fsm .fa {transition: 1s; color: #f5f5f5; font-size: 2.5vw; }
.fsm .fa:before {color: #f5f5f5; }
.fsm .modal-content {height: 0; width: 0; margin: 0; }


/*.fsm h1.modal-content {
  opacity: 0;
  transition: 1s;
}*/
.fsm.apple {background: linear-gradient(135deg, #83458e 0%, #608dc9 100%); }

/*.fsm.pied {background: linear-gradient(135deg, #6ecdc7 0%, #c7e4ec 100%); }
.fsm.codepen {background: linear-gradient(135deg, #778899 0%, #DCDCDC 100%); }
.fsm.google {background: linear-gradient(135deg, #4285f4 0%, #ea4335 100%); }*/
.fsm.growing h1.modal-content {height: auto; margin: 0; opacity: 0; transition-delay: 0.5s; }
.fsm.full-screen {height: 100vh; z-index: 100; margin: 0; border-radius: 0; }
.fsm.full-screen .fa {font-size: 10vw; }
.fsm.full-screen .modal-content {height: auto; width: auto; margin: inital; }
.fsm.full-screen h1.modal-content {transition-delay: 0.5s; opacity: 1; }
.fsm.shrinking h1.modal-content {transition-delay: 0s; transition: 0.5s; opacity: 0; display: block; }
/*.fsm-container {display: flex; justify-content: space-between; width: 100%; box-sizing: border-box; }*/









/*Modal*/

.deptos-checkbox.comparar.guardar .modal-dialog{width: 550px;}
.deptos-checkbox.comparar.guardar .modal-dialog .label{padding: 6px 0 0;font-size: 13px;}
.deptos-checkbox.comparar.guardar .modal-dialog .box-content{padding-left: 20px;}

.deptos-checkbox.comparar.guardar .modal-dialog .new-view{
    padding: 10px 0 0;
}
.deptos-checkbox.comparar.guardar .modal-dialog .new-view .box-content {margin-bottom: 20px;}
.deptos-checkbox.comparar.guardar .modal-dialog .new-view .box-content input{width: 400px;font-size: 16px;}
   
.deptos-checkbox.comparar.guardar .modal-dialog .views-list {}
.deptos-checkbox.comparar.guardar .modal-dialog .views-list .box-content .label{padding-bottom: 6px;}
.deptos-checkbox.comparar.guardar .modal-dialog .views-list .box-content .form-group{padding-right: 0;margin: 0;}


    /*Al hacer clic se apaga la otra opcion*/
    
    /*.deptos-checkbox.comparar.guardar .modal-dialog .options-wrp .new-view .btn ~ .box-content .bajada,
    .deptos-checkbox.comparar.guardar .modal-dialog .options-wrp .views-list .btn ~ .box-content .bajada {opacity: .2; transition: .3s;}
    
    .deptos-checkbox.comparar.guardar .modal-dialog .options-wrp .views-list .btn ~ .box-content .bajada {cursor: not-allowed;}
    .deptos-checkbox.comparar.guardar .modal-dialog .options-wrp .views-list .btn.active ~ .box-content .bajada {cursor: pointer;}
    
    .deptos-checkbox.comparar.guardar .modal-dialog .options-wrp .new-view .btn.active ~ .box-content .bajada,
    .deptos-checkbox.comparar.guardar .modal-dialog .options-wrp .views-list .btn.active ~ .box-content .bajada {opacity: 1;}*/









.heatmap .variables .switches{padding-top: 63px;}
.heatmap .variables .switches .label{width: calc(100% - 83px);padding-right: 30px;}
.heatmap .variables .switches .form-group{margin: 0;padding-top: 11px;padding-right: 15px;}
.heatmap .variables .switches .form-group .toggle-switch{}
.heatmap .variables .switches .form-group .toggle-switch input{}
.heatmap .variables .switches .form-group .toggle-switch i{}

.heatmap .numero div{width: 50px;height: 50px;padding-top: 15px;border-right: 1px solid #fff;}
.heatmap .numero div:last-child{border-right: 2px solid #efefef;}
.heatmap .comments:not(.compare) .numero div:hover{padding-top: 0;cursor: pointer;}
.heatmap .comments:not(.compare) .numero div:hover .value{display: none;}
.heatmap .comments:not(.compare) .numero div:hover::after{font-family: "Font Awesome 5 Pro";content: '\f27a';display: inline-block;font-size: 18px;background: rgba(0,0,0,.4);width: 49px;height: 50px;padding-top: 13px;color: #fff;}
.heatmap .numero{text-align: center;}
.heatmap .numero small,
.heatmap .total small{font-size: 80%; padding-left: 3px; }

.heatmap .wrapper{overflow: auto;}
.heatmap .wrapper .collapse-wrapper{/* border-bottom: 1px solid #efefef; */width: fit-content;}
.heatmap .wrapper .collapse-wrapper:last-child{margin-bottom: 30px;}
/*.heatmap .wrapper .collapse-wrapper:hover{opacity: .95}*/

.heatmap .wrapper .collapse-wrapper .btn-demo > .d-flex{/* background: #efefef; */ }

.heatmap .total{text-align: center;width: 49px;}
.heatmap .column-left .total{/* padding-right: 10px; *//* margin-left: auto; */height: 50px;padding-top: 14px;width: 50px;margin-left: auto;font-weight: 600;font-size: 16px;}


.heatmap .collapse{margin-bottom: 15px; }

.heatmap .wrapper.comments .collapsing{position: inherit;}

.heatmap .collapsed .name{font-weight: 400!important;}
.heatmap .collapse .pregunta,
.heatmap .collapsing .pregunta{max-width: calc(100% - 105px);line-height: 140%;color: #777;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;padding-left: 15px;}

.heatmap .collapse .comments,
.heatmap .collapsing .comments{min-width: 38px;}

.heatmap .collapse .comments a,
.heatmap .collapsing .comments a{font-size: 12px;padding-left: 18px;display: block;}

.heatmap .collapse .comments a i,
.heatmap .collapsing .comments a i{padding-right: 8px;position: absolute;top: 20px;left: 0;}

.heatmap .condicional{margin: 0; padding: 12px 0 0 10px!important; }
.heatmap .condicional .condiciones{
    left: 52px;
    top: -11px;
}
.heatmap .condicional + .pregunta{padding-left: 10px}

.heatmap .referencias{margin: 0px 0 8px 0;}
.heatmap .referencias ul{}
.heatmap .referencias ul li{float: left; margin-right: 30px; }
.heatmap .referencias ul li .color {width: 20px;height: 12px;border-radius: 2px;margin: 5px 7px 0 0;}
.heatmap .referencias ul li .label {font-size: 12px;padding-top: 2px;}


/*Tooltips*/
.heatmap .variables .column-left .tip-wrp{top: 3px; right: 7px; }




.heatmap.new .wrapper{overflow: initial;}
.heatmap.new .column-left{width: 350px;position: absolute;height: 50px;background: #fff;position: sticky;left: 320px;}
.heatmap.new .variables{background: #efefef;position: sticky;top: 80px;z-index: 99;background: #fff;}
.heatmap.new .column-right{padding-left: 0;}

.heatmap.new .variables .switches{width: 350px;}
.heatmap.new .variables .column-left{height: 210px!important;}




.heatmap.new .fullscreen .wrapper{}
.heatmap.new .fullscreen .column-left{left: 0; }
.heatmap.new .fullscreen .variables{top: 0; }
.heatmap.new .fullscreen .column-right{}

.heatmap.new .fullscreen .variables .switches{}
.heatmap.new .fullscreen .variables .column-left{}




/*Compare encuesta anterior*/
.heatmap .compare{}
.heatmap .compare .numero div{border-left: 1px solid #efefef; }
.heatmap .compare .favorabilidad{}


.heatmap header .compare{}
.heatmap header .compare .numero{}
.heatmap header .compare .positiva{color: #46af71;
    background: url(../img/compare-positive.png) no-repeat 12px 22px;
    background-size: 8px;
    padding-left: 14px;}

.heatmap header .compare .negativa{
    color: #f94141;
    background: url(../img/compare-negative.png) no-repeat 13px 22px;
    background-size: 8px;
    padding-left: 14px;}



.heatmap .favo-total.compare .positiva,
.heatmap .compare .total.positiva,
.heatmap .compare .favorabilidad .positiva{color: #46af71; background: url('../img/compare-positive.png') no-repeat 12px 22px; background-size: 8px; padding-left: 14px; }


.heatmap .compare .favorabilidad .no-result{background: #efefef; border-right: 1px solid #efefef;}
.heatmap .compare .name .no-result{background: #efefef;}

.heatmap .favo-total.compare .negativa,
.heatmap .compare .total.negativa,
.heatmap .compare .favorabilidad .negativa{color: #f94141; background: url(../img/compare-negative.png) no-repeat 13px 22px; background-size: 8px; padding-left: 14px; }


.heatmap header .favo-total.compare{margin-right: 18px;}
.heatmap .favo-total.compare .numero{background-size: 15px;padding: 8px 0 0 34px;background-position-y: 21px;}


.heatmap .compare .favorabilidad .negativa i{}

.heatmap .compare .total{font-weight: 600;}
.heatmap .compare .column-left .total{background-position-x: 5px;border-bottom: none;}

/*.heatmap .compare .column-right.group-area .d-flex{border-bottom: 1px solid #999;}*/

.heatmap .compare .switches .pp{font-size: 12px;position: relative;padding-top: 42px;}
.heatmap .compare .switches .pp i{padding-right: 8px;font-size: 16px;display: block;}
.heatmap .compare .switches .pp .texto{padding: 8px 0 3px; }
.heatmap .compare .switches .pp .texto .extrabold{display: block;}
.heatmap .compare .switches .pp .label{font-size: 9px; text-transform: uppercase; color: #999; }
.heatmap .compare .switches .pp .example{color: #46af71; background: url('../img/compare-positive.png') no-repeat 0px 8px; background-size: 8px; padding-left: 12px; font-size: 14px; }
.heatmap .compare .switches .pp .example span{color: #444; font-size: 11px; padding: 0px 7px; }
.heatmap .compare .switches .pp .example a{font-size: 11px;}






