.insights{}
.insights .content header {margin-bottom: 30px;}
.insights .content header .title{font-size: 30px; font-weight: 600; width: 660px; margin-right: 40px; }
.insights .content header .bajada{font-size: 18px; }
.insights .content header .bajada a{display: inline-block;}




.insights .controles .select2-container{padding: 9px 25px 8px 20px!important;}
.insights .controles .select2-container--default .select2-selection--single{border-bottom: 0;}
.insights .controles .combo-pregunta{width: 400px;}
.insights .controles .combo-pregunta .select2-container--default .select2-selection--single:before{top: 0; right: 0;}

.insights .controles .filtros-top{margin-top: 32px;/* width: 12%; */}
.insights .controles .impact-type{font-size: 20px; padding: 38px;}
.insights .controles .impact-type .heatmap-category{margin-left: 7px;font-weight: 600;}

.insights .controles .impact-type .heatmap-category{margin-left: 7px;font-weight: 600;position: relative;}
.insights .controles .impact-type .heatmap-category .nl-form::after{top: 15%; }

.insights .title-prioridades{font-size: 18px;padding-top: 8px;}
.insights .title-prioridades span{  }

.insights .prioridades{}
.insights .prioridades .preguntas .card{}
.insights .prioridades .preguntas .card .card-body{padding: 10px 30px;}
.insights .prioridades .preguntas{font-size: 15px;}



.insights .prioridades .preguntas .title-group{margin: 0px 0px 20px;/* position: relative; */}
.insights .prioridades .preguntas .actions{background: #0057ff;width: 100%;text-align: right;padding: 10px 12px;border-radius: 4px;position: sticky;top: 150px;margin-top: -68px;z-index: 99;margin-bottom: 20px;visibility: hidden;opacity: 0;transition:visibility 0.15s,opacity 0.15s;}
.insights .prioridades .preguntas .actions.mostrar{visibility: visible;opacity: 1;}
.insights .prioridades .preguntas .actions .btn{border: 1px solid #fff;color: #fff;padding: 10px 45px 9px;margin-left: 40px;font-size: 15px;margin-top: -5px;}
.insights .prioridades .preguntas .actions .btn:hover{background-color: rgba(255, 255, 255, .1);}
.insights .prioridades .preguntas .actions .btn-link{color: #fff; padding-top: 10px; display: inline-block; }
.insights .prioridades .preguntas .thead{font-size: 10px;text-transform: uppercase;padding: 20px 0px;border-bottom: 1px solid #efefef;position: sticky;top: 79px;background: #fff;z-index: 1;}
/* .insights .prioridades .preguntas .thead.active{border-bottom: 0;background-color: red;} */



.insights .prioridades .preguntas .thead .num-prioridad{font-size: 10px!important;}
.insights .prioridades .preguntas .thead > div{-ms-flex-item-align: center!important; align-self: center!important;}
.insights .prioridades .preguntas .check{width: 30px;}
.insights .prioridades .preguntas .num-prioridad{min-width: 80px;text-align: center;padding: 0 15px;font-size: 16px;}
.insights .prioridades .preguntas .principal{flex: 1!important;padding-right: 40px;position: relative;}
.insights .prioridades .preguntas .principal:hover a{color: #444;text-decoration: underline;}
.insights .prioridades .preguntas .principal .n-a{font-size: 10px;text-transform: uppercase;color: #999;font-style: italic;padding-top: 2px;}
.insights .prioridades .preguntas .principal .n-a span{border-bottom: 1px dotted;}

.insights .prioridades .preguntas .dimension{font-size: 10px;font-weight: 400;padding-bottom: 3px;text-transform: uppercase;color: #888;}
.insights .prioridades .preguntas .impacto,
.insights .prioridades .preguntas .favorabilidad{min-width: 70px; text-align: center; padding: 0 8px; }
.insights .prioridades .preguntas .impacto i{}





.insights .prioridades .preguntas .favorabilidad div,
.insights .prioridades .preguntas .audiencia div{margin: 0 auto;}

.insights .prioridades .preguntas .favorabilidad div small{padding-left: 3px;}

.insights .prioridades .preguntas .item{padding: 20px 0px;}
/*.insights .prioridades .preguntas .item:hover{cursor: pointer;background-color: rgba(0, 0, 0, .02);}*/
.insights .prioridades .preguntas .item:not(:last-child){border-bottom: 1px solid #efefef;}
.insights .prioridades .preguntas .item > div:not(.check){}
.insights .prioridades .preguntas .item > div{-ms-flex-item-align: center!important; align-self: center!important;}
.insights .prioridades .preguntas .item.selected{background-color: #dcf8ff;font-weight: 500;}

.insights .super-priority,
.insights .super-priority a{font-weight: 500;}
.insights .super-priority .num-prioridad{}
/* .insights .super-priority .num-prioridad{background: url('../img/fire.png') no-repeat 25px 2px;background-size: 10px;padding-left: 25px!important;} */
.insights .super-priority .num-prioridad::before{content: '\f06a';font-family: 'Font Awesome 5 Pro';left: 0;font-size: 14px;padding-right: 5px;color: red;}



.insights .prioridades .grafico .sticky{position: sticky; top: 100px;}

.insights .prioridades .grafico .card .card-title{font-size: 16px!important; margin-bottom: 30px; }
.insights .prioridades .grafico a{padding: 29px 0 16px; display: block;text-align: right;}
.insights .prioridades .grafico img{width: 100%;}

.insights .prioridades .grafico .impacto{}
.insights .prioridades .grafico .impacto .y-name{padding-right: 15px;}

.insights .prioridades .grafico .impacto .y-name,
.insights .prioridades .grafico .impacto .x-name{font-size: 14px;font-weight: 500;}

.insights .prioridades .grafico .impacto .y-name span{writing-mode: vertical-lr; transform: rotate(180deg);display: block;}

.insights .prioridades .grafico .impacto .x-group{margin-left: 62px;margin-top: 10px;}
.insights .prioridades .grafico .impacto .x-name{text-align: center;margin-top: 15px;}

.insights .prioridades .grafico .impacto .y-value{text-align: right;padding-right: 10px;font-size: 10px;width: 30px;}
.insights .prioridades .grafico .impacto .x-value{font-size: 10px;}
.insights .prioridades .grafico .impacto .y-value div{}
.insights .prioridades .grafico .impacto .area{height: 250px;width: 100%;background: rgb(189,246,254);
background: linear-gradient(135deg, rgba(189,246,254,1) 0%, rgba(32,169,248,1) 50%, rgba(0,44,143,1) 100%);position: relative;}



.insights .prioridades .grafico .punto .circulo span{background: #fff;width: 8px;height: 8px;display: block;border-radius: 50px;}
.insights .prioridades .grafico .punto:hover .circulo{border: 1px solid #fff;border-radius: 50px;padding: 2px;margin: -3px;}
.insights .prioridades .grafico .punto:hover .details{display: block;width: 500px;right: 0;top: -150px;padding: 0 25px 0 0;/* position: sticky; */z-index: 99!important;}
.insights .prioridades .grafico .punto{position: absolute;cursor: pointer;}
.insights .prioridades .grafico .punto.uno{bottom: 20px;right: 5%;}
.insights .prioridades .grafico .punto.dos{bottom: 35px;right: 10%;}
.insights .prioridades .grafico .punto.tres{bottom: 45px;right: 5%;}
.insights .prioridades .grafico .punto.cuatro{bottom: 100px;right: 10%;}
.insights .prioridades .grafico .punto.cinco{bottom: 108px;right: 14%;}
.insights .prioridades .grafico .punto.seis{bottom: 116px;right: 17%;}
.insights .prioridades .grafico .punto.siete{bottom: 33px;right: 39%;}
.insights .prioridades .grafico .punto.ocho{bottom: 115px;right: 45%;}
.insights .prioridades .grafico .punto.nueve{bottom: 126px;right: 41%;}
.insights .prioridades .grafico .punto.diez{bottom: 126px;right: 53%;}
.insights .prioridades .grafico .punto.once{bottom: 125px;right: 58%;}
.insights .prioridades .grafico .punto.doce{bottom: 178px;right: 63%;z-index: 999999999!important;}
.insights .prioridades .grafico .punto .details{display: none;position: absolute;z-index: 999999999999999999999999999999;}
.insights .prioridades .grafico .punto .details:hover{display: block;}

.insights .prioridades .grafico .punto .details .card{box-shadow: 0 2px 6px rgb(95 108 114 / 15%), 0 0px 6px rgb(95 108 114 / 30%); }
.insights .prioridades .grafico .punto .details .thead{font-size: 10px;text-transform: uppercase;font-weight: 400;}
.insights .prioridades .grafico .punto .details .pregunta{font-size: 18px;line-height: 120%;padding-right: 40px;font-weight: 600;}
.insights .prioridades .grafico .punto .details .prioridad{text-align: right; }
.insights .prioridades .grafico .punto .details .numero{font-size: 50px;line-height: 100%;padding-top: 7px;}
.insights .prioridades .grafico .punto .details .prioridad .numero.super-priority{background: url(../img/fire.png) no-repeat 0px 23px; background-size: 13px; padding-left: 24px; }
.insights .prioridades .grafico .punto .details .middle{border-top: 1px solid #efefef;padding-top: 20px;margin-top: 20px;}
.insights .prioridades .grafico .punto .details .middle .favorabilidad{}

.insights .prioridades .grafico .punto .details .middle .favorabilidad .value{font-size: 30px; line-height: 100%; padding-top: 5px; }
.insights .prioridades .grafico .punto .details .middle .favorabilidad .value small{padding-left: 5px;}
.insights .prioridades .grafico .punto .details .middle .favorabilidad .progress{width: 60px; }
.insights .prioridades .grafico .punto .details .middle .impacto{text-align: right; }
.insights .prioridades .grafico .punto .details .middle .impacto .value{font-size: 27px; padding-top: 0px; }
.insights .prioridades .grafico .punto .details .departamentos-wrp{ border-top: 1px solid #efefef; margin-top: 25px; padding-top: 20px; }
.insights .prioridades .grafico .punto .details .departamentos-wrp .thead{padding-bottom: 6px; }
.insights .prioridades .grafico .punto .details .departamentos-wrp .departamento{width: 230px; }
.insights .prioridades .grafico .punto .details .departamentos-wrp .favorabilidad{text-align: center; width: 90px; }
.insights .prioridades .grafico .punto .details .departamentos-wrp .impacto{text-align: center; width: 80px; }
.insights .prioridades .grafico .punto .details .departamentos-wrp .item{padding: 3px 0; }
.insights .prioridades .grafico .punto .details .departamentos-wrp .item.super-priority{font-weight: 600; }
.insights .prioridades .grafico .punto .details .departamentos-wrp .item.super-priority .departamento{background: url(../img/fire.png) no-repeat 0px 2px; background-size: 8px; padding-left: 15px; }
.insights .prioridades .grafico .punto .details .botones{margin-top: 30px;}
.insights .prioridades .grafico .punto .details .botones .btn-outline-primary{padding: 12px 25px;}
.insights .prioridades .grafico .punto .details .botones .btn-outline-primary:hover{background: #0057ff;color: #fff!important;}




/* Insights 2 */

.insights .prioridades.detalle-pregunta .preguntas .favorabilidad small,
.insights .prioridades.detalle-pregunta .preguntas .audiencia small,
.insights .prioridades.detalle-pregunta .preguntas .participacion small{padding-left: 3px;}

.insights .prioridades.detalle-pregunta .preguntas .item .favorabilidad .color{width: 55px;padding: 6px 0 7px;border-radius: 3px;}
.insights .prioridades.detalle-pregunta .preguntas .item {height: 80px;}
.insights .prioridades.detalle-pregunta .preguntas .item .audiencia,
.insights .prioridades.detalle-pregunta .preguntas .item .participacion {font-size: 18px;}

.insights .prioridades.detalle-pregunta .preguntas .favorabilidad,
.insights .prioridades.detalle-pregunta .preguntas .audiencia,
.insights .prioridades.detalle-pregunta .preguntas .participacion{width: 140px; text-align: center;margin-right: 6px;}

.insights .prioridades.detalle-pregunta .preguntas .table thead th{vertical-align: middle;}

.insights .prioridades.detalle-pregunta .preguntas .dataTables__bottom{display: none;}

.insights.pregunta .prioridades .grafico {padding-top: 12px;}

.insights .back{padding-bottom: 20px;display: inline-block;position: relative;padding-left: 20px;}
.insights .back i{position: absolute;font-size: 11px;top: 5px;left: 0;}
.controles{margin-bottom: 20px;}


.insights .preguntas .variables{padding: 10px 0 20px;}
.insights .preguntas .variables .title{font-size: 17px;font-weight: 500;padding-top: 10px;}
.insights .preguntas .variables .title .opciones{}
.insights .preguntas .variables .nl-form::after{right: -10px;}

.insights .preguntas .item .personas{display: block; font-size: 9px; font-weight: 400;text-transform: uppercase;}
.insights .preguntas .item .personas .total{display: block;color: #999;}


.pepe{background: #fff;border-radius: 4px;margin-right: 20px;padding: 20px 15px 6px;position: relative;width: 88%;}
.pepe .thead{font-size: 10px;text-transform: uppercase;margin-bottom: 4px;}
.pepe::after{content: '\f107';
  transition: .3s;
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 30px;
  top: 22px;
  font-size: 30px;
  color: #444;}
  
.pepe ul {margin-bottom: 0;}
  .pepe ul li {z-index: 2; width: 100%!important;font-size: 16px;cursor: pointer;position: relative;}
  .pepe ul li:not(.init) { float: left; width: 130px; display: none;  border-top: 1px solid #eee;padding: 20px 0;}
  .pepe ul li:not(.init):hover { background: #dcf8ff; }
  
  .pepe ul li.selected:not(.init) .num-prioridad,
  .pepe ul li.selected:not(.init) .pregunta,
  .pepe ul li.selected:not(.init) .dimension {opacity: .3;}
  
  .pepe ul li.selected:not(.init)::after {font-family: "Font Awesome 5 Pro"; content: '\f00c';right: 15px;position: absolute;top: 25%;font-size: 20px;color: #0057ff;font-weight: 600;}

  .pepe ul li:not(.init) div div{ms-flex-item-align: center !important; -ms-grid-row-align: center !important; align-self: center !important;}

  .pepe li.init {  padding-bottom: 14px;}
  .pepe li.init .d-flex {-ms-flex-wrap: wrap !important; flex-wrap: wrap !important;}
  .pepe li.init .pregunta,
  .pepe li.init .dimension{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
  
  .pepe li .num-prioridad,
  .pepe .thead .num-prioridad {text-align: center;width: 66px;}
  
  .pepe .valor .num-prioridad {}
  
  .pepe li .pregunta,
  .pepe .thead .pregunta{padding: 0 20px;flex: 1;}
  .pepe .valor .pregunta{}

  .pepe li .dimension,
  .pepe .thead .dimension{width: 220px;padding-right: 50px;}
  .pepe .valor .dimension{}


.insights .detalle-pregunta .grafico{margin-top: 63px;}




}



