



.table-div .btn-reporte{width: 100px!important;}
.table-div .btn-reporte a{padding: 7px 14px!important;border: 0!important;}

.table-div .journey .tooltip-span{background: url(../img/tooltip-icon.svg) no-repeat right 50% !important; background-size: 15px!important; display: inline-block; height: 21px; width: 15px; margin-left: 8px; position: absolute; right: 10px; }

.table-div.journey .thead{padding:16px 0 8px}
.table-div.journey .thead div,
.table-div.journey .item div,
.table-div.journey .total-table div {width: 100px;text-align: center;}
.table-div.journey .acordeon .label{text-transform: uppercase;font-size: 9px;display: block;}
.table-div.journey .acordeon .btn-demo{background: none;padding-left: 0!important;}

.table-div.journey .acordeon > .btn-demo .item{padding: 5px 0 11px 0;}
.table-div.journey .acordeon > .btn-demo .sub::before{top: 8px;}

.journeys .card{margin-bottom: 10px;}

.table-div.journey .acordeon .label-touchpoints + .item-group .item{}
.table-div.journey .acordeon .item-group:first-of-type {}
.table-div.journey .acordeon .item-group:first-of-type .btn-demo .item{/* padding: 8px 0 12px; */}
.table-div.journey .acordeon .item-group:first-of-type .btn-demo .sub:before{}

.table-div.journey .acordeon .item-group:not(:last-of-type){ border-bottom: 1px solid #efefef; }
.table-div.journey .acordeon .item-group:last-of-type{margin-bottom: 10px;}

.table-div.journey .total-table div:not(.btn-reporte):nth-last-of-type(2){border-radius: 0 20px 20px 0;}

.table-div.journey .acordeon .touchpoints .btn-demo:first-of-type{/* padding-top: 10px; */}
.table-div.journey .acordeon .label-touchpoints{/* padding-left: 20px; *//* position: absolute; */font-size: 9px;text-transform: uppercase;display: block;margin-bottom: -5px;}
.table-div.journey .acordeon .ultimo-nivel .label-touchpoints{padding-left: 0;/* display: block; *//* position: initial; *//* padding-bottom: 5px; */}
.table-div.journey ~ div:not(.ultimo-nivel) .more-result{/* padding-left: 20px; */}
.table-div.journey .more-result{color: #999;font-style: italic;padding-top: 10px;margin-top: -1px;border-top: 1px solid #efefef;}
.journeys .more-result a{padding: 3px 12px;font-size: 12px;font-style: normal;border: 1px solid;border-radius: 40px;margin-right: 10px;}
.more-result.etapas{margin-top: 20px;}
.table-div.journey .more-result.etapas a{}
.table-div.journey .touchpoints :not(.ultimo-nivel) .more-result{margin-bottom: 20px; }
.table-div.journey .ultimo-nivel .more-result{ margin-left: 0; }


.table-div.journey .acordeon .grupos-wrapper > .item-group{border-left: 4px solid lightblue; padding-left: 20px; margin-left: -17px;}
.table-div.journey .acordeon .sub-etapas-wrapper > .item-group{border-left: 4px solid lawngreen; padding-left: 20px; margin-left: -17px;}

.table-div.journey .acordeon .item-group.responsables-group .collapse .item-group:first-child,
.table-div.journey .acordeon .item-group.responsables-group .collapsing .item-group:first-child{padding-top: 0;}

.table-div.journey .acordeon .item-group.responsables-group .collapsing .item-group:first-child .item,
.table-div.journey .acordeon .item-group.responsables-group .collapse .item-group:first-child .item{padding-top: 6px;}

.table-div.journey .acordeon .item-group.responsables-group .collapsing .item-group:first-child .sub::before,
.table-div.journey .acordeon .item-group.responsables-group .collapse .item-group:first-child .sub::before{top: 9px;}


.table-div.journey .acordeon{}
.table-div.journey .acordeon:not(:last-child){border-bottom: 1px solid #efefef;}

.table-div.journey .acordeon .touchpoints{padding-left: 20px;}
.table-div.journey .acordeon .touchpoints .more-result{margin-bottom: 20px; }
.table-div.journey .acordeon .ultimo-nivel{}
.table-div.journey .acordeon .ultimo-nivel div,
.table-div.journey .acordeon .ultimo-nivel div a{font-weight: normal!important;}
.table-div.journey .acordeon .ultimo-nivel .item{padding: 10px 0px;}
.table-div.journey .acordeon .ultimo-nivel .item:first-of-type{padding-top: 15px;}


.table-div.journey .acordeon .collapse{position: relative;padding-left: 20px}
.table-div.journey .acordeon .collapse.show,
.table-div.journey .acordeon .collapsing
{margin-bottom: 10px;padding-left: 20px}

.table-div.journey .acordeon :not(.ultimo-nivel) .item div:first-child{font-weight: 600;font-size: 15px;}
.table-div.journey .acordeon .touchpoints .item div:first-child{font-weight: 500;font-size: 14px;}
.table-div.journey .acordeon .item div:not(.full-col){padding-top: 1px;}




.table-div .ultimo-nivel .item:first-child{padding-top: 40px;}


.journeys .filter-bar{ margin-bottom: 20px; }
.journeys .filter-bar .form-group{margin-bottom: 0;}
.journeys .filter-bar .form-group label{position: relative;}
.journeys .filter-bar .form-group .select2-container--default .select2-selection--single .select2-selection__rendered{padding: 12px 30px 12px 15px;}
.journeys .filter-bar .form-group .select2-container--default .select2-selection--single:before{ top: 7px; right: 22px; }
.journeys .filter-bar .btn-switch{padding-top: 20px;}
.journeys .filter-bar .filtros-top{padding-top: 12px;}


.journeys .filtros .modulo.touchpoints .ver-mas{margin-top: 10px;display: block;}

/*Grafico*/
.journeys .tab-content{padding-top: 0;}
.journeys .tab-content .grafico{margin-top: 15px;height: 300px; width: 100%;}

.journeys .canvasjs-chart-credit{display: none;}


.journeys .tab-content .indicadores-group .radio-label{padding-top: 28px; margin-left: 40px; }
.journeys .tab-content .indicadores-group .radio-label.compromiso .btn.active{background-color: #d3165e!important;border: 1px solid #d3165e!important;}
.journeys .tab-content .indicadores-group .radio-label.participacion .btn.active{background-color: #488bf7!important;border: 1px solid #488bf7!important;}
.journeys .tab-content .indicadores-group .radio-label.favorabilidad .btn.active{background-color: #32c787!important;border: 1px solid #32c787!important;}
.journeys .tab-content .indicadores-group .radio-label.mean .btn.active{background-color: #ff9100!important;border: 1px solid #ff9100!important;}
.journeys .tab-content .indicadores-group .radio-label.enps .btn.active{background-color: #0057ff!important;border: 1px solid #0057ff!important;}

.journeys .tab-content .tab-pane.chart-journey .etapas{width: 150px;}




.competencias{}

.competencias .table-div .btn-demo .item{}
.competencias .table-div .touchpoints .item .full-col{}
.competencias .table-div .thead .full-col{padding-left: 20px;}
.competencias .table-div .acordeon .sub::before{/* top: 4px; */}











