/*login*/
    .login .logo{height: 50px;display: block;margin: 0 auto 20px;}
    .login {background: url('../img/login-blur.png') no-repeat center center;background-size: cover;}
    .login .title{font-size: 19px;font-weight: 600;margin: 0px 0 7px;}
    .login input{font-size: 20px!important;padding-top: 15px!important;height: 50px;padding-right: 125px!important;font-weight: 400;}
    .login input::placeholder{font-size: 16px!important;font-weight: 300; color: #999!important;}
    .login input[type="email"]{padding-right: 0px!important;}

    .login .input-custom .form-group{margin-bottom: 10px; }

    .login__block{max-width: 90%;text-align: left;padding: 0;width: 800px;}
    .login__block .message-error{color: #fff;padding: 25px 30px 25px 80px;margin: 0 -30px;background: #ff3030 url('../img/ic-error.png') no-repeat 28px 49%;background-size: 38px;margin-bottom: 40px!important;}

    .login .form-group--float .form-control ~ label{padding-left: 0;bottom: 29px; left: 0;}

    .login .form-group.password{margin-bottom: 10px;margin-top: 0;}
    .login .forgot{color: #0057ff!important;font-size: 12px;padding: 18px 0 25px;display: block;text-align: center;}
    .login .boton {display: block;margin: 30px auto 10px;padding: 14px 0!important;}

    .login .register {font-size: 12px;border-top: 1px solid #eceff1;margin-top: 20px;padding-top: 15px;text-align: center;}
    .login .register a{color: #0057ff!important;}

    .login .custom-checkbox{padding-left: 26px;font-size: 12px;margin: 30px auto 0;width: 180px;}
    .login .custom-control-label{padding: 2px 0 0 5px;font-size: 13px;}
    .login .custom-control-label:before{width: 18px;height: 18px;padding-top: 1px;}

    .login .left {background: #2e353e url('../img/hi-five.png') no-repeat center bottom;background-size: 115%;min-height: 600px; padding: 40px 60px;border-radius: 2px 0 0 0;}
    .login .left h1{font-size: 41px; font-weight: 700; color: #fff; line-height: 115%; text-transform: uppercase; margin-top: 30px; }
    .login .left h6{font-size: 18px;font-weight: 300;color: #fff;line-height: 140%;}
    .login .right{padding: 60px 50px 40px;}
    .login .powered{font-size: 12px;color: #777;/* bottom: 30px; *//* position: absolute; */text-align: center;/* left: 0; *//* right: 0; */margin: 40px auto 0;}

    .login__block.registro, .login__block.forgot-password {padding: 40px;position: relative;}



    .login .sso{margin-top: 30px;border-top: 1px solid #efefef;padding-top: 30px;position: relative;}
    .login .sso .btn{padding: 10px 0; height: 46px;}
    .login .sso .or{
    display: block;
    position: absolute;
    top: -12px;
    background: #fff;
    width: 60px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}
    
    .login .btn{display: block;border: 1px solid #efefef;text-transform: initial;margin: 0 auto 6px;}
    .login .btn .d-flex{width: fit-content; margin: 0 auto; }
    .login .btn img{height: 22px;margin-right: 15px;}
    .login .btn span{padding-top: 3px;font-size: 14px;color: #4285f4;font-weight: 500;}
    .login .btn.google{border: 2px solid #4285f4;color: #4285f4;}
    .login .btn.microsoft{background-color: #2f2f2f;border: 1px solid #2f2f2f;}
    .login .btn.microsoft span{color: #fff!important;}
    .login .btn.linkedin{border: 2px solid #006699;color: #006699;}


    
    /*.login.custom{background: url('../img/login-custom-blur.jpg') no-repeat center center;}*/
    
    .login.custom .campo-icono input{padding-left: 27px!important; }
    .login.custom input::placeholder{font-size: 14px!important; color: #ccc!important;}
    .login.custom .campo-icono i{top: 23px; font-size: 16px; }
    /*.login.custom .left{background-color: #d32914;}*/
    .login.custom .flatpickr-prev-month{font-family: "Font Awesome 5 Pro"; content: '\f177'; font-size: 18px; color: #fff;}
    .login.custom .flatpickr-next-month{font-family: "Font Awesome 5 Pro"; content: '\f178';font-size: 18px; color: #fff;}


    /*login ALSEA*/
    .login.alsea{}
    .login.alsea input{padding-right: 0!important; }
    .login.alsea .info-login{font-size: 15px!important; }
    .login.alsea .info-login ul{padding-top: 12px;font-size: 13px;margin-bottom: 0;}
    .login.alsea .info-login ul li{position: relative;padding-left: 27px;margin-bottom: 3px;padding-top: 2px;}
    .login.alsea .info-login ul li img{width: 18px;position: absolute;top: 1px;left: 0;}
    .login.alsea .info-login .group-flags {padding-left: 0;}
    .login.alsea .info-login .group-flags div{display: inline-block;padding-right: 8px;}
    .login.alsea .info-login .group-flags div img{position: relative;top: -1px;margin-right: 2px;}


    /*forgot*/
        .forgot-password{width: 90%;padding: 30px;position: relative;max-width: 550px;}
        .forgot-password .bajada{font-size: 15px;color: #999;margin-bottom: 40px;}
        .login__block__header {color: #444;background: #fff;font-size: 24px;box-shadow: none;padding: 0;margin: 0;}
        .login__block__body{padding: 0;}

        .forgot-password .back{position: initial; font-size: 26px;}
        .forgot-password .back i{width: 10px;font-size: 30px;color: #0057ff;}
        .forgot-password .boton{width: fit-content;width: -moz-fit-content;padding: 12px 50px;}

        .forgot-password.new .campos .form-group:last-child{margin: 20px 0 40px;}
        .forgot-password .btn:hover:after {transform: translate(-50%, -50%) scale(1.6); }

        .crear-password{font-size: 13px;padding: 20px 0 0;line-height: 160%;}

    /*Registro*/
        .login__block.registro{width: 95%; max-width: 550px;}
        .registro .password .form-group{margin-top: 10px;}


        .login .powered{}


/*Formulario invalido*/
.invalid-form .message{color: #fff;background: #ff3030;padding: 8px 15px;border-radius: 3px;}
.invalid-form .message .bold{color: #fff!important;padding-right: 5px;}

.invalid-form .form-group__bar:before, .invalid-form  .form-group__bar:after{background-color: #ff3030;}



/* Custom Login */
.login.mcdonalds .right{padding-top: 110px;}
.login.mcdonalds .logo{margin-bottom: 50px;}
.login.mcdonalds .powered{position: absolute; border: 0; left: 0; right: 0; bottom: 40px;}
.login.mcdonalds .form-group.password,
.login.mcdonalds .input-custom .form-group{margin-bottom: 40px;}



/*Media queries*/
    
    @media (max-width: 1199.99px) {


    }



    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {

    }



    /*Mobile*/
    @media only screen and (max-width: 767px) {
        
        .login{background-size: 300%;}
        .login__block{max-width: 85%;}
        .login .left{display: none;}
        .login input.is-invalid {margin-bottom: 40px!important;}
        .forgot-password .boton {padding: 12px 20px;}
        .login__block__header{font-size: 22px;}
        .login .right {padding: 40px;}

    }

