/*TOPBAR*/
    
/*Dashboard*/
 
/*Title Dashboard Fix*/
    .content{padding: 120px 50px 30px 124px!important;transition: .12s;}
    
    .dashboard .title-dashboard{/* padding: 7px 0; */}
    .title-dashboard #divfix {background-color: #f5f5f5;z-index: 999;padding: 0px 0px 20px;top: 0px;left: 77px;right: 0;transition: .3s;}

    .title-dashboard #divfix ~ i {top: 0px;visibility: hidden; transition: .4s;color: #f1f4f5; font-size: 50px; position: fixed;z-index: 998;}
    .title-dashboard #divfix .content-divfix{/* border-left: 4px solid #444; *//* padding-left: 20px; */position: relative;/* padding-top: 3px; */}
    .title-dashboard #divfix .nombre{font-size: 20px;margin-bottom: 8px;line-height: 130%;width: calc(100% - 240px);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: 300;}
    
    .title-dashboard #divfix .details{font-size: 15px; }
    .title-dashboard #divfix .details ul{margin: 0;padding-bottom: 30px;}
    .title-dashboard #divfix .details ul li{float: left; margin-right: 15px; position: relative; font-size: 13px; padding-top: 3px;}
    .title-dashboard #divfix .details ul li.estado {color: #fff; border-radius: 70px; padding: 0 8px 1px; font-size: 11px; margin-top: 3px;}
    .title-dashboard #divfix .details ul li.estado.activa{background: #04b8af;}
    .title-dashboard #divfix .details ul li.estado.finalizada{background: #666666;}
    .title-dashboard #divfix .details ul li.estado span{padding-left: 14px;}
    .title-dashboard #divfix .btn-primary{position: absolute;right: 0;top: 8px;padding: 14px 25px 13px 25px;}
    
    .title-dashboard #divfix .ver-reporte{position: absolute;right: 0;top: 15px;color: #0057ff;font-size: 15px;padding-left: 30px;padding-right: 15px;}
    .title-dashboard #divfix .ver-reporte i{position: absolute; left: 0; font-size: 19px; }
    .title-dashboard #divfix .ver-reporte::after{content: '\f105';font-family: "Font Awesome 5 Pro";position: absolute;right: 0;top: 0px;font-size: 17px;}

    .title-dashboard #divfix.sticky {background: #40474f;color: #fff;padding: 18px 20px;top: 80px;z-index: 998;margin: 0;}
    /*.title-dashboard #divfix.sticky ~ i{visibility: visible;top: 118px;left: 294px;color: #40474f;}*/
    .title-dashboard #divfix .flecha{display: none;width: 36px;position: absolute;bottom: -35px;left: 20px;}
    .title-dashboard #divfix.sticky .flecha{display: block;}
    .title-dashboard #divfix.sticky .content-divfix{padding-left: 0;border:0;padding-top: 0;position: relative;}
    .title-dashboard #divfix.sticky .nombre{font-size: 18px;padding-left: 20px;}
    .title-dashboard #divfix.sticky .nombre .bold{color: #fff;}
    .title-dashboard #divfix.sticky .details{display: none;}
    .title-dashboard #divfix.sticky a{top: 3px;right: 20px;color: #fff;}
    .title-dashboard #divfix.sticky .btn-primary{color: #fff!important;top: -9px;}

    .content.full{padding-left: 40px!important;}
    .content.full .title-dashboard #divfix{left: 0px;}

/*Header Nombre h1*/
    .header{right: initial;left: initial;background: #e5e5e5;box-shadow: 0 2px 6px rgb(95 108 114 / 3%), 0 0px 6px rgb(95 108 114 / 5%);color: #444;padding: 0 16px;border-bottom: 1px solid #ededed;z-index: 1000;height: 80px;background: #fff;border-bottom: none;}
    .header::before, .header::after{content: initial;}


    /**/
    h1.title{margin-bottom: 8px;font-size: 24px;}

/*Header*/
    .page-title{font-size: 16px;font-weight: 600;text-transform: uppercase;margin-bottom: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .page-title small{padding-left: 10px; color: #999; }

    .academy{}
    .academy i{}
    .academy ul{margin: 6px 0;}
    .academy ul li{float: left;}
    .academy ul li:not(:last-child){margin-right: 30px; }
    .academy ul li a{color: #0057ff;font-size: 13px;}
    .academy ul li a i{padding-right: 7px;}


/*Iconos*/
    .top-nav > li > a{border-radius: 100%;}
    .top-nav > li > a:not(.header__nav__text) {padding-top: 12px; min-width: 42px; height: 42px; text-align: center;transition: }
    .top-nav > li > a:not(.header__nav__text):hover {background-color: rgba(0,0,0,.05);}
    .top-nav > li.show:not(.username) > a{background-color: rgba(0,0,0,.05);}
    .top-nav > li > a.active, .top-nav > li > a:hover {border-radius: 100%;}

    .top-nav > li{padding-left: 6px;}
    
    .top-nav > li.upgrade {position: relative;}
    .top-nav > li.upgrade a{font-weight: 500;padding: 15px 20px 15px 27px!important;position: relative;}
    .top-nav > li.upgrade a i{position: absolute;font-size: 17px;left: 0;top: 11px;color: #0057ff!important;}
    .top-nav > li.upgrade a:hover{background-color: initial!important;}
    
    .top-nav > li.crear-encuesta a{padding: 10px 25px 11px; height: 36px; margin-right: 20px;}
    .top-nav > li.crear-encuesta a:hover{background: #0057ff;}
    


    .top-nav > li a i{color: #333;font-size: 19px;}
    .top-nav > li a .notificacion{width: 14px;height: 14px;border-radius: 50%;position: absolute;top: 0px;right: 2px;font-size: 10px;font-weight: 500;text-align: center;}
    .top-nav > li.notificaciones .top-nav__notify:before{content: initial;}
    
    .top-nav > li.procesos a{display: flex; flex-direction: column; justify-content: center;padding: 0;}
    .top-nav > li.procesos img{height: 18px;}
    .top-nav > li.procesos .progress{width: 25px; margin: 3px auto 0; }

    .top-nav > li.procesos .dropdown-menu--block{width: 360px;}
    .top-nav > li.procesos .item{padding: 20px;}
    .top-nav > li.procesos .item .icon{background-color: rgba(0,0,0,.05); width: 22px; height: 22px; text-align: center; padding: 3px; border-radius: 50px; margin-right: 15px; margin-top: -2px; font-size: 11px; }
    .top-nav > li.procesos .item .icon i{}
    .top-nav > li.procesos .item:not(:last-child){border-bottom: 1px solid #efefef;}
    .top-nav > li.procesos .item .estado{font-size: 0.95rem;padding-top: 2px;}
    .top-nav > li.procesos .item .progress-group{width: 150px; margin-top: 8px; }
    .top-nav > li.procesos .item .progress-group .numero{
    font-size: 20px;
    margin-right: 15px;
    color: #333;
}
    .top-nav > li.procesos .item .progress-group .progress{margin-top: 2px;flex: 1;}
    .top-nav > li.procesos .item .progress-group .progress span{}
    .top-nav > li.procesos .item .progress-group .progress .progress-bar{}
    .top-nav > li .view-more{margin-top: 0;text-transform: none;font-weight: 400;font-size: 14px;padding: 20px 0;}




    .top-nav > li .listview__header{font-weight: 500;}
    .top-nav > li .listview__item {padding: 15px 20px;}
    .top-nav > li .listview__item.active {background-color: rgba(97,125,138,.08); }
    .top-nav > li .listview__item.active .icon {background: #0057ff;}
    .top-nav > li .listview__item .icon{border-radius: 50%;height: 40px;width: 40px;padding-top: 11px;text-align: center;margin-right: 15px;background: rgba(0,0,0,.05);}
    .top-nav > li .listview__item .icon i{font-size: 17px;color: #444;}
    .top-nav > li .listview__item.active .icon i{color: #fff;}
    .top-nav > li .listview__item .icon i:hover{color: #fff;}
    .top-nav > li .listview__heading{font-weight: 400;line-height: 140%;font-size: 14px;}
    .top-nav > li .listview__heading + p{margin: 0;}
    .top-nav > li .listview__heading > small{font-weight: 400px;}
    
    .top-nav > li .listview:not(.listview--inverse).listview--hover .listview__item:hover {background-color: rgba(97,125,138,.12); }
    .top-nav .top-nav__notifications .listview__scroll {height: 305px;}


    /*.top-nav > li.settings a i {padding-right: 20px; border-right: 1px solid #ddd;}*/
    /*.top-nav > li.settings .dropdown-menu{left: 36px!important;}*/
    
    .top-nav > li.inbox .view-more{text-transform: initial; font-weight: normal; padding: 10px 0 28px;}
    
    
    .top-nav > li.btn-update a{color: #0057ff; padding-top: 16px; font-weight: 400;margin-right: 30px;}
    .top-nav > li.btn-update a:hover{background: none;}
    .top-nav > li.btn-update a.update-now{font-size: 15px; font-weight: 500; padding-top: 14px;}
    
    



    .top-nav > li.settings .dropdown-menu{left: 36px!important;padding: 0 0 10px 0;}
    
    .top-nav > li.settings .dropdown-menu .dropdown-item.bajada{width: 310px;}
    
    .top-nav > li.username .dropdown-menu{left: 20px!important;}
    .top-nav > li.username {position: relative;margin-left: 14px;}
    .top-nav > li.username .dropdown-menu .dropdown-item.bajada{width: 300px;}
    .top-nav > li.username .top-name{}
    .top-nav > li.username .nombre{padding: 5px 25px;width: 225px;}
    .top-nav > li.username .item{padding:0 30px;}
    .top-nav > li.username .dropdown-menu{width: 300px;padding: 20px 5px;}
    .top-nav > li.username .menu-icon .dropdown-item {padding: 12px 30px 10px 62px;}
    .top-nav > li.username .menu-icon .dropdown-item i{left: 24px; }
    .top-nav > li.username .logout{padding-top: 15px;margin: 5px 25px 0;text-align: center;border-top: 1px solid #efefef;}
    .top-nav > li.username .logout a{width: 100%;}
    .top-nav > li.username .privacy{text-align: center; padding-top: 14px; }
    .top-nav > li.username .privacy a{color: #999; font-size: 11px; }
    .top-nav > li.username .privacy a:hover{color: #0057ff;}




    .user__name{font-size: 18px!important;font-weight: 600;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;/* width: 100%; */}
    .user__email{font-size: 13px!important;/* margin-bottom: 10px; */white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

    .top-nav > li.username > a{padding: 0px 0 0 0!important;}
    .top-nav > li.username > a:hover{background-color: transparent;}
    .user__img{height: initial;width: 42px;margin-bottom: 10px;}

    .avatar{width: 30px;height: 30px;-moz-border-radius: 50%;-webkit-border-radius: 50%;background: #617d8a;font-size: 14px;font-weight: 400;color: #fff;margin-right: 32px;padding: 9px 0px;margin-top: 14px;}
    .avatar img{width: 100%; border-radius: 50%;transition: .1s;}
    .avatar:after{content: '\f107';transition: .3s;font-family: "Font Awesome 5 Pro";position: absolute;right: 15px;top: 10px;font-size: 16px;color: #444;}
    .top-nav > li.username > a:hover img{transform: scale(1.09);}

    .idioma{padding-top: 14px;position: absolute;right: 0;top: 0;width: 74px;}
    .idioma a{/* padding: 13px 14px; */}
    .idioma .dropdown-toggle::after{content: '\f107';transition: .3s;font-family: "Font Awesome 5 Pro";position: absolute;right: 35px;top: 2px;font-size: 20px;color: #444;border: 0;}
    .idioma img{height: 30px;}

    .top-nav > li.username .idioma .dropdown-menu{right: 44px!important;left: initial!important;padding-bottom: 8px;width: 180px;}
    .idioma .dropdown-menu label{padding: 10px 25px 0px; text-transform: uppercase; color: #333; font-weight: 500;}
    .idioma .dropdown-item{padding: 8px 25px!important;}
    .idioma .dropdown-item img{padding-right: 13px; }


    .top-nav > li > .dropdown-menu{position: absolute!important;transform: translate3d(-270px, 34px, 0px)!important;top: 20px!important;left: 0px!important;will-change: transform!important;border-radius: 10px;}
    .top-nav > li > .dropdown-menu a,
    .top-nav > li > .dropdown-menu a:hover{color: #0057ff;}
    
    .top-nav > li .scrollbar-inner {padding-right: 0!important;}

    .top-nav > li a .new{background: #0057ff; text-transform: uppercase; font-size: 8px; font-weight: 500; border-radius: 50px; padding: 0 6px; height: 12px; width: fit-content; margin: 3px auto;display: none;}






/*Profile*/
    .user{text-align: center;background-color: initial;width: 90%;margin-bottom: 5px;}
    .user__info{display: initial;}
    .user__info:hover{background: rgba(0,0,0,0);}
    .user__info{cursor: inherit;}
    .user .logout{padding-top: 5px;}
    .user .logout a{color: #0057ff;font-size: 14px;}
    .navigation__sub > ul > li > a {padding: 0.6rem 1rem 0.6rem 50px; }
    .bagde-number{border-radius: 50%; padding: 10px 12px; border-radius: 50%!important;}
    .small-title{text-transform: uppercase; font-weight: 700; font-size: 13px;margin-bottom:20px;}

    .shadow-bottom{-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .1); -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .1); box-shadow: 0 8px 6px -6 18px rgba(0, 0, 0, .1)}


/*MENU*/
    .sidebar{opacity: 1;
    -webkit-transform:  translate3d(-100%,0,0);
    transform: translate3d(0%,0,0);
    background-color: #FFFFFF;
    transition: .15s;
    margin-top: 80px;
    z-index: 9999;
    background: #081d34;
    padding: 50px 26px 35px;
    width: 77px;}
    .scrollbar-inner {padding-right: 10px!important;height: calc(100% - 45px);}
    
    .sidebar.close{transform: translate3d(-100%,0,0);}


    .sidebar .navigation li span,
    .sidebar .navigation-bottom li span,
    .sidebar .navigation .title{opacity: 0;}

    .sidebar.toggled {
    box-shadow: 5px 0 10px rgb(0 0 0 / 8%);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 280px;
}   

    .sidebar.toggled .navigation li span,
    .sidebar.toggled .navigation-bottom li span {opacity: 1;}

    .sidebar.toggled .navigation .title{opacity: .4;}


    .sidebar .navigation-bottom li a{display: flex;}
    .sidebar.toggled .navigation-bottom li a{flex-wrap: wrap;}
    .sidebar .navigation-bottom li a span{width: 100%; padding-left: 34px; }

    .sidebar .scrollbar-inner{padding-right: 0!important;}
    .sidebar.toggled .scrollbar-inner{padding-right: 10px;}

    .navigation {min-height: calc(100vh - 360px);padding-left: 12px;}
    .navigation .title{font-size: 11px;
    color: white;
    margin-top: 0px;
    margin-left: -12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    opacity: .4;}

    .navigation > li > a{
        font-size: 15px;
    z-index: 999;
    line-height: 134%;
    color: #fff!important;
    font-weight: 400;
    width: fit-content;
    width: -moz-fit-content;
    right: 0;
    left: initial;
    position: relative;
    margin-left: -10px;
    max-width: 162px;
    padding: 10px 0 10px 34px;
    height: 40px;}



    .navigation > li .new{background: #0057ff;
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 6px;
    padding: 2px 3px 1px;
    border-radius: 3px;
    top: 15px;
    right: -36px;
    line-height: initial;}

    .navigation li a {font-weight: 400;width: fit-content;width: -moz-fit-content;width: -moz-fit-content;padding-right: 12px;right: 0;left: initial;position: relative;padding-left: 30px;margin-left: -10px;max-width: 162px;}
    .navigation li:not(.navigation__active):not(.navigation__sub--active) a:hover{color: #444;background-color: transparent;}
    .navigation__sub > ul > li > a{font-size: 14px;color: #fff!important;}
    .navigation__sub .navigation__active:before{display: none;}
    .navigation__active a {font-weight: 600!important;color: #444!important;}
    .navigation__sub{position: relative;}
    .navigation__sub.navigation__sub--toggled .notificacion{position: absolute;right: -60px;top: 49px;transition: .3s;padding-top: 1px;}
    .navigation__sub .notificacion{position: absolute;right: -60px;top: 10px;transition: .3s;padding-top: 0px;font-weight: normal;}
    .navigation li.create a span{color: #0057ff; border-top: 1px solid #dddddd; padding-top: 16px; display: block; margin-top: 3px; margin-bottom: 12px; }
    .navigation > li > a > i{top: 2px;margin-right: 14px;color: white;}
    .navigation > li > a > i.comentarios{top: 2px;}

    .navigation__sub > a::after{content: '\f107';
    transition: .3s;
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    right: -16px;
    top: 11px;
    font-size: 18px;}
    .navigation__sub > a:hover:after{color: #0057ff;}
    .navigation__sub.navigation__sub--toggled > a::after{transition: .3s; transform: rotate(180deg);}

    .sidebar .navigation > li > a > i{top: 11px;position: absolute;left: 0px;font-size: 18px;}
    .sidebar .navigation-bottom > li > a > i{font-size: 18px;width: 34px;}}


    .navigation__sub{position: relative;}
    .navigation__sub a i{font-size: 16px;}
    .navigation__sub.navigation__sub--toggled a i{transition: .3s;}
    .navigation__sub.navigation__active ul li a{font-weight: 400!important;}

    .navigation li.inactive{font-size: 16px; color: #999;padding: 8px 10px; position: relative;}
    .navigation li.inactive i{top: 2px; font-size: 20px; margin-right: 12px;width: 20px;}

    
    .header__logo {min-width: initial;
    line-height: 40px;
    min-height: 40px;
    margin: 0 30px 0 5px;}
    .header__logo img{max-width: 140px;display: inline-block;vertical-align: middle;max-height: 70px;}
    .header__logo a{font-weight: 700; color: #fff; cursor: pointer;display: block;}

    .logo-wrapper .edit-logo{background: #f5f5f5;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -8px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    padding-top: 6px;
    top: 20px;}

    .logo-wrapper .edit-logo:hover{background-color: #0057ff;color: #fff    ;}

    

    .navigation-trigger__line {background-color: #444;}
    .navigation-trigger{padding: 25px 25px; margin-left: -12px; }

    .navigation-trigger:not(.toggled) .navigation-trigger__inner{padding-top: 5px;}
    .navigation-trigger:not(.toggled) .navigation-trigger__inner .navigation-trigger__line:nth-child(2){left: 8px;width: 10px;}
    .navigation-trigger.menu-open:not(.toggled) .navigation-trigger__inner .navigation-trigger__line:nth-child(2){left: 0px;}
    .navigation .title:not(:first-of-type) {margin-top: 30px}

    .navigation-trigger:not(.toggled) .navigation-trigger__line {background-color: #444;margin-bottom: 5px!important;} 

    .sidebar .procesos-pendientes{background-color: rgba(255,255,255,.1);border-radius: 6px;padding: 14px 9px 13px;color: white;display: block;position: relative;transition: .15s;margin: 0 -6px;white-space: nowrap;}
    .sidebar .procesos-pendientes .texto,
    .sidebar .procesos-pendientes .deadline{display: none;}
    
    .sidebar.toggled .procesos-pendientes .progress{width: 40px; margin-right: 15px; }


    
    .sidebar.toggled .procesos-pendientes{padding: 15px 20px;margin: 0 0 30px 0;}
    .sidebar.toggled .procesos-pendientes .texto{display: block;}
    .sidebar.toggled .procesos-pendientes:hover{color: white; transform: scale(1.03); }
    .sidebar.toggled .procesos-pendientes:hover:after{color: #3483FB}
    .sidebar.toggled .procesos-pendientes:after{content: '\f107'; transition: .3s; font-family: "Font Awesome 5 Pro"; position: absolute; right: 15px; top: 15px; font-size: 28px; transform: rotate(-90deg); }
    .sidebar .procesos-pendientes .progress{width: 100%;}
    .sidebar.toggled .procesos-pendientes .deadline{display: block;}


   
    


    

    /*Nav Bottom*/
    .navigation-bottom{margin-top: 25px;margin-bottom: 0;}
    .navigation-bottom li{padding: 8px 0;}
    .navigation-bottom li a{color: white;font-weight: 400;}
    .navigation-bottom li a span{display: block; color: #a0a0a0; font-size: 12px; }


    .sidebar.toggled .video-demo-btn{border: 1px solid #0057ff;padding: 6px 18px;border-radius: 3px;width: fit-content;margin: 0px 0 -10px;}
    .video-demo-btn:hover a{color: #0057ff;}
    .video-demo{color: #0057ff;font-size: 14px;position: relative;padding-left: 28px;}
    .video-demo-btn i{position: absolute;left: -3px;font-size: 16px;top: 0px;}

/*    .video-demo-wrp{}
    .video-demo{border: 1px solid #0057ff;padding: 7px 15px 6px 35px;margin: 40px 0 -10px;display: block;width: 116px;color: #0057ff;border-radius: 4px;position: relative;}
    .video-demo:hover{background-color: #0057ff; color: #fff;}
    .video-demo i{position: absolute; top: 11px; left: 16px; }
*/



    .navigation-bottom .soporte i{padding: 0 11px 0 2px;}
    
    .navigation-bottom .academia{}
    .navigation-bottom .academia i{padding-right: 8px;}
    .navigation-bottom .academia span{padding-left: 26px;}

    /*powered*/
    .powered{position: relative;font-size: 13px;color: #555!important;text-align: center;padding-right: 35px;width: 141px;margin-left: 13px;margin-top: 25px;}
    .powered i{padding-right: 4px;padding-left: 2px;}
    .powered a{position: absolute; top: 1px; right: 3px;}
    .powered a img{height: 18px; }



    /*Media queries*/

    @media (max-width: 1199.99px) and (min-width: 576px) {
        .content{padding: 100px 40px 0!important;}
        .encuesta-reporte-admin .sidebar{padding-top: 120px!important;}

        /*Menu*/
        .sidebar.toggled{padding-top: 80px;}

        .header,
        .encuesta-reporte-admin .filtros-top {width: 100%; right: initial; padding: 0 16px;}
        
        .encuesta-reporte-admin .filtros-top {padding: 0 20px;right: initial!important;width: 100%!important;}

        /*Stiky dashboard*/
        .title-dashboard #divfix{left: 30px; }
        .title-dashboard #divfix.sticky{padding-left: 30px!important; left: 30px; }
        .title-dashboard #divfix.sticky ~ i{left: 55px;}
        .title-dashboard #divfix.sticky .nombre{padding-left: 0;}

        /*Card Hero*/
        .card-hero.three .card.right{flex-basis: 35%;}
        .card-hero .main-indicator .value{font-size: 100px;}
        .card-hero .right .combo{width: 130px;}

    }



    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {

        /*Dashboard*/
        /*Sticky*/
        .title-dashboard #divfix .nombre{font-size: 22px;}
        .title-dashboard #divfix .btn-primary{top: 7px;}
        .card-hero .engagement .value {font-size: 72px;}

        .dashboard .stats__info .value{font-size: 36px;}
        .dashboard .stats__info .progress{width: 58px;}
        .dashboard .stats__info .index-number .number{font-size: 15px;}
        .dashboard .stats__info .index-number .number i{width: 8px;}
        .dashboard .stats__info .index-number .text{margin-left: 8px;}
        .dashboard .stats__info .index-number {font-size: 12px;}

        .encuestas .card .value{font-size: 20px;}
        .encuestas .card .value .rate-100 {font-size: 40%; margin-left: 4px;}
        .encuestas .card .progress{width: 40px;}

    }




    /*Mobile*/
    @media only screen and (max-width: 767px) {
        .academy{display: none;}
        .content{padding: 95px 30px 0!important;}
        .sidebar{padding-top: 50px!important;}
        /*TopBar*/
        .top-nav {}
        .top-nav > li > .dropdown-menu{left: initial!important; right: -250px; top: 30px!important;}
        .top-nav > li > a:not(.header__nav__text) {min-width: 30px;}
        .top-nav > li.username{margin-left: 5px;}
        .top-nav > li.username .dropdown-menu{width: 300px;}
        .top-nav > li.crear-encuesta{display: none;}
        .title-dashboard #divfix.sticky{left: 15px;display: none;}
        .title-dashboard #divfix .btn-primary {top: 0;}
        .title-dashboard #divfix .nombre {width: 100%;padding-top: 6px;text-align: center;font-size: 24px;margin-bottom: 0;}
        .title-dashboard #divfix .ver-reporte{position: relative;display: block;width: fit-content;margin: 0 auto 15px;}
        .page-title{padding-top: 4px;}

        
        .navigation-trigger{padding-left: 15px; }
        .navigation-trigger:not(.toggled) .navigation-trigger__inner .navigation-trigger__line:nth-child(2){left: 0;}
    }

