.titulo-nom035 {margin-bottom: 15px;}
.nom035 {text-align: left;}
.nom035 .card-body{padding-bottom: 25px;}
.nom035 .icon{flex-basis: 90px;color: initial;}
.nom035 .icon i{font-size: 56px!important;padding: 0!important;}
.nom035 .card-title{}
.nom035 .description{color: initial;}
.nom035 .bajada{margin-top: 10px;}