.account .header::before, .account .header::after {background-color: #fff; }

.account{background: #fff;}
.account .header{background: #fff;}
.account .title{font-size: 22px;font-weight: 300;padding: 8px 0 15px;}

.account.privacy{}

.account .privacy .wrapper{}
.account .privacy .wrapper .item{margin-bottom: 25px; padding-bottom: 25px; }
.account .privacy .wrapper .item:not(:last-child){border-bottom: 1px solid #efefef; }
.account .privacy .wrapper .item .pregunta{font-size: 15px; font-weight: 600; }
.account .privacy .wrapper .item .bajada{padding: 10px 0 20px; }
.account .privacy .wrapper .item .btn{}
.account .privacy .wrapper .item .btn:hover:after{transform: none!important;}
.account .privacy .wrapper .item .btn-outline-primary:hover{background: #fff;}
.account .privacy .wrapper .item .btn-outline-primary:after{background: #fff; transition: none;}
.account .privacy .wrapper .item a{}
.account .privacy .wrapper .item .link{}
.account .privacy .wrapper .item .d-flex .btn:not(:first-child){margin-left: 20px;}