/*.onboarding{padding-top: 40px; }*/
.onboarding .row{min-height: 300px;}
.onboarding .h1-top {padding-bottom: 10px; display: block; }
.onboarding .h1-top i{padding-right: 10px; }
.onboarding h1{font-size: 40px;font-weight: 700;line-height: 120%;padding-top: 5px;}
.onboarding .bajada{font-size: 19px;padding: 10px 0 30px;}
.onboarding .btn{font-size: 17px;padding: 17px 30px 17px 56px;margin-top: 10px;}
.onboarding .btn i{position: absolute; left: 25px; top: 16px; font-size: 19px; }
.onboarding .imagen {text-align: right; }


.onboarding .video-demo{border: 1px solid #0057ff; margin-left: 20px; color: #0057ff!important; font-size: 16px; padding: 17px 30px 16px 61px; border-radius: 4px!important; }
.onboarding .video-demo i{}


.video-wrapper{background-color: #b30030;border-radius: 10px;padding: 30px;margin-top: 43px;}
.video-wrapper .logo{width: 44px; }
.video-wrapper a{
    display: block;
    font-size: 30px;
    background: rgba(255,255,255,.15);
    width: 90px;
    height: 90px;
    border-radius: 50px;
    text-align: center;
    padding-top: 24px;
    color: #fff;
    margin: 50px auto;
    padding-left: 9px;
    transition: .1s;
}
.video-wrapper a:hover{background: rgba(255,255,255,.4); transform: scale(1.07); }

.video-wrapper .bottom{color: #fff; font-size: 18px; }



.modal-dialog.video-demo{max-width: 833px;}
#video-demo .modal-content{background: #000; }
#video-demo .modal-header{border: 0;height: 44px;}
#video-demo .video-container iframe{width: 800px; height: 480px;border: 0;}


.onboarding .example img{width: 100%; max-width: 1200px; -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));}
.onboarding .imagen{}
.onboarding .imagen img{max-height: 340px;}

/*onboarding Encuestas*/
    .onboarding.encuestas0 .btn {padding: 13px 25px;margin: 0;}
    .onboarding.encuestas0 .bloque-texto{}
    .onboarding.encuestas0 .bloque-texto .left{padding-top: 40px; }
    .onboarding.encuestas0 .bloque-texto .imagen img{max-height: 300px;}

/*onboarding trend*/
    .onboarding.trend0 .example {margin-bottom: 52px;text-align: center;}
    .onboarding.trend0 .example img{-webkit-mask-image:none;}
    .onboarding.trend0 .bloque-texto {margin-top: -40px;}
    .onboarding.trend0 .bloque-texto .left {padding-top: 25px;}
    .onboarding.trend0 .bloque-texto .imagen img{max-height: 250px;}

/*onboarding Planes*/
    .onboarding.planes0 .example img{height: 300px;}
    .onboarding.planes0 .bloque-texto{margin-top: -90px;}
    .onboarding.planes0 .bloque-texto .left{padding-top: 30px;}
    .onboarding.planes0 .bloque-texto .btn-outline-primary{display: inline-block;}
    





.demo-example-modal .sidebar,
.demo-example-modal .academy,
.demo-example-modal .top-nav{display: none;}
.demo-example-modal .header::before{display: none;}
.demo-example-modal .content{padding-left: 40px!important; padding-top: 90px!important;}
.demo-example-modal .navigation-trigger{display: none;}



@media (max-width: 1199.99px) and (min-width: 576px){

    .demo-example-modal .header{width: 100%; padding: 0 40px!important; right: 0; height: 70px;}


}



