.planes .clic{background-color: #56c963; height: 30px; width: 30px; border-radius: 50%; position: absolute; right: -15px; top: 17px; opacity: .6;}
.planes .clic-tabla{background-color: #56c963; height: 15px; width: 15px; border-radius: 50%; position: absolute; right: 10px; top: 18px; opacity: .6;}
.planes .relative{position: relative;}

.planes{}
.planes .flat-button.mis-acciones{
    background: transparent;
    height: 28px;
    padding: 2px 12px;
    cursor: pointer;
}

.planes [data-toggle="collapse"] .d-flex .name::before{left: 0; top: 14px;}

.planes header{margin-top: -58px;margin-bottom: 3px;}
.planes header h5{text-transform: uppercase;font-size: 15px;font-weight: 500;margin: 0;}

.planes .card-deck{margin-bottom: 50px;}
.planes .card-deck .card{border-radius: 10px;}

.planes .card .link-bottom{padding: 0 0 16px 25px;}

.planes .fuego{background: #fd6c6c;color: #fff;border-radius: 30px;width: fit-content;width: -moz-fit-content;position: relative;display: inline-block;font-size: 12px;padding: 1px 7px 0 18px;height: 18px;line-height: 16px;font-weight: 300;}
.planes .fuego i{position: absolute;top: 4px;font-size: 9px;left: 6px;}

.planes .breadcrumb li{padding: 8px 12px; border-radius: 4px; }
.planes .breadcrumb li:not(:last-child):hover{background-color: #eaeaea;}
.planes .breadcrumb li:not(:last-child) a:after{right: -19px; top: 34%; }
.planes .breadcrumb li.placeholder{padding-top: 18px!important;}
.planes .breadcrumb li span{display: block;text-transform: uppercase;font-size: 11px;color: #999;}

.planes .alerta-filtros-aplicados{text-align: center; margin: 0 auto; flex: 1; }
.planes .alerta-filtros-aplicados div{background: #c7f3ff;display: inline-block;padding: 6px 20px;border-radius: 50px;margin-top: 10px;margin-right: -130px;}
.planes .alerta-filtros-aplicados div a{font-weight: 500;padding: 0;}
.planes .filtros-planes-button{margin-bottom: 30px;}


    /*Planes 0 y 1*/

    .planes .chartjs-render-monitor {
        max-height: 150px;
        max-width: 300px!important;
        margin: 0 auto; }

    .planes .chart-group{gap: 30px;}
    .planes .chart-group .card{flex: 1;}


        .planes .departamentos,
        .planes .jefe{margin: 30px 0;}

        .planes  h4{margin-bottom: 15px!important;}

        .planes .departamentos .card-deck,
        .planes .segmentos .card-deck{margin-top: 0px;}

        /*Carrousel Departamentos*/
            .planes .departamentos .carousel-indicators {bottom: -30px; }
            .planes .departamentos .carousel .flechas{top: 42px;width: 50px;opacity: 1;}
            .planes .departamentos .carousel .flechas span{height: 40px; width: 40px; font-size: 22px; padding-top: 5px;}


        .planes .departamentos .card:not(.ultimo){max-width: 32%;}
        .planes .departamentos .top{padding: 20px 25px 25px 25px;margin: -30px -30px 20px -30px;background: #2e353e;background-image: linear-gradient(215deg, #4d545b, #2e353e);color: #fff;border-radius: 10px 10px 0 0;}
        .planes .departamentos .top .sub-title{text-transform: uppercase; font-size: 10px; opacity: .7;}
        .planes .departamentos .top .title{font-size: 20px; font-weight: 500; margin-bottom: 10px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
        .planes .departamentos .top .acciones{padding-bottom: 0; }
        .planes .departamentos .top .acciones .label{font-size: 12px; opacity: .7; }
        .planes .departamentos .top .acciones .number{font-size: 20px;font-weight: 500;line-height: 22px;display: inline-flex;}
        
        .planes .departamentos .fuego{margin: 2px 0 0 7px;}
        .planes .departamentos .bottom{color: #777;}
        .planes .departamentos .bottom span{font-weight: 400; color: #222; }
        
        .planes .jefe table td {padding: 0 20px;}
        .planes .jefe table td.ver-acciones-perfil button{background: no-repeat; border: 0; color: #0057ff; cursor: pointer; }
        .planes .jefe table .nombre {position: relative;width: 230px;padding-left: 0;}
        .planes .jefe table .nombre img{border-radius: 50%;width: 26px;position: absolute;top: 12px;}
        .planes .jefe table .nombre .texto{display: inline-block;font-weight: 400;padding: 0px 0 0 38px;}
        .planes .jefe table i.fa-search{}
        
        .planes .segmentos {margin-bottom: 70px}
        .planes .segmentos .card{max-width: 20%;}
        .planes .segmentos .card-body{padding: 20px 25px;}
        .planes .segmentos .card-deck .sub-title{font-size: 10px; text-transform: uppercase; opacity: .7; }
        .planes .segmentos .card-deck .title{font-size: 18px;font-weight: 500;margin-bottom: 7px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
        .planes .segmentos .card-deck .label{font-size: 12px;} 
        .planes .segmentos .card-deck .number{font-size: 16px; font-weight: 400; display: inline-flex; line-height: 23px;}
        .planes .segmentos .card-deck .fuego{margin: 4px 0 0 7px;}
        
        /*Carrousel Segmentos*/
            .planes .segmentos .carousel-indicators {bottom: -40px; }
            .planes .segmentos .carousel .flechas{top: 2px;width: 50px;opacity: 1;}


    /*Planes 2*/
        .planes .departamentos .ultimo .top{margin: -30px;border-radius: 10px;}
        .planes .departamentos .ultimo{}
        .planes .departamentos .ultimo .nombre{flex-basis: 60%;}
        .planes .departamentos .ultimo .nombre .working {}
        .planes .departamentos .ultimo .nombre .working span{font-weight: 500;}
        .planes .departamentos .ultimo .acciones{flex-basis: 300px;}


    /*Planes 3*/
        .planes.trello .back-home{position: relative; padding-left: 23px; padding-bottom: 20px; font-size: 15px; }
        .planes.trello .back-home i{position: absolute; left: 0; top: 4px; }
        
        .planes.trello .indicators{margin-bottom: 60px; }
        .planes.trello .indicators .title{font-size: 22px;font-weight: 500;margin-bottom: 15px;}
        .planes.trello .indicators .card-group{gap: 30px;margin-bottom: 50px;}
        .planes.trello .indicators .card-group .card{flex: 1;background: #e3edff;border-radius: 10px;}
        .planes.trello .indicators .card-group .card.total{width: 170px;flex: initial;background: #bbd0ef;}
        .planes.trello .indicators .card-group .card .card-body{font-size: 40px; line-height: 100%; padding: 25px; margin: 0; }
        .planes.trello .indicators .card-group .card .card-body img{height: 60px; }
        .planes.trello .indicators .card-group .card .card-body span{display: block; font-size: 14px; line-height: 100%; padding-top: 7px; }

        .planes.trello .card-deck .card{height: calc(100vh - 450px);margin-top: 50px;}
        .planes.trello .card-body{overflow-y: auto;margin: 40px 12px 16px 0;padding: 0 25px;padding-right: 12px;overflow-x: hidden;}
        .planes .acciones{margin: 0;padding-bottom: 30px;}

        .planes .acciones .item{background: #fbfbfb;padding: 27px 25px 20px 20px;border-radius: 0 6px 6px 0;position: relative;border: 1px solid #efefef;border-left: 3px solid #0057ff;}
        .planes .acciones .item:not(:last-child){margin-bottom: 15px;}

        .planes .acciones .item a{color: inherit;}
        
        .planes .acciones .item .delete{opacity: 0; color: #0057ff; position: absolute; right: 5px; top: 12px; font-size: 20px; transition: .3s;padding: 0 10px;}
        .planes .acciones .item .delete i{}
        .planes .acciones .item:hover .delete {opacity: 1}


        .planes .acciones .item .dimension{font-size: 10px;text-transform: uppercase;color: #7f7f7f;margin-bottom: 4px;}
        .planes .acciones .item .title{font-weight: 400;font-size: 14px;line-height: 125%;margin-bottom: 10px;}
        .planes .acciones .item .bottom{font-size: 12px;font-style: italic;color: #7f7f7f;}
        .planes .acciones .item .bottom .preview{padding-top: 5px; }
        .planes .acciones .item .bottom .preview i{font-size: 15px; }

        .ui-sortable-placeholder{background: red;}

        .planes .acciones .item.vencida{border-left: 3px solid #fd6c6c;}
        .planes .acciones .item.vencida.ui-sortable-helper i{color: #fff!important;}
        .planes .acciones .item.vencida .bottom .vencimiento{color: #fff; font-style: normal; font-weight: 400; background: #fd6c6c; border-radius: 20px; padding: 2px 8px 3px 6px; font-size: 11px;}
        .planes .acciones .item.vencida .bottom .vencimiento i{padding-right: 5px;}

        .planes .acciones .item .vote{background: #0057ff; padding: 10px 20px; margin: 10px -26px -21px -23px; border-radius: 0 0px 6px 0px; color: #fff;}
        .planes .acciones .item .vote .label{padding-right: 10px;padding-top: 1px;font-style: initial;line-height: 130%;font-weight: 400;font-size: 13px;}
        .planes .acciones .item .vote a{color: #fff;}
        .planes .acciones .item .vote a:hover{}
        .planes .acciones .item .vote i{font-size: 16px;transition: .1s}
        .planes .acciones .item .vote a:last-child i{padding-left: 14px;}
        .planes .acciones .item .vote i:hover{transform: scale(1.2);}
        .planes .acciones .item .voted i{font-size: 16px; color: #444;}

        .planes .acciones .item .rate {padding-top: 4px; font-style: initial; }


        .planes .dimension-group{position: relative;margin-bottom: 11px;overflow: hidden;}
        .planes .dimension-group:not(:last-child) [data-toggle="collapse"]{border-bottom: 1px solid #efefef;}
        .planes .dimension-group .collapse, .planes .dimension-group .collapsing{margin-top: -1px; background: #fff;}
        .planes .dimension-group:not(:last-child) .collapse, .planes .dimension-group:not(:last-child) .collapsing{border-bottom: 1px solid #efefef;}


        .planes .dimension-group .name{padding: 2px 0 0 25px;margin-bottom: 10px;font-size: 16px;font-weight: 400;}
        .planes .dimension-group .name label{display: block; font-size: 11px; color: #999; text-transform: uppercase; }
        .planes .dimension-group .favo-header{margin-top: 7px;text-align: right;width: 130px;}
        .planes .dimension-group .favo-header .label{
    font-size: 10px;
    text-transform: uppercase;
    padding-bottom: 2px;
}

        .planes .dimension-group .empty{text-align: center; padding: 25px 40px 40px 40px; }
        .planes .dimension-group .empty {padding-top: 20px;font-size: 15px;color: #999;line-height: 140%;width: 100%;}
        .planes .dimension-group .empty i{font-size: 80px;color: #ccc;display: block;margin-bottom: 18px;}


        /*Sugeridas*/
        .planes .sugeridas .acciones{padding-bottom: 25px;height: auto;margin-left: 25px;}
        .planes .sugeridas .link-bottom{padding-bottom: 20px;}
        .planes .sugeridas .item .bottom{}

        /*En Proceso*/
        .planes .proceso .acciones{}
        .planes .proceso .link-icon{
    margin-bottom: 22px;
    display: block;
}
        .planes .proceso .link-icon i{
    top: 3px;
}

        /*Finalizadas*/
        .planes .finalizadas .acciones .item{background: #f0f0f0;border-left: 3px solid #999;}


/*Modal Crear Accion*/
    .modal-wrapper.crear-accion .top-title .form-group{width: fit-content;}
    .modal-wrapper.ver-accion.crear .form-group {width: fit-content;}

    .combo-2-cols {background: #fff; border: 1px solid #e9e9e9; box-shadow: 0 0 1px rgba(95,108,114,.08), 0 0px 6px rgba(95,108,114,.05);padding: 20px;width: 280px;}
    .combo-2-cols .tab-content{padding-top: 20px;}
    .combo-2-cols .nav-tabs .nav-link{font-size: 12px; padding: 0 0 8px;}
    .combo-2-cols .nav-tabs .nav-link.active{}
    
    .combo-2-cols .tab-content{}
    .combo-2-cols .tab-content .tab-pane{}
    .combo-2-cols .tab-content .tab-pane ul{max-height: 150px; overflow: scroll; margin: 0; }
    .combo-2-cols .tab-content .tab-pane ul li{text-transform: initial; font-size: 13px; line-height: 130%; margin-bottom: 10px;}



/*Modal Eliminar Accion*/
    .planes .eliminar-accion{width: 550px;}
    .planes .img-modal{width: 90%; margin: 0px auto 30px; display: block;}
    .planes .img-modal.accion-propia{width: 290px;margin: 10px auto 10px;}



/*Modal Ver accion*/
    .modal-wrapper.ver-accion input{background-color: transparent!important;}
    .modal-wrapper.ver-accion .modal-header .title{text-transform: none;font-size: 18px;}
    .modal-wrapper.ver-accion .modal-header input{border-bottom-color: #ededed; }

    .modal-wrapper.ver-accion .modal-header{padding-bottom: 0;display: block;border-bottom: 0;}
    .modal-wrapper.ver-accion .modal-header .close {top: 0px;}
    .modal-wrapper.ver-accion .top-title{font-size: 11px; text-transform: uppercase; max-width: 250px;}
    .modal-wrapper.ver-accion .top-title .form-group select{background-color: transparent;}
    
    .tag .select2-container--default .select2-selection--single {margin-top: 0;}

    .modal-wrapper.ver-accion .input-group.title{width: calc(100% - 60px);}
    .modal-wrapper.ver-accion .title input{text-transform: none; font-size: 18px!important; font-weight: 500; padding: 0 0 8px 0!important; height: 28px;}
    .modal-wrapper.ver-accion .title input::placeholder{font-weight: 400;}
    
    .modal-wrapper.ver-accion .controles{margin: 14px -25px 0;padding: 15px 25px;background: rgba(0,0,0,.12);}
    
    .modal-wrapper.ver-accion .controles .desde,
    .modal-wrapper.ver-accion .controles .vencimiento{margin-right: 70px;}
    
    .modal-wrapper.ver-accion .controles .vencimiento{width: 100px;}
    .flatpickr-calendar.open {z-index: 99999999;}

    .modal-wrapper.ver-accion .controles .prioridad{width: 70px;}
    .modal-wrapper.ver-accion .controles .prioridad .select2-container{background-color: transparent;}
    .modal-wrapper.ver-accion .controles .prioridad .select2-container--default .select2-selection--single{height: 28px;border-bottom: 1px solid rgba(0,0,0,.08);}
    .modal-wrapper.ver-accion .controles .prioridad .select2-container--default .select2-selection--single:before{top: 6px; font-size: 16px;}
    


    .modal-wrapper.ver-accion .controles .label{font-size: 11px; text-transform: uppercase; }
    .modal-wrapper.ver-accion .controles .dia{font-size: 15px; padding-top: 3px; }
    .modal-wrapper.ver-accion .controles .dia .hora{padding-left: 10px; }
  
    .modal-wrapper.ver-accion .controles .campo-icono input{zbackground: transparent!important;border-bottom: 1px solid rgba(0,0,0,.08);padding-bottom: 0!important;padding-left: 24px!important;}
  
    .modal-wrapper.ver-accion .modal-body .title{font-weight: 500; text-transform: uppercase; font-size: 13px;}
    
    .modal-wrapper.ver-accion .modal-body .adjuntos{margin-bottom: 30px;margin-top: 30px;}
    .modal-wrapper.ver-accion .modal-body .adjuntos .title{margin-bottom: 13px; }
    .modal-wrapper.ver-accion .modal-body .adjuntos .title i{padding-right: 8px; }
    
    .modal-wrapper.ver-accion .modal-body .adjuntos .file{margin-bottom: 10px; }
    .modal-wrapper.ver-accion .modal-body .adjuntos .file .kind{
    text-align: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    padding-top: 14px;
    border-radius: 10px;
    margin-right: 15px;
}
    .modal-wrapper.ver-accion .modal-body .adjuntos .file .kind.pdf{background-color: #f22013;}
    .modal-wrapper.ver-accion .modal-body .adjuntos .file .kind.xls{background-color: #1e6e43;}
    .modal-wrapper.ver-accion .modal-body .adjuntos .file .descripcion{
    position: relative;
    width: 100%;
}
    .modal-wrapper.ver-accion .modal-body .adjuntos .file .descripcion .nombre{font-weight: 600;font-size: 15px;padding-top: 4px;width: 330px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .modal-wrapper.ver-accion .modal-body .adjuntos .file .descripcion .actions{position: absolute; right: 0; top: 4px; }
    .modal-wrapper.ver-accion .modal-body .adjuntos .file .descripcion .actions a{font-size: 13px; }
    .modal-wrapper.ver-accion .modal-body .adjuntos .file .descripcion .actions a i{}
    .modal-wrapper.ver-accion .modal-body .adjuntos .file .descripcion .actions a.eliminar{padding-left: 14px; }
    .modal-wrapper.ver-accion .modal-body .adjuntos .file .descripcion .fecha{color: #888;font-size: 13px;display: inline-block;margin-right: 10px;}
    


    
    .modal-wrapper.ver-accion .modal-body .contenido .trumbowyg-box,
    .modal-wrapper.ver-accion .modal-body .descripcion.trumbowyg-editor{min-height: 160px;}
    .modal-wrapper.ver-accion .modal-body .descripcion p{font-size: 14px!important;}
    .modal-wrapper.ver-accion .modal-body .descripcion font{font-family:'Raleway';}
    .modal-wrapper.ver-accion .modal-body .descripcion font span{font-size: 14px!important;}
    
    .modal-wrapper.ver-accion .modal-body .descripcion .title{font-weight: 400; padding-top: 10px;}
    .modal-wrapper.ver-accion .modal-body .descripcion ul{margin-left: 20px; }
    .modal-wrapper.ver-accion .modal-body .descripcion ul li{padding: 5px 0;}
    
    .modal-wrapper.ver-accion .modal-body .info-adicional{margin-top: 30px;margin-bottom: 5px;}


    /*Nuevo modal (estoy pisando estilos. Borrar cuando se defina)*/
    .modal-wrapper.ver-accion .modal-body .contenido {width: 500px;margin-right: 30px;margin-top: 10px;}
    .modal-wrapper.ver-accion .modal-body .left.controles{background: none;padding: 0;margin: 0;margin-top: 15px;width: 180px;}
    .modal-wrapper.ver-accion .modal-body .controles .desde, .modal-wrapper.ver-accion .controles .vencimiento{margin-right: 0;}
    #ver-accion-fuego .modal-wrapper.ver-accion .modal-header{padding-bottom: 18px;}

    
    .modal-wrapper.ver-accion .controles .vencimiento.vencida .label,
    .modal-wrapper.ver-accion .controles .vencimiento.vencida input{color: #fd6c6c;}
    
    .modal-wrapper.ver-accion .controles .vencimiento.vencida .tiempo{display: none; color: #fff; font-size: 10px; padding: 1px 4px; display: block; background: #fd6c6c; border-radius: 20px; margin-top: 6px;}
    

    .modal-wrapper.ver-accion .controles .boton-adjuntar{display: block; width: 100%; }
    .modal-wrapper.ver-accion .controles .boton-adjuntar .btn{background: #eaecf0;display: block;text-align: left;color: #444;padding-left: 36px;margin-top: 5px;}
    .modal-wrapper.ver-accion .controles .boton-adjuntar .btn i{position: absolute;left: 13px;top: 9px;}
    .modal-wrapper.ver-accion .controles .boton-adjuntar .bajada-boton{font-size: 12px;display: block;padding-top: 5px;color: #999;}









    .tag .select2-selection__rendered:after{content: '\f107'; transition: .3s; font-family: "Font Awesome 5 Pro"; top: 0px; position: absolute; padding-left: 8px; font-size: 16px;}
    .tag .select2-container--default .select2-selection--single:before{content: none;}




/*Media queries*/
    
    @media (max-width: 1199.99px) {


    }



    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {

    }



    /*Mobile*/
    @media only screen and (max-width: 767px) {
        .planes .card.proceso,
        .planes .card.finalizadas {margin-top: 70px;}

        .planes .departamentos .card:not(.ultimo){max-width: initial;}
        .planes .segmentos .card{max-width: initial;}
        

    }

