.procesos .title-group{padding: 20px 0 40px; }
.procesos .title-group .title{font-size: 40px; font-weight: 600; padding-bottom: 10px; }
.procesos .title-group .bajada{font-size: 22px; }

.procesos .titulos-precard{margin-bottom: 15px; font-size: 18px; font-weight: 500;}

.procesos .card .card-body{padding: 25px 30px; }
.procesos .in-progress .card{border: 2px solid #32c787;margin-bottom: 60px}
.procesos .in-progress .card .item:first-child{padding-top: 0;}

.table-div.procesos .nombre{flex: 1;text-align: left;}

.table-div.procesos .thead > div:not(.nombre):not(.info),
.table-div.procesos .item > div:not(.nombre):not(.info){width: 120px;text-align: center;}

.table-div.procesos .info{width: 180px;padding-left: 10px;}


.table-div.procesos .item .nombre{font-size: 15px;}
.table-div.procesos .item .nombre .filtros-group {padding-top: 2px;}
.table-div.procesos .item .nombre .filtros-group .filtros-aplicados{color: #999;font-size: 13px;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: initial;}
.table-div.procesos .item .nombre .filtros-group .ver-mas{font-size: 13px; }
.table-div.procesos .item .hora{font-size: 12px; }
.table-div.procesos .item .progress{margin: 5px 0;max-width: 90px;}
.table-div.procesos .item .progress .progress-bar{min-width: initial;}
.table-div.procesos .item .info .mensaje{color: #999; font-style: italic; }
.table-div.procesos .item .info .link-group{column-gap: 15px;}
.table-div.procesos .item .info a{color: #0057ff}
.table-div.procesos .item .info .download{position: relative;padding-left: 20px;display: block;line-height: 130%;}
.table-div.procesos .item .info .download i{position: absolute;top: 2px;left: 0}
.table-div.procesos .item .info .download:not(:last-child){padding-bottom: 6px;}
/*.table-div.procesos .item .info .download.con-error{color: #f91010;}*/



.table-div.procesos .item.error-proceso .nombre{position: relative; padding-left: 40px; }
.table-div.procesos .item.error-proceso .nombre i{position: absolute;top: 12px;left: 0;font-size: 20px;}
.table-div.procesos .item.error-proceso .mensaje{display: block;}

.table-div.procesos .item.error-proceso .nombre i,
.table-div.procesos .item.error-proceso :not(.info) .mensaje,
.table-div.procesos .item.error-proceso .estado,
.table-div.procesos .item.error-proceso .link-group a{color: #f91010;}


.procesos .export-filtros-aplicados{}
.procesos .export-filtros-aplicados .modal-header{display: initial;padding-top: 10px;border-bottom: 0;margin-bottom: 0;padding-bottom: 30px;}
.procesos .export-filtros-aplicados .modal-header .title{font-size: 20px;font-weight: 500;padding: 5px 0;}
.procesos .export-filtros-aplicados .sup-title{font-size: 15px;}
.procesos .export-filtros-aplicados .title{}
.procesos .export-filtros-aplicados .filtros-group{}
.procesos .export-filtros-aplicados .filtros-group .item{margin-bottom: 24px;font-size: 15px;}
.procesos .export-filtros-aplicados .filtros-group .item .title{text-transform: uppercase;font-size: 12px;margin-bottom: 0px;color: #0057ff;font-weight: 500;}
.procesos .export-filtros-aplicados .filtros-group .item ul{display: flex; }
.procesos .export-filtros-aplicados .filtros-group .item ul li{position: relative; }
.procesos .export-filtros-aplicados .filtros-group .item ul li:not(:first-child){padding-left: 25px; }
.procesos .export-filtros-aplicados .filtros-group .item ul li:not(:first-child):after{content: '|';position: absolute;left: 12px;color: #aaa;}
