/*ENCUESTA REPORTE*/
    
    .encuesta-reporte-admin .print{margin: 0 25px 7px;}
    .fixed .print{opacity: 0;}
    .print{opacity: 1; transition:opacity 300ms;visibility: visible;border: 1px solid #0057ff!important;/* padding: 6px 13px 5px 15px; */border-radius: 4px;font-size: 15px;}
    .print:hover{background: #0057ff; color: #fff!important;}
    .print span{padding: 6px 13px 5px 15px !important; display: block; }
    .print span i{padding-right: 7px;}


    /*Reportes*/
    .encuesta-reporte-admin section {margin-bottom: 60px;}
    .encuesta-reporte-admin header {height: 80px;}
    .encuesta-reporte-admin .content {}
    .encuesta-reporte-admin .nav-tabs {padding: 12px 0 17px;flex-wrap: inherit;}
    
    
    .filtros-top {z-index: 999;top: 75px;}
    .filtros-top .boton-wrp{color: #0057ff;padding: 8px 22px 6px 42px;border-radius: 50px;font-size: 16px;position: relative;margin-left: auto;text-align: center;max-width: 130px;border: 1px solid #0057ff;}
    .filtros-top .boton-wrp:hover{cursor: pointer;}
    .filtros-top .notificacion{position: absolute; right: -7px; top: -9px; width: 25px; height: 25px; font-size: 13px; padding-top: 3px; }
    .filtros-top .filtros-aplicados-wrp{padding-top: 8px;}
    .filtros-top .label{font-weight: 400;}
    .filtros-top img{width: 14px;position: absolute;left: 19px;top: 9px;}
    .filtros-top a{color: #0057ff;}
    .filtros-top a:hover{color: #0057ff;}
    .filtros-top .boton{flex-basis: 90px;cursor: pointer;}
    
/*    Boton gris Filtros*/
        /*.filtros-top {z-index: 999;top: 75px;padding-top: 8px;}
        .filtros-top .boton-wrp{background: #2e353e;background-image: linear-gradient(215deg , #4d545b, #2e353e);color: #fff;padding: 15px 22px;border-radius: 50px;font-size: 16px;position: relative;height: 48px;margin-left: auto;text-align: center;max-width: 130px;}
        .filtros-top .boton-wrp:hover{cursor: pointer;}
        .filtros-top .notificacion{position: absolute; right: -7px; top: -9px; width: 25px; height: 25px; font-size: 13px; padding-top: 3px; }
        .filtros-top .filtros-aplicados-wrp{padding-top: 8px;}
        .filtros-top .label{font-weight: 400;}
        .filtros-top img{width: 24px;margin-left: 15px;}
        .filtros-top a{color: #0057ff;}
        .filtros-top a:hover{color: #0057ff;}
        .filtros-top .boton{flex-basis: 90px;cursor: pointer;}*/


    .encuesta-reporte-admin .filtros-top .filtros-aplicados-wrp{/*padding-top: 7px;*/}
    .filtros-aplicados-items {display: inline-block;}
    .filtros-aplicados-items .alert{padding: 2px 25px 1px 10px;border-radius: 3px;font-size: 13px;max-width: 300px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0;background-color: #83b5fc;color: #252525;margin-right: 5px;}
    .filtros-aplicados-items .alert .close{padding: 0!important;top: 5px;right: 0px;}
    .filtros-aplicados-items .alert .close i{font-size: 13px;right: 9px;top: 1px;}




    /*INDICADORES [EX-CARD-HERO]*/
    .indicadores{margin-bottom: 20px;gap: 25px;margin-top: 20px;}
    .indicadores .card-body{padding: 25px;}
    .indicadores .card{max-width: 25%;border-radius: 15px;flex: 1;}
    .indicadores .card:not(:last-child){}
    .indicadores .informacion{color: #0057ff;position: absolute;right: 24px;top: 26px;font-size: 17px;}
    .indicadores .informacion i{}
    .indicadores .nombre{font-size: 14px;}
    .indicadores .valor{font-size: 50px;line-height: normal;margin-left: -2px;}
    .indicadores .valor small{font-size: 50%; padding-left: 8px; }
    .indicadores .bottom-value{font-size: 13px;margin-top: -4px;}
    .indicadores .bottom-value i{padding-right: 7px; }
    
    .tot-company{text-transform: uppercase;font-size: 9px;text-align: center;}
    .tot-company label{margin-bottom: 3px;line-height: 115%;display: block;color: #777;font-size: 8px;}
    .tot-company .valor{font-size: 13px;font-weight: 400;display: inline-block;padding: 4px 9px 3px 9px!important;background: #e1f6ff;border-radius: 30px;color: #0057ff;}
    .tot-company .valor i{padding-right: 5px;font-size: 12px;}
    
    .indicadores .label-progress{text-transform: uppercase;font-size: 9px;color: #777;}
    .indicadores .label-progress .respondieron{font-weight: 600; color: #252525; }
    
    .indicadores .bottom-value span{color: #aaa; }
    .indicadores .progress{margin-top: 5px;border-radius: 20px;}
    .indicadores .bottom-label{font-size: 12px; }
    .indicadores .bottom-label a{color: #0057ff; }





    .btn-filtros{/* width: fit-content; *//* border: 1px solid #0057ff; *//* border-radius: 50px; *//* padding: 10px 15px 8px; *//* position: relative; *//* margin-left: auto; *//* margin-top: -20px; */}
    .btn-filtros .boton{color: #0057ff;padding: 9px 15px 8px;width: fit-content;width: -moz-fit-content;border: 1px solid #0057ff;border-radius: 50px;position: relative;margin-left: auto;margin-top: -20px;}
    .btn-filtros .boton .icon{position: absolute;font-size: 15px;top: 6px;}
    .btn-filtros .boton .label{padding: 0 25px;font-size: 15px;line-height: 100%;}
    .btn-filtros .boton .seleccionados{background: #0057ff;width: 24px;height: 24px;border-radius: 50px;color: #fff;padding-top: 1px;text-align: center;font-weight: 500;position: absolute;right: 4px;top: 4px;border: 1px solid #0057ff;}

    .btn-filtros .boton:hover{background-color: #0057ff; cursor: pointer;}
    .btn-filtros .boton:hover .icon, .btn-filtros .boton:hover .label{color: #fff!important;}
    .btn-filtros .boton:hover .seleccionados{border: 1px solid rgba(255,255,255,.5);}
    


    .header-reporte{border-bottom: 1px solid #dddd;margin-bottom: 10px;padding-bottom: 30px;}
    .link-actions{text-align: right;}
    .link-actions .actions__item{width: auto; }
    .link-actions .actions__item > i{font-size: 35px;color: #444;padding-top: 26px;}
    .link-actions .menu-text{color: #0057ff;font-size: 16px;position: relative;/* padding-right: 15px; */}
    .link-actions .menu-text:after{
    /* content: '\f107'; */
    transition: .3s;
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    right: 0;
    top: 1px;
    font-size: 16px;
    }
    


    .link-actions.exportar{margin-bottom: 40px;transition: .3s;position: sticky;top: 99px;margin-top: -68px;z-index: 99999;width: 40px;margin-left: auto;border-radius: 60px;}
    .link-actions.exportar .menu-text i{font-size: 20px;}
    .link-actions.exportar .menu-text img{width: 22px;}
    .link-actions.exportar .actions__item{border-radius: 50px;padding: 9px 0 0 0;height: 40px;width: 40px;z-index: 9999;transition: .3s;position: relative;}
    .link-actions.exportar .actions__item .circle{;width: 1px;height: 1px;display: inline-block;position: absolute;top: 20px;left: 20px;border-radius: 50px;transition: .12s;}
    .link-actions.exportar .actions__item:hover .circle{background: #e9e9e9;transform: scale(45);}
    .link-actions.exportar .actions__item.disabled{pointer-events: none; cursor: default; border-color: #ccc;filter:grayscale(1);opacity:.5; }
    .link-actions.exportar .actions__item .menu-text{font-size: 14px;line-height: 115%;}
    .link-actions.exportar .actions__item.disabled .menu-text{color: #ccc;}
    .link-actions.exportar .dropdown-menu{width: 250px;top: 8px!important;right: 0!important;border-radius: 10px;}
    .link-actions.exportar .dropdown-menu .title-dropdown-menu{text-transform: uppercase; font-size: 10px; padding: 5px 30px 0px; }
    .link-actions.exportar .dropdown-menu a{padding-left: 58px;width: auto;}
    .link-actions.exportar .dropdown-menu a img{height: 18px; position: absolute; left: 31px; }




    .header-reporte .estado span{border-radius: 50px;padding: 3px 10px 2px!important;text-transform: uppercase;font-size: 10px;height: 20px;margin-left: 6px;}
    .header-reporte .estado .activa{background-color: #04b8af;color: #fff;}
    .header-reporte .nombre-encuesta{font-weight: 500;font-size: 26px;flex: 1;margin: 0;}
    .header-reporte .ellipsis-btn-menu{font-size: 24px;color: #777;width: 30px;}
    
    .header-reporte .btn-detalles-encuesta{margin-left: 25px; margin-bottom: 1px; position: relative; }
    .header-reporte .btn-detalles-encuesta .name-link::before{content: 'Detalles'}
    .header-reporte .btn-detalles-encuesta[data-toggle="collapse"][aria-expanded="true"] .name-link::before{content: 'Ocultar'}
    






    .header-reporte .btn-detalles-encuesta .name-link{padding-right: 18px; } 
    .header-reporte .btn-detalles-encuesta::after {top: 0px; right: 0px; font-size: 16px; content: '\f107'; transition: .3s; font-family: "Font Awesome 5 Pro"; position: absolute; color: #0057F9; }
    .header-reporte .btn-detalles-encuesta[data-toggle="collapse"][aria-expanded="true"]::after{transform: rotate(180deg);}
    
    .header-reporte .extra-data {flex-wrap: wrap;}
    .header-reporte .extra-data .item{flex: 1 1 500px;margin-bottom: 15px;}
    .header-reporte .extra-data .item i{width: 25px;text-align: center;margin-right: 10px;font-size: 18px;}
    
    .header-reporte .extra-data{margin-top: 30px;font-size: 15px;flex: 1;max-width: 1000px;}
    .header-reporte .extra-data span{padding: 0 5px;font-weight: 500;}
    .header-reporte .extra-data .vigencia a:after{content: '\f040'; font-family: "Font Awesome 5 Pro"; padding-left: 7px; font-size: 12px; }

    
    .header-reporte .extra-data .tipo-encuesta{}

    .navegacion{padding: 20px 60px 10px 0;/* margin: 0 -50px 20px; *//*position: sticky; top: 62px;*/z-index: 999;background-color: #f5f5f5;transition: .3s;position: sticky;top: 80px;}
    .navegacion.fixed{position: sticky;top: 80px;box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.08);-webkit-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.08);-moz-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.08);margin: 0 -50px;padding-left: 50px;padding-right: 110px;border-bottom: 1px solid #ddd;}

    .navegacion .actions .actions__item{width: 45px;height: 45px;margin-top: 10px;padding-top: 2px;color: #444;}
    .navegacion .actions i{font-size: 30px; }


    .navegacion .tabs-reporte{}

/*    Reporte No Result*/
    .reporte-no-result{padding: 40px 0px 70px;}
    .reporte-no-result .left{padding-right: 90px; }
    .reporte-no-result .title{font-size: 60px;font-weight: 600;line-height: 110%;margin-bottom: 30px;}
    .reporte-no-result .bajada{font-size: 20px;}
    .reporte-no-result .image{height: 450px; }
    .reporte-no-result .refresh-page{padding-top: 30px;font-style: italic;color: #999;font-size: 15px;}
    .reporte-no-result .refresh-page #countdown{}



    /*Participacion*/
    .encuesta-reporte-admin .participacion .card{margin-bottom: 0;}
    .encuesta-reporte-admin .participacion .card-body{padding-bottom: 12px; }
    .encuesta-reporte-admin .participacion .breadcrumb{padding: 5px 0 15px 0;}
    .encuesta-reporte-admin .participacion .breadcrumb ul li{height: 24px;}

    .encuesta-reporte-admin .participacion th{font-size: 10px; text-transform: uppercase; margin-bottom: 10px; cursor: pointer;font-weight: normal;color:#0057ff; padding-bottom: 6px;}
    .encuesta-reporte-admin .participacion .item-wrp{height: 300px;overflow-y: auto;margin-right: -18px;padding-right: 8px;}
    .encuesta-reporte-admin .participacion .item{margin-right: 12px;height: 60px;}
    .encuesta-reporte-admin .participacion .item:not(:last-child){border-bottom: 1px solid #efefef;padding-bottom: 10px;margin-bottom: 10px;}
    .encuesta-reporte-admin .participacion .item .name{position: relative;display: inline;}
    .encuesta-reporte-admin .participacion .item .name.linkeado{color: #0057ff; cursor: pointer;}
    .encuesta-reporte-admin .participacion .subdepto .item .name{margin-left: 30px;}
    .encuesta-reporte-admin .participacion .item .name i{display: none;}
    .encuesta-reporte-admin .participacion .item .name i{display: block;transform: rotate(-45deg);position: absolute;top: 4px;left: -20px;color: #999;}
    .encuesta-reporte-admin .participacion .item .value {padding-bottom: 5px;text-align: center;width: 35px;}
    .encuesta-reporte-admin .participacion .item .value .number{font-size: 18px;}
    
    .encuesta-reporte-admin .participacion .dataTables_wrapper{margin-top: 0!important;}

    .encuesta-reporte-admin .participacion .dataTables_filter,
    .encuesta-reporte-admin .participacion .dataTables__bottom
    {display: none;}

    .encuesta-reporte-admin .participacion .table1 .item td{padding-left: 25px}

    .encuesta-reporte-admin .participacion .dataTables_wrapper .dt-row ~ div{display: none;}


    .encuesta-reporte-admin .participacion .more-result{text-align: center;padding: 12px 0;}
    .encuesta-reporte-admin .participacion .more-result a{}


    /*Modal Audiencia*/
    .modal-wrapper.audiencia .masonry .card-columns > div{margin-bottom}
    .modal-wrapper.audiencia .masonry .title{font-size: 14px; text-transform: uppercase; font-weight: 500; } }

    

    /*Modal Recordatorio*/
    .modal-dialog.confirmar-recordatorio,
    #sending-recordatorio .modal-dialog.loading{width: 600px!important;}

    .modal-dialog.enviar-recordatorio{max-width: 600px;}

    .enviar-recordatorio .label-input{font-weight: 500; text-transform: uppercase; font-size: 12px; }
    .enviar-recordatorio .audiencia-destino{margin: 10px 0 30px;}
    .enviar-recordatorio .audiencia-destino .numero{font-size: 40px;text-align: center;font-weight: 500;line-height: 100%;padding-right: 35px;}
    .enviar-recordatorio .audiencia-destino .numero span{display: block;font-size: 14px;font-weight: normal;color: #a5a5a5;line-height: 100%;padding-top: 4px;}
    .enviar-recordatorio .audiencia-destino .imagen {padding-top: 10px; margin-right: 35px; }
    .enviar-recordatorio .audiencia-destino .imagen img{height: 34px;}
    .enviar-recordatorio .audiencia-destino .porcentaje{color: #a5a5a5;font-size: 14px;padding-top: 12px;}
    .enviar-recordatorio .audiencia-destino .porcentaje span{font-size: 160%;padding-right: 2px;}
    
    .enviar-recordatorio .subject input {border: 1px solid #eceff1;padding: 22px 15px!important;font-size: 16px;border-radius: 4px!important;}
    
    .enviar-recordatorio .contenido .wrapper{border: 1px solid #eceff1;padding: 30px;text-align: center;}
    .enviar-recordatorio .contenido .wrapper .logo{height: 70px;display: block;margin: 0 auto;}
    .enviar-recordatorio .contenido .wrapper .calendario{width: 150px; display: block; margin: 20px auto 40px;}
    .enviar-recordatorio .contenido .wrapper .boton{background-color: #0057ff;width: 200px;color: #fff;text-transform: uppercase;border-radius: 5px;padding: 10px 10px 11px;font-weight: 500;margin: 40px auto 30px;}
    .enviar-recordatorio .contenido .wrapper .boton .form-group{margin: 0 15px;}
    .enviar-recordatorio .contenido .wrapper .boton .form-group:hover{background: rgba(255,255,255,.15);margin: 0 7px;}

    .enviar-recordatorio .contenido .wrapper .boton .form-group input{height: 28px;padding: 0!important;text-align: center;color: #fff;text-transform: uppercase;font-weight: 500;border: 0;}
    

    .enviar-recordatorio .contenido .wrapper .deadline{font-size: 12px; font-style: italic;color: #8e8e8e;}
    
    .enviar-recordatorio .text-edit .placeholder{text-align: left;}
    .enviar-recordatorio .text-edit .trumbowyg-editor {min-height: 170px;}
    .enviar-recordatorio .text-edit .trumbowyg-box {min-height: 260px;}

    .confirmar-recordatorio{}
    .confirmar-recordatorio .confirmacion-txt{font-size: 16px; padding: 10px 0;}



/*    TAB PARTICIPACION*/
    .encuesta-reporte-admin .participacion-gral ul li{position: relative;padding-left: 20px;padding-bottom: 8px;width: 130px;}
    .encuesta-reporte-admin .participacion-gral ul li::before {content: "\2022";color: #2196F3;font-size: 40px;line-height: 15px;position: absolute;top: 1px;left: 0;}
    .encuesta-reporte-admin .participacion-gral ul li:nth-child(2)::before {color: #F06B69;}
    .encuesta-reporte-admin .participacion-gral ul li:nth-child(3)::before {color: #c4c4c4;}
    .encuesta-reporte-admin .participacion-gral .right{flex: 1;}
    .encuesta-reporte-admin .participacion-charts .participacion-gral{flex-basis: 35%;max-width: 500px;}
    .encuesta-reporte-admin .participacion-charts .participacion-dia{flex-basis: 55%;}
    
    .encuesta-reporte-admin .participacion-charts .chartjs-render-monitor{width: auto!important;}

    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-y{text-align: right;padding-bottom: 30px;margin-right: 10px;font-size: 12px;}
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group{flex: 1; }
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item{flex: 1;position: relative;}
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .bar{width: 10px; }
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .bars-group{padding: 0 15px;height: 150px;width: 60px;margin: 0 auto;}
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .bars-group:hover{cursor: pointer;}
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .bars-group:hover ~ .participacion-popup{display: block;}
    
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .bar.bar-hombres{background-color: #2196F3;}
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .bar.bar-mujeres{background-color: #F06B69;}
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .bar.bar-otros{background-color: #c4c4c4;}

    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .label{font-size: 12px;text-align: center;line-height: 120%;border-top: 1px solid #ccc;padding-top: 7px;}
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .label span{display: block; }

 
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .participacion-popup .fecha {font-size: 14px; font-weight: 500; padding-bottom: 8px; text-wrap: nowrap; }
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .participacion-popup {position: absolute; top: 0; right: 70px; width: auto; padding: 15px; display: none; box-shadow: 0 2px 6px rgba(95, 108, 114, .03), 0 0px 25px rgba(95, 108, 114, 0.3); }
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .participacion-popup ul{margin-bottom: 0; }
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .participacion-popup ul li{position: relative; padding-left: 22px; }
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .participacion-popup ul li::before {content: "\2022"; font-size: 40px; line-height: 15px; position: absolute; top: 0px; left: 0; }
    
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .participacion-popup ul li.hombres::before{color: #2196F3;}
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .participacion-popup ul li.mujeres::before{color: #F06B69;}
    .encuesta-reporte-admin .participacion-charts .participacion-dia .axis-x-group .axis-x-item .participacion-popup ul li.otros::before{color: #c4c4c4;}


    /*HEATMAP FAVORABILIDAD*/
        /*.favorabilidad .card-body {padding: 30px 35px;}*/
        .favorabilidad table tr td:not(:first-child){text-align: center;border-bottom: 1px solid rgba(255,255,255,0.4);border-right: 1px solid rgba(255,255,255,0.4);}
        .favorabilidad table tr td.dimension {padding-right: 20px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 260px;min-width: 260px;}

        .favorabilidad table tr td.dimension span{padding-right: 12px;}
        /*.favorabilidad table tr td span.tag{background-color: #87999b; color: #fff; border-radius: 20px; text-align: center; padding: 2px 10px 3px 10px!important;}*/

        .favorabilidad table tr th:first-child{width: 260px;border: 0;padding-top: 0;padding-left: 0px;}
        /*.favorabilidad table:not(.fixed-column) tr td:hover{border-bottom: 3px solid rgba(0,0,0,.3)}*/
        .combo-right .select2-container--default .select2-selection--single .select2-selection__rendered
        {padding: 16px 36px 15px 15px;font-size: 16px;width: 200px;}

        .favorabilidad .card .header-table{/* background: #2e353e; *//* background-image: linear-gradient(215deg, #4d545b, #2e353e); *//* color: #fff; *//* padding: 20px 25px 25px 25px; */border-bottom: 1px solid #f2f4f5;margin: 0px 0 30px;padding-bottom: 25px;}
        .favorabilidad .card .header-table .value{font-size: 27px;line-height: 30px;}
        
        .favorabilidad .card .header-table .label{font-size: 16px;margin-left: 30px;padding-top: 7px;}

        .favorabilidad .ant-select-selection {background: transparent; color: #fff;font-family: 'proxima_nova_alt';}
        .favorabilidad .ant-select-arrow{color: #fff;margin-top: -5px;}
        .favorabilidad .ant-select.ant-select-enabled{top: 10px!important;}
        .favorabilidad .ant-select-dropdown-menu-item{padding: 40px;}
        .ant-select-dropdown{width: 190px!important; /*right: 90px!important; left: initial!important;*/}
        .ant-select-dropdown-menu-item{padding: 15px 20px;}


        /*Select*/
            
            .favorabilidad .card .header-table .selector i{color: #0057ff; position: absolute; right: 0; top: 17px; font-weight: 500; pointer-events: none;}
            .favorabilidad .card .header-table .selector .select2-container{background: transparent!important;}
            .favorabilidad .card .header-table .select2-container--default .select2-selection--single .select2-selection__rendered{text-align: right;padding-right: 36px;}
            .favorabilidad .card .header-table .selector .select2-container--default .select2-selection--single{height: 36px;padding-top: 10px!important;border-bottom: 0;margin-top: 0;}
            .favorabilidad .card .header-table .selector .select2-container--default .select2-selection--single:before{display: none;}


        .favorabilidad .card .espacio{flex-basis: 260px; }
        
        .favorabilidad .table:not(.table-dark) thead th {height: 70px!important;padding: 0 20px;}
        .favorabilidad .table:not(.table-dark) thead th ~ div{position: relative;}
        .favorabilidad .table:not(.table-dark) thead th a{color: #444; border-bottom: 1px dotted #999;}
        
        .favorabilidad .table:not(.table-dark) .value-gral{font-size: 12px; background: #777; border-radius: 30px; width: fit-content; padding: 3px 8px 3px; margin-right: 14px; color: #fff; line-height: 130%; font-weight: 400;}

        .favorabilidad .table:not(.table-dark) thead th .value-gral{display: block;margin: 0 auto 6px;}

        .muybueno{background: #04b8af; color: #055955;}
        .bueno{background: #6cd5d0; color: #055955;}
        .medio{background: #fcd57e;color: #7E5E16;}
        .malo{color: #730307;background: #f16b6c;}
        .muymalo{background: #e02830;color: #730307;}
        .grey{background: #efefef;color: #939393; border:1px solid #939393;}

        .favorabilidad thead th div{display: -webkit-box;max-width: 400px;margin: 0 auto;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;text-align: center;}
        .favorabilidad thead th div[title="Dimensiones"]{text-align: left;width: 240px;color: #999;}

    /*Favorabilidad*/
    
    .favo-header {margin-top: 4px;}
    .favo-header:not(:first-child) {margin-left: 30px;}
    .favo-header .value{font-size: 20px;line-height: 20px;font-weight: 400;}
    .favo-header .value small{font-size: 60%;;padding-left: 2px;font-weight: 500;}
    .favo-header .target{font-size: 10px; text-transform: uppercase; display: block; margin: -1px 0 4px;}
    .favo-header .progress{font-weight: 500;}
    .favo-header .progress.black{background-color: rgba(255,255,255,.2);}

    .encuesta-reporte-admin .favorabilidad .card .table thead th{font-weight: 300;}
    .encuesta-reporte-admin .favorabilidad .card .header-table .filter-by{padding-top: 8px; font-size: 15px;}
    .encuesta-reporte-admin .favorabilidad .card .header-table .selector{margin-bottom: 0px; width: 165px;}
    .encuesta-reporte-admin .favorabilidad .card .header-table .selector i{color: #0057ff;position: absolute;right: 0;top: 13px;font-weight: 600;pointer-events: none;}
    .encuesta-reporte-admin .favorabilidad .card .header-table .selector .select2-container{background: transparent!important;}
    .encuesta-reporte-admin .favorabilidad .card .header-table .select2-container--default .select2-selection--single .select2-selection__rendered{text-align: right;padding-right: 30px;padding-top: 0;font-weight: 400;}



    /*Key Drivers*/
    .keydrivers{}
    .keydrivers .card-body{padding: 40px;}
    
    .keydrivers .card-filtros-top {margin: 10px 0 40px;}
    .keydrivers .card-filtros-top .nav-tabs{padding: 0!important;}
    .keydrivers .card-filtros-top .nav-tabs .nav-link{text-transform: none;margin-top: 0;padding: 4px 20px 5px;font-size: 14px;transition: none;margin-right: 0!important;margin-left: 10px;}
    .keydrivers .card-filtros-top .nav-tabs .nav-link.active{background: var(--color-primario);color: #fff;font-weight: normal;border-radius: 24px;}
    .keydrivers .card-filtros-top .nav-tabs .nav-item:first-child .nav-link{margin-left: 0;margin-right: 10px;}
    .keydrivers .card-filtros-top .nav-tabs .nav-link:before {height: 0;}

    .agrupador .name{padding: 5px 0 0 10px; }
    

    .search-wrp .buscador{display: inline-block; margin-bottom: 0; position: relative; margin-left: 10px; }
    .search-wrp .buscador input{padding: 0 18px 1px 29px!important;border: 0;height: 26px;transition: .3s;background: #f5f5f5;border-radius: 40px!important;width: 160px;}
    .search-wrp .buscador input:focus{background-color: #e9e9e9;}
    .search-wrp .buscador .lupa{position: absolute;top: 7px;left: 9px;}


    
    .keydrivers #pordimension, 
    .keydrivers #porpreguntas {display: none;}
    .keydrivers #pordimension.visible,
    .keydrivers #porpreguntas.visible{display: block;}

    .keydrivers .pordimension .acordeon:not(:first-child){border-top: 1px solid #efefef; }
    .keydrivers .pordimension .acordeon .name{font-size: 14px;}


    .keydrivers .pordimension .acordeon .pregunta .more-less{color: #0057ff;padding: 0;}
    .keydrivers .pordimension .acordeon .sub[aria-expanded="false"] .name .pregunta .more-less::before{content: "Abrir";}
    .keydrivers .pordimension .acordeon .sub[aria-expanded="true"] .name .pregunta  .more-less::before{content: "Cerrar";}


    .keydrivers .pordimension .acordeon .dimension{padding-left: 25px;position: relative;}
    .keydrivers .pordimension .acordeon .pregu{padding-left: 25px;}


    .keydrivers .item{padding: 15px 0; }
    .keydrivers .item:not(:first-child){border-top: 1px solid #efefef; }
    .keydrivers .columna{}
    .keydrivers .columna div{/* padding: 0 15px; */line-height: 120%;}
    .keydrivers .columna div:first-child{padding-left: 0;}
    .keydrivers .columna div:last-child{padding-right: 0;}

    .keydrivers .columna > div:not(.search-wrp){/* padding-bottom: 4px; */}
    .keydrivers .columna .impacto{min-width: 58px;text-align: center;padding: 0;}
    .keydrivers .columna .impacto i{color: #04b8af;}
    
    .keydrivers .columna .dimension,
    .keydrivers .columna .subdimension{min-width: 136px;}
    
    .keydrivers .columna .pregunta{width: 100%;margin-left: 20px;}
    .keydrivers .columna .pregunta .numero{width: 30px;padding-right: 8px;}
    .keydrivers .columna .pregunta .texto{padding-left: 0;}
    .keydrivers .columna .pregunta .texto .pill-referencia{margin-top: 5px;}
    

    



    
    

    .keydrivers .pordimension.visible .columna .dimension{min-width: 200px;}
    .keydrivers .pordimension.visible .columna .medium{min-width: 110px;text-align: center;}
    .keydrivers .pordimension.visible .acordeon .columna .medium{/* margin: 0 10px; */text-align: center;}
    .keydrivers .pordimension.visible .columna .favorabilidad{min-width: 110px!important;margin-left: 20px;}
    .keydrivers .porpreguntas.visible .columna .favorabilidad{min-width: 100px;margin-left: 20px;text-align: center;}
    
    .keydrivers .vs-company,
    .keydrivers .tot-company{min-width: 90px;text-align: center;padding-left: 20px;}
 
    .keydrivers .tot-company span{border: 1px solid #ce06ff;padding: 1px 6px;font-size: 13px;}
    .keydrivers .tot-company label{}
    .keydrivers .tot-company .valor{}
    .keydrivers .tot-company .valor i{}
    

    .keydrivers .columna .progress{width: 100%;}
    .keydrivers .columna .favorabilidad .progress .progress-bar{padding-top: 2px;}
    .keydrivers .columna .favorabilidad .progress .progress-bar span{padding-right: 5px;padding-top: 1px;}
    .keydrivers .columna .favorabilidad .progress .progress-bar span small{padding-left: 2px;}
    .keydrivers .columna .favorabilidad .progress .progress-bar.bg-success{}
    .keydrivers .columna .correlacion{min-width: 115px;}

    .keydrivers .columna .correlacion {}
    .keydrivers .columna .correlacion div{padding: 0;}
    .keydrivers .columna .correlacion img{width: 27px;}
    .keydrivers .columna .correlacion .datos{font-size: 10px;text-align: left;padding-left: 10px;text-transform: uppercase;}
    .keydrivers .columna .correlacion .datos .numero{font-size: 13px;}
    .keydrivers .columna .correlacion .datos .nombre{font-size: 9px; line-height: 130%; }
    


    .keydrivers .columna .benchmark{min-width: 112px;text-align: center;padding-left: 6px;position: relative;}
    .keydrivers .columna .benchmark .label-thead{color: #0057ff;display: inline;position: relative;}
    
    .keydrivers .columna .benchmark .pill-difference{padding: 1px 10px 1px 30px; background-position-y: 5px;}
        

/*    .keydrivers .columna.thead .benchmark select{border: 0; text-transform: uppercase; font-weight: 500;}*/

    
    .keydrivers .columna.thead .benchmark .label-thead:hover {cursor: pointer;}
    .keydrivers .columna.thead .benchmark .label-thead:after {
    content: '\f107';
    transition: .3s;
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #0057ff;
    }

    .keydrivers .columna.thead .benchmark .dropdown-menu{text-transform: initial;}
    .keydrivers .columna.thead .benchmark .dropdown-menu span.title{color: #444;
    font-weight: 500;
    font-size: 14px;}


    .keydrivers .columna.thead .benchmark .dropdown-menu .dropdown-item{padding: 12px 25px;}
    .keydrivers .columna.thead .benchmark .dropdown-menu .dropdown-item:not(:last-child){border-bottom: 1px solid #efefef;}



    .keydrivers .columna .bench-value-1:not(.unselect),
    .keydrivers .columna .bench-value-2:not(.unselect){display: none;}



    .keydrivers .columna .comentarios{min-width: 120px;text-align: center;padding-left: 0;}
    .keydrivers .columna .comentarios a{position: relative; padding-left: 19px; }
    .keydrivers .columna .comentarios a i{font-size: 13px; position: absolute; top: 3px; left: 0; }

    .keydrivers .thead{text-transform: uppercase;font-size: 12px;padding-bottom: 14px;font-weight: 500;}
    .keydrivers .thead .active{font-weight: 700; }
    .keydrivers .thead .active span{display: block;font-size: 8px;font-weight: 400;}
    .keydrivers .thead div{}

    .keydrivers .item .correlacion {}


    .keydrivers .acordeon .name .dimension::before{
    content: '\f054';
    transition: .3s;
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    left: 2px;
    top: 0px;
    font-size: 10px;
    }


    .keydrivers .acordeon [aria-expanded="true"].sub .name .dimension::before {transform: rotate(90deg ); }

    .keydrivers .collapse,
    .keydrivers .collapsing{border-bottom: 1px solid #444;margin-top: -12px;}

    .keydrivers .collapse .item,
    .keydrivers .collapsing .item{margin-left: 50px;position: relative;}

    .keydrivers .collapse .item .subdimension,
    .keydrivers .collapsing .item .subdimension{text-transform: uppercase;font-size: 10px;color: #666;display: block;position: absolute;top: -15px;left: 0;}

    .keydrivers .collapse .item:last-child,
    .keydrivers .collapsing .item:last-child{margin-bottom: 20px;}

    .keydrivers .collapse .item .dimension,
    .keydrivers .collapsing .item .dimension{padding-left: 0;min-width: 150px!important;position: relative;}

    .keydrivers .collapse .item .dimension,
    .keydrivers .collapsing .item .dimension {}







    /*Preguntas y Comentarios*/
    .encuesta-reporte-admin .preguntas-comentarios .btn-demo .favorabilidad {flex-basis: 100%;}    
    .encuesta-reporte-admin .preguntas-comentarios .d-flex .name {padding-top: 11px; flex-basis: 45%; font-size: 18px; padding-left: 35px;}
    .encuesta-reporte-admin .preguntas-comentarios .d-flex .name.otras{padding-top: 5px;}
    .encuesta-reporte-admin .preguntas-comentarios .d-flex .name small{display: block; font-weight: 400; color: #aaa; font-size: 12px;}
    

    .encuesta-reporte-admin .preguntas-comentarios .card {margin-bottom: 15px;}
    .encuesta-reporte-admin .preguntas-comentarios .preguntas .favorabilidad{flex-basis: 140px;}
    .encuesta-reporte-admin .preguntas-comentarios .preguntas .favo-header .value{font-size: 16px;}
    .encuesta-reporte-admin .preguntas-comentarios .preguntas .favo-header .value small{font-size: 80%; }
    .encuesta-reporte-admin .preguntas-comentarios .preguntas .favo-header .progress{width: 100%; margin-top: 2px; }
    .encuesta-reporte-admin .preguntas-comentarios .preguntas .comments{padding-top: 8px;font-size: 14px;}
    
    .encuesta-reporte-admin .preguntas-comentarios .card .preguntas .d-flex .d-flex{width: 60%;font-size: 15px;}

    .encuesta-reporte-admin .preguntas-comentarios .collapse .preguntas{margin-top: 47px;}
    .encuesta-reporte-admin .preguntas-comentarios .collapse .preguntas:not(:last-child),
    .encuesta-reporte-admin .preguntas-comentarios .collapsing .preguntas:not(:last-child) {border-bottom: 1px solid #efefef;}
    
    .encuesta-reporte-admin .preguntas-comentarios .collapse .preguntas,
    .encuesta-reporte-admin .preguntas-comentarios .collapsing .preguntas
    {margin: 40px 0px 0 50px; padding: 0 5px 23px 0px;}


    /*Report Multiple Choice*/
        .options-report-wrp.card-body{padding-bottom: 60px; }
        .options-report-wrp .pregunta{-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;white-space: initial;padding-right: 50px;font-size: 18px;font-weight: 500;margin-bottom: 20px;line-height: 140%;}
        .options-report-wrp .title-question{text-transform: uppercase;/* font-weight: 500; */font-size: 12px;padding-bottom: 6px;}
        .options-report-wrp .label-multiple{text-align: right; font-style: italic; color: #999; }
        
        .options-report-wrp .options-report {height: 320px; overflow-y: auto; padding-right: 20px; margin-right: -10px; }
        
        .options-report .option-item:not(:last-child){border-bottom: 1px solid #efefef;}
        .options-report .d-flex > div:not(:last-child){}
        .option-item{padding: 12px 0;}
        .option-item .name{flex: 1;font-size: 15px;padding-right: 50px;line-height: 140%;}
        .option-item .name .votos{display: block;font-size: 13px;color: #999;margin-top: 5px;}
        .option-item .name.otro a{color: #0057ff; padding-left: 10px;}
        .option-item .progress{margin-top: 0px;}
        .option-item .value{font-size: 20px;font-weight: 300;}
        .option-item .value small{}
        .simple-choice .value{}
        .multiple-choice {padding-bottom: 30px;}
        .multiple-choice .name{flex-basis: 340px;}
        .multiple-choice .progress{flex-basis: 80%;}
        .multiple-choice .value{flex-basis: 400px;}
        .multiple-choice .value span{padding-left: 10px;border-left: 1px solid #ccc;margin-left: 15px;line-height: 12px;display: inline-block;color: #9c9c9c;font-size: 13px;}

            /*.options-report-wrp .condicional{position: absolute;right: 15px;top: 52px;}
            .options-report-wrp .condicional img{width: 28px; }
*/
        .options-report-wrp .condicional {
    display: inline-block;
    padding-right: 4px!important;
}

    
    /*Comentarios*/
    /*.encuesta-reporte-admin header.header{border-bottom: none; z-index: 1001;}*/
    .encuesta-reporte-admin .comentarios .select2-container--default .select2-selection--single{padding: 24px!important;height: 70px;margin-top: 0;}
    .encuesta-reporte-admin .comentarios .select2-container--default .select2-selection--single .select2-selection__rendered{font-size: 18px;font-weight: 400;}
    
    .encuesta-reporte-admin .comentarios .combo-pregunta > label{color: #444;margin-bottom: 12px;}
    .encuesta-reporte-admin .comentarios .combo-pregunta select::after{content: '\f054'; transition: .3s; font-family: "Font Awesome 5 Pro"; position: absolute; left: 30px; top: 39px; font-size: 14px; }
    
    .encuesta-reporte-admin .comentarios .combo-pregunta .cantidad-respuestas{
    position: relative;
}
    .encuesta-reporte-admin .comentarios .combo-pregunta .cantidad-respuestas .wrapper{
    border: 1px solid #252525;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0 10px 75px;
}
    .encuesta-reporte-admin .comentarios .combo-pregunta .cantidad-respuestas i{
    font-size: 18px;
    transform: rotate(90deg);
    position: absolute;
    top: 23px;
    left: 44px;
}

    /*.encuesta-reporte-admin .comentarios .combo-pregunta .datos{margin-top: 12px;color: #777;margin-left: 34px;}
    .encuesta-reporte-admin .comentarios .combo-pregunta .datos div{position: relative;}
    .encuesta-reporte-admin .comentarios .combo-pregunta .datos i{font-size: 18px;position: absolute;top: 2px;}
    .encuesta-reporte-admin .comentarios .combo-pregunta .datos span{padding-left: 30px;}
    .encuesta-reporte-admin .comentarios .combo-pregunta .datos div:not(:last-child) span{padding-right: 45px;}
    .encuesta-reporte-admin .comentarios .combo-pregunta .datos .arrow{margin-right: 30px; }
    .encuesta-reporte-admin .comentarios .combo-pregunta .datos .arrow i{transform: scaleY(-1) rotate(-90deg); }*/
    .encuesta-reporte-admin .comentarios .select2-results__options{font-size: 16px;}


    .encuesta-reporte-admin .comentarios .link-actions.exportar{
    margin-bottom: 0;
    margin-left: 30px;
}

    /*.select2-results__options{margin-bottom: 20px;}*/
    .encuesta-reporte-admin .comentarios .select2-container--default .select2-selection--single .select2-selection__rendered{padding-top: 1px;}
    .select2-container--default .select2-results__group {/* text-transform: uppercase; */font-size: 12px;color: #777;padding: 15px 6px 10px;font-weight: 300;}
    .select2-container--default .select2-results__option:first-child .select2-results__group{background-color:#696e75;display: inline-block;padding: 1px 12px 0;color: #fff;margin: 15px 5px 3px;border-radius: 50px;font-weight: 400;}
    .select2-dropdown .select2-results__option[aria-selected=true]{background-color: #fff; display: none;}
    .select2-container--default .select2-results__option[role=group]{margin-left: 15px;}

    .encuesta-reporte-admin .comentarios .combo-pregunta .select2-container--default .select2-selection--single:before {right: 45px;top: 16px;font-size: 26px;}
    .encuesta-reporte-admin .comentarios .combo-pregunta .select2-container{border-radius: 5px;box-shadow: 0 2px 9px rgba(95,108,114,0.1), 0 0px 6px rgba(95,108,114,.05);}

    .encuesta-reporte-admin .comentarios .sub-filtros{margin: 50px 0 30px;border-top: 1px solid #ddd;padding-top: 30px;}
    .encuesta-reporte-admin .comentarios .sub-filtros .cantidad{width: 150px;}
    .encuesta-reporte-admin .comentarios .sub-filtros .acciones-sugeridas{font-size: 13px;}
    .encuesta-reporte-admin .comentarios .sub-filtros .acciones-sugeridas a i{font-size: 13px; top: 2px; }
    
    .encuesta-reporte-admin .comentarios .sub-filtros .sub-filtros-checks{/* flex-basis: 100%; */}
    .encuesta-reporte-admin .comentarios .sub-filtros .sub-filtros-checks .custom-control{padding-left: 30px;margin-right: 50px;}
    .encuesta-reporte-admin .comentarios .sub-filtros .sub-filtros-checks .custom-control label{color: #444;font-size: 14px!important;position: initial;text-transform: none;}
    .encuesta-reporte-admin .comentarios .sub-filtros .sub-filtros-checks .custom-control label::before{top: 0px;width: 18px;height: 18px;}
    .encuesta-reporte-admin .comentarios .sub-filtros .sub-filtros-checks .custom-checkbox .custom-control-input:checked ~ .custom-control-label:before{line-height: 17px;}
    
    .encuesta-reporte-admin .comentarios .comment-group .card-columns .card{margin-bottom: 20px;}
    .encuesta-reporte-admin .comentarios .comment-group .card-columns .card .select{position: absolute;right: 25px;top: 31px;}
    .encuesta-reporte-admin .comentarios .comment-group .card-columns .card .select i{font-size: 18px;color: #999;}
    
    .encuesta-reporte-admin .comentarios .comment-group .card-columns .card .favorabilidad {margin-top: -5px;margin-bottom: 22px;}
    .encuesta-reporte-admin .comentarios .comment-group .card-columns .card .favorabilidad label{text-transform: uppercase; font-size: 10px; color: #999; margin-bottom: 3px; position: inherit; }
    .encuesta-reporte-admin .comentarios .comment-group .card-columns .card .favorabilidad .progress{width: 60px; }
    .encuesta-reporte-admin .comentarios .comment-group .card-columns .card .mensaje{font-size: 13px; margin-top: 15px; }



    /*Comentarios NEW*/
    .encuesta-reporte-admin .comentarios.new{}
    .encuesta-reporte-admin .comentarios.new .title-pregunta{font-size: 16px; font-weight: 500; margin-top: 10px;}
    

    .encuesta-reporte-admin .comentarios.new .filter-results{}
    
    .encuesta-reporte-admin .comentarios.new .filter-results{padding-bottom: 25px;margin-top: 20px;}
    .encuesta-reporte-admin .comentarios.new .filter-results .btn{border-radius: 50px!important; }
    .encuesta-reporte-admin .comentarios.new .filter-results .btn.active{}
    .encuesta-reporte-admin .comentarios.new .filter-results .btn input{}


    .encuesta-reporte-admin .comentarios.new .filter-results .filter-comments-tab{
    gap: 10px!important;
}
    .encuesta-reporte-admin .comentarios.new .filter-results .filter-comments-tab a{
    padding: 12px 25px;
    background: transparent;
    color: #444!important;
    font-size: 15px;
    border: none!important;
    text-transform: none;
    margin: auto 8px;
    }

    .encuesta-reporte-admin .comentarios.new .filter-results .filter-comments-tab a:before{background: none;}
    .encuesta-reporte-admin .comentarios.new .filter-results .filter-comments-tab li:first-child a{margin-left: 0;}
    .encuesta-reporte-admin .comentarios.new .filter-results .filter-comments-tab a.active{
    background: #0057ff;
    border-radius: 60px;
    color: #fff!important;
    font-weight: normal;
}




    .encuesta-reporte-admin .comentarios.new .filter-results .etiquetados{}
    .encuesta-reporte-admin .comentarios.new .filter-results .etiquetados .btn{padding: 12px 25px; background: transparent; color: #444!important; font-size: 15px; border: none!important; }
    .encuesta-reporte-admin .comentarios.new .filter-results .etiquetados .btn:not(:first-child){margin-left: 10px;}
    .encuesta-reporte-admin .comentarios.new .filter-results .etiquetados .btn.active{background: #0057ff; color: #fff!important; }
    .encuesta-reporte-admin .comentarios.new .filter-results .etiquetados .btn input{}

    .encuesta-reporte-admin .comentarios.new .filter-results .sentimientos{text-align: center; }
    .encuesta-reporte-admin .comentarios.new .filter-results .sentimientos .btn{background: transparent;color: #444!important;font-size: 15px;border: none!important;border: 1px solid #e5e5e5!important;margin: 0 15px 5px;}
    .encuesta-reporte-admin .comentarios.new .filter-results .sentimientos .btn.active{background: #0057ff; color: #fff!important; }
    .encuesta-reporte-admin .comentarios.new .filter-results .sentimientos .btn.active.negativo{background: #f16b6c!important;border: 1px solid #f16b6c!important;}
    .encuesta-reporte-admin .comentarios.new .filter-results .sentimientos .btn.active.neutral{background: #fcd57e!important;border: 1px solid #fcd57e!important;}
    .encuesta-reporte-admin .comentarios.new .filter-results .sentimientos .btn.active.positivo{background: #04b8af!important;border: 1px solid #04b8af!important;}
    .encuesta-reporte-admin .comentarios.new .filter-results .sentimientos .btn.active.mixto{background: #a94ad1!important;border: 1px solid #a94ad1!important;}
    .encuesta-reporte-admin .comentarios.new .filter-results .sentimientos .label {font-size: 12px; color: #999; margin-right: 40px; }
    .encuesta-reporte-admin .comentarios.new .filter-results .sentimientos .referencia-txt{}
    .encuesta-reporte-admin .comentarios.new .filter-results .sentimientos .referencia-txt div{font-size: 12px; width: 60px; }

    
    

    .encuesta-reporte-admin .comentarios.new .combo-pregunta{margin-bottom: 10px;width: 100%;margin-right: 50px;}
    .encuesta-reporte-admin .comentarios.new .link-actions.exportar{margin-top: 16px;}


    .encuesta-reporte-admin .comentarios.new .combo-pregunta .select2-container--default .select2-selection--single{border: 1px solid #efefef;border-radius: 5px;padding: 20px 20px 19px!important;height: auto;background: #fff;}
    .encuesta-reporte-admin .comentarios.new .combo-pregunta .select2-container--default .select2-selection--single:before{top: 14px;right: 36px;}
    .encuesta-reporte-admin .comentarios.new .combo-pregunta .select2-container--default .select2-selection--single .select2-selection__rendered{font-size: 16px;padding-bottom: 0;}


    .encuesta-reporte-admin .comentarios.new .combo-pregunta label{}
    .encuesta-reporte-admin .comentarios.new .combo-pregunta select{}
    


    .encuesta-reporte-admin .comentarios.new .cant-comentarios{font-size: 14px;padding-bottom: 20px;}
    .encuesta-reporte-admin .comentarios.new .cant-comentarios .depurados{display: inline-block; font-size: 13px; padding-left: 10px; color: #777; }
    
    .encuesta-reporte-admin .comentarios.new .comments-group{}
    .encuesta-reporte-admin .comentarios.new .comments-group > .item{/* padding-bottom: 15px; *//* margin-bottom: 25px; */}
    .encuesta-reporte-admin .comentarios.new .comments-group > .item.card{margin-bottom: 8px;box-shadow: 0 2px 9px rgba(95,108,114,0.3), 0 0px 6px rgba(95,108,114,.05);}
    .encuesta-reporte-admin .comentarios.new .comments-group > .item.card.leido{box-shadow: none;border: 1px solid #efefef;}
    .encuesta-reporte-admin .comentarios.new .comments-group > .item.card.destacado{
    border: 2px solid #0057ff;
}
    .encuesta-reporte-admin .comentarios.new .comments-group > .item.card .card-body{padding: 40px;}
    .encuesta-reporte-admin .comentarios.new .comments-group > .item:not(:last-child){border-bottom: 1px solid #efefef;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .comentario-txt{padding-right: 70px;font-size: 16px;flex: 1;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .comentario-txt .autor{font-size: 14px; margin-bottom: 10px; color: #777; display:none; }
    .encuesta-reporte-admin .comentarios.new .comments-group .item .comentario-txt .autor span{}
    
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones{width: 380px;}
    /*.encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item{width: 400px;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item:not(:last-child){padding-bottom: 10px;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .left{font-size: 12px; width: 90px; }
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .right{font-size: 13px;color: #506e91;width: 310px;}*/
    
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .button-top{margin-bottom: 15px; border-bottom: 1px solid #eaeaea; padding-bottom: 15px; }
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .button-top a{}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .button-top a i{padding-right: 6px; }


    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .feel-no-suggest{padding: 12px 15px 12px 42px;border-radius: 10px;position: relative;font-size: 13px;color: blueviolet;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .feel-no-suggest .icon{
    position: absolute;
    background: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    padding-top: 7px;
    border: 1px solid blueviolet;
    left: 0;
    top: 16px;
}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .feel-no-suggest .icon i{font-size: 15px;}
    
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group{
    padding: 6px 0px 15px;
}


    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .respuesta{margin-bottom: 10px; }
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .respuesta .left{padding-right: 15px; }
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .respuesta .right{font-weight: 600; }
    

    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn{border-radius: initial!important;background: #eaf0f6;border: 1px solid #cbd6e2!important;color: #506e91!important;font-size: 12px;padding: 7px 12px 6px;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn:last-child{border-right: 1px solid #cbd6e2!important;border-radius: 0 3px 3px 0px!important;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn:not(:last-child){border-right: 1px solid #cbd6e2!important;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn:first-child{border-left: 1px solid #cbd6e2!important; border-radius: 3px 0 0 3px!important; }
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn:not(:first-child){margin-left: -1px;}

    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn.negativo{}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn.neutral{}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn.positivo{}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn.mixto{}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn.active{color: #252525!important;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn.active.negativo{background: #f16b6c!important;border-color: #f16b6c!important;border-left: 1px solid #f16b6c!important;color: #fff!important;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn.active.neutral{background: #fcd57e!important;border-color: #fcd57e!important;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn.active.positivo{background: #04b8af!important;border-color: #04b8af!important;color: #fff!important;}
    
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn.active.mixto{background: #a94ad1!important;/*border-left: none;*/border-color: #a94ad1!important;color: #fff!important;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.btn-group .btn input{}


    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags{margin: 0;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-search__field{cursor: pointer;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-search__field::placeholder{color: #0057ff!important;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-selection__rendered{padding:0!important;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-container--default .select2-selection--multiple .select2-selection__choice{border-radius: 3px!important;font-size: 12px;padding: 5px 28px 6px 12px;position: relative;height: 28px;background: #0057ff;color: #fff!important;border: 1px solid #0057ff!important;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-container--default .select2-selection--multiple .select2-selection__choice:after{content: '\f055';font-family: "Font Awesome 5 Pro";font-size: 14px;position: absolute;right: -25px;color: #0057ff;top: 5px;cursor: pointer;}
    
    
    /*.encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-container--default .select2-selection--multiple .select2-selection__choice:after{content: '\f00d';transition: .3s;font-family: "Font Awesome 5 Pro";position: absolute;right: 10px;}*/
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-container--default .select2-selection--multiple .select2-selection__choice span{content: '\f00d';font-family: "Font Awesome 5 Pro";position: absolute;right: 10px;margin: 0;padding: 0;top: 3px;font-size: 13px;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-container--default .select2-selection--multiple .select2-selection__choice span:hover{color: #fff;}
    
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags,
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-container--default.select2-container--focus .select2-selection--multiple,
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .item .more-tags .select2-selection__rendered{height: 40px;}
    
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .bottom-text{color: #777; font-size: 13px; }
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .bottom-text span{padding: 0; border-bottom: 1px dotted; display: inline-block; }
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .bottom-text.no-sentimiento{color: blueviolet;}
    .encuesta-reporte-admin .comentarios.new .comments-group .item .acciones .sentimiento.no-sentimiento.btn-group .btn{border-color: blueviolet!important;}


    .encuesta-reporte-admin .comentarios.new .view-bubble {}
    .encuesta-reporte-admin .comentarios.new .view-bubble .cant-comentarios{font-size: 18px; color: #444; font-weight: 600; }
    .encuesta-reporte-admin .comentarios.new .view-bubble .card-body{padding: 40px;}
    .encuesta-reporte-admin .comentarios.new .view-bubble .grafico{ text-align: center; }
    .encuesta-reporte-admin .comentarios.new .view-bubble .grafico img{width: 100%; max-width: 940px; margin: 0 auto;}
    

    






    /*NPS*/
    .encuesta-reporte-admin .nps{}
    .encuesta-reporte-admin .nps .card{margin-bottom: 20px;}
    .encuesta-reporte-admin .nps .card .card-body{padding: 40px;}
    .encuesta-reporte-admin .nps .card .header-card {border-bottom: 0;}
    .encuesta-reporte-admin .nps .card .header-card .bajada{}
    
    .encuesta-reporte-admin .nps .card.resultado{}
    .encuesta-reporte-admin .nps .card.resultado .grafico{text-align: center;}
    .encuesta-reporte-admin .nps .card.resultado img{width: 350px; }
    .encuesta-reporte-admin .nps .card.resultado .valor .numero{font-size: 70px;font-weight: 700;line-height: 54px;padding: 25px 0 6px;}
    .encuesta-reporte-admin .nps .card.resultado .valor span{font-size: 16px;font-weight: 400;display: block;}
    

    /*nps*/
    .encuesta-reporte-admin .nps .card.nps .grafico{text-align: center;}
    .encuesta-reporte-admin .nps .card.nps .grafico img{height: 270px;}

    /*pregunta*/
    .encuesta-reporte-admin .nps .card.pregunta .wrapper{margin: 0 -2%;}
    .encuesta-reporte-admin .nps .card.pregunta .item{text-align: center;float: left;}
    .encuesta-reporte-admin .nps .card.pregunta .item.last{padding-right: 0px!important;}

    .encuesta-reporte-admin .nps .card.pregunta .item span{display: block;font-size: 16px;font-weight: 400;}
    .encuesta-reporte-admin .nps .card.pregunta .item i{font-size: 45px;padding: 8px 0px 15px;}
    .encuesta-reporte-admin .nps .card.pregunta .item .votos{color: #444;font-weight: 300;font-size: 18px;}
    .encuesta-reporte-admin .nps .card.pregunta .item .votos small{display: block;text-transform: uppercase;font-size: 9px;color: #999;font-weight: 500;}
    
    
    .encuesta-reporte-admin .nps .card.pregunta .total{border-top: 3px solid;margin-top: 30px;text-align: center;padding-top: 20px;}
    .encuesta-reporte-admin .nps .card.pregunta .total .percent{font-size: 33px;font-weight: 400;line-height: 110%;}
    .encuesta-reporte-admin .nps .card.pregunta .total .percent small{padding-left: 5px; font-size: 55%; font-weight: 500; }
    .encuesta-reporte-admin .nps .card.pregunta .total .categoria{font-weight: 500;text-transform: uppercase;font-size: 13px;}
    .encuesta-reporte-admin .nps .card.pregunta .total .empleados{color: #888;font-size: 13px;}

    
    .encuesta-reporte-admin .nps .card.pregunta .detractors{width: 60%; }
    .encuesta-reporte-admin .nps .card.pregunta .neutrals{width: 20%;}
    .encuesta-reporte-admin .nps .card.pregunta .promotors{width: 20%;}

    .encuesta-reporte-admin .nps .card.pregunta .detractors .item{width: 14%; }
    .encuesta-reporte-admin .nps .card.pregunta .neutrals .item{width: 50%; }
    .encuesta-reporte-admin .nps .card.pregunta .promotors .item{width: 50%; }


    .encuesta-reporte-admin .nps .card.pregunta .detractors .total{margin-left: 3%;margin-right: 4%;}
    .encuesta-reporte-admin .nps .card.pregunta .neutrals .total{margin-left: 14%;margin-right: 14%;}
    .encuesta-reporte-admin .nps .card.pregunta .promotors .total{margin-left: 14%;margin-right: 14%;}


    .encuesta-reporte-admin .nps .card.pregunta .detractors .item,
    .encuesta-reporte-admin .nps .card.pregunta .detractors .total{color: #f16b6c;}
    
    .encuesta-reporte-admin .nps .card.pregunta .neutrals .item,
    .encuesta-reporte-admin .nps .card.pregunta .neutrals .total{color: #fcd57e;}
    
    .encuesta-reporte-admin .nps .card.pregunta .promotors .item,
    .encuesta-reporte-admin .nps .card.pregunta .promotors .total{color: #04b8af;}














/*


.filter {margin: 30px 0 10px; }

.filter a {display: inline-block; padding: 10px; border: 2px solid #333; position: relative; margin-right: 20px; margin-bottom: 20px; }

.boxes-comments {display: flex; flex-wrap: wrap; }



.all {background: khaki; }

.green {background: lightgreen; }

.blue {background: lightblue; }

.red {background: lightcoral; }

.filter a.active:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: #333 transparent transparent transparent;
}*/

.is-animated {-webkit-animation: .6s zoom-in; animation: .3s zoom-in; }

@-webkit-keyframes zoom-in {
  0% {transform: scale(.1); }
  100% {transform: none; }
    }

@keyframes zoom-in {
  0% {transform: scale(.1); }
  100% {transform: none; }
    }










































/*Media queries*/
    
    @media (max-width: 1199.99px) {


    }



    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {

    }



    /*Mobile*/
    @media only screen and (max-width: 767px) {
        .encuesta-reporte-admin section{margin-bottom: 30px;}

        /*.encuesta-reporte-admin .filtros-top {    width: initial; left: 0px; top: 72px; right: 0; padding: 0 30px 20px;}*/
        .encuesta-reporte-admin .nav-tabs .nav-link{font-size: 14px;}
        .encuesta-reporte-admin .participacion .col-12:first-child .card{margin-bottom: 40px;}
        .favorabilidad .breadcrumb{padding-bottom: 10px;}
        .favorabilidad .card .header-table{padding: 10px 15px 25px 15px}
        .favorabilidad .card .header-table .value{font-size: 25px;}
        .favorabilidad .card .header-table .label{flex-basis: initial; font-size: 12px; padding-top: 3px;}

        .favorabilidad .card .espacio{display: none;}

        .preguntas-comentarios .card-body {padding: 15px 15px 20px;}
        .encuesta-reporte-admin .preguntas-comentarios .btn-demo .display-xs-block .favorabilidad{margin-left: 36px; }
        .encuesta-reporte-admin .preguntas-comentarios .btn-demo .display-xs-block .favorabilidad .favo-header .value{font-size: 16px; line-height: 16px; margin-top: 5px; }
        
        .encuesta-reporte-admin .preguntas-comentarios .d-flex .name{padding-top: 0;}
        .encuesta-reporte-admin .preguntas-comentarios .d-flex .name::before{left: 22px; top: 43px;}


        .encuesta-reporte-admin .comentarios .sub-filtros .sub-filtros-checks{display: block!important;}

        .encuesta-reporte-admin .participacion .breadcrumb {margin-bottom: 30px;}
        .encuesta-reporte-admin .participacion .card{margin-bottom: 30px;}


        .multiple-choice .value{flex-basis: 210px;}
        .multiple-choice .value span{display: block;border-left: none;margin: 0;padding: 0;font-size: 11px;}
        .multiple-choice .name{}
        .multiple-choice .progress{flex-basis: 190px;}



        .header-reporte{position: relative;padding-bottom: 20px;}
    .header-reporte .actions{width: 26px;position: absolute;right: 12px;top: 20px;}
    .header-reporte .actions .actions__item > i{padding-top: 0; }
    
    .header-reporte .estado{}
    .header-reporte .estado span{}
    .header-reporte .estado .activa{}
    .header-reporte .nombre-encuesta{font-size: 25px;margin-bottom: 10px;width: calc(100% - 40px);padding-top: 20px;padding-right: 0px;}


    .header-reporte .extra-data{justify-content: space-between;flex-wrap: wrap;}
    .header-reporte .extra-data .vigencia{flex: 1;order: 0!important;}
    .header-reporte .extra-data .vigencia i{display: block; padding-bottom: 8px; }
    .header-reporte .extra-data span{}
    .header-reporte .extra-data .vigencia a{display: block; }
    .header-reporte .extra-data .vigencia a:after{}

    .header-reporte .extra-data .audiencia{flex: 1;}
    .header-reporte .extra-data .audiencia i{display: block; padding-bottom: 8px; }
    .header-reporte .extra-data .audiencia a{display: block; }
    
    .header-reporte .extra-data .item{margin-bottom: 10px; }
    .header-reporte .extra-data .tipo-encuesta{order: 3; }
    
    .encuesta-reporte-admin .print{display: none;}





    .navegacion{padding-top: 0px;}


    .navegacion .tabs-reporte{width: 100%;overflow-x: auto;overflow-y: hidden;order: 2;margin-top: 20px;}
    .navegacion .tabs-reporte::-webkit-scrollbar {display: none;}
    .navegacion .tabs-reporte .nav-tabs{width: 475px;}
    .navegacion .tabs-reporte .nav-tabs .nav-link{margin: 0 15px;}
    .navegacion .tabs-reporte .nav-tabs li:first-child a{margin-left: 0}

    .navegacion .filtros-top{
    width: -moz-fit-content;
    order: 1;
    }




    }





@media print{

    .print,
    .sidebar,
    header.header,
    .indicadores .informacion,
    .indicadores .bottom-label a,
    .filtros-top,
    .header-reporte .extra-data .vigencia a:after,
    .header-reporte .extra-data .audiencia a,
    .header-reporte .actions,
    .dimensiones .d-flex .name .improve,
    .dimensiones .subtitles a,
    .popover,
    .heatmap-vermas,
    .nl-form::after,
    .heatmap .versus .form-group .select2-container--default .select2-selection--single:before,
    .encuesta-reporte-admin .more-tags
    {display: none!important;}

    .content{padding: 30px!important;}
    a,
    .link-color,
    .header-reporte .extra-data .vigencia a{color: #252525!important;}


    .encuesta-reporte-admin .participacion .item-wrp{height: auto;}

    a{text-decoration: none!important;}



}
