/*configuracion.css*/

body.settings {background: #fff;}

/*General*/
.link-white{position: absolute;bottom: 0; right: 0;padding: 0 10px;}

.settings .academy {margin-left: 75px;}
.settings .modulos {margin-top: 50px;}
.settings .modulos .item:not(:last-child){border-bottom: 1px solid #efefef; padding-bottom: 40px; margin-bottom: 30px;}

/*Error*/
.error-message{color: #FC4042;padding: 25px 0 0;}
.error-message .title{font-weight: 600;}

/*Header*/
    
    .settings .header::after{display: none;}
    .settings .sidebar{box-shadow: 0 0 1px rgb(95 108 114 / 30%), 0 0px 6px rgb(95 108 114 / 5%);}


    .settings .page-title .home{padding-right: 28px;position: absolute;left: 40px;top: 25px;}
    .settings .page-title .home:after{content: '\f054';font-family: "Font Awesome 5 Pro";position: absolute;right: -1px;top: 4px;font-size: 13px;}
    .settings .page-title .home i {color: #0057ff;font-size: 20px;}


/*Main*/
	/*header*/
	header.text-button h1{width: 70%; float: left;}
	header .btn-add {float: right;margin-top: 2px;}

	/*boton "+" prueba*/
	header .btn-add .wrapper{cursor: pointer; }
	header .btn-add .wrapper .btn-name{margin-right: 20px;font-size: 13px;text-transform: uppercase;font-weight: 400;color: #0057ff;padding-top: 13px;}
	header .btn-add .wrapper .btn{height: 45px; width: 45px; padding: 0; position: relative; text-align: center; font-size: 20px; padding-top: 12px; background: #0057ff; border: #0057ff; color: #fff!important; }
	/**/


/*Empleados*/
	.filtros-top .boton{flex-basis: 80px;}

	/*Data Tables*/
		.dataTables_length, .dataTables_buttons{display: none;}
		.dataTables_wrapper .table{margin-top: 30px!important;}

	.empleados #data-table thead th{color: #0057ff;}
	.empleados input[type="search"]{font-size: 22px!important; width: calc(100% - 30px)!important;}
	.empleados input[type="search"]::placeholder{font-size: 22px!important;padding: 0 0 5px 0!important;}
	.empleados .filtros-top a{color: #0057ff;font-weight: 400;}
	.empleados .filtros-top .label{padding-right: 10px;}



	.empleados .table-responsive{margin-top: 20px;}

	.dataTables_filter:after {content: '\f002';
    font-family: "Font Awesome 5 Pro";
    position: absolute; left: 0px; bottom: 6px; font-size: 20px; color: #333; top: -1px;}

    .link.icon {color: #0057ff;font-weight: 400;padding-left: 34px;position: relative;}
    .link.icon i{position: absolute;left: 0;top: -1px;font-size: 125%;}

	.empleados .descargar{float: right;margin-top: 26px;margin-right: 40px;}
	.empleados .descargar a{text-transform: inherit; font-size: 14px; }


	/*Subir Empleados x archivo*/
	.upload-user .content{max-width: 1130px;}
	.upload-user .card .card-title{font-weight: 400;}
	.upload-user .card.planillas{margin-bottom: 60px;}
	.upload-user .planillas .paso{position: absolute;background: #0057ff;top: -11px;border-radius: 50px;padding: 3px 12px 1px;font-size: 12px;text-transform: uppercase;color: #fff;font-weight: 500;}
	.upload-user .planillas .texto{max-width: 450px;}
	.upload-user .planillas .boton {margin-left: 40px;}
	.upload-user .planillas .boton button{padding-left: 54px;/* width: 201px; */}
	.upload-user .planillas .boton button i{position: absolute;font-size: 18px;top: 9px;left: 20px;}
	
	.upload-user .mercer{}
	.upload-user .mercer .proximamente{margin: 6px auto 0 auto;background: #f30dff;color: #ffffff;padding: 1px 13px;border-radius: 50px;width: 65px;text-align: center;}
	.upload-user .mercer .state-upload-message{padding-top: 10px;}


	.upload-user .mercer .state-upload-message.uploading{padding-left: 15px;}
	.upload-user .mercer .state-upload-message.uploading:after {
	  overflow: hidden;
	  display: inline-block;
	  vertical-align: bottom;
	  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
	  animation: ellipsis steps(4,end) 900ms infinite;
	  content: "\2026"; /* ascii code for the ellipsis character */
	  width: 0px;
	}

	@keyframes ellipsis {
	  to {
	    width: 1.25em;    
	  }
	}

	@-webkit-keyframes ellipsis {
	  to {
	    width: 1.25em;    
	  }
	}



	.upload-user .mercer .state-upload-message.uploaded{color: #19bc3f;padding-left: 4px;}
	.upload-user .mercer .state-upload-message.uploaded:before{content: '\f00c';font-family: "Font Awesome 5 Pro";padding-right: 8px;}
	.upload-user .mercer .state-upload-message.error-msg{color: #ff2727;width: 212px;}
	.upload-user .mercer .state-upload-message.error-msg:before{content: '\f00d';font-family: "Font Awesome 5 Pro";padding-right: 8px;}





	.loading{width: 60%; margin: 25px auto; }
	.loading .value-progress{font-size: 60px; font-weight: 500; }
	.loading .value-progress small{font-size: 60%; padding-left: 5px; }
	.loading .progress {width: 300px;margin: 0 auto 30px;}
	.loading .progress .progress-bar{}
	.loading .btn{margin-top: 35px!important; }
	.loading .text-title{font-size: 16px; font-weight: 500; }


	.upload-user .btn-and-link{margin-top: 30px;text-align: center;margin-bottom: 0;}
	.upload-user .btn-and-link .btn{padding: 19px 60px 18px 60px;font-size: 14px;}
	.upload-user .btn-and-link .link{margin: 20px 0 0 0;color: #444!important;text-transform: none;font-weight: normal;}
	.upload-user .btn-and-link .link a{font-size: 14px;margin-left: 8px;color: #0057ff!important;text-transform: initial;font-weight: normal;}

	/*Pre-upload*/
		.upload-user .pre-upload {max-width: 850px;margin: 0 auto;width: 95%;}
		.upload-user .pre-upload .card-body{padding: 40px 50px 45px;}
		.upload-user .pre-upload .imagen {flex-basis: 220px;text-align: center;padding-left: 15px;}
		.upload-user .pre-upload .imagen img{height: 190px;}
		
		
		.upload-user .pre-upload .titulo{font-size: 36px;font-weight: 600;margin-bottom: 30px;}
		.upload-user .pre-upload .titulo .title{margin-bottom: 5px;}
		.upload-user .pre-upload .titulo .title-low{font-size: 18px;font-weight: normal;}
		.upload-user .pre-upload .resume-upload{font-size: 16px;padding-left: 50px;padding-top: 15px;}
		.upload-user .pre-upload .resume-upload .bullet{margin-bottom: 0;}
		.upload-user .pre-upload .resume-upload .bullet li{padding: 10px 0 10px 32px;position: relative;}
		.upload-user .pre-upload .resume-upload .bullet li i{position: absolute;left: 0;top: 14px;color: #45B51C;}
		.upload-user .pre-upload .resume-upload .bullet li.erroneos{color: #EE2525;font-weight: 500;}
		.upload-user .pre-upload .resume-upload .bullet li.erroneos i{color: #EE2525; }
		.upload-user .pre-upload .resume-upload .bullet li.erroneos .bajada{color: #444;padding-top: 6px;font-weight: 300;}
		
		.upload-user .pre-upload.upload-error .titulo{}
		.upload-user .pre-upload.upload-error .titulo small{display: block; font-size: 15px; text-transform: uppercase; }
		.upload-user .pre-upload.upload-error .imagen{margin: 40px 0;}
		.upload-user .pre-upload.upload-error .imagen img{height: 150px;}
		.upload-user .pre-upload.upload-error .mensaje-error{max-width: 670px;margin: 0 auto 40px;width: 90%;font-size: 16px;}
		
		.upload-user .pre-upload.upload-error .descargas{max-width: 680px; margin: 0 auto 38px; }
		.upload-user .pre-upload.upload-error .descargas .descarga-wrapper{border: 1px solid #efefef;border-radius: 5px;padding: 16px 20px 15px 80px;}
		.upload-user .pre-upload.upload-error .descargas .descarga-wrapper i{position: absolute;left: 44px;font-size: 35px;top: 20px;}
		.upload-user .pre-upload.upload-error .descargas .descarga-wrapper .label{font-weight: 500;}
		.upload-user .pre-upload.upload-error .descargas .descarga-wrapper a{}
		.upload-user .pre-upload.upload-error .descargas .descarga-wrapper .empleados{position: absolute; right: 30px; top: 18px; font-size: 12px; color: #999; }
		

	/*Congrats*/
		.upload-user .congrats-upload{max-width: 850px;margin: 0 auto;width: 95%;}
		.upload-user .congrats-upload .card-body{padding: 50px;}
		.upload-user .congrats-upload .imagen{padding-bottom: 30px;padding-top: 20px;}
		.upload-user .congrats-upload .imagen img{height: 150px;}
		.upload-user .congrats-upload .top{border-bottom: 1px solid #efefef; padding-bottom: 20px; margin-bottom: 30px; }
		.upload-user .congrats-upload .top .title{font-size: 30px;font-weight: 500;padding-bottom: 6px;}
		.upload-user .congrats-upload .top .title-low{font-size: 16px; }
		
		.upload-user .congrats-upload .error-data .title{font-size: 18px; font-weight: 500; margin-bottom: 10px; }
		.upload-user .congrats-upload .error-data .bajada{font-size: 16px; margin-bottom: 25px; }
		
		
		.upload-user .congrats-upload .error-data tbody tr td{padding: 0 20px; }
		.upload-user .congrats-upload .error-data tbody tr td:first-child{padding-left: 0; }
		.upload-user .congrats-upload .error-data tbody tr .erroneos{color: #EE2525;}
		.upload-user .congrats-upload .error-data tbody tr .erroneos div:first-child{padding-top: 10px;}
		.upload-user .congrats-upload .error-data tbody tr .erroneos div:last-child{padding-bottom: 10px;}
		.upload-user .congrats-upload .error-data td.fila-excel{text-align: center; max-width: 100px; min-width: 100px; width: 100px; }
		
		.upload-user .congrats-upload .error-data .ellipsis{margin-bottom: 20px;padding-left: 34px;padding-top: 5px;}
		

		.upload-user .congrats-upload .registros-error-wrap{margin: 60px 0;}
		.upload-user .congrats-upload .registros-error-wrap .col-6{padding: 0; }
		.upload-user .congrats-upload .registros-error{}
		.upload-user .congrats-upload .registros-error.download{margin: 0 0 0 auto;width: fit-content;width: -moz-fit-content;border-right: 1px solid #efefef;padding-right: 60px;}
		.upload-user .congrats-upload .registros-error.upload{padding-left: 60px; }
		.upload-user .congrats-upload .registros-error .title{margin-bottom: 3px; }
		.upload-user .congrats-upload .registros-error a{}


		

/*Departamentos*/
		.departamentos .acordeon .name{padding: 25px 25px 25px 35px;cursor: pointer;}
        .departamentos .acordeon .btn-demo{/* padding: 25px; *//* cursor: pointer; */}
        .departamentos .acordeon:not(:last-child){border-bottom: 1px solid #efefef;}
        .departamentos .acordeon ul:first-child{margin-left: 50px;}
        .departamentos .acordeon .sub .name::before{content: '\f054';transition: .3s;font-family: "Font Awesome 5 Pro";position: absolute;left: 0;top: 27px;font-size: 14px;}
        .departamentos .acordeon [aria-expanded="true"].sub .name::before{transform: rotate(90deg);}
        .departamentos .acordeon .sub-name{font-size: 16px;}

        .acordeon .name{font-size: 16px;font-weight: 400;color: #444;position: relative;}
        .acordeon .name span{/*color: #aaa;display: inline-block;padding-left: 20px;font-size: 15px;*/}
        .acordeon ul{margin-left: 30px;font-size: 18px;}
        .acordeon ul li{position: relative;}

        .acordeon ul li:last-child{padding-bottom: 10px;}
        .acordeon .sub-name{position: relative;padding: 25px 0;background: url(../img/ic-sub.png) no-repeat 3px 30px;background-size: 10px;padding-left: 30px!important;}
        .acordeon ul li:not(:last-child){border-bottom: 1px solid #eee;}

        .acordeon .actions{position: absolute;right: 0px;top: 20px;opacity: 0;}
        .acordeon .btn-demo:hover .actions{opacity: 1;}
        /*.acordeon .collapse {cursor: pointer;}*/
        
        .acordeon .collapse .btn-demo,
        .acordeon .collapsing .btn-demo{background: url(../img/ic-sub.png) no-repeat 3px 30px;background-size: 10px;padding-left: 22px!important;}
        .acordeon .collapse li .sub-name:hover .actions{opacity: 1;}	

        
        .acordeon .collapse ul li:first-child .sub-name .actions{top: 2px;}
        
        .acordeon .collapse ul li:first-child .sub-name,
        .acordeon .collapsing ul li:first-child .sub-name{padding-top: 10px!important;background-position: 3px 14px;}
       
        .acordeon .crear-departamento .form-group{background: url(../img/ic-sub.png) no-repeat 3px 15px; background-size: 10px; padding-left: 30px!important; }
        .acordeon .crear-departamento .form-group input{background: #efefef; padding: 22px 20px!important; font-size: 16px; width: 380px; border-radius: 4px!important;}
        .acordeon .crear-departamento .edit-actions{padding-top: 3px;margin-left: 25px;}
        .acordeon .crear-departamento .edit-actions a{font-size: 15px; color: #0057ff; }
        .acordeon .crear-departamento .edit-actions .btn{margin-right: 20px;background: #0057ff;border: #0057ff;color: #fff!important;}




/*Modal Company*/
	.empleados .modal-wrapper .form-control{font-size: 17px;font-weight: 400;padding-bottom: 2px!important;}

/*Modal Empleados desde archivo*/
	.empleados .modal-wrapper {width: 90%; max-width: 1000px;}

/*Modal NUEVO EMPLEADO*/
	.empleados .modal-wrapper.new-user {width: 90%; max-width: 700px;}
	.empleados .modal-wrapper.new-user .fecha input{font-size: 16px;}

/*Paso 1*/
	/*.empleados .paso1{text-align: center; padding: 30px 0 10px;}
	.empleados .paso1 > div{padding: 0 40px;}
	.empleados .paso1 img{width: 250px;}
	.empleados .paso1 .title{font-size: 16px!important; padding: 20px; font-weight: 500!important; line-height: 140% }
	.empleados .paso1 .action{margin-bottom: 20px;}
	.empleados .paso1 .action a{padding-right: 10px; }
	.empleados .paso1 .action .size{color: #8c8c8c;}
	.empleados .paso1 .action:not(.upload){margin-top: 12px;}
	.empleados .paso1 .flecha{margin-top: 154px; }
	.empleados .paso1 .flecha img{width: 100px; }*/
	
	/*Boton Choose*/
		.upload-input{width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
		label[for="upload-input"] {background: #0057ff;color: #fff!important;padding: 12px 25px 12px 55px;border-radius: 50px;text-transform: uppercase;font-size: 13px;font-weight: 500;cursor: pointer;}
 		.action.upload form{position: relative; width: fit-content; margin: 0 auto; }
 		.action.upload i{position: absolute; color: #fff; top: 12px; left: 22px; font-size: 18px; }

 	.empleados .historial {padding: 0 40px;}
 	.empleados .historial .btn-demo{padding-bottom: 15px;}
 	.empleados .historial .btn-demo .texto{position: relative;width: fit-content;width: -moz-fit-content;margin: 0 auto;padding-right: 20px;}
 	.empleados .historial .btn-demo .texto::after{content: '\f078'; transition: .3s; font-family: "Font Awesome 5 Pro"; position: absolute; right: 0; top: 3px; font-size: 12px; }
 	
	.historial [data-toggle="collapse"][aria-expanded="true"] .texto::after{transform: rotate(180deg);}

 	.empleados .historial .table td, .empleados .modal-wrapper.up-file .table tbody th{height: 38px;font-size: 13px;}
 	.empleados .historial .icon{width: 20px; min-width: initial; text-align: center; font-size: 16px!important;}

 	
 	


/*Oficinas*/
	.oficinas .table tbody tr th:first-child{position: relative;padding-left: 32px;}
	.oficinas .table tbody tr th:first-child::before{content: '\f1ad';font-family: "Font Awesome 5 Pro";position: absolute;left: 0;top: 21px;font-size: 20px;}
	.oficinas .table tbody th{font-weight: 400;line-height: 125%;}
	.oficinas .table tbody th .empleados{font-size: 11px;color: #777;font-weight: 300;}

	.modal-wrapper.new-office input{font-size: 16px;}

/*DiseÃƒÂ±o*/
	
	.settings .design .wrapper-browse{border: 1px solid #efefef;border-radius: 50px;position: relative;padding: 12px 20px;margin-bottom: 7px;}
	.settings .design .wrapper-browse .path{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 130%; width: calc(100% - 40px);}

	.settings .design .wrapper-browse a{position: absolute;right: 20px;top: 11px;font-size: 18px;color: #0057ff;}
	
	.settings .design .requerimientos span{display: block;color: #8e8e8e;font-size: 12px;line-height: 160%;}
	
	.settings .design .previsualizar img{max-height: 70px;}
	
	.settings .design .color-picker__preview{left: 0;right: initial;border: 1px solid #efefef;}
	.settings .design .color-picker .form-control.color-picker {padding: 2px 0 0 27px!important;height: 32px;}
	.settings .design .color-group{height: 32px;margin-bottom: 20px;}
	.settings .design .color-group .input-group{width: 92px;margin-right: 30px;}
	.settings .design .color-group .label{padding-top: 6px; }


/*Heatmap*/
	.settings .modulos .modulo-name{flex-basis: 300px; font-size: 16px; font-weight: 500}
	.settings .modulos .modulo-name .bajada{font-weight: 400; font-size: 13px; padding-top: 5px;}
	.settings .modulos .modulo-contenido{flex-basis: 100%;padding-top: 4px;}
	.settings .modulos .modulo-contenido .small-text{font-size: 12px;}
	
	.settings .heatmap .thead{font-size: 10px;color: #999;text-transform: uppercase;font-weight: normal;margin: 25px 0 20px;}
	.settings .heatmap .thead .check{flex-basis: 32px; margin-right: 20px; }
	.settings .heatmap .thead .example{flex-basis: 60px;margin-right: 25px;}
	.settings .heatmap .thead .color{width: 75px;margin-right: 30px;}
	.settings .heatmap .thead .desde{width: 45px; margin-right: 22px; text-align: center; }
	.settings .heatmap .thead .hasta{text-align: center; width: 45px;}

	.settings .heatmap .color-group{margin-bottom: 16px;}
	.settings .heatmap .color-group .label{padding: 6px 0 0 40px;}
	.settings .heatmap .color-group .btn-group {flex-basis: 32px; margin-right: 20px; }
	.settings .heatmap .color-group .btn-group .btn{margin-top: 4px;margin-right: 22px;}
	.settings .heatmap .color-group .example {flex-basis: 60px;text-align: center;margin-right: 25px;padding: 4px 0;height: 30px;margin-top: 3px;}
	.settings .heatmap .color-group .color-picker-wrp {width: 75px;margin-right: 30px;height: 32px;}
	.settings .heatmap .color-group .color-picker-wrp input {height: 32px;padding: 2px 8px 0 0px!important;}
	.settings .heatmap .color-group .range-item{width: 45px;margin-right: 22px;height: 32px;}
	.settings .heatmap .color-group .range-item input{padding: 2px 8px 0 0px!important;text-align: center;height: 32px;}
	.settings .heatmap .color-group .range-item:after{content: '%';font-size: 70%;top: 11px;position: absolute;right: 7px;}
	

	.settings .heatmap .color-group .btn-group .btn.active ~ .example,
	.settings .heatmap .color-group .btn-group .btn.active ~ .color-picker-wrp,
	.settings .heatmap .color-group .btn-group .btn.active ~ .range-item{opacity: 1}

	.settings .heatmap .color-group .btn-group .btn ~ .example,
	.settings .heatmap .color-group .btn-group .btn ~ .color-picker-wrp,
	.settings .heatmap .color-group .btn-group .btn ~ .range-item{opacity: .2}


	/*.settings .color-picker .color-picker__preview{right: initial;left: 0; border: 1px solid #efefef;}*/
	.settings .color-picker .form-control.color-picker{padding: 2px 0 0 0px!important;margin-top: 0;text-transform: uppercase;}
	.settings .label{font-weight: 400;display: block; }


	
	




	.btn-and-link{margin: 40px 0;}
	.btn-and-link button{background: #0057ff;color: #fff!important;border: none;}
	.btn-and-link a{margin-left: 40px; text-transform: uppercase; font-weight: 500; font-size: 12px; display: inline-block; }




	@media (max-width: 1199.99px) and (min-width: 576px){
	.settings .page-title .home{left: 90px;}

	}

