/*Themes*/

:root{
    --color-primario: #0057ff;
    --color-primario-hover: #00cde7;
    --color-header-bg: #2c353e;
    --color-header-text: #fff;
    --color-link: #0057ff;
}

    /*Theme*/
    .header,
    .survey-front header {background-color: var(--color-header-bg);} /*header*/

    .header,
    .header a, 
    .survey-predefined h6 
        {color: var(--color-header-text);}/*icon header*/

    .paginate_button.current,
    .btn-plus,
    .nav-link.active span.badge,
    .nav-tabs .nav-link:before,
    .flatpickr-month   
        {background-color: var(--color-primario);}

    /*a.link-color*/
        /*{color: var(--color-primario);}*/ /*Link de color*/


    /*.btn-primary {border-color: transparent;background-color: var(--color-primario);}*/
    /*.btn-primary {background-color: var(--color-primario); border-color: transparent; }*/

    .btn-outline-primary{border-color:var(--color-primario);color: var(--color-primario);}
    .btn-outline-primary:hover{background: var(--color-primario); border-color:transparent;}


    .navigation__active a,
    .card-link, 
    a
        {color: var(--color-links);}


    


