.upgrade{max-width: 1500px; margin: 0 auto; }

.upgrade header{margin-top: 20px;margin-bottom: 50px;}
.upgrade header .volanta{text-transform: uppercase;color: #960BB1;font-weight: 500;padding-bottom: 3px;}
.upgrade header h1{font-weight: 600; }
.upgrade header .btn.upgrade{background: #960BB1;padding: 14px 20px;font-size: 16px;margin-top: 14px;}
.upgrade header .text-sticky{display: none;}

/*Sticky*/
.upgrade header.sticky{position: sticky; background: #960BB1; border-radius: 60px; color: #fff; font-size: 16px; align-items: center; padding: 12px 40px;}
.upgrade header.sticky .volanta,
.upgrade header.sticky h1 {display: none;}
.upgrade header.sticky .text-sticky{display: block;}
.upgrade header.sticky .text-sticky span{font-weight: 600; }
.upgrade header.sticky .btn.upgrade{background: transparent; border: 1px solid #fff; margin: 0; }

.sticky {
    -webkit-animation-name: sticky;
    animation-name: sticky;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }

    @-webkit-keyframes sticky {
      0% {opacity: 0;}
      100% {opacity: 1; -webkit-transform: translate3d(0, 100px, 0);
      transform: translate3d(0, 100px, 0); }
    }

    @keyframes sticky {
      0% {opacity: 0;}
      100% {opacity: 1; -webkit-transform: translate3d(0, 100px, 0);
      transform: translate3d(0, 100px, 0); }
    } 


/**/

.upgrade .item{margin-bottom: 50px;}
.upgrade .item .left{padding-right: 70px;flex: 1;}
.upgrade .item .right{flex: 1;}
.upgrade .item .volanta{text-transform: uppercase;font-weight: 500;font-size: 16px;color: #960baf;padding-bottom: 10px;}
.upgrade .item .title{font-size: 30px;line-height: 130%;margin-bottom: 20px;}
.upgrade .item .bajada{font-size: 18px; }
.upgrade .item img{width: 100%;}

.upgrade .item-group{/* padding: 0 60px; */}


/*Planes*/
.upgrade.planes .item-group .item:first-child{}
.upgrade.planes .item-group .item:nth-child(2){}
.upgrade.planes .item-group .item:nth-child(3){}
.upgrade.planes .item-group .item:nth-child(3) img{margin-top: 50px; }