.planes-upgrade{width: calc(100% - 60px); max-width: 1300px; }
.planes-upgrade .title-wrapper{text-align: center;padding: 30px 0;}
.planes-upgrade .title-wrapper .title{font-size: 34px!important;font-weight: 700!important;padding-top: 8px;}
.planes-upgrade .title-wrapper .subtitle{}

.planes-upgrade .btn.plan-actual{border: 1px solid #efefef;color: #444!important;padding: 10px 20px;cursor: none;}

.planes-details .modal-header{padding: 15px 0!important;}

.range{height: 4px; -webkit-appearance: none; background-color: #ccc; outline: none; border-radius: 50px; }

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ccc;
    background-image: url('../img/drag-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px }

.precios .rangeslider .range,
.precios .rangeslider .range::-webkit-slider-thumb {background-color: #0057ff;padding: initial!important;}

.precios .rangeslider {text-align: center; }
.precios .rangeslider .value{font-size: 16px;margin-bottom: 12px;}
.precios .rangeslider .value span{}
.precios .rangeslider .value span.number{font-weight: 500; font-size: 32px; padding: 0 8px; }
.precios .rangeslider input{width: 310px; }


.precios .planes{padding-top: 70px;}
.precios .dolar{text-transform: uppercase;font-size: 50%;padding-right: 10px;}
.precios .planes .item{padding: 40px;border-radius: 5px;width: 30%;position: relative;box-shadow: 0 2px 6px rgb(95 108 114 / 30%), 0 0px 6px rgb(95 108 114 / 3%);}
.precios .planes .item:not(:last-child){margin-right: 20px;}
.precios .planes .item.popular{transform: scale(1.05);padding-top: 39px;color: #fff;}
.precios .planes .item.popular .header .precio .total{color: #fff;opacity: .8;}
.precios .planes .item.popular .btn{bottom: 52px;}
.precios .header-planes{/* border-bottom: 1px solid #ccc; *//* padding-bottom: 20px; */margin-bottom: 20px;height: 210px;}
.precios .header-planes .nombre{font-weight: 700;font-size: 14px;text-align: center;text-transform: uppercase;padding-bottom: 7px;}
.precios .header-planes .no-credit{font-size: 11px; text-align: center; padding-top: 12px; color: #999; }
.precios .header-planes .precio{font-size: 42px;text-align: center;font-weight: 300;}
.precios .header-planes .precio small{padding-left: 1px;font-weight: 300;font-size: 14px;}
.precios .header-planes .precio .total{font-size: 14px;font-weight: 300;color: #777;padding-top: 2px;}
.precios .header-planes .precio .total .dolar{padding-right: 0!important}

.precios .planes .item ul li{padding: 12px 0;font-weight: 300;line-height: 130%;}
.precios .header-planes .btn{/* width: calc(100% - 80px); */margin: 0 auto;display: block;margin-top: 20px;}
.precios .planes .bold{font-weight: 600!important;}

/*.precios .clientes .logos img,
.partners .clientes .logos img{height: 45px;}*/

.precios .details-link{color: #0057ff;font-size: 18px;margin-top: 70px!important;display: block;margin: 0 auto;width: fit-content;position: relative;padding-right: 20px;padding-bottom: 40px;}
.precios .details-link i{position: absolute;right: 0;top: 5px;font-size: 20px;}
.precios .details-link:hover{text-decoration: none;}



.planes-details{width: calc(100% - 60px); max-width: 1300px; }
.planes-details .modal-header{height: auto; padding: 40px 50px; }
.planes-details .modal-header .close{font-size: 36px; color: #444; opacity: 1; cursor: pointer; padding: 0; }
.planes-details .modal-header .close i{-webkit-text-fill-color: black; -webkit-text-stroke-width: .7px; -webkit-text-stroke-color: white; }
.planes-details .modal-body{padding: 0px 35px 30px 35px;}

.planes-details .thead-top{padding-top: 15px; }
.planes-details .thead-top .title{font-size: 36px; font-weight: 600; padding-top: 32px; }
.planes-details .first.item-group{}

.thead-top.sticky{position: sticky;top: 0vh;background: #fff;}

.planes-details .item-group{margin-bottom: 25px; }
.planes-details .item-group .thead{background: #e5e5e5;border-radius: 3px;text-transform: uppercase;font-weight: 600;font-size: 12px;padding: 7px 15px 5px;}
.planes-details .item-group .item{padding: 12px 15px;}
.planes-details .item-group .item > div{-ms-flex-item-align: center!important; align-self: center!important;}
.planes-details .item-group .item:not(:last-child){border-bottom: 1px solid #efefef;}
.planes-details .item-group .feature{padding-right: 40px;}
.planes-details .columna{text-align: center;width: 180px;min-width: 180px;max-width: 180px;padding: 0 10px;}

.planes-details .columna i{color: #429930}

.planes-details .header-planes {height: 150px; }
.planes-details .header-planes .nombre{padding-bottom: 0;}
.planes-details .header-planes .precio{font-size: 25px;}
.planes-details .header-planes .precio .empleado{height: 20px;}
.planes-details .header-planes .precio small{font-size: 11px;}

.planes-details .header-planes .btn{margin-top: 2px; padding: 7px 20px 6px; }
















