.tab-general {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}

.tab-general .card-dflex {
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.tab-general .div-wrapper {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.tab-general .card-body {
  flex-direction: column;
  height: 484px;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  padding: var(--general-paddings-card-lg);
  align-self: stretch;
  width: 100%;
  background-color: var(--colors-primary-grey-colors-white);
  border-radius: var(--general-border-radius-card);
  box-shadow: var(--shadow-card);
  display: flex;
  position: relative;
}

.tab-general .title {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.tab-general .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: var(--card-title-font-weight);
  color: #000000;
  font-size: var(--card-title-font-size);
  letter-spacing: var(--card-title-letter-spacing);
  line-height: var(--card-title-line-height);
  white-space: nowrap;
  font-style: var(--card-title-font-style);
}

.tab-general .line-chart {
  position: relative;
  width: 582px;
  height: 338.24px;
  margin-left: -6.5px;
  margin-right: -30.5px;
}

.tab-general .overlap-group {
  position: absolute;
  width: 520px;
  height: 266px;
  top: 7px;
  left: 30px;
}

.tab-general .x-axis-grid {
  position: absolute;
  width: 1px;
  height: 266px;
  top: 0;
  left: 174px;
}

.tab-general .img {
  left: 344px;
  position: absolute;
  width: 1px;
  height: 266px;
  top: 0;
}

.tab-general .x-axis-grid-2 {
  left: 516px;
  position: absolute;
  width: 1px;
  height: 266px;
  top: 0;
}

.tab-general .y-axis-grid {
  position: absolute;
  width: 511px;
  height: 1px;
  top: 133px;
  left: 4px;
  object-fit: cover;
}

.tab-general .y-axis {
  position: absolute;
  width: 1px;
  height: 266px;
  top: 0;
  left: 3px;
}

.tab-general .line {
  position: absolute;
  width: 512px;
  height: 60px;
  top: 18px;
  left: 4px;
}

.tab-general .line-2 {
  position: absolute;
  width: 511px;
  height: 69px;
  top: 52px;
  left: 4px;
}

.tab-general .line-3 {
  position: absolute;
  width: 512px;
  height: 69px;
  top: 159px;
  left: 4px;
}

.tab-general .marker {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 62px;
  left: 0;
}

.tab-general .marker-2 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 35px;
  left: 170px;
}

.tab-general .marker-3 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 72px;
  left: 341px;
}

.tab-general .marker-4 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 15px;
  left: 511px;
}

.tab-general .marker-5 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 115px;
  left: 0;
}

.tab-general .marker-6 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 101px;
  left: 170px;
}

.tab-general .marker-7 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 56px;
  left: 341px;
}

.tab-general .marker-8 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 48px;
  left: 511px;
}

.tab-general .marker-9 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 222px;
  left: 0;
}

.tab-general .marker-10 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 195px;
  left: 170px;
}

.tab-general .marker-11 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 156px;
  left: 341px;
}

.tab-general .marker-12 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 201px;
  left: 511px;
}

.tab-general .y-axis-grid-2 {
  position: absolute;
  width: 511px;
  height: 1px;
  top: 6px;
  left: 34px;
  object-fit: cover;
}

.tab-general .x-axis {
  position: absolute;
  width: 511px;
  height: 1px;
  top: 273px;
  left: 34px;
  object-fit: cover;
}

.tab-general .reclutamiento {
  position: absolute;
  top: 282px;
  left: 0;
  color: #a3a3a3;
  font-size: var(--small-label-font-size);
  line-height: var(--small-label-line-height);
  font-weight: var(--small-label-font-weight);
  text-align: center;
  letter-spacing: var(--small-label-letter-spacing);
  white-space: nowrap;
  font-style: var(--small-label-font-style);
}

.tab-general .onboarding {
  position: absolute;
  top: 282px;
  left: 173px;
  color: #a3a3a3;
  font-size: var(--small-label-font-size);
  line-height: var(--small-label-line-height);
  font-weight: var(--small-label-font-weight);
  text-align: center;
  letter-spacing: var(--small-label-letter-spacing);
  white-space: nowrap;
  font-style: var(--small-label-font-style);
}

.tab-general .desarrollo {
  position: absolute;
  top: 282px;
  left: 343px;
  color: #a3a3a3;
  font-size: var(--small-label-font-size);
  line-height: var(--small-label-line-height);
  font-weight: var(--small-label-font-weight);
  text-align: center;
  letter-spacing: var(--small-label-letter-spacing);
  white-space: nowrap;
  font-style: var(--small-label-font-style);
}

.tab-general .salida {
  position: absolute;
  width: 34px;
  top: 282px;
  left: 524px;
  color: #a3a3a3;
  font-size: var(--small-label-font-size);
  line-height: var(--small-label-line-height);
  font-weight: var(--small-label-font-weight);
  text-align: center;
  letter-spacing: var(--small-label-letter-spacing);
  font-style: var(--small-label-font-style);
}

.tab-general .div {
  position: absolute;
  top: 266px;
  left: 16px;
  color: #a3a3a3;
  font-size: var(--input-message-font-size);
  text-align: right;
  line-height: var(--input-message-line-height);
  white-space: nowrap;
  font-weight: var(--input-message-font-weight);
  letter-spacing: var(--input-message-letter-spacing);
  font-style: var(--input-message-font-style);
}

.tab-general .text-wrapper-2 {
  position: absolute;
  top: 200px;
  left: 9px;
  color: #a3a3a3;
  font-size: var(--input-message-font-size);
  text-align: right;
  line-height: var(--input-message-line-height);
  white-space: nowrap;
  font-weight: var(--input-message-font-weight);
  letter-spacing: var(--input-message-letter-spacing);
  font-style: var(--input-message-font-style);
}

.tab-general .text-wrapper-3 {
  position: absolute;
  top: 133px;
  left: 8px;
  color: #a3a3a3;
  font-size: var(--input-message-font-size);
  text-align: right;
  line-height: var(--input-message-line-height);
  white-space: nowrap;
  font-weight: var(--input-message-font-weight);
  letter-spacing: var(--input-message-letter-spacing);
  font-style: var(--input-message-font-style);
}

.tab-general .text-wrapper-4 {
  position: absolute;
  top: 67px;
  left: 9px;
  color: #a3a3a3;
  font-size: var(--input-message-font-size);
  text-align: right;
  line-height: var(--input-message-line-height);
  white-space: nowrap;
  font-weight: var(--input-message-font-weight);
  letter-spacing: var(--input-message-letter-spacing);
  font-style: var(--input-message-font-style);
}

.tab-general .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 5px;
  color: #a3a3a3;
  font-size: var(--input-message-font-size);
  text-align: right;
  line-height: var(--input-message-line-height);
  white-space: nowrap;
  font-weight: var(--input-message-font-weight);
  letter-spacing: var(--input-message-letter-spacing);
  font-style: var(--input-message-font-style);
}

.tab-general .marker-13 {
  position: absolute;
  width: 17px;
  height: 2px;
  top: 328px;
  left: 127px;
}

.tab-general .marker-14 {
  position: absolute;
  width: 17px;
  height: 2px;
  top: 328px;
  left: 245px;
}

.tab-general .marker-15 {
  position: absolute;
  width: 17px;
  height: 2px;
  top: 328px;
  left: 367px;
}

.tab-general .compromiso {
  position: absolute;
  width: 75px;
  top: 322px;
  left: 150px;
  font-weight: var(--small-label-font-weight);
  color: #343434;
  font-size: var(--small-label-font-size);
  letter-spacing: var(--small-label-letter-spacing);
  line-height: var(--small-label-line-height);
  font-style: var(--small-label-font-style);
}

.tab-general .favorabilidad {
  position: absolute;
  width: 79px;
  top: 322px;
  left: 268px;
  font-weight: var(--small-label-font-weight);
  color: #343434;
  font-size: var(--small-label-font-size);
  letter-spacing: var(--small-label-letter-spacing);
  line-height: var(--small-label-line-height);
  font-style: var(--small-label-font-style);
}

.tab-general .mean {
  position: absolute;
  width: 34px;
  top: 322px;
  left: 390px;
  font-weight: var(--small-label-font-weight);
  color: #343434;
  font-size: var(--small-label-font-size);
  letter-spacing: var(--small-label-letter-spacing);
  line-height: var(--small-label-line-height);
  font-style: var(--small-label-font-style);
}

.tab-general .card-body-2 {
  height: 484px;
  gap: 40px;
  padding: var(--general-paddings-card-lg);
  border-radius: var(--general-border-radius-card);
  box-shadow: var(--shadow-card);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--colors-primary-grey-colors-white);
}

.tab-general .title-2 {
  height: 19px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.tab-general .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-weight: var(--card-title-font-weight);
  color: #000000;
  font-size: var(--card-title-font-size);
  letter-spacing: var(--card-title-letter-spacing);
  line-height: var(--card-title-line-height);
  white-space: nowrap;
  font-style: var(--card-title-font-style);
}

.tab-general .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding: 0px 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.tab-general .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.tab-general .frame-3 {
  display: flex;
  flex-direction: column;
  width: 79px;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.tab-general .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  color: #000000;
  font-size: var(--body-text-font-size);
  text-align: center;
  line-height: var(--body-text-line-height);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  font-style: var(--body-text-font-style);
}

.tab-general .column {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.tab-general .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-heatmap-green);
  border-radius: 6px 6px 0px 0px;
}

.tab-general .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.tab-general .frame-wrapper-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-general .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.tab-general .element {
  color: #ffffff;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.tab-general .span {
   
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
}

.tab-general .text-wrapper-8 {
  font-size: 12px;
}

.tab-general .frame-6 {
  width: 50px;
  height: 47px;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-heatmap-yellow);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.tab-general .p {
  color: var(--colors-primary-grey-colors-black);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.tab-general .text-wrapper-9 {
   
  font-weight: 400;
  color: #252525;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
}

.tab-general .frame-7 {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 34px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-light-red);
}

.tab-general .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-general .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #000000;
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  font-weight: var(--body-text-font-weight);
  text-align: center;
  letter-spacing: var(--body-text-letter-spacing);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.tab-general .frame-9 {
  width: 50px;
  height: 64px;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-heatmap-yellow);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.tab-general .frame-10 {
  height: 32px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-light-red);
}

.tab-general .frame-11 {
  width: 50px;
  height: 35px;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-heatmap-yellow);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.tab-general .frame-12 {
  height: 20px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-light-red);
}

.tab-general .frame-13 {
  width: 50px;
  height: 77px;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-heatmap-yellow);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.tab-general .frame-14 {
  height: 31px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-light-red);
}

.tab-general .frame-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-general .frame-16 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.tab-general .frame-17 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.tab-general .rectangle {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: var(--colors-heatmap-green);
  border-radius: 100px;
}

.tab-general .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: var(--small-label-font-weight);
  color: var(--colors-primary-grey-colors-black);
  font-size: var(--small-label-font-size);
  letter-spacing: var(--small-label-letter-spacing);
  line-height: var(--small-label-line-height);
  white-space: nowrap;
  font-style: var(--small-label-font-style);
}

.tab-general .rectangle-2 {
  background-color: var(--colors-heatmap-yellow);
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 100px;
}

.tab-general .rectangle-3 {
  background-color: var(--colors-heatmap-red);
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 100px;
}

.tab-general .card {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: var(--general-paddings-card-lg);
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--colors-primary-grey-colors-white);
  border-radius: var(--general-border-radius-card);
  box-shadow: var(--shadow-card);
  display: flex;
  position: relative;
}

.tab-general .card-body-lg {
  gap: 30px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--colors-primary-grey-colors-white);
}

.tab-general .big-select-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.tab-general .big-select {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: relative;
  flex: 0 0 auto;
}

.tab-general .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: var(--colors-primary-grey-colors-black);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.tab-general .frame-18 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.tab-general .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: var(--colors-primary-grey-colors-primary-color);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.tab-general .caret-down {
  position: relative;
  width: 16px;
  height: 16px;
}

.tab-general .switch {
  display: inline-flex;
  align-items: center;
  gap: 1px;
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--general-border-radius-radius-buttons);
  overflow: hidden;
}

.tab-general .button-switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 35px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--colors-primary-grey-colors-grey-disabled);
}

.tab-general .btn-switch {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: var(--colors-primary-grey-colors-black-60);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.tab-general .btn-switch-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 35px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--colors-primary-grey-colors-primary-color);
}

.tab-general .btn-switch-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: var(--colors-primary-grey-colors-white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.tab-general .heatmap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-general .frame-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-general .frame-20 {
  display: flex;
  width: 741px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.tab-general .frame-21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.tab-general .frame-22 {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-general .frame-23 {
  position: absolute;
  width: 450px;
  height: 53px;
  top: 0;
  left: 0;
}

.tab-general .frame-24 {
  align-self: stretch;
  max-width: 64px;
  width: 64px;
  border-radius: 10px 0px 0px 0px;
  position: relative;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .experiencia-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 10px 0px 0px 0px;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .experiencia {
  width: fit-content;
  margin-top: -1px;
  font-weight: var(--tabs-font-weight);
  color: #383838;
  font-size: var(--tabs-font-size);
  line-height: var(--tabs-line-height);
  white-space: nowrap;
  position: relative;
  letter-spacing: var(--tabs-letter-spacing);
  font-style: var(--tabs-font-style);
}

.tab-general .frame-25 {
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.tab-general .frame-26 {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.tab-general .frame-27 {
  position: absolute;
  width: 450px;
  height: 30px;
  top: 0;
  left: 0;
}

.tab-general .frame-28 {
  position: relative;
  flex: 1;
  align-self: stretch;
  min-width: 64px;
  max-width: 64px;
  flex-grow: 1;
}

.tab-general .frame-29 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 14px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--colors-primary-grey-colors-black);
}

.tab-general .experiencia-2 {
  width: fit-content;
  font-weight: var(--body-text-font-weight);
  color: #383838;
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  position: relative;
  letter-spacing: var(--body-text-letter-spacing);
  font-style: var(--body-text-font-style);
}

.tab-general .frame-30 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 14px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 0px 5px 5px 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--colors-primary-grey-colors-black);
}

.tab-general .frame-31 {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-general .frame-32 {
  display: flex;
  min-width: 450px;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.tab-general .experiencia-3 {
  width: fit-content;
  font-weight: var(--small-label-font-weight);
  color: var(--colors-primary-grey-colors-grey);
  font-size: var(--small-label-font-size);
  line-height: var(--small-label-line-height);
  white-space: nowrap;
  position: relative;
  letter-spacing: var(--small-label-letter-spacing);
  font-style: var(--small-label-font-style);
}

.tab-general .frame-33 {
  display: flex;
  max-width: 64px;
  width: 64px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 5px;
  border-radius: 10px 0px 0px 0px;
  position: relative;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .experiencia-4 {
  width: fit-content;
  margin-top: -1px;
  font-weight: var(--small-label-font-weight);
  color: #383838;
  font-size: var(--small-label-font-size);
  line-height: var(--small-label-line-height);
  white-space: nowrap;
  position: relative;
  letter-spacing: var(--small-label-letter-spacing);
  font-style: var(--small-label-font-style);
}

.tab-general .frame-34 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 10px 0px 0px 0px;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .experiencia-5 {
  width: fit-content;
  margin-top: -1px;
  font-weight: var(--card-title-font-weight);
  color: #383838;
  font-size: var(--card-title-font-size);
  line-height: var(--card-title-line-height);
  white-space: nowrap;
  position: relative;
  letter-spacing: var(--card-title-letter-spacing);
  font-style: var(--card-title-font-style);
}

.tab-general .frame-35 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .experiencia-6 {
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: #383838;
  font-size: 18px;
  line-height: 18px;
  white-space: nowrap;
  position: relative;
  letter-spacing: 0;
}

.tab-general .text-wrapper-14 {
  line-height: var(--card-title-line-height);
  font-style: var(--card-title-font-style);
  font-weight: var(--card-title-font-weight);
  letter-spacing: var(--card-title-letter-spacing);
  font-size: var(--card-title-font-size);
}

.tab-general .text-wrapper-15 {
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
}

.tab-general .frame-36 {
  padding: 0px 14px;
  border-radius: 0px 10px 0px 0px;
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-37 {
  display: flex;
  height: 53px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.tab-general .frame-38 {
  display: flex;
  min-width: 450px;
  align-items: center;
  gap: 10px;
  padding: 19px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.tab-general .frame-39 {
  position: relative;
  flex: 0 0 auto;
}

.tab-general .experiencia-7 {
  width: fit-content;
  margin-top: -1px;
  font-weight: var(--body-text-font-weight);
  color: var(--colors-primary-grey-colors-black);
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  position: relative;
  letter-spacing: var(--body-text-letter-spacing);
  font-style: var(--body-text-font-style);
}

.tab-general .frame-40 {
  display: inline-flex;
  min-width: 64px;
  max-width: 64px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 5px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  border-radius: 10px 0px 0px 0px;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .experiencia-8 {
  flex: 1;
  margin-top: -3.5px;
  margin-bottom: -1.5px;
  font-weight: 400;
  color: #383838;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  position: relative;
  letter-spacing: 0;
}

.tab-general .frame-41 {
  padding: 19px 14px;
  background-color: var(--colors-primary-grey-colors-grey-disabled);
  border-radius: 10px 0px 0px 0px;
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .experiencia-9 {
  width: fit-content;
  margin-top: -1px;
  font-weight: var(--body-text-font-weight);
  color: #383838;
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  position: relative;
  letter-spacing: var(--body-text-letter-spacing);
  font-style: var(--body-text-font-style);
}

.tab-general .frame-42 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -0.5px;
  margin-bottom: -0.5px;
  background-color: var(--colors-heatmap-light-green);
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .experiencia-10 {
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: #383838;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  position: relative;
  letter-spacing: 0;
}

.tab-general .text-wrapper-16 {
  font-size: var(--label-font-size);
  line-height: var(--label-line-height);
  font-style: var(--label-font-style);
  font-weight: var(--label-font-weight);
  letter-spacing: var(--label-letter-spacing);
}

.tab-general .frame-43 {
  margin-top: -0.5px;
  margin-bottom: -0.5px;
  background-color: var(--colors-heatmap-yellow);
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-44 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -0.5px;
  margin-bottom: -0.5px;
  background-color: var(--colors-heatmap-red);
  border-radius: 0px 10px 0px 0px;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-45 {
  display: inline-flex;
  min-width: 64px;
  max-width: 64px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 5px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-46 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-primary-grey-colors-grey-disabled);
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-47 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-heatmap-yellow);
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-48 {
  background-color: var(--colors-heatmap-red);
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-49 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-heatmap-light-green);
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-50 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-heatmap-light-red);
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-51 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-heatmap-green);
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .experiencia-11 {
  width: fit-content;
  margin-top: -2.5px;
  margin-bottom: -0.5px;
  font-weight: 700;
  color: var(--colors-primary-grey-colors-black);
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  position: relative;
  letter-spacing: 0;
}

.tab-general .text-wrapper-17 {
  font-weight: 700;
  color: #252525;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.tab-general .text-wrapper-18 {
  font-weight: var(--tab-active-font-weight);
  color: #252525;
  font-size: var(--tab-active-font-size);
  letter-spacing: var(--tab-active-letter-spacing);
  line-height: var(--tab-active-line-height);
  font-style: var(--tab-active-font-style);
}

.tab-general .experiencia-12 {
  flex: 1;
  margin-top: -3.5px;
  margin-bottom: -1.5px;
  font-weight: var(--card-title-font-weight);
  color: #383838;
  font-size: var(--card-title-font-size);
  text-align: center;
  line-height: var(--card-title-line-height);
  position: relative;
  letter-spacing: var(--card-title-letter-spacing);
  font-style: var(--card-title-font-style);
}

.tab-general .frame-52 {
  padding: 19px 14px;
  background-color: var(--colors-primary-grey-colors-blue-filter);
  border-radius: 0px 0px 0px 10px;
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-53 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-primary-grey-colors-blue-filter);
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .frame-54 {
  display: flex;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 14px;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-primary-grey-colors-blue-filter);
  border-radius: 0px 0px 10px 0px;
  position: relative;
  border: 1px solid;
  border-color: var(--colors-primary-grey-colors-white);
}

.tab-general .referencia {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  padding: 40px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.tab-general .frame-55 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.tab-general .rectangle-4 {
  position: relative;
  width: 29.17px;
  height: 16.35px;
}

.tab-general .element-a {
  position: relative;
  width: fit-content;
  margin-top: -0.32px;
  font-weight: var(--body-text-font-weight);
  color: #363636;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.tab-general .rectangle-5 {
  position: relative;
  width: 30.17px;
  height: 16.35px;
}
