/*General*/
	@charset "UTF-8";
	body, h1, h2, h3, h4, h5, h6, button, input, optgroup, select, textarea, a{font-family: 'proxima_nova_alt', sans-serif!important;color: #222;font-weight: 400;}
	body{font-size: 15px;margin: 0;}
	.content{max-width: 1280px;margin: 0px auto 0;padding: 60px 60px 0px;}
	.content header{margin-bottom: 40px}
	.bg-grey{background-color: #f5f5f5;}
	.title-page{margin: 0; font-weight: 600; }
	.title-page .positive{color: #32c787}
	footer{padding: 50px 0 60px;font-size: 12px;}
	footer .logo{}
	footer .logo img{max-height: 32px;}


	.card{background: #fff;box-shadow: 0 2px 6px rgba(95,108,114,.03), 0 0px 6px rgba(95,108,114,.05);border-radius: 10px;}
	.card .card-body{padding: 30px;}
	.justify-content-between {-webkit-box-pack: justify !important; -ms-flex-pack: justify !important; justify-content: space-between !important; }
	.justify-content-center {-ms-flex-pack: center!important; justify-content: center!important; }
	.align-items-center {-webkit-box-align: center !important; -ms-flex-align: center !important; align-items: center !important; }
	.align-self-center {-ms-flex-item-align: center!important; align-self: center!important; }
	.d-flex {display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; }
	.flex-column {-webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; -ms-flex-direction: column !important; flex-direction: column !important; }
	
	.progress{display: -webkit-box;display: -ms-flexbox;display: flex;overflow: hidden;background-color: #e9ecef;border-radius: 2px;height: 13px;font-size: 10px;text-align: right;}
	.progress-bar{padding: 1px 6px 0 4px;min-width: 10px;}
	.progress-bar.positive{background-color: #32c787;color: #fff;}
	.progress-bar.neutral{background-color: #facb15;}
	.progress-bar.negative{background-color: #f16b6c;color: #fff;}
	.progress-bar.mixto{background-color: #e89dff;color: #fff;}

	.table-th{text-transform: uppercase;font-size: 11px;color: #999999;text-align: center;}
	

/*INDICADORES [EX-CARD-HERO]*/
    .indicadores{margin-bottom: 60px;}
    .indicadores .card-body{padding: 30px 30px 20px;}
    
    .indicadores .card{width: 100%;border-radius: 15px;}
    .indicadores .card:not(:last-child){margin-right: 20px;}
    .indicadores .informacion{color: #0057ff; position: absolute; right: 17px; top: 26px; font-size: 17px;}
    .indicadores .nombre{text-transform: uppercase; font-size: 12px; }
    .indicadores .valor{font-size: 54px;font-weight: 600;line-height: normal;margin-left: -2px;}
    .indicadores .valor small{font-size: 50%; padding-left: 8px; }
    
    .indicadores .indicator-bottom-group{height: 30px;}
    .indicadores .bottom-value{font-size: 13px;}
    
    .indicadores .tot-company{color: #ce06ff;text-transform: uppercase;font-size: 9px;text-align: right;}
    .indicadores .tot-company label{margin-bottom: 3px;line-height: 115%;display: block;}
    .indicadores .tot-company .valor{font-size: 13px; font-weight: 400; border: 1px solid #ce06ff; display: inline-block; padding: 1px 5px; border-radius: 2px; }

    .indicadores .bottom-value span{color: #aaa; }
    
    .indicadores .bottom-label{font-size: 12px;padding-top: 3px;}
    .indicadores .bottom-label.negative{color: #f16b6c;}
    .indicadores .bottom-label a{color: #0057ff; }


    .indicadores .compromiso .bottom-value{background-size: 9px!important; padding-left: 15px;}
    .indicadores .compromiso .bottom-value.positivo{color: #46af71; background: url(../img/compare-positive.png) no-repeat 0px 9px;}
    .indicadores .compromiso .bottom-value.negativo{color: #f94141; background: url(../img/compare-negative.png) no-repeat 0px 9px;}

    .indicadores .participacion .card-body{padding-bottom: 20px;}

    .indicadores .enps .card-body{padding-bottom: 0;}
    .indicadores .enps .card-body .group-content{height: 100%;-webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; -ms-flex-direction: column !important; flex-direction: column !important;}
    .indicadores .enps .card-body .informacion{right: 17px;}
    .indicadores .enps .card-body .nombre{text-transform: initial;}
    .indicadores .enps .resultados{color: #fff;font-size: 15px;margin: 14px -30px 0;text-align: center;}
    .indicadores .enps .resultados small{padding-left: 2px; }
    .indicadores .enps .resultados div {padding: 10px 8px 8px;position: relative;flex: 1;}
    .indicadores .enps .resultados .promotores{background-color: #49ba86;border-radius: 0 0 0 15px;}
    .indicadores .enps .resultados .neutral{background-color: #ffc63b;}
    .indicadores .enps .resultados .detractores{background-color: #f16b6c;border-radius: 0 0 15px 0;}



/*Tabla*/
	.table-group{}
	

	.table-group .table-th div:not(.col-principal),
	.table-group .group-items .item div:not(.col-principal){width: 100px;}

	.table-group .table-th .col-principal{flex: 1;text-align: left;}

	.table-group .group-items{}
	.table-group .group-items .item{text-align: center;border-bottom: 1px solid #dddddd;padding: 16px 0;}
	.table-group .group-items .item:last-child{border: none;}

	.table-group .group-items .item .col-principal{flex: 1;text-align: left;padding-right: 50px;line-height: 130%;}
	.table-group .group-items .item .col-principal .number{width: 30px;}
	.table-group .group-items .item .progress{margin-top: 0;}
	.table-group .group-items .item .up{color: #49ba86;}
	.table-group .group-items .item .down{color: #f16b6c;}


/*Multiple Choice*/
	.preguntas-multiple-wrapper{gap: 30px;}
	.preguntas-multiple-wrapper .card{max-width: 50%;}
	.preguntas-multiple-wrapper .number-question{text-transform: uppercase; font-size: 12px; font-weight: 600; }
	.preguntas-multiple-wrapper .pregunta{font-size: 18px;line-height: 140%;margin: 10px 0 20px;}
	.preguntas-multiple-wrapper .items-group{}
	.preguntas-multiple-wrapper .items-group .item{font-size: 16px;padding: 15px 0;}
	.preguntas-multiple-wrapper .items-group .item:not(:last-child){border-bottom: 1px solid #efefef}
	.preguntas-multiple-wrapper .items-group .item .value{width: 40px;font-size: 18px;font-weight: 500;text-align: center;padding-right: 8px;}
	.preguntas-multiple-wrapper .items-group .item .value small{}
	.preguntas-multiple-wrapper .items-group .item .name{flex: 1; }
	.preguntas-multiple-wrapper .items-group .item .votos{font-size: 12px; color: #999; }
	.preguntas-multiple-wrapper .items-group .item .tot-company {width: 60px; text-align: right; }
	.preguntas-multiple-wrapper .items-group .item .tot-company .value{color: #ce06ff; border: 1px solid #ce06ff; font-size: 12px; padding: 2px 5px; display: inline-block; width: 22px; }


/*Comentarios*/
	.bubbles-comments{width: 250px;height: 250px;}
	.bubbles-comments .bubble{border-radius: 50%;text-align: center;}
	.bubbles-comments .bubble.negative{background-color: #f16b6c;color: #ffffff;}
	.bubbles-comments .bubble.positive{background-color: #49ba86;color: #ffffff;}
	.bubbles-comments .bubble.neutral{background-color: #ffc63b; color: #252525;}
	.bubbles-comments .bubble.mixto{background-color: #e89dff; color: #252525;}
	
	.bubbles-comments .bubble .number{font-size: 240%; }
	.bubbles-comments .bubble .label{text-transform: uppercase; font-size: 80%; }

	.th-comments-x-pregunta{padding: 10px 0; margin-top: 40px; }
	.th-comments-x-pregunta .left{flex: 1; text-align: right; padding-right: 50px; }
	.th-comments-x-pregunta .right{flex: 1; text-align: left; padding-left: 50px; }
	.comments-x-pregunta-group{}
	.comments-x-pregunta-group .item{}
	.comments-x-pregunta-group .pregunta{flex: 1; padding: 10px 50px 10px 0; text-align: right; font-size: 16px; line-height: 140%; border-right: 1px solid #dddddd; }
	.comments-x-pregunta-group .cantidad-comentarios{flex: 1; padding-left: 50px; }
	.comments-x-pregunta-group .progress{height: 18px; font-size: 12px;}
	.comments-x-pregunta-group .progress .progress-bar{padding-top: 2px; }










