<div class="circulo"><span></span></div>
<div class="details">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="pregunta">
                    <div class="thead">CONDICIONES LABORALES
                    </div>Cuento con un ambiente de trabajo seguro y adecuado para desarrollar mis funciones.
                </div>
                <div class="prioridad">
                    <div class="thead">Prioridad</div>
                    <div class="numero super-priority">6</div>
                </div>
            </div>

            <div class="d-flex middle justify-content-between">
                <div class="favorabilidad">
                    <div class="thead">Favorabilidad</div>
                        <div class="value">85<small>%</small></div>

                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="85% Favorables" data-original-title="" title=""></div>
                            <div class="progress-bar bg-grey-neutral" role="progressbar" style="width: 11%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="11% Neutrales" data-original-title="" title=""></div>
                            <div class="progress-bar bg-grey-negative" role="progressbar" style="width: 4%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="4% Desfavorables" data-original-title="" title=""></div>
                        </div>
                </div>
                <div class="impacto">
                    <div class="thead">Impacto</div>
                    <div class="value">Alto</div>
                </div>
            </div>

            <div class="departamentos-wrp">
                <div class="d-flex thead justify-content-between">
                    <div class="departamento">Departamentos</div>
                    <div class="favorabilidad">Favorabilidad</div>
                </div>
                <div class="item d-flex justify-content-between super-priority">
                    <div class="departamento">Producción</div>
                    <div class="favorabilidad">72<small>%</small></div>
                </div>
                <div class="item d-flex justify-content-between super-priority">
                    <div class="departamento">Compras</div>
                    <div class="favorabilidad">80<small>%</small></div>
                </div>
                <div class="item d-flex justify-content-between">
                    <div class="departamento">Logística y Operaciones</div>
                    <div class="favorabilidad">81<small>%</small></div>
                </div>
                <div class="item d-flex justify-content-between">
                    <div class="departamento">Finanzas</div>
                    <div class="favorabilidad">58<small>%</small></div>
                </div>
            </div>

            <div class="d-flex justify-content-between botones">
                <a href="insights2.html" class="btn-outline-primary">Explorar más</a>
                <div class="btn-outline-primary">Tomar acciones</div>
            </div>
        </div>
    </div>
</div>