:root {
  --tabs-font-weight: 400;
  --tabs-font-size: 14px;
  --tabs-letter-spacing: 0px;
  --tabs-line-height: 15px;
  --tabs-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-font-size: 14px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 15px;
  --body-text-font-style: normal;
  --small-label-font-weight: 400;
  --small-label-font-size: 10px;
  --small-label-letter-spacing: 0px;
  --small-label-line-height: 13px;
  --small-label-font-style: normal;
  --card-title-font-weight: 400;
  --card-title-font-size: 18px;
  --card-title-letter-spacing: 0px;
  --card-title-line-height: 26px;
  --card-title-font-style: normal;
  --label-font-weight: 400;
  --label-font-size: 12px;
  --label-letter-spacing: 0px;
  --label-line-height: 16px;
  --label-font-style: normal;
  --tab-active-font-weight: 700;
  --tab-active-font-size: 14px;
  --tab-active-letter-spacing: 0px;
  --tab-active-line-height: 18px;
  --tab-active-font-style: normal;
  --general-paddings-card-lg: 40px;
  --general-border-radius-card: 10px;
  --general-border-radius-radius-buttons: 5px;
  --colors-primary-grey-colors-white: rgba(255, 255, 255, 1);
  --colors-primary-grey-colors-black: rgba(37, 37, 37, 1);
  --colors-primary-grey-colors-primary-color: rgba(0, 87, 255, 1);
  --colors-primary-grey-colors-black-60: rgba(0, 0, 0, 0.6);
  --colors-primary-grey-colors-grey: rgba(156, 156, 156, 1);
  --colors-primary-grey-colors-grey-disabled: rgba(227, 227, 227, 1);
  --colors-heatmap-yellow: rgba(252, 213, 126, 1);
  --colors-heatmap-red: rgba(224, 40, 48, 1);
  --colors-heatmap-light-green: rgba(108, 213, 208, 1);
  --colors-heatmap-light-red: rgba(241, 107, 108, 1);
  --colors-heatmap-green: rgba(4, 184, 175, 1);
  --colors-primary-grey-colors-blue-filter: rgba(135, 206, 250, 1);
  --shadow-card: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);


}
