/** Proxima Nova **/


@font-face {
    font-family: 'proxima_nova_alt';
    src: url('proxima_nova_alt_light-webfont.woff') format('woff'),
         url('proxima_nova_alt_light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_alt';
    src: url('proxima_nova_alt_regular-webfont.woff2') format('woff2'),
         url('proxima_nova_alt_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_alt';
    src: url('proxima_nova_alt_semibold-webfont.woff') format('woff'),
         url('proxima_nova_alt_semibold-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_alt';
    src: url('proxima_nova_alt_bold-webfont.woff2') format('woff2'),
         url('proxima_nova_alt_bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_alt';
    src: url('proxima_nova_alt_extrabold-webfont.woff2') format('woff2'),
         url('proxima_nova_alt_extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}





