@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Proxima Nova Alt-Semibold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/621f9485ac60947c062158a8/fonts/proximanovaa-semibold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Helvetica-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/656791b77f52524f6a44afda/fonts/helvetica-regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Proxima Nova Alt-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/621f9485ac60947c062158a8/fonts/proximanovaa-semibold.ttf")
    format("truetype");
}
