.tab-pane-general {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}

.tab-pane-general .card-group {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-pane-general .card-compromiso {
  display: flex;
  flex-direction: column;
  height: 484px;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  padding: var(--general-paddings-card-lg);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-primary-grey-colors-white);
  border-radius: var(--general-border-radius-card);
  box-shadow: var(--shadow-card);
}

.tab-pane-general .title {
  display: flex;
  height: 19px;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.tab-pane-general .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -9.5px;
  margin-bottom: -7.5px;
  font-family: "Proxima Nova Alt-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.tab-pane-general .line-chart {
  position: relative;
  width: 581px;
  height: 338.24px;
  margin-left: -6px;
  margin-right: -30px;
}

.tab-pane-general .overlap-group {
  position: absolute;
  width: 520px;
  height: 266px;
  top: 7px;
  left: 29px;
}

.tab-pane-general .x-axis-grid {
  position: absolute;
  width: 1px;
  height: 266px;
  top: 0;
  left: 174px;
}

.tab-pane-general .img {
  left: 344px;
  position: absolute;
  width: 1px;
  height: 266px;
  top: 0;
}

.tab-pane-general .x-axis-grid-2 {
  left: 516px;
  position: absolute;
  width: 1px;
  height: 266px;
  top: 0;
}

.tab-pane-general .y-axis-grid {
  position: absolute;
  width: 511px;
  height: 1px;
  top: 133px;
  left: 4px;
  object-fit: cover;
}

.tab-pane-general .y-axis {
  position: absolute;
  width: 1px;
  height: 266px;
  top: 0;
  left: 3px;
}

.tab-pane-general .line {
  position: absolute;
  width: 512px;
  height: 60px;
  top: 18px;
  left: 4px;
}

.tab-pane-general .line-2 {
  position: absolute;
  width: 511px;
  height: 69px;
  top: 52px;
  left: 4px;
}

.tab-pane-general .line-3 {
  position: absolute;
  width: 512px;
  height: 69px;
  top: 159px;
  left: 4px;
}

.tab-pane-general .marker {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 62px;
  left: 0;
}

.tab-pane-general .marker-2 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 35px;
  left: 170px;
}

.tab-pane-general .marker-3 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 72px;
  left: 341px;
}

.tab-pane-general .marker-4 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 15px;
  left: 511px;
}

.tab-pane-general .marker-5 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 115px;
  left: 0;
}

.tab-pane-general .marker-6 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 101px;
  left: 170px;
}

.tab-pane-general .marker-7 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 56px;
  left: 341px;
}

.tab-pane-general .marker-8 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 48px;
  left: 511px;
}

.tab-pane-general .marker-9 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 222px;
  left: 0;
}

.tab-pane-general .marker-10 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 195px;
  left: 170px;
}

.tab-pane-general .marker-11 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 156px;
  left: 341px;
}

.tab-pane-general .marker-12 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 201px;
  left: 511px;
}

.tab-pane-general .y-axis-grid-2 {
  position: absolute;
  width: 511px;
  height: 1px;
  top: 6px;
  left: 33px;
  object-fit: cover;
}

.tab-pane-general .x-axis {
  position: absolute;
  width: 511px;
  height: 1px;
  top: 273px;
  left: 33px;
  object-fit: cover;
}

.tab-pane-general .div {
  position: absolute;
  top: 282px;
  left: 0;
  font-family: "Helvetica-Regular", Helvetica;
  color: #a3a3a3;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.tab-pane-general .text-wrapper-2 {
  position: absolute;
  top: 282px;
  left: 173px;
  font-family: "Helvetica-Regular", Helvetica;
  color: #a3a3a3;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.tab-pane-general .text-wrapper-3 {
  position: absolute;
  top: 282px;
  left: 346px;
  font-family: "Helvetica-Regular", Helvetica;
  color: #a3a3a3;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.tab-pane-general .text-wrapper-4 {
  position: absolute;
  width: 34px;
  top: 282px;
  left: 523px;
  font-family: "Helvetica-Regular", Helvetica;
  color: #a3a3a3;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
}

.tab-pane-general .text-wrapper-5 {
  position: absolute;
  top: 266px;
  left: 15px;
  font-family: "Helvetica-Regular", Helvetica;
  color: #a3a3a3;
  font-size: 12px;
  text-align: right;
  line-height: normal;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
}

.tab-pane-general .text-wrapper-6 {
  position: absolute;
  top: 200px;
  left: 7px;
  font-family: "Helvetica-Regular", Helvetica;
  color: #a3a3a3;
  font-size: 12px;
  text-align: right;
  line-height: normal;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
}

.tab-pane-general .text-wrapper-7 {
  position: absolute;
  top: 133px;
  left: 7px;
  font-family: "Helvetica-Regular", Helvetica;
  color: #a3a3a3;
  font-size: 12px;
  text-align: right;
  line-height: normal;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
}

.tab-pane-general .text-wrapper-8 {
  position: absolute;
  top: 67px;
  left: 7px;
  font-family: "Helvetica-Regular", Helvetica;
  color: #a3a3a3;
  font-size: 12px;
  text-align: right;
  line-height: normal;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
}

.tab-pane-general .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "Helvetica-Regular", Helvetica;
  color: #a3a3a3;
  font-size: 12px;
  text-align: right;
  line-height: normal;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
}

.tab-pane-general .marker-13 {
  position: absolute;
  width: 17px;
  height: 2px;
  top: 328px;
  left: 126px;
}

.tab-pane-general .marker-14 {
  position: absolute;
  width: 17px;
  height: 2px;
  top: 328px;
  left: 244px;
}

.tab-pane-general .marker-15 {
  position: absolute;
  width: 17px;
  height: 2px;
  top: 328px;
  left: 366px;
}

.tab-pane-general .text-wrapper-10 {
  position: absolute;
  width: 75px;
  top: 322px;
  left: 149px;
  font-family: "Helvetica-Regular", Helvetica;
  font-weight: 400;
  color: #343434;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.tab-pane-general .text-wrapper-11 {
  position: absolute;
  width: 79px;
  top: 322px;
  left: 267px;
  font-family: "Helvetica-Regular", Helvetica;
  font-weight: 400;
  color: #343434;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.tab-pane-general .text-wrapper-12 {
  position: absolute;
  width: 34px;
  top: 322px;
  left: 389px;
  font-family: "Helvetica-Regular", Helvetica;
  font-weight: 400;
  color: #343434;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.tab-pane-general .card-enps {
  display: flex;
  flex-direction: column;
  height: 484px;
  align-items: flex-start;
  gap: 40px;
  padding: var(--general-paddings-card-lg);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-primary-grey-colors-white);
  border-radius: var(--general-border-radius-card);
  box-shadow: var(--shadow-card);
}

.tab-pane-general .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding: 0px 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.tab-pane-general .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.tab-pane-general .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 79px;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.tab-pane-general .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Proxima Nova Alt-Semibold", Helvetica;
  color: #000000;
  font-size: 14px;
  text-align: center;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0;
}

.tab-pane-general .column {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.tab-pane-general .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--colors-heatmap-green);
  border-radius: 6px 6px 0px 0px;
}

.tab-pane-general .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.tab-pane-general .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-pane-general .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.tab-pane-general .element {
  color: #ffffff;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Proxima Nova Alt-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.tab-pane-general .span {
  font-family: "Proxima Nova Alt-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
}

.tab-pane-general .text-wrapper-14 {
  font-size: 12px;
}

.tab-pane-general .frame-6 {
  height: 47px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-yellow);
}

.tab-pane-general .p {
  color: var(--colors-primary-grey-colors-black);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Proxima Nova Alt-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.tab-pane-general .text-wrapper-15 {
  font-family: "Proxima Nova Alt-Regular", Helvetica;
  font-weight: 400;
  color: #252525;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
}

.tab-pane-general .frame-7 {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 34px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-light-red);
}

.tab-pane-general .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-pane-general .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-text-font-family);
  color: #000000;
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  font-weight: var(--body-text-font-weight);
  text-align: center;
  letter-spacing: var(--body-text-letter-spacing);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.tab-pane-general .frame-9 {
  height: 64px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-yellow);
}

.tab-pane-general .frame-10 {
  height: 32px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-light-red);
}

.tab-pane-general .frame-11 {
  height: 35px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-yellow);
}

.tab-pane-general .frame-12 {
  height: 20px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-light-red);
}

.tab-pane-general .frame-13 {
  height: 77px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-yellow);
}

.tab-pane-general .frame-14 {
  height: 31px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--colors-heatmap-light-red);
}

.tab-pane-general .frame-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tab-pane-general .frame-16 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.tab-pane-general .frame-17 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.tab-pane-general .rectangle {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: var(--colors-heatmap-green);
  border-radius: 100px;
}

.tab-pane-general .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--colors-primary-grey-colors-black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.tab-pane-general .rectangle-2 {
  background-color: var(--colors-heatmap-yellow);
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 100px;
}

.tab-pane-general .rectangle-3 {
  background-color: var(--colors-heatmap-red);
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 100px;
}

.tab-pane-general .card-heatmap {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
